# Goodreads Data Extraction And Load Into Database

In this notebook we will do the below steps:
1. We will fetch the book details from goodreads using an API
2. We will create a SQLite Database connection and create tables
3. We will load the search results into the tables created above
4. We will close the Databse Connection.

## Step 1: Data Extraction

### 1.1 Import Libraries

In [22]:
import pickle
# Import goodreads api
from goodreads import client
from goodreads.client import GoodreadsClient
from goodreads.book import GoodreadsBook
from goodreads.author import GoodreadsAuthor
from goodreads.shelf import GoodreadsShelf
from goodreads.review import GoodreadsReview

# Database
from sqlalchemy import create_engine, inspect
from sqlalchemy.exc import IntegrityError
from sqlalchemy import Table, Column, Integer,Float, String, MetaData,ForeignKey,insert
import sqlite3
from sqlite3 import Error

### 1.2 Function to Authenticate GoodReads Access

To access the GoodReads Data, we can use the GoodReads API. But to use the GoodReads API, we need to register for a developer key. The key can be registered on https://www.goodreads.com/api/keys.
<br>The credentials are secret information and thus can be stored in a pkl file and loaded when required.

In [23]:
def auth_access():
    """A Function to authenticate GoodReads Data Access"""
    ## Get the credentials for goodreads
    goodreads_credentials = open("goodreads_credentials.pkl","rb")
    goodreads = pickle.load(goodreads_credentials)
    
    ## Pass the Key and Secret Code to create a client instance
    key = goodreads['key']
    secret = goodreads['secret']
    gc = client.GoodreadsClient(key, secret)
    return(gc)

### 1.3 Function to search books from goodreads by genre

1. Pass a genre as a parameter
2. Search Books for that genre using the Goodreads API method **search_books**
3. Insert the search results into Database table **Books** using the function **insert_book_data**.

In [24]:
def search_books(search_list):
    """A Function to search books from goodreads by a genre"""
    # Authenticate access
    gc=auth_access()
    # Instialize a Book list
    books = []
    for genre in search_list:
        print("search_books :Start searching books for genre= ", genre)
        for i in range(101):
            try:
                # Call goodreads API to search for the genre passed as parameter
                books.extend(gc.search_books(q=genre,page=i+1,search_field='genre'))  
            except TypeError as exc:
                print("In TypeError Exception in search_books. Error: ",str(exc))
                pass
            except Exception as inst:
                # handle all other exceptions
                print("Unexpected Exception:")
                pass
        print("No. of Books found for the genre= ", len(books))
    print("Total No. of Books found for the searched genre list= ", len(books))
    insert_book_data(books)

## Step 2: Database Design

**SQLite** is a server-less *Relational Database Management System*.It is amazing how SQLite stores the entire database (definitions, tables, indices, and the data itself) as a single file on a host machine. 
<br><br>
SQLite read operations can be multitasked. 
<br >But SQLite write operations can only be performed sequentially since the entire database file is locked during writing.

### 2.1  Create a SQLite Database Engine and Connect

In [25]:
engine = create_engine('sqlite:///goodreads_db.db.sqlite')
conn = engine.connect()
trans = conn.begin()
meta = MetaData(engine)
meta.drop_all(engine)

### 2.2  Prepare Tables Creation Script

We are extracting both the **Books** details and the **Author** information grom goodreads for a particular genre.
<br> Thus we need to create 2 tables as below:
1. Books - To store the book details where book_id is the **Primary key**
2. Authors - To store the author details where book_id from Books table is the **Foreign key**

In [26]:
# create books table
books = Table(
   'books', meta, 
   Column('book_id', Integer, primary_key = True), 
   Column('isbn', String), 
   Column('title', String), 
   Column('total_pages', Float), 
   Column('average_rating', Float), 
   Column('ratings_count', Integer), 
   Column('reviews_count', Integer), 
   Column('publication_date', String), 
   Column('publisher', String), 
   Column('popular_shelves', String), 
   Column('book_description', String)
    )
# create authors table
authors = Table(
   'authors', meta, 
   Column('book_id', Integer, ForeignKey('books.book_id')), 
   Column('author_id', Integer), 
   Column('author_name', String), 
   Column('birth_on', String), 
   Column('death_on', String), 
   Column('fans_count', Integer), 
   Column('gender', String), 
   Column('hometown', String), 
   Column('works_count', Integer)
    )

### 2.3  Create Tables

In [27]:
meta.create_all(engine)

### 2.4 Check Tables in Database

In [28]:
table_names = engine.table_names()
print(table_names)

['authors', 'books']

### 2.5 Create Function to insert records into Books Table

In [29]:
def insert_book_data(input):
    """A Function to insert records into books table"""
    print("insert_book_data :Start inserting data into books table")
    conn.execute(books.delete())
    ins = books.insert()
    counter = 0
    authors =[]
    for book in input:
        try:
            conn.execute(ins.values(book_id=book.gid,
                          isbn=book.isbn, 
                          title=book.title,
                          total_pages=book.num_pages,
                          average_rating=book.average_rating,
                          ratings_count=book.ratings_count,
                          reviews_count=book.text_reviews_count,
                          publication_date=','.join(book.publication_date),
                          publisher=book.publisher,
                          popular_shelves=','.join(str(v) for v in book.popular_shelves if book.popular_shelves),
                          book_description=book.description))
            counter += 1
            authors.extend([[book.gid,book.authors[0]]])
            
        except ValueError as e:
            print("In insert_book_data, ValueError Exception. Error: ",str(e))
            pass
        except TypeError as exc:
            #print("In insert_book_data, TypeError Exception. Error: ",str(exc))
            try:
                    #if book.gid not in books_inserted:
                    conn.execute(ins.values(book_id=book.gid,
                                  isbn=book.isbn, 
                                  title=book.title,
                                  total_pages=book.num_pages,
                                  average_rating=book.average_rating,
                                  ratings_count=book.ratings_count,
                                  reviews_count=book.text_reviews_count,
                                  publisher=book.publisher,
                                  book_description=book.description))
                    counter += 1
                    authors.extend([[book.gid,book.authors[0]]])
            except Exception as e:
                print("Exception: ", str(e))
                pass
        except IntegrityError as e:
            print("In insert_book_data, IntegrityError Exception for book_id: ",book.gid)
            pass
    print("Records inserted into Books table= ", counter)
    insert_author_data(authors)

### 2.6 Create Function to insert records into Authors Table

In [30]:
def insert_author_data(au_input):
    """A Function to insert records into authors table"""
    print("insert_author_data :Start inserting data into authors table")
    conn.execute(authors.delete())
    au_ins  = authors.insert()
    cnt = 0
    gc=auth_access()
    for i in range(len(au_input)):
        try:
            book_id = au_input[i][0]
            name=au_input[i][1]
            author = gc.find_author(name)
            conn.execute(au_ins.values(book_id=book_id,
                  author_id=author.gid, 
                  author_name=author.name,
                  birth_on=author.born_at,
                  death_on=author.died_at,
                  fans_count=author.fans_count()['#text'],
                  gender=author.gender,
                  hometown=author.hometown,
                  works_count=author.works_count))
            cnt += 1
        except ValueError as e:
            print("In insert_author_data, ValueError Exception. Error: ",str(e))
            pass
        except TypeError as exc:
            print("In insert_author_data, TypeError Exception. Error: ",str(exc))
            pass
        except Exception as e:
                print("Authors Exception: ", str(e))
                pass
    print("Records inserted into authors table= ", cnt)

## Step3: Extract and  Populate Tables

In this project, we are extracting books details for the **"Science Fiction"** Genre. We will use the below tags to get a recpectable amount of data:
1. science fiction
2. science-fiction-fantasy
3. science-fiction-romance
4. Apocalyptic
5. Space
6. Dystopia
7. Aliens
8. Fantasy

In [31]:
search_list = ['science fiction','science-fiction-fantasy','science-fiction-romance','Apocalyptic','Space','Dystopia','Aliens','Fantasy']
search_books(search_list)
trans.commit()

search_books :Start searching books for genre=  science fiction
No. of Books found for the genre=  2020
search_books :Start searching books for genre=  science-fiction-fantasy
No. of Books found for the genre=  4040
search_books :Start searching books for genre=  science-fiction-romance
Unexpected Exception:
Unexpected Exception:
No. of Books found for the genre=  6020
search_books :Start searching books for genre=  Apocalyptic
No. of Books found for the genre=  8040
search_books :Start searching books for genre=  Space
No. of Books found for the genre=  10060
search_books :Start searching books for genre=  Dystopia
Unexpected Exception:
Unexpected Exception:
No. of Books found for the genre=  12040
search_books :Start searching books for genre=  Aliens
No. of Books found for the genre=  14060
search_books :Start searching books for genre=  Fantasy
No. of Books found for the genre=  16080
Total No. of Books found for the searched genre list=  16080
insert_book_data :Start inserting data into books table
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45242', '0446605468', "The Neutronium Alchemist 2: Conflict (Night's Dawn 2)", 592.0, 4.33, '3223', '26', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  417730
In insert_book_data, IntegrityError Exception for book_id:  28701
In insert_book_data, IntegrityError Exception for book_id:  304687
In insert_book_data, IntegrityError Exception for book_id:  24795950
In insert_book_data, IntegrityError Exception for book_id:  618194
In insert_book_data, IntegrityError Exception for book_id:  303073
In insert_book_data, IntegrityError Exception for book_id:  69448
In insert_book_data, IntegrityError Exception for book_id:  74297
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('412820', '1857230051', 'The Death of Sleep (Planet Pirates, #2)', None, 3.81, '2383', '52', 'Little Brown and Company', "THE DISASTER IN SPACE DIDN'T KILL HER - IT JUST STOLE HER LIFE")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  93241
In insert_book_data, IntegrityError Exception for book_id:  1062113
In insert_book_data, IntegrityError Exception for book_id:  218461
In insert_book_data, IntegrityError Exception for book_id:  1786638
In insert_book_data, IntegrityError Exception for book_id:  352725
In insert_book_data, IntegrityError Exception for book_id:  5531637
In insert_book_data, IntegrityError Exception for book_id:  6678976
In insert_book_data, IntegrityError Exception for book_id:  2808929
In insert_book_data, IntegrityError Exception for book_id:  186423
In insert_book_data, IntegrityError Exception for book_id:  64750
In insert_book_data, IntegrityError Exception for book_id:  18007564
In insert_book_data, IntegrityError Exception for book_id:  29579
In insert_book_data, IntegrityError Exception for book_id:  40604658
In insert_book_data, IntegrityError Exception for book_id:  36402034
In insert_book_data, IntegrityError Exception for book_id:  888628
In insert_book_data, IntegrityError Exception for book_id:  350
In insert_book_data, IntegrityError Exception for book_id:  41804
In insert_book_data, IntegrityError Exception for book_id:  40651883
In insert_book_data, IntegrityError Exception for book_id:  33507
In insert_book_data, IntegrityError Exception for book_id:  76778
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('216363', '0679740678', 'The Man in the High Castle', 259.0, 3.63, '107351', '6528', None, "It's America in 1962. Slavery is legal once again. The few Jews who still survive hide under assumed names. In San Francisco, the I Ching is as commo ... (307 characters truncated) ... nce fiction and the serious novel of ideas. In it Dick offers a haunting vision of history as a nightmare from which it may just be possible to wake.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('77566', '0553283685', 'Hyperion (Hyperion Cantos, #1)', 482.0, 4.23, '142556', '6108', 'Bantam Spectra', 'On the world called Hyperion, beyond the law of the Hegemony of Man, there waits the creature called the Shrike. There are those who worship it. Ther ... (622 characters truncated) ... th excitement and invention, the first volume in a remarkable new science fiction epic by the multiple-award-winning author of <i>The Hollow Man</i>.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8695
In insert_book_data, IntegrityError Exception for book_id:  7670
In insert_book_data, IntegrityError Exception for book_id:  8694
In insert_book_data, IntegrityError Exception for book_id:  17214
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('7669', '0099244721', 'Timeline', 489.0, 3.84, '161647', '3254', 'Arrow Books', 'In an Arizona desert, a man wanders in a daze, speaking words that make no sense. Within twenty-four hours he is dead, his body swiftly cremated by h ... (357 characters truncated) ... he present, the dead awakened to the living, these men and women will soon find themselves fighting for their very survival -- six hundred years ago.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  32829
In insert_book_data, IntegrityError Exception for book_id:  36510196
In insert_book_data, IntegrityError Exception for book_id:  18423
In insert_book_data, IntegrityError Exception for book_id:  20518872
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('83763', '0061015725', 'Prey', 507.0, 3.75, '144309', '2610', 'Avon', 'In the Nevada desert, an experiment has gone horribly wrong. A cloud of nanoparticles -- micro-robots -- has escaped from the laboratory. This cloud  ... (179 characters truncated) ...  is evolving swiftly, becoming more deadly with each passing hour.<br /><br />Every attempt to destroy it has failed.<br /><br />And we are the prey.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  455373
In insert_book_data, IntegrityError Exception for book_id:  21611
In insert_book_data, IntegrityError Exception for book_id:  9532
In insert_book_data, IntegrityError Exception for book_id:  61666
In insert_book_data, IntegrityError Exception for book_id:  29581
In insert_book_data, IntegrityError Exception for book_id:  6091075
In insert_book_data, IntegrityError Exception for book_id:  7672
In insert_book_data, IntegrityError Exception for book_id:  414999
In insert_book_data, IntegrityError Exception for book_id:  22816087
In insert_book_data, IntegrityError Exception for book_id:  8648
In insert_book_data, IntegrityError Exception for book_id:  248596
In insert_book_data, IntegrityError Exception for book_id:  16690
In insert_book_data, IntegrityError Exception for book_id:  29580
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('112537', '1857231589', 'Rendezvous with Rama (Rama, #1)', 243.0, 4.08, '104743', '2441', None, "At first, only a few things are known about the celestial object that astronomers dub Rama. It is huge, weighing more than ten trillion tons. And it  ... (349 characters truncated) ... darkest fears. For no one knows who the Ramans are or why they have come. And now the moment of rendezvous awaits — just behind a Raman airlock door.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  816

In insert_book_data, IntegrityError Exception for book_id:  13651
In insert_book_data, IntegrityError Exception for book_id:  6080337
In insert_book_data, IntegrityError Exception for book_id:  29981
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18130', None, 'A Wind in the Door (Time Quintet, #2)', 203.0, 4.04, '96154', '2295', 'Dell Laurel-Leaf', "<b>Every time a star goes out, another Echthros has won a battle.</b><br /><br />Just before Meg Murry's little brother, Charles Wallace, falls death ... (287 characters truncated) ... s Wallace to attempt to defeat the Echthroi—those who hate—and restore brilliant harmony and joy to the rhythm of creation, the song of the universe.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  61179
In insert_book_data, IntegrityError Exception for book_id:  106
In insert_book_data, IntegrityError Exception for book_id:  14817
In insert_book_data, IntegrityError Exception for book_id:  164154
In insert_book_data, IntegrityError Exception for book_id:  569429
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('40792913', None, 'Altered Carbon (Takeshi Kovacs, #1)', 544.0, 4.06, '7946', '512', 'Del Rey', "Four hundred years from now mankind is strung out across a region of interstellar space inherited from an ancient civilization discovered on Mars. Th ... (495 characters truncated) ... o discover who murdered his last body, Kovacs is drawn into a terrifying conspiracy that stretches across known space and to the very top of society.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('8650', '0752224417', 'The Lost World (Jurassic Park #2)', 448.0, 3.76, '94949', '2285', 'Alfred A. Knopf, Inc.', 'It is now six years since the secret disaster at Jurassic Park, six years since the extraordinary dream of science and imagination came to a crashing ... (9 characters truncated) ... e dinosaurs destroyed, the park dismantled, the island indefinitely closed to the public.<br /><br />There are rumors that something has survived....')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  31360
In insert_book_data, IntegrityError Exception for book_id:  22590
In insert_book_data, IntegrityError Exception for book_id:  112
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('46654', '0380508567', 'The Foundation Trilogy (Foundation, #1-3)', 679.0, 4.4, '78590', '919', None, "A THOUSAND-YEAR EPIC, A GALACTIC STRUGGLE, A MONUMENTAL WORK IN THE ANNALS OF SCIENCE FICTION <br /><br />FOUNDATION begins a new chapter in the stor ... (635 characters truncated) ... rain gone wild, which produces a mind capable of bending men's wills, directing their thoughts, reshaping their desires, and destroying the universe.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  530965
In insert_book_data, IntegrityError Exception for book_id:  70535
In insert_book_data, IntegrityError Exception for book_id:  6597651
In insert_book_data, IntegrityError Exception for book_id:  827
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24830', '000712774X', 'The Illustrated Man', 186.0, 4.14, '56524', '1932', 'Voyager Classics / Harper Collins', 'That <i>The Illustrated Man</i> has remained in print since being published in 1951 is fair testimony to the universal appeal of Ray Bradbury\'s work ... (2146 characters truncated) ...  <br />· Zero Hour · ss Planet Stories Fll ’47 <br />· The Rocket [“Outcast of the Stars”] · ss Super Science Stories Mar ’50 <br />· Epilogue · aw *')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8935689
In insert_book_data, IntegrityError Exception for book_id:  25350
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('77565', '0553288202', 'The Fall of Hyperion (Hyperion Cantos, #2)', 518.0, 4.2, '74967', '2455', 'Spectra Books', 'In the stunning continuation of the epic adventure begun in Hyperion, Simmons returns us to a far future resplendent with drama and invention. On the ... (14 characters truncated) ... rion, the mysterious Time Tombs are opening. And the secrets they contain mean that nothing--nothing anywhere in the universe--will ever be the same.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2845024
In insert_book_data, IntegrityError Exception for book_id:  77507
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('95558', None, 'Solaris', 204.0, 3.99, '49321', '1835', 'Harcourt', 'A classic work of science fiction by renowned Polish novelist and satirist Stanislaw Lem.<br /><br />When Kris Kelvin arrives at the planet Solaris t ... (407 characters truncated) ... sts to shift the focus of their quest and wonder if they can truly understand the universe without first understanding what lies within their hearts.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15860
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41811', '0586008357', 'The Caves of Steel (Robot #1)', 206.0, 4.16, '59474', '1436', 'Voyager', 'A millennium into the future two advancements have altered the course of human history: the colonization of the galaxy and the creation of the positr ... (649 characters truncated) ...  R. Daneel Olivaw. Worst of all was that the "R" stood for robot--and his positronic partner was made in the image and likeness of the murder victim!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  3475161
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('68494', '0345459407', 'Perdido Street Station (New Crobuzon, #1)', 623.0, 3.97, '45703', '3588', 'Ballantine Del Rey', "Beneath the towering bleached ribs of a dead, ancient beast lies the city of New Crobuzon, where the unsavory deal is stranger to no one--not even to ... (424 characters truncated) ... rphosis will occur that will permeate every fiber of New Crobuzon--and not even the Ambassador of Hell will challenge the malignant terror it evokes.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  334176

In insert_book_data, IntegrityError Exception for book_id:  9593
In insert_book_data, IntegrityError Exception for book_id:  357
In insert_book_data, IntegrityError Exception for book_id:  433567
In insert_book_data, IntegrityError Exception for book_id:  9534
In insert_book_data, IntegrityError Exception for book_id:  223380
In insert_book_data, IntegrityError Exception for book_id:  30013
In insert_book_data, IntegrityError Exception for book_id:  76683
In insert_book_data, IntegrityError Exception for book_id:  77711
In insert_book_data, IntegrityError Exception for book_id:  40604754
In insert_book_data, IntegrityError Exception for book_id:  16433
In insert_book_data, IntegrityError Exception for book_id:  100365
In insert_book_data, IntegrityError Exception for book_id:  7661
In insert_book_data, IntegrityError Exception for book_id:  59924
In insert_book_data, IntegrityError Exception for book_id:  4703581
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('64217', '0061020656', 'Pyramids (Discworld, #7)', 341.0, 3.9, '51183', '1067', 'Harper', "It's bad enough being new on the job, but Teppic hasn't a clue as to what a pharaoh is supposed to do. After all, he's been trained at Ankh-Morpork's ... (301 characters truncated) ... mmies. And to top it all off, the adolescent pharaoh discovers deceit, betrayal - not to mention a headstrong handmaiden - at the heart of his realm.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  34527
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24983', '0553562738', 'Doomsday Book (Oxford Time Travel, #1)', 578.0, 4.03, '37860', '3792', 'Bantam Spectra', "For Kivrin, preparing an on-site study of one of the deadliest eras in humanity's history was as simple as receiving inoculations against the disease ... (571 characters truncated) ... r understanding of the universalities of human nature to explore the ageless issues of evil, suffering, and the indomitable will of the human spirit.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  42432
In insert_book_data, IntegrityError Exception for book_id:  41821
In insert_book_data, IntegrityError Exception for book_id:  954674
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('48002', '0061031321', 'Thief of Time (Discworld, #26; Death, #5)', 378.0, 4.27, '46734', '974', 'HarperTorch', "Time is a resource. Everyone knows it has to be managed.<br />And on Discworld that is the job of the Monks of History, who store it and pump it from ... (418 characters truncated) ... supporting cast of heroes and villains, yetis, martial artists and Ronnie, the fifth Horseman of the Apocalypse (who left before they became famous).")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  239399
In insert_book_data, IntegrityError Exception for book_id:  18630
In insert_book_data, IntegrityError Exception for book_id:  29582
In insert_book_data, IntegrityError Exception for book_id:  116296
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9597', '0385333781', 'Player Piano', 341.0, 3.86, '38556', '1401', 'Dial Press', 'Kurt Vonnegut’s first novel spins the chilling tale of engineer Paul Proteus, who must find a way to live in a world dominated by a supercomputer and run completely by machines. Paul’s rebellion is vintage Vonnegut—wildly funny, deadly serious, and terrifyingly close to reality.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('333867', '0679767800', 'The Stars My Destination', 258.0, 4.12, '32367', '1806', None, 'In this pulse-quickening novel, Alfred Bester imagines a future in which people "jaunte" a thousand miles with a single thought, where the rich barri ... (160 characters truncated) ... >The Stars My Destination</i> is a classic of technological prophecy and timeless narrative enchantment by an acknowledged master of science fiction.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3467', '0375828257', 'The People of Sparks', 338.0, 3.66, '44703', '3111', 'Yearling', '<i>An alternate cover can be found <a href="https://www.goodreads.com/book/show/34915830-the-people-of-sparks" rel="nofollow">here</a>.</i><br /><br  ... (160 characters truncated) ... w world above. When anonymous acts of vandalism push them toward violence, it\'s up to Lina and Doon to discover who\'s behind the vandalism and why.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  117
In insert_book_data, IntegrityError Exception for book_id:  234724
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41913', '0307279901', 'The Children of Men', None, 3.68, '30699', '1957', None, "Told with P. D. James's trademark suspense, insightful characterization, and riveting storytelling, <i>The Children of Men</i> is a story of a world  ... (458 characters truncated) ...  She and her band of unlikely revolutionaries may just awaken his desire to live . . . and they may also hold the key to survival for the human race.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  509784
In insert_book_data, IntegrityError Exception for book_id:  34492
In insert_book_data, IntegrityError Exception for book_id:  23168817
In insert_book_data, IntegrityError Exception for book_id:  151370
In insert_book_data, IntegrityError Exception for book_id:  89187
In insert_book_data, IntegrityError Exception for book_id:  34541
In insert_book_data, IntegrityError Exception for book_id:  1137215
In insert_book_data, IntegrityError Exception for book_id:  8647
In insert_book_data, IntegrityError Exception for book_id:  45102
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('78876', '0575058080', 'Maskerade (Discworld, #18; Witches #5)', 285.0, 4.08, '38282', '701', 'Gollancz', "Granny Weatherwax and Nanny Ogg, the Discworld's greatest witches, are back for an innocent night at the opera. Naturally there's going to be trouble, but at the same time there'll be a good evening's entertainment with murders that you can really hum to.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22320', '0425198685', 'Pattern Recognition (Blue Ant, #1)', 367.0, 3.87, '37250', '1764', 'Berkley Books', "Cayce Pollard is an expensive, spookily intuitive market-research consultant. In London on a job, she is offered a secret assignment: to investigate  ... (894 characters truncated) ... ce will follow the trail of the mysterious film to its source, and in the process will learn something about her father's life and death.<br /><br />")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  4922079
In insert_book_data, IntegrityError Exception for book_id:  45252

In insert_book_data, IntegrityError Exception for book_id:  46756
In insert_book_data, IntegrityError Exception for book_id:  7576115
In insert_book_data, IntegrityError Exception for book_id:  47994
In insert_book_data, IntegrityError Exception for book_id:  105
In insert_book_data, IntegrityError Exception for book_id:  70539
In insert_book_data, IntegrityError Exception for book_id:  823
In insert_book_data, IntegrityError Exception for book_id:  346087
In insert_book_data, IntegrityError Exception for book_id:  826845
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('216442', '0553560719', 'Dark Force Rising (Star Wars: The Thrawn Trilogy, #2)', 439.0, 4.15, '42012', '846', 'Del Rey Books', "The dying Empire's most cunning and ruthless warlord—Grand Admiral Thrawn—has taken command of the remnants of the Imperial fleet and launched a mass ... (320 characters truncated) ...  of all is a new Dark Jedi, risen from the ashes of a shrouded past, consumed by bitterness… and scheming to corrupt Luke Skywalker to the Dark Side.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6250169
In insert_book_data, IntegrityError Exception for book_id:  22200
In insert_book_data, IntegrityError Exception for book_id:  218427
In insert_book_data, IntegrityError Exception for book_id:  331256
In insert_book_data, IntegrityError Exception for book_id:  9634967
In insert_book_data, IntegrityError Exception for book_id:  38169
In insert_book_data, IntegrityError Exception for book_id:  22584
In insert_book_data, IntegrityError Exception for book_id:  13353667
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('88071', '0765316978', "The Last Colony (Old Man's War #3)", None, 4.05, '34962', '1666', None, "Retired from his fighting days, John Perry is now village ombudsman for a human colony on distant Huckleberry. With his wife, former Special Forces w ... (278 characters truncated) ... all the major human worlds, for a deep political purpose that will put Perry and Sagan back in the thick of interstellar politics, betrayal, and war.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12974372
In insert_book_data, IntegrityError Exception for book_id:  3977
In insert_book_data, IntegrityError Exception for book_id:  14376
In insert_book_data, IntegrityError Exception for book_id:  77773
In insert_book_data, IntegrityError Exception for book_id:  76679
In insert_book_data, IntegrityError Exception for book_id:  100924
In insert_book_data, IntegrityError Exception for book_id:  910863
In insert_book_data, IntegrityError Exception for book_id:  11289
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('216422', '0553564927', 'The Last Command (Star Wars: The Thrawn Trilogy, #3)', 467.0, 4.22, '37422', '861', 'Del Rey', "The embattled Republic reels from the attacks of Grand Admiral Thrawn, who has marshaled the remnants of the Imperial forces and driven the Rebels ba ... (798 characters truncated) ... the <i>Star Wars</i> expanded universe, and over half a dozen excerpts from some of the most popular <i>Star Wars</i> books of the last thirty years!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7826116
In insert_book_data, IntegrityError Exception for book_id:  4703450
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30016', '0586010165', 'The Naked Sun (Robot #2)', 208.0, 4.15, '30659', '799', 'HarperCollins Publishers', 'A millennium into the future, two advancements have altered the course of human history: the colonization of the Galaxy and the creation of the posit ... (706 characters truncated) ... e of his robots - unthinkable under the laws of Robotics - or he was killed by the woman who loved him so much that she never came into his presence!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8073
In insert_book_data, IntegrityError Exception for book_id:  35921
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('60929', '0446603775', 'Dawn (Xenogenesis, #1)', 248.0, 4.12, '18649', '1742', 'Warner Books', 'Lilith Iyapo has just lost her husband and son when atomic fire consumes Earth—the last stage of the planet’s final war. Hundreds of years later Lili ... (607 characters truncated) ... ass will grow, animals will run, and people will learn to survive the planet’s untamed wilderness. But their children will not be human. Not exactly.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23592175
In insert_book_data, IntegrityError Exception for book_id:  34534
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('127586', '0345341678', 'The White Dragon (Pern, #3)', 423.0, 4.18, '35875', '625', 'Del Rey/Ballantine Books', "Jaxom, a rebellious young aristocrat, and Ruth, his white dragon, fly into another time to retrieve the queen's stolen egg, thereby averting a dragonrider war, and find their planet threatened once again by a Threadfall.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  218467
In insert_book_data, IntegrityError Exception for book_id:  33441
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('12007', '185723135X', 'Use of Weapons', 411.0, 4.19, '30622', '1293', None, 'Cheradenine is an ex-special circumstance agent who had been raised to eminence by a woman named Diziet. Skaffen-Amtiskaw, the drone, had saved her life and it believes Cheradenine to be a burnt-out case. But not even its machine intelligence can see the horrors in his past.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('154091', '0553281747', 'Mona Lisa Overdrive (Sprawl, #3)', 308.0, 3.98, '29542', '654', 'Bantam Spectra', "William Gibson, author of the extraordinary multiaward-winning novel <i>Neuromancer</i>, has written his most brilliant and thrilling work to date... ... (777 characters truncated) ... , the powerful Japanese underworld, whose leaders ruthlessly manipulate people and events to suit their own purposes... or so they think.<br /><br />")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25451264
In insert_book_data, IntegrityError Exception for book_id:  110444
In insert_book_data, IntegrityError Exception for book_id:  127584
In insert_book_data, IntegrityError Exception for book_id:  41810
In insert_book_data, IntegrityError Exception for book_id:  38180

In insert_book_data, IntegrityError Exception for book_id:  76658
In insert_book_data, IntegrityError Exception for book_id:  22323
In insert_book_data, IntegrityError Exception for book_id:  28547
In insert_book_data, IntegrityError Exception for book_id:  48484
In insert_book_data, IntegrityError Exception for book_id:  7507908
In insert_book_data, IntegrityError Exception for book_id:  28547
In insert_book_data, IntegrityError Exception for book_id:  22341276
In insert_book_data, IntegrityError Exception for book_id:  429138
In insert_book_data, IntegrityError Exception for book_id:  21793182
In insert_book_data, IntegrityError Exception for book_id:  8477057
In insert_book_data, IntegrityError Exception for book_id:  18616975
In insert_book_data, IntegrityError Exception for book_id:  17571466
In insert_book_data, IntegrityError Exception for book_id:  295086
In insert_book_data, IntegrityError Exception for book_id:  7849341
In insert_book_data, IntegrityError Exception for book_id:  18392459
In insert_book_data, IntegrityError Exception for book_id:  2173611
In insert_book_data, IntegrityError Exception for book_id:  189811
In insert_book_data, IntegrityError Exception for book_id:  23485372
In insert_book_data, IntegrityError Exception for book_id:  24611454
In insert_book_data, IntegrityError Exception for book_id:  48484
In insert_book_data, IntegrityError Exception for book_id:  17235347
In insert_book_data, IntegrityError Exception for book_id:  12275680
In insert_book_data, IntegrityError Exception for book_id:  10357792
In insert_book_data, IntegrityError Exception for book_id:  15062217
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('36381037', None, 'Cinder (The Lunar Chronicles, #1)', 400.0, 4.15, '97775', '4861', 'Feiwel & Friends', "<b>A forbidden romance.</b><br /><br /><b>A deadly plague.</b><br /><br /><b>Earth's fate hinges on one girl . . .</b><br /><br /><b>CINDER</b>, a gi ... (422 characters truncated) ... bout her mysterious past in order to protect Earth's future.<br /><br /><b>This is not the fairytale you remember. But it's one you won't forget.</b>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1656001
In insert_book_data, IntegrityError Exception for book_id:  13206760
In insert_book_data, IntegrityError Exception for book_id:  12578077
In insert_book_data, IntegrityError Exception for book_id:  13206828
In insert_book_data, IntegrityError Exception for book_id:  8235178
In insert_book_data, IntegrityError Exception for book_id:  13206900
In insert_book_data, IntegrityError Exception for book_id:  15704307
In insert_book_data, IntegrityError Exception for book_id:  140077
In insert_book_data, IntegrityError Exception for book_id:  110494
In insert_book_data, IntegrityError Exception for book_id:  11594257
In insert_book_data, IntegrityError Exception for book_id:  13104080
In insert_book_data, IntegrityError Exception for book_id:  479309
In insert_book_data, IntegrityError Exception for book_id:  170210
In insert_book_data, IntegrityError Exception for book_id:  23395680
In insert_book_data, IntegrityError Exception for book_id:  140075
In insert_book_data, IntegrityError Exception for book_id:  140079
In insert_book_data, IntegrityError Exception for book_id:  2233407
In insert_book_data, IntegrityError Exception for book_id:  5161066
In insert_book_data, IntegrityError Exception for book_id:  35729
In insert_book_data, IntegrityError Exception for book_id:  13188676
In insert_book_data, IntegrityError Exception for book_id:  42900
In insert_book_data, IntegrityError Exception for book_id:  7091488
In insert_book_data, IntegrityError Exception for book_id:  13047090
In insert_book_data, IntegrityError Exception for book_id:  13138635
In insert_book_data, IntegrityError Exception for book_id:  61975
In insert_book_data, IntegrityError Exception for book_id:  13362536
In insert_book_data, IntegrityError Exception for book_id:  7981206
In insert_book_data, IntegrityError Exception for book_id:  13139
In insert_book_data, IntegrityError Exception for book_id:  42898
In insert_book_data, IntegrityError Exception for book_id:  304027
In insert_book_data, IntegrityError Exception for book_id:  17234658
In insert_book_data, IntegrityError Exception for book_id:  17849112
In insert_book_data, IntegrityError Exception for book_id:  5098079
In insert_book_data, IntegrityError Exception for book_id:  7046495
In insert_book_data, IntegrityError Exception for book_id:  1240662
In insert_book_data, IntegrityError Exception for book_id:  12476820
In insert_book_data, IntegrityError Exception for book_id:  476543
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3090465', '0739352350', 'The Twilight Saga (Twilight, #1-4)', 65.0, 3.89, '95003', '3459', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13644052
In insert_book_data, IntegrityError Exception for book_id:  25689074
In insert_book_data, IntegrityError Exception for book_id:  84136
In insert_book_data, IntegrityError Exception for book_id:  285205
In insert_book_data, IntegrityError Exception for book_id:  2355575
In insert_book_data, IntegrityError Exception for book_id:  33676
In insert_book_data, IntegrityError Exception for book_id:  3819326
In insert_book_data, IntegrityError Exception for book_id:  22733729
In insert_book_data, IntegrityError Exception for book_id:  1412138
In insert_book_data, IntegrityError Exception for book_id:  8492319
In insert_book_data, IntegrityError Exception for book_id:  344262
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3128411', '1841496863', 'Bone Crossed (Mercy Thompson, #4)', 300.0, 4.34, '75780', '1715', 'Orbit', "By day, Mercy is a car mechanic in the sprawling Tri-Cities of Eastern Washington. By night, she explores her preternatural side. As a shapeshifter w ... (371 characters truncated) ... by the werewolf pack (and her close relationship with its sexy Alpha), it won't be Mercy's blood Marsilia is after.<br /><br />It'll be her friends'.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2168860
In insert_book_data, IntegrityError Exception for book_id:  2702704
In insert_book_data, IntegrityError Exception for book_id:  13253276
In insert_book_data, IntegrityError Exception for book_id:  6944032
In insert_book_data, IntegrityError Exception for book_id:  6050298
In insert_book_data, IntegrityError Exception for book_id:  13623150
In insert_book_data, IntegrityError Exception for book_id:  13644055
In insert_book_data, IntegrityError Exception for book_id:  10993282
In insert_book_data, IntegrityError Exception for book_id:  10345927
In insert_book_data, IntegrityError Exception for book_id:  743599
In insert_book_data, IntegrityError Exception for book_id:  17131869
In insert_book_data, IntegrityError Exception for book_id:  18500665
In insert_book_data, IntegrityError Exception for book_id:  3570231
In insert_book_data, IntegrityError Exception for book_id:  5604848
In insert_book_data, IntegrityError Exception for book_id:  704043
In insert_book_data, IntegrityError Exception for book_id:  6686092
In insert_book_data, IntegrityError Exception for book_id:  2679633
In insert_book_data, IntegrityError Exception for book_id:  178476
In insert_book_data, IntegrityError Exception for book_id:  29236299
In insert_book_data, IntegrityError Exception for book_id:  8709524
In insert_book_data, IntegrityError Exception for book_id:  8087906
In insert_book_data, IntegrityError Exception for book_id:  7039218
In insert_book_data, IntegrityError Exception for book_id:  20759393
In insert_book_data, IntegrityError Exception for book_id:  19358975
In insert_book_data, IntegrityError Exception for book_id:  10637748
In insert_book_data, IntegrityError Exception for book_id:  14384
In insert_book_data, IntegrityError Exception for book_id:  40395
In insert_book_data, IntegrityError Exception for book_id:  35534230
In insert_book_data, IntegrityError Exception for book_id:  11988046
In insert_book_data, IntegrityError Exception for book_id:  12925063
In insert_book_data, IntegrityError Exception for book_id:  13517455
In insert_book_data, IntegrityError Exception for book_id:  6479550
In insert_book_data, IntegrityError Exception for book_id:  84145
In insert_book_data, IntegrityError Exception for book_id:  7059135
In insert_book_data, IntegrityError Exception for book_id:  23093367
In insert_book_data, IntegrityError Exception for book_id:  14288998
In insert_book_data, IntegrityError Exception for book_id:  6289920
In insert_book_data, IntegrityError Exception for book_id:  13574417
In insert_book_data, IntegrityError Exception for book_id:  2299110
In insert_book_data, IntegrityError Exception for book_id:  6547187
In insert_book_data, IntegrityError Exception for book_id:  6567284
In insert_book_data, IntegrityError Exception for book_id:  28866
In insert_book_data, IntegrityError Exception for book_id:  8559047
In insert_book_data, IntegrityError Exception for book_id:  13514612
In insert_book_data, IntegrityError Exception for book_id:  2498983

In insert_book_data, IntegrityError Exception for book_id:  84151
In insert_book_data, IntegrityError Exception for book_id:  24909347
In insert_book_data, IntegrityError Exception for book_id:  8306761
In insert_book_data, IntegrityError Exception for book_id:  8665876
In insert_book_data, IntegrityError Exception for book_id:  268601
In insert_book_data, IntegrityError Exception for book_id:  17331518
In insert_book_data, IntegrityError Exception for book_id:  12157365
In insert_book_data, IntegrityError Exception for book_id:  13183957
In insert_book_data, IntegrityError Exception for book_id:  10345937
In insert_book_data, IntegrityError Exception for book_id:  30271
In insert_book_data, IntegrityError Exception for book_id:  6202318
In insert_book_data, IntegrityError Exception for book_id:  25451555
In insert_book_data, IntegrityError Exception for book_id:  28541
In insert_book_data, IntegrityError Exception for book_id:  435045
In insert_book_data, IntegrityError Exception for book_id:  21393526
In insert_book_data, IntegrityError Exception for book_id:  2712967
In insert_book_data, IntegrityError Exception for book_id:  5292853
In insert_book_data, IntegrityError Exception for book_id:  263179
In insert_book_data, IntegrityError Exception for book_id:  17860199
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('84154', '0739448471', 'Seize the Night (Dark-Hunter, #6)', 289.0, 4.36, '2244', '91', "St. Martin's Press", "Dark-Hunter: an immortal warrior who has traded his soul to Artemis for one moment of vengeance on his enemies. In return, they swear to spend eterni ... (809 characters truncated) ... n against evil, Val will have to loosen up, learn to trust, and put everything on the line to protect a man he hates and a woman who drives him nuts.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  121927
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('88071', '0765316978', "The Last Colony (Old Man's War #3)", None, 4.05, '34963', '1666', None, "Retired from his fighting days, John Perry is now village ombudsman for a human colony on distant Huckleberry. With his wife, former Special Forces w ... (278 characters truncated) ... all the major human worlds, for a deep political purpose that will put Perry and Sagan back in the thick of interstellar politics, betrayal, and war.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  30225
In insert_book_data, IntegrityError Exception for book_id:  6582637
In insert_book_data, IntegrityError Exception for book_id:  77773
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6138606', None, 'The Seeker (The Host, #2)', None, 4.11, '1717', '342', None, 'When an unseen enemy threatens mankind by taking over their bodies and erasing their memories, Melanie Stryder will risk everything to protect the people she cares most about — Jared, Ian, her brother Jamie and her Uncle Jeb, proving that love can conquer all in a dangerous new world.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11922
In insert_book_data, IntegrityError Exception for book_id:  84132
In insert_book_data, IntegrityError Exception for book_id:  30228
In insert_book_data, IntegrityError Exception for book_id:  11544421
In insert_book_data, IntegrityError Exception for book_id:  10859509
In insert_book_data, IntegrityError Exception for book_id:  238126
In insert_book_data, IntegrityError Exception for book_id:  1611656
In insert_book_data, IntegrityError Exception for book_id:  5509920
In insert_book_data, IntegrityError Exception for book_id:  7098304
In insert_book_data, IntegrityError Exception for book_id:  17332310
In insert_book_data, IntegrityError Exception for book_id:  2213324
In insert_book_data, IntegrityError Exception for book_id:  13605723
In insert_book_data, IntegrityError Exception for book_id:  38568
In insert_book_data, IntegrityError Exception for book_id:  11043618
In insert_book_data, IntegrityError Exception for book_id:  6611038
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('60929', '0446603775', 'Dawn (Xenogenesis, #1)', 248.0, 4.12, '18649', '1742', 'Warner Books', 'Lilith Iyapo has just lost her husband and son when atomic fire consumes Earth—the last stage of the planet’s final war. Hundreds of years later Lili ... (607 characters truncated) ... ass will grow, animals will run, and people will learn to survive the planet’s untamed wilderness. But their children will not be human. Not exactly.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  112754
In insert_book_data, IntegrityError Exception for book_id:  20705702
In insert_book_data, IntegrityError Exception for book_id:  26836910
In insert_book_data, IntegrityError Exception for book_id:  2003625
In insert_book_data, IntegrityError Exception for book_id:  84139
In insert_book_data, IntegrityError Exception for book_id:  10790516
In insert_book_data, IntegrityError Exception for book_id:  12119529
In insert_book_data, IntegrityError Exception for book_id:  13323842
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6329547', '0441017800', 'On the Edge (The Edge, #1)', 309.0, 4.03, '29967', '2103', 'Ace', 'Rose Drayton lives on the Edge, between the world of the Broken (where people drive cars, shop at Wal-Mart, and magic is a fairy tale) and the Weird  ... (645 characters truncated) ... m the Weird, a flood of creatures hungry for magic, Declan and Rose must work together to destroy them—or they’ll devour the Edge and everyone in it.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('127586', '0345341678', 'The White Dragon (Pern, #3)', 423.0, 4.18, '35875', '625', 'Del Rey/Ballantine Books', "Jaxom, a rebellious young aristocrat, and Ruth, his white dragon, fly into another time to retrieve the queen's stolen egg, thereby averting a dragonrider war, and find their planet threatened once again by a Threadfall.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6337006
In insert_book_data, IntegrityError Exception for book_id:  5215879
In insert_book_data, IntegrityError Exception for book_id:  5153799
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('201175', '1423301854', 'Rapture in Death (In Death, #4)', 9.0, 4.27, '29175', '756', 'Brilliance Audio', "They died with smiles on their faces. Three apparent suicides: a brilliant engineer, an infamous lawyer, and a controversial politician. Three strang ... (352 characters truncated) ... ual-reality games - where the same techniques used to create joy and desire could also prompt the mind to become the weapon of its own destruction...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9792287
In insert_book_data, IntegrityError Exception for book_id:  6758331
In insert_book_data, IntegrityError Exception for book_id:  127584
In insert_book_data, IntegrityError Exception for book_id:  172764
In insert_book_data, IntegrityError Exception for book_id:  1388813
In insert_book_data, IntegrityError Exception for book_id:  13254289
In insert_book_data, IntegrityError Exception for book_id:  19090384

In insert_book_data, IntegrityError Exception for book_id:  11556960
In insert_book_data, IntegrityError Exception for book_id:  715791
In insert_book_data, IntegrityError Exception for book_id:  84133
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29661618', None, "Just One Damned Thing After Another (The Chronicles of St Mary's, #1)", 480.0, 3.89, '10592', '1568', 'Night Shade Books', '"History is just one damned thing after another."<br /><br />Behind the seemingly innocuous façade of St Mary\'s, a different kind of historical rese ... (777 characters truncated) ... om the Cretaceous Period to the destruction of the Great Library at Alexandria. For wherever Historians go, chaos is sure to follow in their wake....')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17733861
In insert_book_data, IntegrityError Exception for book_id:  6871616
In insert_book_data, IntegrityError Exception for book_id:  3585344
In insert_book_data, IntegrityError Exception for book_id:  61903
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('667985', '1931514925', 'Chobits, Vol. 1', 184.0, 4.04, '36678', '276', None, "Chi isn't your average humanoid computer. She can't do word processing, she can't connect to the Internet, and she's incapable of networking with oth ... (107 characters truncated) ... when the 19-year-old technophobe takes her home, he finds that she may be more advanced than her childlike behavior lets on.<br /><br />Chapters 1-12")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  21793182
In insert_book_data, IntegrityError Exception for book_id:  465904
In insert_book_data, IntegrityError Exception for book_id:  210243
In insert_book_data, IntegrityError Exception for book_id:  203288
In insert_book_data, IntegrityError Exception for book_id:  61958
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61906', '0743468406', "The Warrior's Apprentice (Vorkosigan Saga, #2)", 372.0, 4.29, '18034', '830', 'Earthlight', 'Between the seemingly impossible tasks of living up to his warrior-father\'s legend and surmounting his own physical limitations, Miles Vorkosigan fa ... (288 characters truncated) ... identity for himself as the commander of his own mercenary fleet to obtain a lucrative cargo; a shipment of weapons destined for a dangerous warzone.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  61905
In insert_book_data, IntegrityError Exception for book_id:  61915
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1828067', '0441015999', 'Grimspace (Sirantha Jax, #1)', 312.0, 3.73, '11743', '1323', 'Ace Berkley Penguin', "As the carrier of a rare gene, Sirantha Jax has the ability to jump ships through grimspace-a talent which makes her a highly prized navigator for th ... (83 characters truncated) ... th no memory of the crash. But her fun's not over. A group of rogue fighters frees her...for a price: her help in overthrowing the established order.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  68483
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('841973', '0345324390', 'The Gods of Mars (Barsoom #2)', 190.0, 3.87, '11961', '652', 'Random House Ballantine Del Rey', 'After the long exile on Earth, John Carter finally returned to his beloved Mars. But beautiful Dejah Thoris, the woman he loved, had vanished. Now he was trapped in the legendary Eden of Mars -- an Eden from which none ever escaped alive.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  653711
In insert_book_data, IntegrityError Exception for book_id:  61909
In insert_book_data, IntegrityError Exception for book_id:  77786
In insert_book_data, IntegrityError Exception for book_id:  47970
In insert_book_data, IntegrityError Exception for book_id:  61938
In insert_book_data, IntegrityError Exception for book_id:  104342
In insert_book_data, IntegrityError Exception for book_id:  40379
In insert_book_data, IntegrityError Exception for book_id:  61899
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('161540', '0553569376', 'The Courtship of Princess Leia (Star Wars)', 374.0, 3.59, '11613', '377', 'Bantam Spectra', 'Seeking rich, powerful allies to bring into the Rebel Alliance and a new home planet for the refugees of her native Alderaan, Princess Leia considers ... (592 characters truncated) ... the <i>Star Wars</i> expanded universe, and over half a dozen excerpts from some of the most popular <i>Star Wars</i> books of the last thirty years!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  76812
In insert_book_data, IntegrityError Exception for book_id:  296182
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('238961', '0345316002', 'Killashandra (Crystal Singer #2)', 384.0, 4.02, '11692', '172', 'Random House Inc', "At first Killashandra Ree's ambitions to become a Crystal Singer, get rich, and forget her past, were going just as she had hoped. But after she grew ... (87 characters truncated) ... broke, she had crystal sickness so bad she thought she was going to die, and the only way she could be true to the man she loved was to leave him....")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  116249
In insert_book_data, IntegrityError Exception for book_id:  61900
In insert_book_data, IntegrityError Exception for book_id:  12998057
In insert_book_data, IntegrityError Exception for book_id:  61884
In insert_book_data, IntegrityError Exception for book_id:  990093
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61959', '0552137642', 'Damia (The Tower and the Hive, #2)', 380.0, 4.0, '10041', '139', 'Corgi', "Of all the Rowan's children, Damia was the most brilliant and the one who inherited the Talent. It was obvious that she would be a Prime. As Damia grew up, her Talent became almost too strong to control, and the only solution was to send her to the planet of Deneb, to her strange grandmother.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61901', '0743468023', 'Diplomatic Immunity (Vorkosigan Saga, #13)', 367.0, 4.18, '10448', '312', 'Earthlight', "A rich Komarran merchant fleet has been impounded at Graf Station, in distant Quaddiespace, after a bloody incident on the station docks involving a  ... (672 characters truncated) ...  time for life against death in horrifying new forms.<br /><br />The downside of being a troubleshooter comes when trouble starts shooting back . . .")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61880', '2290052302', 'Memory (Vorkosigan Saga, #10)', 509.0, 4.45, '11386', '384', "J'ai lu", 'Forced to abandon his undercover role as leader of the Dendarii Mercenaries, Miles Vorkosigan persuades Emperor Gregor to appoint him Imperial Audito ... (233 characters truncated) ... ind Illyan’s rapid decline. Library Journal calls Miles “one of the genre’s most enterprising and engaging heroes”. A Hugo and Nebula Award finalist.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  97961
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('176850', '1857232054', 'The Ship Who Searched (Brainship, #3)', 312.0, 4.09, '9906', '89', 'Orbit', None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  61928
In insert_book_data, IntegrityError Exception for book_id:  61940

In insert_book_data, IntegrityError Exception for book_id:  61970
In insert_book_data, IntegrityError Exception for book_id:  177945
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24869', '0552139149', "Lyon's Pride (The Tower and the Hive, #4)", 347.0, 3.91, '7270', '57', 'Corgi', "The survival technique of the Hivers was terrifying -- and brilliant. Their huge Sphere ships, controlled by the Many Mind of ten to sixteen queens,  ... (863 characters truncated) ... or the Hivers' terrible Sphere ships were still thrusting through space, unfathomable, impenetrable, and carrying death in their labyrinthine depths.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  270490
In insert_book_data, IntegrityError Exception for book_id:  7841656
In insert_book_data, IntegrityError Exception for book_id:  61924
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('673158', '0099154102', 'Darkover Landfall', None, 3.88, '5457', '132', None, 'Darkover, planet of wonder, world of mystery, has been a favorite of science fiction readers for many years. For it is a truly alien sphere--a world  ... (411 characters truncated) ... nd, the psychic currents that were native only to that world, and the price that every Earthling must pay before Darkover could claim him for itself.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7283762
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('96460', '0552146293', 'The Tower and the Hive (The Tower and the Hive, #5)', 400.0, 3.95, '5480', '62', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  3182799
In insert_book_data, IntegrityError Exception for book_id:  47241
In insert_book_data, IntegrityError Exception for book_id:  40385
In insert_book_data, IntegrityError Exception for book_id:  6387868
In insert_book_data, IntegrityError Exception for book_id:  217890
In insert_book_data, IntegrityError Exception for book_id:  365672
In insert_book_data, IntegrityError Exception for book_id:  40386
In insert_book_data, IntegrityError Exception for book_id:  6453280
In insert_book_data, IntegrityError Exception for book_id:  3746202
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24872', '0552149098', "Freedom's Ransom (Catteni, #4)", 367.0, 3.94, '3691', '65', 'Corgi', 'The inhabitants of the penal planet Botany had fought a grim and dangerous war to free themselves from their Eosi overlords. Now the Eosi were gone,  ... (811 characters truncated) ...  an expedition that led to a horrifying replay of an old nightmare for Kris - and only Zainal could save her and the future of both Earth and Botany.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  567708
In insert_book_data, IntegrityError Exception for book_id:  7843135
In insert_book_data, IntegrityError Exception for book_id:  97965
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('222513', '0613926234', 'Once a Hero (The Serrano Legacy, #4)', 400.0, 4.06, '4459', '87', 'Baen Books', "When Esmay Suiza found herself in the middle of a space battle, the senior surviving officer, she had no choice but to take command and win. She didn't want to be a hero, but Once A Hero....")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  288771
In insert_book_data, IntegrityError Exception for book_id:  97964
In insert_book_data, IntegrityError Exception for book_id:  7077917
In insert_book_data, IntegrityError Exception for book_id:  97963
In insert_book_data, IntegrityError Exception for book_id:  228337
In insert_book_data, IntegrityError Exception for book_id:  352726
In insert_book_data, IntegrityError Exception for book_id:  10648186
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('395551', '1591025397', 'Keeping It Real (Quantum Gravity #1)', 333.0, 3.47, '2116', '222', None, 'The Quantum Bomb of 2015 changed everything. <br /><br />The fabric that kept the universe\'s different dimensions apart was torn and now, six years  ... (786 characters truncated) ... y the elfin rockstar Zal (lead singer of the No Shows), who she\'s been assigned to protect, she\'s not even sure she can trust that any more either.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('27844508', None, "Christmas Present (The Chronicles of St Mary's #4.5)", None, 4.34, '1753', '87', None, "It's Christmas Eve at St Mary's <br /><br />And all through the house <br /><br />Nothing is stirring ... <br /><br />Except for Max, Peterson and Ma ... (322 characters truncated) ... acon sandwiches. Colchester has Boudicca and her bloodthirsty Iceni hordes. <br /><br />And then there's the giant pig ... the enraged, giant pig ...")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('412816', '0552083445', 'Restoree', 223.0, 3.91, '3521', '120', 'Corgi', 'There was a sudden stench of a dead sea creature. There was the sudden horror of a huge black shape closing over her. There was nothing...<br /><br / ... (237 characters truncated) ... br />And when she awoke she found she was in a world that was not earth, and with a face and body that were not her own. She had become a Restoree...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  352724
In insert_book_data, IntegrityError Exception for book_id:  352727
In insert_book_data, IntegrityError Exception for book_id:  352725
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25356246', None, 'Step Alien (Reestrian Mates, #1)', None, 3.46, '433', '34', None, 'Kira is shocked when Alex shows up on her doorstep after he’s been missing for six years. She’s thankful her stepbrother is alive, but with his arriv ... (1052 characters truncated) ... sing. With the full force of his mating urge upon him, all will be lost if he doesn’t find Kira soon and claim the feisty little human as his. <br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('5073221', None, 'Seeing Stars', None, 3.13, '62', '6', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6516729
In insert_book_data, IntegrityError Exception for book_id:  15814613
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('23287482', None, 'Knollig (Terraneu, #2)', None, 3.87, '326', '15', None, "Mairi- Her grandfather's bargain with the Council of Terraneu has given her a second chance at life. Literally on her death bed Mairi meets the hotte ... (358 characters truncated) ... der before himself. He takes a vow to give Mairi time to get to know the males of Terraneu...even if it leads to her choosing another to be her mate.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16153238
In insert_book_data, IntegrityError Exception for book_id:  11513540
In insert_book_data, IntegrityError Exception for book_id:  6697929
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('19446578', None, "Warlord's Honor (Krystile Warriors #1)", None, 3.48, '265', '21', None, 'In a universe starved for power, the Conglomeration rules societies with an iron grip on all trade and by the power of the eMpaths with eXtra abiliti ... (534 characters truncated) ... st the barbarian with her life. As the future of her kind hangs in the balance, she must also decide if she can also trust him with her heart. <br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17826237
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('10211823', '1603105891', 'Blood and Steel', None, 3.49, '135', '19', 'Red Sage', 'Elyn Castel spent 50 years as the slave of a vampire sociopath. Now, thanks to cyborg bodyguard Jarl “Blade” Bladin, Kruz is dead. But Blade is after Elyn now, and she has to do everything she can to get away from Blade. But that’s easier said than done…')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('26177488', None, 'Dragon Lords World 5 Book Box Set', None, 4.16, '176', '15', None, "<b> Read the NYT &amp; USAT Bestselling Author whose Dragon-Shifters and Cat-Shifters have stood the test of time in this Limited Edition Box Set.</b ... (3431 characters truncated) ... eryn the Hunter, the sexiest-and perhaps craziest-man she's ever laid eyes on may have rescued her from death, but who's going to rescue her fr</div>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16037614
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('7741884', '1554108616', 'Haldis Imperium (Champions of Terra, #5)', 79.0, 4.16, '264', '11', None, 'Amy Tyrell has worked for the most arrogant, obnoxious, and handsome guy she has ever seen for the last few years. His Imperial Highness Palden VII w ... (207 characters truncated) ... rotection and she both wanted and dreaded the breeding contract that had been arranged for her with Palden. Will she gain a lover, but lose a friend?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  138728
In insert_book_data, IntegrityError Exception for book_id:  24467261
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22824915', None, 'Distant Desires: Part Three', None, 3.91, '148', '17', None, '**This is PART THREE of the Distant Desires serial series. This is the CONCLUSION to the story.** <br />An erotic tale from beyond the stars <br />So ... (863 characters truncated) ... ver experienced. <br />Will Sophie find her way back to her planet, or will she beg to stay where her pleasure is literally out of this world? <br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('19389605', None, "The Tigrens' Glory (The Soul-Linked Saga, #8)", None, 4.37, '342', '8', None, 'Planet Jasan is mobilizing for war against the evil Xanti, enemies of all. As the warriors of Jasan prepare to strike across the immense void that se ... (1817 characters truncated) ... of adventure, searing passion, aching emotion, and heart-felt romance, The Tigrens’ Glory brings the series to a thrilling and satisfying conclusion.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15771498
In insert_book_data, IntegrityError Exception for book_id:  736940
In insert_book_data, IntegrityError Exception for book_id:  6148028
In insert_book_data, IntegrityError Exception for book_id:  7260188
In insert_book_data, IntegrityError Exception for book_id:  11735983
In insert_book_data, IntegrityError Exception for book_id:  6186357
In insert_book_data, IntegrityError Exception for book_id:  1656001
In insert_book_data, IntegrityError Exception for book_id:  18710190
In insert_book_data, IntegrityError Exception for book_id:  6288
In insert_book_data, IntegrityError Exception for book_id:  149267
In insert_book_data, IntegrityError Exception for book_id:  9275658
In insert_book_data, IntegrityError Exception for book_id:  12067
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('43615', None, 'The Gunslinger (The Dark Tower, #1)', 231.0, 3.96, '404796', '11962', 'Plume', 'In the first book of this brilliant series, Stephen King introduces readers to one of his most enigmatic heroes, Roland of Gilead, The Last Gunslinge ... (265 characters truncated) ... called Jake. Both grippingly realistic and eerily dreamlike, The Gunslinger leaves readers eagerly awaiting the next chapter.<br /><br />(back cover)')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16101128
In insert_book_data, IntegrityError Exception for book_id:  8908
In insert_book_data, IntegrityError Exception for book_id:  7631105
In insert_book_data, IntegrityError Exception for book_id:  10429045
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('135479', '0140285601', "Cat's Cradle", 306.0, 4.17, '266200', '6195', 'Penguin', "<b>Told with deadpan humour and bitter irony, Kurt Vonnegut's cult tale of global destruction preys on our deepest fears of witnessing Armageddon and ... (360 characters truncated) ... bean, to madness. Felix Hoenikker's Death Wish comes true when his last, fatal gift to humankind brings about the end, that for all of us, is nigh...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  36402034
In insert_book_data, IntegrityError Exception for book_id:  20170404
In insert_book_data, IntegrityError Exception for book_id:  7864437

In insert_book_data, IntegrityError Exception for book_id:  49628
In insert_book_data, IntegrityError Exception for book_id:  20758104
In insert_book_data, IntegrityError Exception for book_id:  6320534
In insert_book_data, IntegrityError Exception for book_id:  15863832
In insert_book_data, IntegrityError Exception for book_id:  8909
In insert_book_data, IntegrityError Exception for book_id:  764347
In insert_book_data, IntegrityError Exception for book_id:  17235026
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('307791', '0375822747', 'The City of Ember', 270.0, 3.86, '217038', '9814', 'Yearling Books', '<i>An alternate cover edition can be found <a href="https://www.goodreads.com/book/show/33865597-the-city-of-ember" rel="nofollow">here</a>.</i><br / ... (452 characters truncated) ... e could be a way out of Ember. Can they decipher the words from long ago and find a new future for everyone? Will the people of Ember listen to them?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10576365
In insert_book_data, IntegrityError Exception for book_id:  2536134
In insert_book_data, IntegrityError Exception for book_id:  9593911
In insert_book_data, IntegrityError Exception for book_id:  15812814
In insert_book_data, IntegrityError Exception for book_id:  6690798
In insert_book_data, IntegrityError Exception for book_id:  24768
In insert_book_data, IntegrityError Exception for book_id:  40495148
In insert_book_data, IntegrityError Exception for book_id:  13414446
In insert_book_data, IntegrityError Exception for book_id:  138398
In insert_book_data, IntegrityError Exception for book_id:  13089710
In insert_book_data, IntegrityError Exception for book_id:  5094
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('10567', '1416524517', 'Cell', 449.0, 3.65, '163630', '4228', 'Pocket Star Books', 'WHERE WERE YOU ON OCTOBER 1ST AT 3:03 P.M.?<br /><br />Graphic artist Clay Riddell was in the heart of Boston on that brilliant autumn afternoon when ... (92 characters truncated) ... ople fell victim to the basest, most animalistic destruction.<br /><br />And the apocalypse began with the ring of a cell phone....<br />(back cover)')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11594257
In insert_book_data, IntegrityError Exception for book_id:  13104080
In insert_book_data, IntegrityError Exception for book_id:  18126198
In insert_book_data, IntegrityError Exception for book_id:  14290364
In insert_book_data, IntegrityError Exception for book_id:  19161852
In insert_book_data, IntegrityError Exception for book_id:  17934530
In insert_book_data, IntegrityError Exception for book_id:  12936
In insert_book_data, IntegrityError Exception for book_id:  24765
In insert_book_data, IntegrityError Exception for book_id:  27523
In insert_book_data, IntegrityError Exception for book_id:  13125947
In insert_book_data, IntegrityError Exception for book_id:  23395680
In insert_book_data, IntegrityError Exception for book_id:  17182126
In insert_book_data, IntegrityError Exception for book_id:  34084
In insert_book_data, IntegrityError Exception for book_id:  5899779
In insert_book_data, IntegrityError Exception for book_id:  18498558
In insert_book_data, IntegrityError Exception for book_id:  13453029
In insert_book_data, IntegrityError Exception for book_id:  16131484
In insert_book_data, IntegrityError Exception for book_id:  8525590
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('5096', '0340829788', 'Wizard and Glass (The Dark Tower, #4)', 845.0, 4.25, '122609', '3390', 'New English Library', 'Roland, Eddie, Susannah, Jake, and Jake’s pet bumbler survive Blaine the Mono’s final crash, only to find themselves stranded in an alternate version ... (644 characters truncated) ... battled the forces of John Farson, the harrier who—with a little help from a seeing sphere called Maerlyn’s Grapefruit—ignited Mid-World’s final war.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9593913
In insert_book_data, IntegrityError Exception for book_id:  13188676
In insert_book_data, IntegrityError Exception for book_id:  4978
In insert_book_data, IntegrityError Exception for book_id:  213753
In insert_book_data, IntegrityError Exception for book_id:  547094
In insert_book_data, IntegrityError Exception for book_id:  5091
In insert_book_data, IntegrityError Exception for book_id:  20819685
In insert_book_data, IntegrityError Exception for book_id:  15842439
In insert_book_data, IntegrityError Exception for book_id:  414999
In insert_book_data, IntegrityError Exception for book_id:  10215349
In insert_book_data, IntegrityError Exception for book_id:  12930
In insert_book_data, IntegrityError Exception for book_id:  22816087
In insert_book_data, IntegrityError Exception for book_id:  5093
In insert_book_data, IntegrityError Exception for book_id:  9579634
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3432478', '0575090855', 'The Forest of Hands and Teeth (The Forest of Hands and Teeth, #1)', 310.0, 3.59, '67411', '6223', 'Gollancz', "In Mary's world there are simple truths. The Sisterhood always knows best. The Guardians will protect and serve. The Unconsecrated will never relent. ... (501 characters truncated) ...  one who loves her. And she must face the truth about the Forest of Hands and Teeth. Could there be life outside a world surrounded by so much death?")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('493456', '1416951172', 'Extras (Uglies, #4)', 417.0, 3.59, '91610', '4732', None, 'A few years after rebel Tally Youngblood takes down the Specials regime, a cultural renaissance sweeps the world. “Tech-heads” flaunt their latest ga ... (374 characters truncated) ... et. Aya knows she is on the cusp of celebrity. But the information she is about to disclose will change both her fate…and that of the brave new world')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7137327
In insert_book_data, IntegrityError Exception for book_id:  535441
In insert_book_data, IntegrityError Exception for book_id:  6080337
In insert_book_data, IntegrityError Exception for book_id:  16278318
In insert_book_data, IntegrityError Exception for book_id:  13154150
In insert_book_data, IntegrityError Exception for book_id:  9014
In insert_book_data, IntegrityError Exception for book_id:  40642172
In insert_book_data, IntegrityError Exception for book_id:  13618440
In insert_book_data, IntegrityError Exception for book_id:  813214
In insert_book_data, IntegrityError Exception for book_id:  7094569
In insert_book_data, IntegrityError Exception for book_id:  164154
In insert_book_data, IntegrityError Exception for book_id:  12401556
In insert_book_data, IntegrityError Exception for book_id:  156534
In insert_book_data, IntegrityError Exception for book_id:  15096164
In insert_book_data, IntegrityError Exception for book_id:  17849112
In insert_book_data, IntegrityError Exception for book_id:  9917938
In insert_book_data, IntegrityError Exception for book_id:  16131489
In insert_book_data, IntegrityError Exception for book_id:  12476820
In insert_book_data, IntegrityError Exception for book_id:  40940649
In insert_book_data, IntegrityError Exception for book_id:  16150830
In insert_book_data, IntegrityError Exception for book_id:  13281368

In insert_book_data, IntegrityError Exception for book_id:  7304203
In insert_book_data, IntegrityError Exception for book_id:  12287209
In insert_book_data, IntegrityError Exception for book_id:  530965
In insert_book_data, IntegrityError Exception for book_id:  6597651
In insert_book_data, IntegrityError Exception for book_id:  6909544
In insert_book_data, IntegrityError Exception for book_id:  6065215
In insert_book_data, IntegrityError Exception for book_id:  21969786
In insert_book_data, IntegrityError Exception for book_id:  12341557
In insert_book_data, IntegrityError Exception for book_id:  12813630
In insert_book_data, IntegrityError Exception for book_id:  52397
In insert_book_data, IntegrityError Exception for book_id:  5047880
In insert_book_data, IntegrityError Exception for book_id:  13326831
In insert_book_data, IntegrityError Exception for book_id:  20758103
In insert_book_data, IntegrityError Exception for book_id:  1857440
In insert_book_data, IntegrityError Exception for book_id:  2702704
In insert_book_data, IntegrityError Exception for book_id:  13253276
In insert_book_data, IntegrityError Exception for book_id:  57891
In insert_book_data, IntegrityError Exception for book_id:  21418013
In insert_book_data, IntegrityError Exception for book_id:  17262203
In insert_book_data, IntegrityError Exception for book_id:  6050298
In insert_book_data, IntegrityError Exception for book_id:  29875363
In insert_book_data, IntegrityError Exception for book_id:  15704459
In insert_book_data, IntegrityError Exception for book_id:  13623150
In insert_book_data, IntegrityError Exception for book_id:  13644055
In insert_book_data, IntegrityError Exception for book_id:  18080920
In insert_book_data, IntegrityError Exception for book_id:  9297774
In insert_book_data, IntegrityError Exception for book_id:  20758105
In insert_book_data, IntegrityError Exception for book_id:  28204534
In insert_book_data, IntegrityError Exception for book_id:  332775
In insert_book_data, IntegrityError Exception for book_id:  25372801
In insert_book_data, IntegrityError Exception for book_id:  9593
In insert_book_data, IntegrityError Exception for book_id:  17332969
In insert_book_data, IntegrityError Exception for book_id:  16150831
In insert_book_data, IntegrityError Exception for book_id:  6465707
In insert_book_data, IntegrityError Exception for book_id:  18500665
In insert_book_data, IntegrityError Exception for book_id:  11557
In insert_book_data, IntegrityError Exception for book_id:  25843420
In insert_book_data, IntegrityError Exception for book_id:  6686092
In insert_book_data, IntegrityError Exception for book_id:  26228034
In insert_book_data, IntegrityError Exception for book_id:  17306293
In insert_book_data, IntegrityError Exception for book_id:  71865
In insert_book_data, IntegrityError Exception for book_id:  17855756
In insert_book_data, IntegrityError Exception for book_id:  169756
In insert_book_data, IntegrityError Exception for book_id:  6431790
In insert_book_data, IntegrityError Exception for book_id:  20759393
In insert_book_data, IntegrityError Exception for book_id:  13330761
In insert_book_data, IntegrityError Exception for book_id:  26891429
In insert_book_data, IntegrityError Exception for book_id:  287861
In insert_book_data, IntegrityError Exception for book_id:  15704486
In insert_book_data, IntegrityError Exception for book_id:  25499718
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('189783', '0736693416', 'The Elfstones of Shannara  (The Original Shannara Trilogy, #2)', 23.0, 3.97, '54901', '977', 'Books on Tape', 'Ancient Evil threatens the Elves: The ancient tree created by long-lost Elven magic, is dying. When Wil Ohmsford is summoned to guard the Amberle on  ... (108 characters truncated) ... Demons. And Wil is without power to control them....<br /><br />Read by Scott Brick.<br />15 audiocassettes (90 min. each) : analog, Dolby processed.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  59924
In insert_book_data, IntegrityError Exception for book_id:  11410430
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24983', '0553562738', 'Doomsday Book (Oxford Time Travel, #1)', 578.0, 4.03, '37860', '3792', 'Bantam Spectra', "For Kivrin, preparing an on-site study of one of the deadliest eras in humanity's history was as simple as receiving inoculations against the disease ... (571 characters truncated) ... r understanding of the universalities of human nature to explore the ageless issues of evil, suffering, and the indomitable will of the human spirit.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10677277
In insert_book_data, IntegrityError Exception for book_id:  11861062
In insert_book_data, IntegrityError Exception for book_id:  7157310
In insert_book_data, IntegrityError Exception for book_id:  6686101
In insert_book_data, IntegrityError Exception for book_id:  13517455
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1811543', '0441015832', 'Magic Burns (Kate Daniels, #2)', 260.0, 4.33, '59191', '2709', 'Berkley Publishing Group', 'Down in Atlanta, tempers – and temperatures – are about to flare…<br /><br />As a mercenary who cleans up after magic gone wrong, Kate Daniels has se ... (540 characters truncated) ...  opening gambit in an epic tug-of-war between two gods hoping for rebirth. And if Kate can’t stop the cataclysmic showdown, the city may not survive…')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7201913
In insert_book_data, IntegrityError Exception for book_id:  7095831
In insert_book_data, IntegrityError Exception for book_id:  6479550
In insert_book_data, IntegrityError Exception for book_id:  4345498
In insert_book_data, IntegrityError Exception for book_id:  7059135
In insert_book_data, IntegrityError Exception for book_id:  18077769
In insert_book_data, IntegrityError Exception for book_id:  14288998
In insert_book_data, IntegrityError Exception for book_id:  8811134
In insert_book_data, IntegrityError Exception for book_id:  6344097
In insert_book_data, IntegrityError Exception for book_id:  12891107
In insert_book_data, IntegrityError Exception for book_id:  10762469
In insert_book_data, IntegrityError Exception for book_id:  26892110
In insert_book_data, IntegrityError Exception for book_id:  17274667
In insert_book_data, IntegrityError Exception for book_id:  32075662
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('20697435', '055341884X', 'The Book of Strange New Things', 500.0, 3.66, '17696', '2865', None, 'A monumental, genre-defying novel over ten years in the making, Michel Faber\'s The Book of Strange New Things is a masterwork from a writer in full  ... (1349 characters truncated) ... uch an international success, The Book of Strange New Things is extraordinary, mesmerizing, and replete with emotional complexity and genuine pathos.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  161426
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3467', '0375828257', 'The People of Sparks', 338.0, 3.66, '44703', '3111', 'Yearling', '<i>An alternate cover can be found <a href="https://www.goodreads.com/book/show/34915830-the-people-of-sparks" rel="nofollow">here</a>.</i><br /><br  ... (160 characters truncated) ... w world above. When anonymous acts of vandalism push them toward violence, it\'s up to Lina and Doon to discover who\'s behind the vandalism and why.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11112619
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41913', '0307279901', 'The Children of Men', None, 3.68, '30699', '1957', None, "Told with P. D. James's trademark suspense, insightful characterization, and riveting storytelling, <i>The Children of Men</i> is a story of a world  ... (458 characters truncated) ...  She and her band of unlikely revolutionaries may just awaken his desire to live . . . and they may also hold the key to survival for the human race.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8559047
In insert_book_data, IntegrityError Exception for book_id:  23267628
In insert_book_data, IntegrityError Exception for book_id:  7334201
In insert_book_data, IntegrityError Exception for book_id:  23168817
In insert_book_data, IntegrityError Exception for book_id:  12444166
In insert_book_data, IntegrityError Exception for book_id:  13514612
In insert_book_data, IntegrityError Exception for book_id:  30134847
In insert_book_data, IntegrityError Exception for book_id:  13581990
In insert_book_data, IntegrityError Exception for book_id:  9644151
In insert_book_data, IntegrityError Exception for book_id:  8306761
In insert_book_data, IntegrityError Exception for book_id:  1137215
In insert_book_data, IntegrityError Exception for book_id:  22886612
In insert_book_data, IntegrityError Exception for book_id:  7090785

In insert_book_data, IntegrityError Exception for book_id:  4922079
In insert_book_data, IntegrityError Exception for book_id:  17331518
In insert_book_data, IntegrityError Exception for book_id:  17920175
In insert_book_data, IntegrityError Exception for book_id:  8811139
In insert_book_data, IntegrityError Exception for book_id:  46756
In insert_book_data, IntegrityError Exception for book_id:  12157365
In insert_book_data, IntegrityError Exception for book_id:  11946245
In insert_book_data, IntegrityError Exception for book_id:  9680114
In insert_book_data, IntegrityError Exception for book_id:  15985373
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2113260', '0670019631', 'Shades of Grey (Shades of Grey, #1)', 400.0, 4.14, '25075', '3186', 'Penguin Group Viking Adult', "<b>From the bestselling author of <i>Thursday Next</i> — a brilliant new novel about a world where social order and destiny are dictated by the color ... (1415 characters truncated) ... nt to be transported somewhere equally wild, only darker; a world where the black and white of moral standpoints have been reduced to shades of grey.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  826845
In insert_book_data, IntegrityError Exception for book_id:  331256
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('20423680', None, 'The Last Town (Wayward Pines, #3)', 308.0, 4.09, '36122', '2552', None, 'Welcome to Wayward Pines, the last town.<br /><br />Secret Service agent Ethan Burke arrived in Wayward Pines, Idaho, three weeks ago. In this town,  ... (458 characters truncated) ...  of a madman and his army of followers, a secret that is about to come storming through the fence to wipe out this last, fragile remnant of humanity.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9634967
In insert_book_data, IntegrityError Exception for book_id:  18077752
In insert_book_data, IntegrityError Exception for book_id:  38169
In insert_book_data, IntegrityError Exception for book_id:  13353667
In insert_book_data, IntegrityError Exception for book_id:  11544421
In insert_book_data, IntegrityError Exception for book_id:  9975679
In insert_book_data, IntegrityError Exception for book_id:  11544466
In insert_book_data, IntegrityError Exception for book_id:  12444297
In insert_book_data, IntegrityError Exception for book_id:  910863
In insert_book_data, IntegrityError Exception for book_id:  30071
In insert_book_data, IntegrityError Exception for book_id:  5776788
In insert_book_data, IntegrityError Exception for book_id:  23209924
In insert_book_data, IntegrityError Exception for book_id:  6420846
In insert_book_data, IntegrityError Exception for book_id:  11045709
In insert_book_data, IntegrityError Exception for book_id:  18668485
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('60929', '0446603775', 'Dawn (Xenogenesis, #1)', 248.0, 4.12, '18649', '1742', 'Warner Books', 'Lilith Iyapo has just lost her husband and son when atomic fire consumes Earth—the last stage of the planet’s final war. Hundreds of years later Lili ... (607 characters truncated) ... ass will grow, animals will run, and people will learn to survive the planet’s untamed wilderness. But their children will not be human. Not exactly.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8088
In insert_book_data, IntegrityError Exception for book_id:  2169506
In insert_book_data, IntegrityError Exception for book_id:  9859436
In insert_book_data, IntegrityError Exception for book_id:  12119529
In insert_book_data, IntegrityError Exception for book_id:  218467
In insert_book_data, IntegrityError Exception for book_id:  1722717
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('8540357', '0141325011', 'The Enemy (The Enemy, #1)', 407.0, 4.09, '5578', '611', 'Puffin', "Charlie Higson's <i>The Enemy</i> is the first in a jaw-dropping zombie horror series for teens. Everyone over the age of fourteen has succumbed to a ... (541 characters truncated) ... ps lie in wait.<br /><br />But can they make it there - alive?<br /><br />This edition contains the first chapter of the second book <i>The Dead</i>.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12792658
In insert_book_data, IntegrityError Exception for book_id:  6555517
In insert_book_data, IntegrityError Exception for book_id:  10193062
In insert_book_data, IntegrityError Exception for book_id:  2795053
In insert_book_data, IntegrityError Exception for book_id:  25451264
In insert_book_data, IntegrityError Exception for book_id:  12753231
In insert_book_data, IntegrityError Exception for book_id:  3993839
In insert_book_data, IntegrityError Exception for book_id:  38180
In insert_book_data, IntegrityError Exception for book_id:  9595
In insert_book_data, IntegrityError Exception for book_id:  6723348
In insert_book_data, IntegrityError Exception for book_id:  12383869
In insert_book_data, IntegrityError Exception for book_id:  12663646
In insert_book_data, IntegrityError Exception for book_id:  11044367
In insert_book_data, IntegrityError Exception for book_id:  17165932
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('16434', '0553584502', 'The Taking', 410.0, 3.78, '31716', '1415', None, "In one of the most dazzling books of his celebrated career, Dean Koontz delivers a masterwork of page-turning suspense that surpasses even his own in ... (360 characters truncated) ... st hour, here is a small-town slice-of-doomsday thriller that strikes to the core of each of us to ask: What would you do in the midst of The Taking.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  27161189
In insert_book_data, IntegrityError Exception for book_id:  12444298
In insert_book_data, IntegrityError Exception for book_id:  228258
In insert_book_data, IntegrityError Exception for book_id:  18774020
In insert_book_data, IntegrityError Exception for book_id:  18392459
In insert_book_data, IntegrityError Exception for book_id:  48484
In insert_book_data, IntegrityError Exception for book_id:  17235347
In insert_book_data, IntegrityError Exception for book_id:  15062217
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('889284', '0553278746', 'The Postman', 321.0, 3.88, '26715', '989', 'Spectra/Bantam Books', "This is the story of a lie that became the most powerful kind of truth.\xa0\xa0A timeless novel as urgently compelling as <i>War Day</i> or <i>Alas,  ... (467 characters truncated) ... \xa0The old, worn uniform still has power as a symbol of hope, and with it he begins to weave his greatest tale, of a nation on the road to recovery.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  93269
In insert_book_data, IntegrityError Exception for book_id:  6393972
In insert_book_data, IntegrityError Exception for book_id:  6931246

In insert_book_data, IntegrityError Exception for book_id:  414895
In insert_book_data, IntegrityError Exception for book_id:  10535458
In insert_book_data, IntegrityError Exception for book_id:  99245
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('186103', '1595140838', 'Peeps (Peeps, #1)', 312.0, 3.77, '21485', '1652', 'Penguin', 'Last year as college freshman, narrator Cal was infected by exotic goth Morgan with a parasite that caused following girlfriends to become vampire-li ... (299 characters truncated) ... red-eyed cats, and monstrous worms that threaten all. Morgan has the secret to a centuries-old conspiracy and upcoming battle to save the human race.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7171856
In insert_book_data, IntegrityError Exception for book_id:  8843801
In insert_book_data, IntegrityError Exception for book_id:  13042154
In insert_book_data, IntegrityError Exception for book_id:  17333180
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2331954', '0307406105', 'Infected (Infected, #1)', 342.0, 3.84, '15587', '1344', None, "Across America a mysterious disease is turning ordinary people into raving, paranoid murderers who inflict brutal horrors on strangers, themselves, a ... (1401 characters truncated) ... rts Chuck Palahniuk, Michael Crichton, and Stephen King.<br /><br /><i>Infected</i> will crawl beneath your skin and leave fresh blood on every page.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  20759641
In insert_book_data, IntegrityError Exception for book_id:  12844575
In insert_book_data, IntegrityError Exception for book_id:  25446297
In insert_book_data, IntegrityError Exception for book_id:  9065265
In insert_book_data, IntegrityError Exception for book_id:  60932
In insert_book_data, IntegrityError Exception for book_id:  20640755
In insert_book_data, IntegrityError Exception for book_id:  17863
In insert_book_data, IntegrityError Exception for book_id:  17457124
In insert_book_data, IntegrityError Exception for book_id:  41069
In insert_book_data, IntegrityError Exception for book_id:  6171892
In insert_book_data, IntegrityError Exception for book_id:  8488830
In insert_book_data, IntegrityError Exception for book_id:  40992
In insert_book_data, IntegrityError Exception for book_id:  60926
In insert_book_data, IntegrityError Exception for book_id:  89190
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('161846', '0345299116', 'The Midwich Cuckoos', 220.0, 3.93, '12337', '448', 'Ballantine Books', 'In the sleepy English village of Midwich, a mysterious silver object appears and all the inhabitants fall unconscious. A day later the object is gone and everyone awakens unharmed – except that all the women in the village are discovered to be pregnant.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  40963358
In insert_book_data, IntegrityError Exception for book_id:  10194494
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('4808763', '1884214495', 'The Last Question', 9.0, 4.58, '14371', '773', 'Ziggurat Productions', 'The last question was asked for the first time, half in jest, on May 21, 2061, at a time when humanity first stepped into the light. The question came about as a result of a five dollar bet over highballs, and it happened this way ...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18242896
In insert_book_data, IntegrityError Exception for book_id:  15830843
In insert_book_data, IntegrityError Exception for book_id:  16234584
In insert_book_data, IntegrityError Exception for book_id:  21618
In insert_book_data, IntegrityError Exception for book_id:  15769788
In insert_book_data, IntegrityError Exception for book_id:  16065538
In insert_book_data, IntegrityError Exception for book_id:  136641
In insert_book_data, IntegrityError Exception for book_id:  23430471
In insert_book_data, IntegrityError Exception for book_id:  222093
In insert_book_data, IntegrityError Exception for book_id:  24769
In insert_book_data, IntegrityError Exception for book_id:  27405160
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('769658', None, 'Battlefield Earth: A Saga of the Year 3000', 1050.0, 3.51, '12705', '875', 'Galaxy Press', '<b>\n  <i>"Nonstop and fast-paced. Every paragraph has a big bang-up adventure."</i>\n</b>—Kevin J. Anderson<br /><br /><b>Suspense, thrills, action  ... (233 characters truncated) ... ght of the alien Psychlo empire in a battle of epic scale, danger and intrigue with the fate of the Earth and of the universe in the tenuous balance.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11512712
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('104344', '0006482708', "The Gate to Women's Country", 315.0, 4.05, '10077', '499', 'Voyager', "Tepper's finest novel to date is set in a post-holocaust feminist dystopia that offers only two political alternatives: a repressive polygamist sect  ... (669 characters truncated) ... aginative reworking of The Trojan Woman that runs through the text. A rewarding and challenging novel that is to be valued for its provocative ideas.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9868970
In insert_book_data, IntegrityError Exception for book_id:  17402117
In insert_book_data, IntegrityError Exception for book_id:  48722
In insert_book_data, IntegrityError Exception for book_id:  376613
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1705697', '1597801054', 'Wastelands: Stories of the Apocalypse', 333.0, 3.78, '7498', '604', 'Night Shade', 'Famine, Death, War, and Pestilence: The Four Horsemen of the Apocalypse, the harbingers of Armageddon — these are our guides through the Wastelands.. ... (2333 characters truncated) ... e World as We Know It by Dale Bailey<br />A Song Before Sunset by David Grigg<br />Episode Seven... by John Langan<br />Appendix: For Further Reading')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10744752
In insert_book_data, IntegrityError Exception for book_id:  17159944
In insert_book_data, IntegrityError Exception for book_id:  21422225
In insert_book_data, IntegrityError Exception for book_id:  16071187
In insert_book_data, IntegrityError Exception for book_id:  2723
In insert_book_data, IntegrityError Exception for book_id:  116445
In insert_book_data, IntegrityError Exception for book_id:  68146
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6411440', '0340995793', 'The Gates (Samuel Johnson, #1)', 264.0, 3.79, '9087', '1212', 'Hodder & Stoughton', "Young Samuel Johnson and his dachshund, Boswell, are trying to show initiative by trick-or-treating a full three days before Halloween which is how t ... (910 characters truncated) ... those of you who thought you knew everything you could about particle physics and the universe, think again. This novel makes anything seem possible.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  30072

In insert_book_data, IntegrityError Exception for book_id:  18159085
In insert_book_data, IntegrityError Exception for book_id:  92956
In insert_book_data, IntegrityError Exception for book_id:  33356
In insert_book_data, IntegrityError Exception for book_id:  13627865
In insert_book_data, IntegrityError Exception for book_id:  22321
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('117842', '0007115865', 'The Songs of Distant Earth', 256.0, 3.9, '8992', '298', 'Voyager Classics', 'Just a few islands in a planetwide ocean, Thalassa was a veritable paradise—home to one of the small colonies founded centuries before by robot Mothe ... (333 characters truncated) ... arrying one million refugees from the last, mad days on Earth. And suddenly uncertainty and change had come to the placid paradise that was Thalassa.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  337132
In insert_book_data, IntegrityError Exception for book_id:  64732
In insert_book_data, IntegrityError Exception for book_id:  64923
In insert_book_data, IntegrityError Exception for book_id:  12814594
In insert_book_data, IntegrityError Exception for book_id:  3302568
In insert_book_data, IntegrityError Exception for book_id:  73654
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('15558', '1857239709', 'Angel Fire East (Word & Void, #3)', 440.0, 4.1, '9823', '202', 'Orbit', "<i>Angel Fire East</i> marks the close of Terry Brooks's Word and Void trilogy, which began with 1997's <i>Running with the Demon</i>. In this book,  ... (622 characters truncated) ... recruit him for their cause. Because after one month, the magic that holds him together will tear him apart, and his powers will be lost forever.</p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10673576
In insert_book_data, IntegrityError Exception for book_id:  47626
In insert_book_data, IntegrityError Exception for book_id:  968827
In insert_book_data, IntegrityError Exception for book_id:  1194366
In insert_book_data, IntegrityError Exception for book_id:  139390
In insert_book_data, IntegrityError Exception for book_id:  816440
In insert_book_data, IntegrityError Exception for book_id:  12962345
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('64316', '0689856725', 'The White Mountains', 195.0, 3.94, '9118', '636', 'Simon & Schuster Simon Pulse', "Long ago, the Tripods—huge, three-legged machines—descended upon Earth and took control. Now people unquestioningly accept the Tripods' power. They h ... (125 characters truncated) ... ot a slave. For Will, his time of freedom is about to end—unless he can escape to the White Mountains, where the possibility of freedom still exists.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  776573
In insert_book_data, IntegrityError Exception for book_id:  16046748
In insert_book_data, IntegrityError Exception for book_id:  116356
In insert_book_data, IntegrityError Exception for book_id:  263021
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('156785', '3453161815', 'Diaspora', 443.0, 4.13, '4839', '352', 'Heyne', 'By the end of the 30th century humanity has the capability to travel the universe, to journey beyond earth and beyond the confines of the vulnerable  ... (655 characters truncated) ... Of the discovery of an alien race and of a kink in time that means humanity — whatever form it takes — will never again be threatened by acts of God.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18877
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41064', '0575074817', 'The Penultimate Truth', 191.0, 3.79, '5654', '249', 'Gollancz', "World War III is raging - or so the millions of people crammed in their underground tanks believe. For fifteen years, subterranean humanity has been  ... (170 characters truncated) ...  reigns. East and West are at peace. Across the planet, an elite corps of expert hoaxers preserve the lie.<br /><br />Cover Illustration: Chris Moore")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6839020
In insert_book_data, IntegrityError Exception for book_id:  2819368
In insert_book_data, IntegrityError Exception for book_id:  778990
In insert_book_data, IntegrityError Exception for book_id:  116249
In insert_book_data, IntegrityError Exception for book_id:  8103876
In insert_book_data, IntegrityError Exception for book_id:  13931214
In insert_book_data, IntegrityError Exception for book_id:  340819
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3605324', '0307406318', 'Contagious (Infected, #2)', 438.0, 4.12, '8131', '533', None, "From the acclaimed author of Infected comes an epic and exhilarating story of humanity's secret battle against a horrific enemy. <br /><br />Across A ... (949 characters truncated) ... opponent. Alongside them is Margaret Montoya, a brilliant epidemiologist who fights for a cure even as she reels under the weight of endless horrors.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7296271
In insert_book_data, IntegrityError Exception for book_id:  7911067
In insert_book_data, IntegrityError Exception for book_id:  142181
In insert_book_data, IntegrityError Exception for book_id:  20821094
In insert_book_data, IntegrityError Exception for book_id:  18669609
In insert_book_data, IntegrityError Exception for book_id:  60934
In insert_book_data, IntegrityError Exception for book_id:  41074
In insert_book_data, IntegrityError Exception for book_id:  25437891
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('924194', '0439087597', 'The Last Book in the Universe', 223.0, 3.9, '8010', '948', 'Scholastic', "This fast-paced action novel is set in a future where the world has been almost destroyed. Like the award-winning novel Freak the Mighty, this is Phi ... (374 characters truncated) ... t Earth and its past. With Ryter as his companion, Spaz sets off an unlikely quest to save his dying sister -- and in the process, perhaps the world.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13806
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6881685', '0765321505', 'Bitter Seeds (The Milkweed Triptych, #1)', None, 3.74, '4846', '636', None, "<div>\n  <div>It's 1939. The Nazis have supermen, the British have demons, and one perfectly normal man gets caught in between<br /><br />Raybould Ma ... (781 characters truncated) ... e in the opening of an epic of supernatural alternate history, the tale of a twentieth century like ours and also profoundly different.</div>\n</div>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16007911
In insert_book_data, IntegrityError Exception for book_id:  40995
In insert_book_data, IntegrityError Exception for book_id:  61928
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('463376', '0671416162', 'The Claw of the Conciliator (The Book of the New Sun, #2)', 303.0, 3.97, '8625', '277', None, 'Severian is in possession of a gem considered to be "The Claw of the Conciliator", a powerful relic of the Master of Power, a legendary figure of myt ... (79 characters truncated) ... tinues his journey to Thrax, the city of his exile. Bizarre apes, strange cannibalistic rituals, and the foreigner named Jonas all lie in his future.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12015
In insert_book_data, IntegrityError Exception for book_id:  2749148
In insert_book_data, IntegrityError Exception for book_id:  323172

In insert_book_data, IntegrityError Exception for book_id:  43998
In insert_book_data, IntegrityError Exception for book_id:  6962671
In insert_book_data, IntegrityError Exception for book_id:  788331
In insert_book_data, IntegrityError Exception for book_id:  7955
In insert_book_data, IntegrityError Exception for book_id:  12678461
In insert_book_data, IntegrityError Exception for book_id:  636108
In insert_book_data, IntegrityError Exception for book_id:  5931169
In insert_book_data, IntegrityError Exception for book_id:  40304
In insert_book_data, IntegrityError Exception for book_id:  436562
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3032314', '1595141952', 'The Other Side of the Island', 280.0, 3.69, '4121', '483', None, "From <i>New York Times</i> bestselling author Allegra Goodman comes a post apocalyptic novel about love, loss, and the power of human choice. <p> Hon ... (453 characters truncated) ... to uncover a terrible truth about life on the Island: Sooner or later, those who are unpredictable disappear . . . and they don't ever come back.</p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  33369264
In insert_book_data, IntegrityError Exception for book_id:  66479
In insert_book_data, IntegrityError Exception for book_id:  18490708
In insert_book_data, IntegrityError Exception for book_id:  883195
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35813', '1857231945', 'The Hammer of God', 264.0, 3.68, '5716', '168', 'Orbit', '"Entertaining. . .[Clark] handles both ideas and characters with deftness and wit; in short, the outstanding living science fiction writers is rompin ... (923 characters truncated) ... t, I suspect "The Hammer Of God" won\'t be topped".-- "Star Tribune", Minneapolis.<br /><br />"Classic Clarke. . .a good story".-- "The Denver Post".')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  96471
In insert_book_data, IntegrityError Exception for book_id:  384579
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('463378', '0671631934', 'The Sword of the Lictor (The Book of the New Sun, #3)', 279.0, 4.15, '6439', '134', 'Timescape Books', "Beneath the dying sun the disgraced torturer, Severian, at last comes to his place of exile - Thrax, the City of Windowless Rooms. But Severian's journeying is not ended, and high in the Earth's ancient mountains he draws closer to his destiny.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('43479909', None, 'Broken Skies (Broken Skies, #1)', None, 4.04, '18', '1', None, "<b>A reclusive human girl. A disillusioned alien boy. They were never meant to meet…</b><br /><br />When Jax Mitchell’s twin is kidnapped by Earth's  ... (750 characters truncated) ... ff as a rescue mission sets in motion a chain of events that threatens not only the remaining humans and the growing alien society, but Earth itself.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  67956
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('201889', '044110701X', 'City of Illusions', 160.0, 3.85, '3744', '261', 'Ace Books', 'He was a fully grown man, alone in dense forest, with no trail to show where he had come from and no memory to tell who — or what — he was.<br />His  ... (303 characters truncated) ... h, the City of the Shining, the Liars of Earth, the Enemy of Mankind.<br />There he would find his true self... and a universe of danger.<br /><br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16049677
In insert_book_data, IntegrityError Exception for book_id:  16100436
In insert_book_data, IntegrityError Exception for book_id:  180270
In insert_book_data, IntegrityError Exception for book_id:  13641108
In insert_book_data, IntegrityError Exception for book_id:  21805681
In insert_book_data, IntegrityError Exception for book_id:  815091
In insert_book_data, IntegrityError Exception for book_id:  30561
In insert_book_data, IntegrityError Exception for book_id:  10558533
In insert_book_data, IntegrityError Exception for book_id:  6237781
In insert_book_data, IntegrityError Exception for book_id:  299758
In insert_book_data, IntegrityError Exception for book_id:  145354
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('64338', '0689856660', 'The City of Gold and Lead', 209.0, 4.06, '5337', '222', 'Simon & Schuster Simon Pulse', 'Will, Beanpole, and Henry have managed to escape the Tripods. But instead of living in safety, in the small community of free people, they have chosen to embark upon a mission that may cost them their lives.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18589656
In insert_book_data, IntegrityError Exception for book_id:  116256
In insert_book_data, IntegrityError Exception for book_id:  8966218
In insert_book_data, IntegrityError Exception for book_id:  47907
In insert_book_data, IntegrityError Exception for book_id:  11509894
In insert_book_data, IntegrityError Exception for book_id:  8065404
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('93448', '0425067572', 'The White Plague', 502.0, 3.7, '4761', '210', 'Berkley', 'The White Plague, a marvelous and terrifyingly plausible blend of fiction and visionary theme, tells of one man who is pushed over the edge of sanity ... (57 characters truncated) ... ng several months later as the so-called Madman, unleashes a terrible plague upon the human race—one that zeros in, unerringly and fatally, on women.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  116567
In insert_book_data, IntegrityError Exception for book_id:  23867347
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('60933', '0446603708', "Clay's Ark (Patternmaster, #3)", 213.0, 3.83, '4621', '369', 'Warner Books', 'An innocent familiy, carjacked on a desolate highway, is abducted to a bizarre new world. A world being born in the Californian desert.<br /><br />Th ... (284 characters truncated) ... of the transformed. Now the meaning of "survival" changes. For the babies born in the colony are clearly, undeniably, <i>not human</i>...<br /><br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  464609

In insert_book_data, IntegrityError Exception for book_id:  9432902
In insert_book_data, IntegrityError Exception for book_id:  20332896
In insert_book_data, IntegrityError Exception for book_id:  18870640
In insert_book_data, IntegrityError Exception for book_id:  8856041
In insert_book_data, IntegrityError Exception for book_id:  1678745
In insert_book_data, IntegrityError Exception for book_id:  845078
In insert_book_data, IntegrityError Exception for book_id:  17800756
In insert_book_data, IntegrityError Exception for book_id:  24453083
In insert_book_data, IntegrityError Exception for book_id:  264225
In insert_book_data, IntegrityError Exception for book_id:  16049679
In insert_book_data, IntegrityError Exception for book_id:  18586621
In insert_book_data, IntegrityError Exception for book_id:  550165
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('39911965', None, 'Skin (Flesh, #2)', None, 3.85, '176', '18', None, '<b>Six months since the zombie plague struck, former librarian Roslyn Stewart has been holed up in a school with eight other survivors. But now the s ... (892 characters truncated) ... heir ability to learn to trust each other. An uneasy partnership develops, but can a relationship with such a difficult beginning ever have a future?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  116413
In insert_book_data, IntegrityError Exception for book_id:  28448877
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2300', '0553245015', 'Emergence', 291.0, 4.16, '1637', '162', None, "Candidia Maria Smith-Foster, an eleven-year-old girl, is unaware that she's a Homo post hominem, mankind's next evolutionary step. <br /><br />With i ... (373 characters truncated) ... ck in the shelter beneath their house. Emerging three months later, she learns of her genetic heritage and sets off to search for others of her kind.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16049680
In insert_book_data, IntegrityError Exception for book_id:  16160701
In insert_book_data, IntegrityError Exception for book_id:  25476654
In insert_book_data, IntegrityError Exception for book_id:  41128
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('91109', '0441061354', 'The Long Tomorrow', 223.0, 3.65, '1353', '131', 'Ace Book', 'Two generations after destruction rained down upon America\'s cities, the population is scattered into small towns. Cities are forbidden by law, as i ... (299 characters truncated) ... g this journey, he will change his mind many times before determining the correct direction for himself, and the benighted America in which he lives.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  70255
In insert_book_data, IntegrityError Exception for book_id:  7031835
In insert_book_data, IntegrityError Exception for book_id:  17622950
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('128533', '0061054275', 'Eternity Road', 403.0, 3.77, '4043', '173', 'Eos', "The Roadmakers left only ruins behind -- but what magnificent ruins! Their concrete highways still cross the continent. Their cups, combs and jewelry ... (601 characters truncated) ... n their lost civilization and machines that skim over the ground and air. Ultimately, the group will learn the truth about their own mysterious past.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8840017
In insert_book_data, IntegrityError Exception for book_id:  121807
In insert_book_data, IntegrityError Exception for book_id:  218709
In insert_book_data, IntegrityError Exception for book_id:  22359662
In insert_book_data, IntegrityError Exception for book_id:  8025911
In insert_book_data, IntegrityError Exception for book_id:  11249375
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('7884969', '1594744637', 'Night of the Living Trekkies', 253.0, 3.9, '2677', '470', None, 'Jim Pike, the disillusioned manager of a hotel that is hosting a Star Trek convention, finds himself leading a ragtag crew of survivors as a strange virus turns the convention-goers into zombies...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13163688
In insert_book_data, IntegrityError Exception for book_id:  239919
In insert_book_data, IntegrityError Exception for book_id:  31541026
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('7171452', '0575084693', 'Dog Blood (Hater, #2)', 336.0, 3.78, '3021', '195', 'Thomas Dunne Books', 'The world has suffered a catastrophe of unknown cause, dividing humankind into two: the Haters and the Unchanged. Each group believes the other to be ... (664 characters truncated) ...  have discovered that children are absolutely vital to the cause. They are strong, small, fast, and they have no inhibitions. They are pure Haters...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23307166
In insert_book_data, IntegrityError Exception for book_id:  206662
In insert_book_data, IntegrityError Exception for book_id:  5997978
In insert_book_data, IntegrityError Exception for book_id:  41129
In insert_book_data, IntegrityError Exception for book_id:  760961
In insert_book_data, IntegrityError Exception for book_id:  662641
In insert_book_data, IntegrityError Exception for book_id:  92961
In insert_book_data, IntegrityError Exception for book_id:  4893643
In insert_book_data, IntegrityError Exception for book_id:  11801954
In insert_book_data, IntegrityError Exception for book_id:  1246118
In insert_book_data, IntegrityError Exception for book_id:  13641099
In insert_book_data, IntegrityError Exception for book_id:  271167
In insert_book_data, IntegrityError Exception for book_id:  8723188
In insert_book_data, IntegrityError Exception for book_id:  8305839
In insert_book_data, IntegrityError Exception for book_id:  7093421
In insert_book_data, IntegrityError Exception for book_id:  8479092
In insert_book_data, IntegrityError Exception for book_id:  10075553
In insert_book_data, IntegrityError Exception for book_id:  2111628
In insert_book_data, IntegrityError Exception for book_id:  985060
In insert_book_data, IntegrityError Exception for book_id:  350790
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35340127', None, "Born to be Bound (Alpha's Claim #1)", 244.0, 3.94, '2171', '265', 'Amazon Digital Services', '<i>This is an alternate cover edition for <a href="https://www.goodreads.com/book/show/29862944-born-to-be-bound" rel="nofollow">B01E1HQ57O</a> </i>< ... (1406 characters truncated) ... eme circumstances on the human psyche and the consequences of obsession—not a standard romance. If such material offends you, please do not purchase.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  105741
In insert_book_data, IntegrityError Exception for book_id:  9435474

In insert_book_data, IntegrityError Exception for book_id:  4935015
In insert_book_data, IntegrityError Exception for book_id:  8848270
In insert_book_data, IntegrityError Exception for book_id:  6504894
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22594', '1400030072', 'Deus Irae', None, 3.44, '2273', '86', None, 'In the years following World War III, a new and powerful faith has arisen from a scorched and poisoned Earth, a faith that embraces the architect of  ... (358 characters truncated) ... ing the Deus Irae, it falls upon Tibor to make a treacherous journey to find the man, to find the god, and capture his terrible visage for posterity.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('7892754', '0765324121', 'Out of the Dark', 381.0, 3.23, '2645', '417', None, '<div>\n  <div>\n    <p>The Galactic Hegemony has been around a long time, and it likes stability--the kind of stability that member species like the  ... (1211 characters truncated) ... ut it may well be that Shongairi and the Hegemony alike have underestimated the inhabitants of that strange planet called Earth</p>\n  </div>\n</div>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  294460
In insert_book_data, IntegrityError Exception for book_id:  9998730
In insert_book_data, IntegrityError Exception for book_id:  18392414
In insert_book_data, IntegrityError Exception for book_id:  216351
In insert_book_data, IntegrityError Exception for book_id:  7724842
In insert_book_data, IntegrityError Exception for book_id:  7443270
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('929901', '2258049040', '48', 336.0, 3.75, '2337', '104', 'Presses de la Cité', 'In 1945, Hitler unleashed the Blood Death on Britain as his final act of vengeance.<br /><br />Those who died at once were the lucky ones. The really ... (253 characters truncated) ... ys avoiding the fascist Blackshirts who wanted my blood for their dying leader. Then I met the others - and life got complicated all over again . . .')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  32078
In insert_book_data, IntegrityError Exception for book_id:  10198374
In insert_book_data, IntegrityError Exception for book_id:  17876047
In insert_book_data, IntegrityError Exception for book_id:  11601984
In insert_book_data, IntegrityError Exception for book_id:  718452
In insert_book_data, IntegrityError Exception for book_id:  66477
In insert_book_data, IntegrityError Exception for book_id:  216361
In insert_book_data, IntegrityError Exception for book_id:  22459186
In insert_book_data, IntegrityError Exception for book_id:  7516001
In insert_book_data, IntegrityError Exception for book_id:  28109927
In insert_book_data, IntegrityError Exception for book_id:  11409671
In insert_book_data, IntegrityError Exception for book_id:  6547184
In insert_book_data, IntegrityError Exception for book_id:  1062113
In insert_book_data, IntegrityError Exception for book_id:  64750
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1814961', '050552709X', 'Driven (Northern Waste, #1)', None, 3.63, '1188', '148', None, "In the harsh Northern Waste where human life is worth little, ice trucker Raina Bowen has learned to keep her eyes open and her knife close at hand.  ... (627 characters truncated) ... irates, and the powerful man bent on their destruction, Raina's forced to admit that trouble's found her. And this time, there's nowhere left to run.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('31825752', None, "Reborn (Alpha's Claim, #3)", None, 4.05, '2818', '352', None, 'There is a greater threat than the virus. <br /><br />Locked safely away in Shepherd’s nest, Claire is unaware of what stirs above ground. Her time i ... (951 characters truncated) ... plicit sexual themes and complete power exchange. This is not your typical romance with an HEA. If such material offends you, please do not purchase.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25543022
In insert_book_data, IntegrityError Exception for book_id:  18392421
In insert_book_data, IntegrityError Exception for book_id:  20639564
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30350763', None, "Born to be Broken (Alpha's Claim, #2)", None, 4.06, '3282', '221', None, "Claire has a score to settle.<br /><br />Unwilling mate to the brute who viciously conquered her city, she has once again escaped from her Alpha. Har ... (920 characters truncated) ... nd complete power exchange. If you enjoy gritty fiction and suspense that sticks long after you've finished reading, this series is not to be missed.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18460726
In insert_book_data, IntegrityError Exception for book_id:  23500162
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22391069', None, 'Beyond Temptation (Beyond, #3.5)', None, 4.2, '1676', '117', None, 'Currently available as part of the MARKED anthology, will be released as a stand alone novella in June 2014.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  27228341
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22910314', None, 'Beyond Possession (Beyond, #5.5)', None, 4.22, '1665', '221', None, "Tatiana Stone has worked hard to establish herself as one of Sector Four's most skilled crafters. All she wants is peace--but the sins of her father  ... (499 characters truncated) ... loser to the pretty crafter and complete his mission. But what he discovers is a fiery, passionate woman--and an affair that could destroy them both.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13552041', '1611601738', 'Shield (New World, #1)', 96.0, 3.58, '1928', '76', 'Whiskey Creek Press Torrid', "Earth is all but dead. With meteors exploding in their midst, the shuttle Grace boards takes flight in a last ditch effort to save human lives. With  ... (827 characters truncated) ... e beneath. Rask had thought his armor impenetrable. One touch from a slender hand and he realizes he is powerless against the tiny human he must have")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17186823

In insert_book_data, IntegrityError Exception for book_id:  12376744
In insert_book_data, IntegrityError Exception for book_id:  16079754
In insert_book_data, IntegrityError Exception for book_id:  17130466
In insert_book_data, IntegrityError Exception for book_id:  9226657
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25398263', None, 'Marcus (Hell Squad, #1)', 217.0, 3.94, '2244', '219', None, 'In the aftermath of a deadly alien invasion, a band of survivors fights on… <br /><br />In a world gone to hell, Elle Milton—once the darling of the  ... (844 characters truncated) ... wn together battling both the alien invaders and their overwhelming attraction. And Marcus will learn just how much he’ll sacrifice to keep her safe.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  21563710
In insert_book_data, IntegrityError Exception for book_id:  137724
In insert_book_data, IntegrityError Exception for book_id:  4617457
In insert_book_data, IntegrityError Exception for book_id:  17910106
In insert_book_data, IntegrityError Exception for book_id:  17934470
In insert_book_data, IntegrityError Exception for book_id:  20729838
In insert_book_data, IntegrityError Exception for book_id:  28245409
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('10021402', None, 'The Walking Dead, Issue #2', 23.0, 4.29, '946', '45', 'Image Comics', 'During his journey to Atlanta to find his wife and son Rick runs out of gas causing him to navigate his way through the zombie hordes on foot and eventually on horseback until he arrives on the outskirts of Atlanta and is surrounded...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12769525
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25815168', None, 'The Alpha Plague', None, 3.71, '1143', '126', 'Phalanx Press', 'Rhys is an average guy who works an average job in Summit City—a purpose built government complex on the outskirts of London. <br /><br />The Alpha T ... (276 characters truncated) ... he pandemonium, then maybe he can get to his loved ones before the plague does. <br /><br />The Alpha Plague is a post-apocalyptic survival thriller.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22613150', None, 'Stranded (Orbs #2)', 269.0, 4.09, '770', '84', None, 'The thrilling story of Dr. Sophie Winston and her team of survivors continues in <i>Orbs II: Stranded</i>.<br /><br />The Organics continue to drain  ... (479 characters truncated) ...  her team has managed to create a magnetic weapon that just might give the human resistance a fighting chance—if they can live long enough to use it.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12032873
In insert_book_data, IntegrityError Exception for book_id:  15739726
In insert_book_data, IntegrityError Exception for book_id:  262359
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13072892', None, "A Father's Quest (What Zombies Fear, #1)", 159.0, 3.6, '644', '81', None, "When Victor Tookes went to work that beautiful spring day he never expected to see a man eaten in the street in front of his office. After convincing ... (305 characters truncated) ...  and his friends discover that not all zombies are created equal, some of them are smarter than others. Some of them are even able to pass for human.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3183874', '9792074481', '20th Century Boys, 19 (20th Century Boys, #19)', 230.0, 4.4, '909', '12', 'Elex Media Komputind', "Reads R to L (Japanese Style), for audiences T+. <p>Humanity, having faced extinction at the end of the 20th century, would not have entered the new  ... (483 characters truncated) ... any are buried nearby. Who can change this horrific situation and get through the checkpoint? And who or what could be waiting on the other side?</p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17978099
In insert_book_data, IntegrityError Exception for book_id:  9766649
In insert_book_data, IntegrityError Exception for book_id:  185829
In insert_book_data, IntegrityError Exception for book_id:  21463064
In insert_book_data, IntegrityError Exception for book_id:  386162
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('375802', '0812550706', "Ender's Game (Ender's Saga, #1)", 324.0, 4.3, '929529', '35605', 'TOR', 'Andrew "Ender" Wiggin thinks he is playing computer simulated war games; he is, in fact, engaged in something far more desperate. The result of genet ... (1208 characters truncated) ...  begin working together to shape the destiny of Earth-an Earth that has no future at all if their brother Ender fails.<br /><br />Source: hatrack.com')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('36381037', None, 'Cinder (The Lunar Chronicles, #1)', 400.0, 4.15, '97779', '4861', 'Feiwel & Friends', "<b>A forbidden romance.</b><br /><br /><b>A deadly plague.</b><br /><br /><b>Earth's fate hinges on one girl . . .</b><br /><br /><b>CINDER</b>, a gi ... (422 characters truncated) ... bout her mysterious past in order to protect Earth's future.<br /><br /><b>This is not the fairytale you remember. But it's one you won't forget.</b>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18007564
In insert_book_data, IntegrityError Exception for book_id:  39776179
In insert_book_data, IntegrityError Exception for book_id:  29579
In insert_book_data, IntegrityError Exception for book_id:  15839976
In insert_book_data, IntegrityError Exception for book_id:  13206760
In insert_book_data, IntegrityError Exception for book_id:  20758104
In insert_book_data, IntegrityError Exception for book_id:  13206828
In insert_book_data, IntegrityError Exception for book_id:  350
In insert_book_data, IntegrityError Exception for book_id:  41804
In insert_book_data, IntegrityError Exception for book_id:  8909
In insert_book_data, IntegrityError Exception for book_id:  13
In insert_book_data, IntegrityError Exception for book_id:  8235178
In insert_book_data, IntegrityError Exception for book_id:  13206900
In insert_book_data, IntegrityError Exception for book_id:  15704307
In insert_book_data, IntegrityError Exception for book_id:  76778
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('77566', '0553283685', 'Hyperion (Hyperion Cantos, #1)', 482.0, 4.23, '142560', '6108', 'Bantam Spectra', 'On the world called Hyperion, beyond the law of the Hegemony of Man, there waits the creature called the Shrike. There are those who worship it. Ther ... (622 characters truncated) ... th excitement and invention, the first volume in a remarkable new science fiction epic by the multiple-award-winning author of <i>The Hollow Man</i>.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8695
In insert_book_data, IntegrityError Exception for book_id:  7967
In insert_book_data, IntegrityError Exception for book_id:  8855321
In insert_book_data, IntegrityError Exception for book_id:  8694
In insert_book_data, IntegrityError Exception for book_id:  23395680
In insert_book_data, IntegrityError Exception for book_id:  17214
In insert_book_data, IntegrityError Exception for book_id:  18966819
In insert_book_data, IntegrityError Exception for book_id:  16131484
In insert_book_data, IntegrityError Exception for book_id:  36510196
In insert_book_data, IntegrityError Exception for book_id:  18423
In insert_book_data, IntegrityError Exception for book_id:  20518872
In insert_book_data, IntegrityError Exception for book_id:  455373
In insert_book_data, IntegrityError Exception for book_id:  21611
In insert_book_data, IntegrityError Exception for book_id:  9532
In insert_book_data, IntegrityError Exception for book_id:  13047090
In insert_book_data, IntegrityError Exception for book_id:  18966806

In insert_book_data, IntegrityError Exception for book_id:  61666
In insert_book_data, IntegrityError Exception for book_id:  29581
In insert_book_data, IntegrityError Exception for book_id:  13138635
In insert_book_data, IntegrityError Exception for book_id:  6091075
In insert_book_data, IntegrityError Exception for book_id:  33574273
In insert_book_data, IntegrityError Exception for book_id:  414999
In insert_book_data, IntegrityError Exception for book_id:  22816087
In insert_book_data, IntegrityError Exception for book_id:  8648
In insert_book_data, IntegrityError Exception for book_id:  61975
In insert_book_data, IntegrityError Exception for book_id:  22489107
In insert_book_data, IntegrityError Exception for book_id:  8659601
In insert_book_data, IntegrityError Exception for book_id:  30117284
In insert_book_data, IntegrityError Exception for book_id:  4982
In insert_book_data, IntegrityError Exception for book_id:  16690
In insert_book_data, IntegrityError Exception for book_id:  29580
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('112537', '1857231589', 'Rendezvous with Rama (Rama, #1)', 243.0, 4.08, '104743', '2441', None, "At first, only a few things are known about the celestial object that astronomers dub Rama. It is huge, weighing more than ten trillion tons. And it  ... (349 characters truncated) ... darkest fears. For no one knows who the Ramans are or why they have come. And now the moment of rendezvous awaits — just behind a Raman airlock door.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13651
In insert_book_data, IntegrityError Exception for book_id:  25733990
In insert_book_data, IntegrityError Exception for book_id:  16278318
In insert_book_data, IntegrityError Exception for book_id:  61179
In insert_book_data, IntegrityError Exception for book_id:  106
In insert_book_data, IntegrityError Exception for book_id:  12971616
In insert_book_data, IntegrityError Exception for book_id:  569429
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('40792913', None, 'Altered Carbon (Takeshi Kovacs, #1)', 544.0, 4.06, '7946', '512', 'Del Rey', "Four hundred years from now mankind is strung out across a region of interstellar space inherited from an ancient civilization discovered on Mars. Th ... (495 characters truncated) ... o discover who murdered his last body, Kovacs is drawn into a terrifying conspiracy that stretches across known space and to the very top of society.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16131489
In insert_book_data, IntegrityError Exception for book_id:  31360
In insert_book_data, IntegrityError Exception for book_id:  17333324
In insert_book_data, IntegrityError Exception for book_id:  112
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('46654', '0380508567', 'The Foundation Trilogy (Foundation, #1-3)', 679.0, 4.4, '78591', '919', None, "A THOUSAND-YEAR EPIC, A GALACTIC STRUGGLE, A MONUMENTAL WORK IN THE ANNALS OF SCIENCE FICTION <br /><br />FOUNDATION begins a new chapter in the stor ... (635 characters truncated) ... rain gone wild, which produces a mind capable of bending men's wills, directing their thoughts, reshaping their desires, and destroying the universe.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13644052
In insert_book_data, IntegrityError Exception for book_id:  70535
In insert_book_data, IntegrityError Exception for book_id:  6687
In insert_book_data, IntegrityError Exception for book_id:  25689074
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24830', '000712774X', 'The Illustrated Man', 186.0, 4.14, '56526', '1932', 'Voyager Classics / Harper Collins', 'That <i>The Illustrated Man</i> has remained in print since being published in 1951 is fair testimony to the universal appeal of Ray Bradbury\'s work ... (2146 characters truncated) ...  <br />· Zero Hour · ss Planet Stories Fll ’47 <br />· The Rocket [“Outcast of the Stars”] · ss Super Science Stories Mar ’50 <br />· Epilogue · aw *')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22733729
In insert_book_data, IntegrityError Exception for book_id:  8935689
In insert_book_data, IntegrityError Exception for book_id:  13055592
In insert_book_data, IntegrityError Exception for book_id:  13812
In insert_book_data, IntegrityError Exception for book_id:  25350
In insert_book_data, IntegrityError Exception for book_id:  20758103
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('77565', '0553288202', 'The Fall of Hyperion (Hyperion Cantos, #2)', 518.0, 4.2, '74967', '2455', 'Spectra Books', 'In the stunning continuation of the epic adventure begun in Hyperion, Simmons returns us to a far future resplendent with drama and invention. On the ... (14 characters truncated) ... rion, the mysterious Time Tombs are opening. And the secrets they contain mean that nothing--nothing anywhere in the universe--will ever be the same.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2845024
In insert_book_data, IntegrityError Exception for book_id:  77507
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('95558', None, 'Solaris', 204.0, 3.99, '49320', '1835', 'Harcourt', 'A classic work of science fiction by renowned Polish novelist and satirist Stanislaw Lem.<br /><br />When Kris Kelvin arrives at the planet Solaris t ... (407 characters truncated) ... sts to shift the focus of their quest and wonder if they can truly understand the universe without first understanding what lies within their hearts.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13644055
In insert_book_data, IntegrityError Exception for book_id:  12591698
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41811', '0586008357', 'The Caves of Steel (Robot #1)', 206.0, 4.16, '59475', '1436', 'Voyager', 'A millennium into the future two advancements have altered the course of human history: the colonization of the galaxy and the creation of the positr ... (649 characters truncated) ...  R. Daneel Olivaw. Worst of all was that the "R" stood for robot--and his positronic partner was made in the image and likeness of the murder victim!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  20758105
In insert_book_data, IntegrityError Exception for book_id:  10345927
In insert_book_data, IntegrityError Exception for book_id:  334176
In insert_book_data, IntegrityError Exception for book_id:  17131869
In insert_book_data, IntegrityError Exception for book_id:  357
In insert_book_data, IntegrityError Exception for book_id:  17332969
In insert_book_data, IntegrityError Exception for book_id:  433567
In insert_book_data, IntegrityError Exception for book_id:  29236299
In insert_book_data, IntegrityError Exception for book_id:  16130537

In insert_book_data, IntegrityError Exception for book_id:  9534
In insert_book_data, IntegrityError Exception for book_id:  33257757
In insert_book_data, IntegrityError Exception for book_id:  223380
In insert_book_data, IntegrityError Exception for book_id:  30013
In insert_book_data, IntegrityError Exception for book_id:  76683
In insert_book_data, IntegrityError Exception for book_id:  16131032
In insert_book_data, IntegrityError Exception for book_id:  77711
In insert_book_data, IntegrityError Exception for book_id:  169756
In insert_book_data, IntegrityError Exception for book_id:  40604754
In insert_book_data, IntegrityError Exception for book_id:  100365
In insert_book_data, IntegrityError Exception for book_id:  25499718
In insert_book_data, IntegrityError Exception for book_id:  19358975
In insert_book_data, IntegrityError Exception for book_id:  42432
In insert_book_data, IntegrityError Exception for book_id:  40395
In insert_book_data, IntegrityError Exception for book_id:  41821
In insert_book_data, IntegrityError Exception for book_id:  23677341
In insert_book_data, IntegrityError Exception for book_id:  17349203
In insert_book_data, IntegrityError Exception for book_id:  7059135
In insert_book_data, IntegrityError Exception for book_id:  23093367
In insert_book_data, IntegrityError Exception for book_id:  239399
In insert_book_data, IntegrityError Exception for book_id:  18656030
In insert_book_data, IntegrityError Exception for book_id:  18630
In insert_book_data, IntegrityError Exception for book_id:  13574417
In insert_book_data, IntegrityError Exception for book_id:  29582
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('333867', '0679767800', 'The Stars My Destination', 258.0, 4.12, '32367', '1806', None, 'In this pulse-quickening novel, Alfred Bester imagines a future in which people "jaunte" a thousand miles with a single thought, where the rich barri ... (160 characters truncated) ... >The Stars My Destination</i> is a classic of technological prophecy and timeless narrative enchantment by an acknowledged master of science fiction.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('20697435', '055341884X', 'The Book of Strange New Things', 500.0, 3.66, '17696', '2865', None, 'A monumental, genre-defying novel over ten years in the making, Michel Faber\'s The Book of Strange New Things is a masterwork from a writer in full  ... (1349 characters truncated) ... uch an international success, The Book of Strange New Things is extraordinary, mesmerizing, and replete with emotional complexity and genuine pathos.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  117
In insert_book_data, IntegrityError Exception for book_id:  234724
In insert_book_data, IntegrityError Exception for book_id:  19346451
In insert_book_data, IntegrityError Exception for book_id:  25667918
In insert_book_data, IntegrityError Exception for book_id:  509784
In insert_book_data, IntegrityError Exception for book_id:  24876258
In insert_book_data, IntegrityError Exception for book_id:  3220405
In insert_book_data, IntegrityError Exception for book_id:  23168817
In insert_book_data, IntegrityError Exception for book_id:  89187
In insert_book_data, IntegrityError Exception for book_id:  53764
In insert_book_data, IntegrityError Exception for book_id:  30134847
In insert_book_data, IntegrityError Exception for book_id:  24909347
In insert_book_data, IntegrityError Exception for book_id:  8306761
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18867493', None, 'Saga #1', None, 4.16, '43016', '1032', None, 'Star Wars-style action collides with Game of Thrones-esque drama in this original sci-fi/fantasy epic for mature readers, as new parents Marko and Alana risk everything to raise their child amidst a never-ending galactic war.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8647
In insert_book_data, IntegrityError Exception for book_id:  22886612
In insert_book_data, IntegrityError Exception for book_id:  30078567
In insert_book_data, IntegrityError Exception for book_id:  45252
In insert_book_data, IntegrityError Exception for book_id:  105
In insert_book_data, IntegrityError Exception for book_id:  70539
In insert_book_data, IntegrityError Exception for book_id:  10345937
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('216442', '0553560719', 'Dark Force Rising (Star Wars: The Thrawn Trilogy, #2)', 439.0, 4.15, '42012', '846', 'Del Rey Books', "The dying Empire's most cunning and ruthless warlord—Grand Admiral Thrawn—has taken command of the remnants of the Imperial fleet and launched a mass ... (320 characters truncated) ...  of all is a new Dark Jedi, risen from the ashes of a shrouded past, consumed by bitterness… and scheming to corrupt Luke Skywalker to the Dark Side.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  218427
In insert_book_data, IntegrityError Exception for book_id:  25451555
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('88071', '0765316978', "The Last Colony (Old Man's War #3)", None, 4.05, '34963', '1666', None, "Retired from his fighting days, John Perry is now village ombudsman for a human colony on distant Huckleberry. With his wife, former Special Forces w ... (278 characters truncated) ... all the major human worlds, for a deep political purpose that will put Perry and Sagan back in the thick of interstellar politics, betrayal, and war.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  3977
In insert_book_data, IntegrityError Exception for book_id:  76679
In insert_book_data, IntegrityError Exception for book_id:  100924
In insert_book_data, IntegrityError Exception for book_id:  133765
In insert_book_data, IntegrityError Exception for book_id:  25877663
In insert_book_data, IntegrityError Exception for book_id:  910863
In insert_book_data, IntegrityError Exception for book_id:  11289
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('216422', '0553564927', 'The Last Command (Star Wars: The Thrawn Trilogy, #3)', 467.0, 4.22, '37422', '861', 'Del Rey', "The embattled Republic reels from the attacks of Grand Admiral Thrawn, who has marshaled the remnants of the Imperial forces and driven the Rebels ba ... (798 characters truncated) ... the <i>Star Wars</i> expanded universe, and over half a dozen excerpts from some of the most popular <i>Star Wars</i> books of the last thirty years!")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24488476', None, 'The Fate of Ten (Lorien Legacies, #6)', None, 4.32, '22334', '1826', None, "The sixth book in the thrilling, action-packed, <em>New York Times</em> bestselling I Am Number Four series! For years the Garde have fought the Moga ... (502 characters truncated) ... r that had been hidden within our planet for generations. Now this power can save the world . . . or destroy it. It will all depend on who wields it.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30016', '0586010165', 'The Naked Sun (Robot #2)', 208.0, 4.15, '30660', '799', 'HarperCollins Publishers', 'A millennium into the future, two advancements have altered the course of human history: the colonization of the Galaxy and the creation of the posit ... (706 characters truncated) ... e of his robots - unthinkable under the laws of Robotics - or he was killed by the woman who loved him so much that she never came into his presence!')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45245', '0330340328', "The Reality Dysfunction (Night's Dawn, #1)", 1223.0, 4.14, '26165', '841', 'Pan Books', 'In AD 2600 the human race is finally beginning to realize its full potential. Hundreds of colonized planets scattered across the galaxy host a multit ... (641 characters truncated) ... h inhabited the galaxy aeons ago called it "The Reality Dysfunction." It is the nightmare which has prowled beside us since the beginning of history.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  35921
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('60929', '0446603775', 'Dawn (Xenogenesis, #1)', 248.0, 4.12, '18649', '1742', 'Warner Books', 'Lilith Iyapo has just lost her husband and son when atomic fire consumes Earth—the last stage of the planet’s final war. Hundreds of years later Lili ... (607 characters truncated) ... ass will grow, animals will run, and people will learn to survive the planet’s untamed wilderness. But their children will not be human. Not exactly.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  26836910
In insert_book_data, IntegrityError Exception for book_id:  29772863
In insert_book_data, IntegrityError Exception for book_id:  15847717
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('127586', '0345341678', 'The White Dragon (Pern, #3)', 423.0, 4.18, '35875', '625', 'Del Rey/Ballantine Books', "Jaxom, a rebellious young aristocrat, and Ruth, his white dragon, fly into another time to retrieve the queen's stolen egg, thereby averting a dragonrider war, and find their planet threatened once again by a Threadfall.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  250024
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('12007', '185723135X', 'Use of Weapons', 411.0, 4.19, '30623', '1293', None, 'Cheradenine is an ex-special circumstance agent who had been raised to eminence by a woman named Diziet. Skaffen-Amtiskaw, the drone, had saved her life and it believes Cheradenine to be a burnt-out case. But not even its machine intelligence can see the horrors in his past.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  35820633
In insert_book_data, IntegrityError Exception for book_id:  25451264
In insert_book_data, IntegrityError Exception for book_id:  127584
In insert_book_data, IntegrityError Exception for book_id:  41810
In insert_book_data, IntegrityError Exception for book_id:  13254289
In insert_book_data, IntegrityError Exception for book_id:  19090384
In insert_book_data, IntegrityError Exception for book_id:  61903
In insert_book_data, IntegrityError Exception for book_id:  20706284
In insert_book_data, IntegrityError Exception for book_id:  22323
In insert_book_data, IntegrityError Exception for book_id:  21793182
In insert_book_data, IntegrityError Exception for book_id:  48484
In insert_book_data, IntegrityError Exception for book_id:  9265453
In insert_book_data, IntegrityError Exception for book_id:  76740

In insert_book_data, IntegrityError Exception for book_id:  100933
In insert_book_data, IntegrityError Exception for book_id:  28862528
In insert_book_data, IntegrityError Exception for book_id:  14060046
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('14185', '1407247425', 'The Three Stigmata of Palmer Eldritch', 231.0, 4.01, '22883', '917', 'Gollancz', '<b>Dick at his wildest and strangest - a mystifying but brilliant book</b> - <i>SF: 100 Best Novels</i><br /><br />In the overcrowded world and cramp ... (298 characters truncated) ... tens to plunge the world into a permanent state of drugged illusion controlled by the mysterious Eldritch.<br /><br />Cover illustration: Chris Moore')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13821
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('889284', '0553278746', 'The Postman', 321.0, 3.88, '26715', '989', 'Spectra/Bantam Books', "This is the story of a lie that became the most powerful kind of truth.\xa0\xa0A timeless novel as urgently compelling as <i>War Day</i> or <i>Alas,  ... (467 characters truncated) ... \xa0The old, worn uniform still has power as a symbol of hope, and with it he begins to weave his greatest tale, of a nation on the road to recovery.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6359434
In insert_book_data, IntegrityError Exception for book_id:  16075962
In insert_book_data, IntegrityError Exception for book_id:  13138734
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('77505', '0553572393', 'Green Mars (Mars Trilogy, #2)', 624.0, 3.93, '27080', '701', 'Spectra Books', 'Terraformarea planetei Marte - un proiect grandios, o provocare extraordinara pentru om sau doar o joaca absurda si aroganta de-a Dumnezeu?<br /><br  ... (54 characters truncated) ... aneta rosie intr-un paradis al omenirii, insa tensiunile apar din doua directii: politica si ecologie. Eterna disputa transpusa acum pe alta planeta.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  359
In insert_book_data, IntegrityError Exception for book_id:  10174795
In insert_book_data, IntegrityError Exception for book_id:  23164927
In insert_book_data, IntegrityError Exception for book_id:  20454076
In insert_book_data, IntegrityError Exception for book_id:  414895
In insert_book_data, IntegrityError Exception for book_id:  2992061
In insert_book_data, IntegrityError Exception for book_id:  30269126
In insert_book_data, IntegrityError Exception for book_id:  149049
In insert_book_data, IntegrityError Exception for book_id:  3973
In insert_book_data, IntegrityError Exception for book_id:  24761
In insert_book_data, IntegrityError Exception for book_id:  353
In insert_book_data, IntegrityError Exception for book_id:  23197269
In insert_book_data, IntegrityError Exception for book_id:  11115434
In insert_book_data, IntegrityError Exception for book_id:  32827
In insert_book_data, IntegrityError Exception for book_id:  279561
In insert_book_data, IntegrityError Exception for book_id:  226004
In insert_book_data, IntegrityError Exception for book_id:  8100267
In insert_book_data, IntegrityError Exception for book_id:  99245
In insert_book_data, IntegrityError Exception for book_id:  77504
In insert_book_data, IntegrityError Exception for book_id:  7171856
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('112292', '0441014186', 'Dauntless (The Lost Fleet, #1)', 283.0, 3.94, '21309', '1211', 'Ace Books', 'The Alliance has been fighting the Syndics for a century--and losing badly. Now its fleet is crippled and stranded in enemy territory. Their only hop ... (628 characters truncated) ...  safely home is the Alliance\'s one chance to win the war. But to do that, Geary will have to live up to the impossibly heroic "Black Jack" legend...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  19208103
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2102600', '0765316986', "Zoe's Tale (Old Man's War, #4)", 335.0, 3.74, '19362', '1289', None, "How do you tell your part in the biggest tale in history?<br /><br />I ask because it's what I have to do. I'm Zoe Boutin Perry: A colonist stranded  ... (630 characters truncated) ... hat happened, bringing us to Earth, and Earth out of its captivity. All through my eyes.<br /><br />It's a story you know. But you don't know it all.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  465904
In insert_book_data, IntegrityError Exception for book_id:  7562764
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('841628', '0330316117', "The Hitchhiker's Guide to the Galaxy: A Trilogy in Four Parts", 590.0, 4.51, '30702', '375', 'Pan Books', '<i>Charting the whole of Arthur Dent\'s odyssey through space are:</i><br /><br />THE HITCHHIKER\'S GUIDE TO THE GALAXY.<br />One Thursday lunchtime  ... (1387 characters truncated) ... people will find oddly familiar. They go in search of God\'s Final Message to His Creation and, in a dramatic break with tradition, actually find it.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11830394
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('76688', '0586062009', 'Robots and Empire (Robot #4)', 512.0, 4.19, '21180', '382', 'Voyager', "Long after his humiliating defeat at the hands of Earthman Elijah Baley, Keldon Amadiro embarked on a plan to destroy planet Earth. But even after hi ... (13 characters truncated) ... y's vision continued to guide his robot partner, R. Daneel Olivaw, who had the wisdom of a great man behind him and an indestructable will to win....")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45244', '0345461665', 'Judas Unchained', 827.0, 4.31, '23855', '803', None, "Robust, peaceful, and confident, the Commonwealth dispatched a ship to investigate the mystery of a disappearing star, only to inadvertently unleash  ... (1254 characters truncated) ...  a brutal invader striking from without, the other a remorseless cancer killing from within, the fractious Commonwealth must unite as never before...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  234501
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35816', '0586203192', '2061: Odyssey Three (Space Odyssey, #3)', 302.0, 3.55, '20147', '436', 'Voyager', "Arthur C. Clarke, creator of one of the world's best-loved science fiction tales, revisits the most famous future ever imagined in this NEW YORK TIME ... (245 characters truncated) ... o play a part in the evolution of the galaxy whether it wishes to or not. --This text refers to an out of print or unavailable edition of this title.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29397', '0345479718', 'Woken Furies (Takeshi Kovacs, #3)', None, 4.06, '18398', '578', None, "This is high action, ideas driven noir SF of the highest order. Morgan has already established himself as an SF author of global significance.<br />< ... (898 characters truncated) ... ist Falconer is back from the dead, they say and hunting her down for the First Families is a savage young Envoy called Kovacs who's been in storage.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  96472
In insert_book_data, IntegrityError Exception for book_id:  61181

In insert_book_data, IntegrityError Exception for book_id:  17208
In insert_book_data, IntegrityError Exception for book_id:  20417
In insert_book_data, IntegrityError Exception for book_id:  12844575
In insert_book_data, IntegrityError Exception for book_id:  23278532
In insert_book_data, IntegrityError Exception for book_id:  25446297
In insert_book_data, IntegrityError Exception for book_id:  840278
In insert_book_data, IntegrityError Exception for book_id:  60932
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('866136', '0345496531', 'The Dreaming Void', 630.0, 4.18, '18254', '638', None, 'The year is 3589, fifteen hundred years after Commonwealth forces barely staved off human extinction in a war against the alien Prime. Now an even gr ... (1492 characters truncated) ... s–while within the Void, a supreme entity has turned its gaze, for the first time, outward. . . .<br /><br /><br /><i>From the Hardcover edition.</i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  31423196
In insert_book_data, IntegrityError Exception for book_id:  7937744
In insert_book_data, IntegrityError Exception for book_id:  23264825
In insert_book_data, IntegrityError Exception for book_id:  886066
In insert_book_data, IntegrityError Exception for book_id:  13138736
In insert_book_data, IntegrityError Exception for book_id:  17863
In insert_book_data, IntegrityError Exception for book_id:  47701
In insert_book_data, IntegrityError Exception for book_id:  12013
In insert_book_data, IntegrityError Exception for book_id:  63432
In insert_book_data, IntegrityError Exception for book_id:  12016
In insert_book_data, IntegrityError Exception for book_id:  348
In insert_book_data, IntegrityError Exception for book_id:  203288
In insert_book_data, IntegrityError Exception for book_id:  112520
In insert_book_data, IntegrityError Exception for book_id:  61958
In insert_book_data, IntegrityError Exception for book_id:  60926
In insert_book_data, IntegrityError Exception for book_id:  8901953
In insert_book_data, IntegrityError Exception for book_id:  234489
In insert_book_data, IntegrityError Exception for book_id:  89190
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24870', '0552142743', 'The Masterharper of Pern (Pern, #15)', 462.0, 4.23, '19394', '212', 'Corgi', "MasterSinger Merelan and Harper Petiron were a brilliant and devoted couple. Merelan was the most outstanding soprano ever heard on Pern, and was oft ... (803 characters truncated) ... arper, he became part of the great plan to rescue Lessa from the brutal rule of Holder Fax - Lessa, who was to be the saviour of the dragons of Pern.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61906', '0743468406', "The Warrior's Apprentice (Vorkosigan Saga, #2)", 372.0, 4.29, '18034', '830', 'Earthlight', 'Between the seemingly impossible tasks of living up to his warrior-father\'s legend and surmounting his own physical limitations, Miles Vorkosigan fa ... (288 characters truncated) ... identity for himself as the commander of his own mercenary fleet to obtain a lucrative cargo; a shipment of weapons destined for a dangerous warzone.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  61905
In insert_book_data, IntegrityError Exception for book_id:  25843453
In insert_book_data, IntegrityError Exception for book_id:  26529699
In insert_book_data, IntegrityError Exception for book_id:  10016013
In insert_book_data, IntegrityError Exception for book_id:  59780
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('112518', '1857230213', 'The Garden of Rama (Rama, #3)', 593.0, 3.78, '18162', '234', 'Orbit', 'In the year 2130 a mysterious spaceship, Rama, arrived in the solar system. It was huge - big enough to contain a city and a sea - and empty, apparen ... (608 characters truncated) ...  voyage no human has ever experienced. And at the end of it - and who could tell how many years away that might be? - may lie the truth about Rama...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  237665
In insert_book_data, IntegrityError Exception for book_id:  16685
In insert_book_data, IntegrityError Exception for book_id:  761575
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('60229', '0345451325', 'Halo: The Fall of Reach', None, 4.26, '16463', '901', None, 'As the bloody Human-Covenant War rages on Halo, the fate of humankind may rest with one warrior, the lone SPARTAN survivor of another legendary battl ... (1134 characters truncated) ...  at least one of them--the SPARTAN known as Master Chief--will live to fight another day on a mysterious and ancient, artificial world called Halo...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15790894
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('4808763', '1884214495', 'The Last Question', 9.0, 4.58, '14371', '773', 'Ziggurat Productions', 'The last question was asked for the first time, half in jest, on May 21, 2061, at a time when humanity first stepped into the light. The question came about as a result of a five dollar bet over highballs, and it happened this way ...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  61926
In insert_book_data, IntegrityError Exception for book_id:  3246224
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('7081', '0765309416', "The Android's Dream", 396.0, 3.97, '13527', '1220', None, "<div>A human diplomat kills his alien counterpart. Earth is on the verge of war with a vastly superior alien race. A lone man races against time and  ... (926 characters truncated) ... igence with unusual backstory, and you've got more than just your usual science fiction adventure story. You've got <i>The Android's Dream.</i></div>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  372299
In insert_book_data, IntegrityError Exception for book_id:  12009
In insert_book_data, IntegrityError Exception for book_id:  19504964
In insert_book_data, IntegrityError Exception for book_id:  89185
In insert_book_data, IntegrityError Exception for book_id:  13497991
In insert_book_data, IntegrityError Exception for book_id:  21618
In insert_book_data, IntegrityError Exception for book_id:  102327
In insert_book_data, IntegrityError Exception for book_id:  17316770
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35430', '0345477367', 'Path of Destruction (Star Wars: Darth Bane, #1)', 324.0, 4.27, '15687', '813', 'Del Rey Books', "<i>Once the Sith order teemed with followers. But their rivalries divided them in endless battles for supremacy. Until one Dark Lord at last united t ... (1864 characters truncated) ... tten wisdom of the very first Sith can Bane hope to triumph--and forge from the ashes of that which he must destroy a new era of absolute dark power.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  26771521
In insert_book_data, IntegrityError Exception for book_id:  41820
In insert_book_data, IntegrityError Exception for book_id:  99219
In insert_book_data, IntegrityError Exception for book_id:  11861715
In insert_book_data, IntegrityError Exception for book_id:  28756485

In insert_book_data, IntegrityError Exception for book_id:  61915
In insert_book_data, IntegrityError Exception for book_id:  222093
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('19504931', None, 'Under Different Stars (Kricket, #1)', None, 4.21, '11305', '1290', None, 'All she wants is a home, but can she find one…UNDER DIFFERENT STARS<br /><br />Kricket Hollowell is normally not one to wish upon stars; she believes ... (886 characters truncated) ... in order to make her his own.<br /><br />When everything in their world can be broken, will Kricket rely upon love to save her under different stars?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  27405160
In insert_book_data, IntegrityError Exception for book_id:  175324
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('769658', None, 'Battlefield Earth: A Saga of the Year 3000', 1050.0, 3.51, '12705', '875', 'Galaxy Press', '<b>\n  <i>"Nonstop and fast-paced. Every paragraph has a big bang-up adventure."</i>\n</b>—Kevin J. Anderson<br /><br /><b>Suspense, thrills, action  ... (233 characters truncated) ... ght of the alien Psychlo empire in a battle of epic scale, danger and intrigue with the fate of the Earth and of the universe in the tenuous balance.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25546167
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1828067', '0441015999', 'Grimspace (Sirantha Jax, #1)', 312.0, 3.73, '11743', '1323', 'Ace Berkley Penguin', "As the carrier of a rare gene, Sirantha Jax has the ability to jump ships through grimspace-a talent which makes her a highly prized navigator for th ... (83 characters truncated) ... th no memory of the crash. But her fun's not over. A group of rogue fighters frees her...for a price: her help in overthrowing the established order.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  41822
In insert_book_data, IntegrityError Exception for book_id:  10439221
In insert_book_data, IntegrityError Exception for book_id:  6434232
In insert_book_data, IntegrityError Exception for book_id:  7957
In insert_book_data, IntegrityError Exception for book_id:  7438179
In insert_book_data, IntegrityError Exception for book_id:  68483
In insert_book_data, IntegrityError Exception for book_id:  3437328
In insert_book_data, IntegrityError Exception for book_id:  16067008
In insert_book_data, IntegrityError Exception for book_id:  175319
In insert_book_data, IntegrityError Exception for book_id:  536478
In insert_book_data, IntegrityError Exception for book_id:  5052
In insert_book_data, IntegrityError Exception for book_id:  29090844
In insert_book_data, IntegrityError Exception for book_id:  34941
In insert_book_data, IntegrityError Exception for book_id:  10744752
In insert_book_data, IntegrityError Exception for book_id:  16071187
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('841973', '0345324390', 'The Gods of Mars (Barsoom #2)', 190.0, 3.87, '11961', '652', 'Random House Ballantine Del Rey', 'After the long exile on Earth, John Carter finally returned to his beloved Mars. But beautiful Dejah Thoris, the woman he loved, had vanished. Now he was trapped in the legendary Eden of Mars -- an Eden from which none ever escaped alive.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16948
In insert_book_data, IntegrityError Exception for book_id:  6285903
In insert_book_data, IntegrityError Exception for book_id:  1199688
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('17928853', None, 'The New World (Chaos Walking, #0.5)', 36.0, 3.88, '580', '83', None, "<b>The New World</b> is the story of how Viola came to where we found her in <b>\n  <i>The Knife of Never Letting Go</i>\n</b>.<br /><br />It is best ... (3 characters truncated) ... ad immediately after that book because there are hints of things to come.<br /><br />(I'm always hinting at things to come; it's fun). - Patrick Ness")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  77787
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45260', '0333725034', "The Naked God (Night's Dawn, #3)", 1174.0, 4.21, '14184', '282', 'Macmillan', 'The Confederation is starting to collapse politically and economically, allowing the "possessed" to infiltrate more worlds. Quinn Dexter is loose on  ... (540 characters truncated) ... ieves holds the key to overthrowing the possessed. The Naked God is the brilliant climax to Peter F. Hamilton\'s awe-inspiring Night\'s Dawn trilogy.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17838475
In insert_book_data, IntegrityError Exception for book_id:  653711
In insert_book_data, IntegrityError Exception for book_id:  61909
In insert_book_data, IntegrityError Exception for book_id:  81992
In insert_book_data, IntegrityError Exception for book_id:  479561
In insert_book_data, IntegrityError Exception for book_id:  17563539
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9549', '0553574132', 'Shadows of the Empire (Star Wars)', 385.0, 3.82, '14078', '385', 'Bantam Spectra', 'Here is the untold story of the events that took place between the movies <i>The Empire Strikes Back</i> and <i>Return of the Jedi</i>: a novel in wh ... (576 characters truncated) ... r. Suddenly Luke finds himself the potential prize of the two most evil entities in the galaxy--one who wants him alive...and one who wants him dead.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  355
In insert_book_data, IntegrityError Exception for book_id:  9447878
In insert_book_data, IntegrityError Exception for book_id:  20082
In insert_book_data, IntegrityError Exception for book_id:  12017
In insert_book_data, IntegrityError Exception for book_id:  89184
In insert_book_data, IntegrityError Exception for book_id:  57045
In insert_book_data, IntegrityError Exception for book_id:  77786
In insert_book_data, IntegrityError Exception for book_id:  96463
In insert_book_data, IntegrityError Exception for book_id:  121581
In insert_book_data, IntegrityError Exception for book_id:  92956
In insert_book_data, IntegrityError Exception for book_id:  139986
In insert_book_data, IntegrityError Exception for book_id:  103111
In insert_book_data, IntegrityError Exception for book_id:  20249
In insert_book_data, IntegrityError Exception for book_id:  127567
In insert_book_data, IntegrityError Exception for book_id:  16059350
In insert_book_data, IntegrityError Exception for book_id:  85434

In insert_book_data, IntegrityError Exception for book_id:  96594
In insert_book_data, IntegrityError Exception for book_id:  22321
In insert_book_data, IntegrityError Exception for book_id:  18194
In insert_book_data, IntegrityError Exception for book_id:  525304
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('117842', '0007115865', 'The Songs of Distant Earth', 256.0, 3.9, '8992', '298', 'Voyager Classics', 'Just a few islands in a planetwide ocean, Thalassa was a veritable paradise—home to one of the small colonies founded centuries before by robot Mothe ... (333 characters truncated) ... arrying one million refugees from the last, mad days on Earth. And suddenly uncertainty and change had come to the placid paradise that was Thalassa.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  337132
In insert_book_data, IntegrityError Exception for book_id:  3972
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('760110', '0553297988', 'Jedi Search (Star Wars: The Jedi Academy Trilogy, #1)', 355.0, 3.65, '13487', '234', 'Bantam Spectra Books', 'As the war between the Republic and the scattered remnants of the Empire continues, two children--the Jedi twins--will come into their powers in a un ... (697 characters truncated) ... e out an entire solar system. It is a death ship called the Sun Crusher, invented by a reclusive genius and piloted by none other than Han himself...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  302625
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('513176', '0553568019', 'Rogue Squadron (Star Wars: X-Wing, #1)', 386.0, 4.03, '12609', '331', 'Del Rey Books', 'They are sleek, swift, and deadly. The are the X-wing fighters. And as the struggle rages across the vastness of space, the fearless men and women wh ... (744 characters truncated) ... d to assist in the assault on the heavily fortified Imperial stronghold of Black Moon, even the bravest must wonder if any at all will survive. . . .')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  61938
In insert_book_data, IntegrityError Exception for book_id:  20253
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1347837', '0345477480', 'Rule of Two (Star Wars: Darth Bane, #2)', 318.0, 4.18, '12229', '416', 'Del Rey Books', 'In the New York Times bestseller Darth Bane: Path of Destruction, Drew Karpyshyn painted a gripping portrait of a young mans journey from innocence t ... (1395 characters truncated) ... ed visions to a moon where he will acquire astonishing new knowledge and power, power that will alter him in ways he could never have imagined. . . .')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  77736
In insert_book_data, IntegrityError Exception for book_id:  64732
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('422452', '1857230310', 'Against a Dark Background', 480.0, 4.1, '11817', '236', 'Orbit', 'She came from one of the more disreputable aristocratic families.<br /><br />Sharrow was once the leader of a personality-attuned combat team in one  ... (822 characters truncated) ... n be found on <a target="_blank" href="http://www.culturelist.org/cdr/article.cfm?id=142" rel="nofollow">http://www.culturelist.org/cdr/articl...</a>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  625603
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('599090', '1857239407', 'A New Hope  (Star Wars: Novelizations, #4)', 247.0, 4.07, '11215', '253', 'Orbit', "<blockquote>\n  <b>Luke Skywalker challenged the stormtroopers of a distant galaxy on a daring mission - where a force of life became the power of de ... (674 characters truncated) ... e of the most savage space war ever ... and he was headed straight for a desperate encounter on the enemy battle station known as the Death Star!</p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  192214
In insert_book_data, IntegrityError Exception for book_id:  2049823
In insert_book_data, IntegrityError Exception for book_id:  12886599
In insert_book_data, IntegrityError Exception for book_id:  88072
In insert_book_data, IntegrityError Exception for book_id:  127566
In insert_book_data, IntegrityError Exception for book_id:  74586
In insert_book_data, IntegrityError Exception for book_id:  18490707
In insert_book_data, IntegrityError Exception for book_id:  504369
In insert_book_data, IntegrityError Exception for book_id:  129131
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('32260', '0006513085', 'Gravity', 342.0, 4.04, '7997', '587', 'HarperCollins Publishers', "An experiment on micro-organisms conducted in space goes wrong. The cells begin to infect the crew with deadly results. Emma Watson struggles to contain the deadly microbe while her husband and NASA try to retrieve her from space, before it's too late.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  29587
In insert_book_data, IntegrityError Exception for book_id:  20252
In insert_book_data, IntegrityError Exception for book_id:  1194366
In insert_book_data, IntegrityError Exception for book_id:  16689
In insert_book_data, IntegrityError Exception for book_id:  89186
In insert_book_data, IntegrityError Exception for book_id:  104342
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('566429', '0061056383', "Foundation's Fear (Second Foundation Trilogy #1)", 608.0, 3.84, '10255', '106', 'Eos', 'Isaac Asimov\'s Foundation Trilogy is one of the high-water marks of science fiction. It is the monumental story of a Galactic Empire in decline, and ... (639 characters truncated) ... ill developing the science that will transform history, never dreaming that it will ultimately pit him against future history\'s most awesome threat.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  40379
In insert_book_data, IntegrityError Exception for book_id:  40293
In insert_book_data, IntegrityError Exception for book_id:  42434
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22566044', None, 'Fluency (Confluence, #1)', None, 3.81, '9029', '851', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  240617
In insert_book_data, IntegrityError Exception for book_id:  8704
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('112517', '1857232526', 'Rama Revealed (Rama, #4)', 512.0, 3.74, '9966', '212', None, "Rama Revealed (1993) is a science fiction novel by Arthur C. Clarke and Gentry Lee. It is the last of three sequels to Clarke's Rendezvous with Rama  ... (71 characters truncated) ...  of The Garden of Rama. The book follows the story of Nicole Wakefield and her escape from imprisonment left at the cliffhanger of the previous book.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6351910
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1372055', '0441015670', 'Courageous (The Lost Fleet, #3)', 299.0, 3.97, '12404', '320', None, '<b>The Lost Fleet continues its perilous journey home.</b> <br /><br /> Badly damaged and low on supplies, the Alliance Fleet is raiding Syndic mines ... (104 characters truncated) ... eir enemies. But the Syndics are the least of Geary\'s worries when he learns of the existence of aliens with the power to annihilate the human race.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45258', '0330480065', 'Fallen Dragon', 808.0, 4.07, '10122', '260', None, "Deploying invulnerable twenty-fifth-century soldiers called Skins, Zantiu-Braun's corporate starships loot entire planets. But as the Skins invade bu ... (446 characters truncated) ... mysterious treasure, the three players engage in a private war that will explode into unimaginable quests for personal grace...or galactic domination")] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  35458
In insert_book_data, IntegrityError Exception for book_id:  61899
In insert_book_data, IntegrityError Exception for book_id:  61974
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('161540', '0553569376', 'The Courtship of Princess Leia (Star Wars)', 374.0, 3.59, '11613', '377', 'Bantam Spectra', 'Seeking rich, powerful allies to bring into the Rebel Alliance and a new home planet for the refugees of her native Alderaan, Princess Leia considers ... (592 characters truncated) ... the <i>Star Wars</i> expanded universe, and over half a dozen excerpts from some of the most popular <i>Star Wars</i> books of the last thirty years!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12962345
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9424053', '0575088273', "Blue Remembered Earth (Poseidon's Children, #1)", 512.0, 3.87, '7363', '572', 'Orion Publishing Group', "BLUE REMEMBERED EARTH is the first volume in a monumental trilogy tracing the Akinya family across more than ten thousand years of future history...o ... (968 characters truncated) ... crets she died with are about to come back out into the open, and they could change everything.<br /><br />Or shatter this near-utopia into shards...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13079147
In insert_book_data, IntegrityError Exception for book_id:  77739
In insert_book_data, IntegrityError Exception for book_id:  398916
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('760111', '0553297996', 'Dark Apprentice (Star Wars: The Jedi Academy Trilogy, #2)', 368.0, 3.63, '11839', '142', 'Bantam Spectra Books', "As the New Republic takes devastating losses in the ongoing war with the scattered remnants of the Empire, the galaxy's future depends on three small ... (729 characters truncated) ... imself. Working together, they may become an enemy greater than any the New Republic has ever fought… more powerful than even a Jedi Master can face.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  284658
In insert_book_data, IntegrityError Exception for book_id:  8428985
In insert_book_data, IntegrityError Exception for book_id:  76812
In insert_book_data, IntegrityError Exception for book_id:  296182
In insert_book_data, IntegrityError Exception for book_id:  697251
In insert_book_data, IntegrityError Exception for book_id:  99218
In insert_book_data, IntegrityError Exception for book_id:  122914
In insert_book_data, IntegrityError Exception for book_id:  13518102
In insert_book_data, IntegrityError Exception for book_id:  116356
In insert_book_data, IntegrityError Exception for book_id:  77740
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('392566', '0575075287', 'The Space Merchants (The Space Merchants, #1)', 186.0, 3.87, '7535', '314', 'Orion Publishing Group Ltd', '<i>An alternate cover edition can be found <a href="https://www.goodreads.com/book/show/29624025-the-space-merchants" rel="nofollow">here</a>.</i><br ... (691 characters truncated) ... e sections, starting where the other left off, and through long experience they developed an almost telepathic awareness of each other\'s intentions.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('156785', '3453161815', 'Diaspora', 443.0, 4.13, '4839', '352', 'Heyne', 'By the end of the 30th century humanity has the capability to travel the universe, to journey beyond earth and beyond the confines of the vulnerable  ... (655 characters truncated) ... Of the discovery of an alien race and of a kink in time that means humanity — whatever form it takes — will never again be threatened by acts of God.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30628', '068483118X', 'Space Trilogy: Out of the Silent Planet / Perelandra / That Hideous Strength', None, 4.12, '6691', '245', None, "The Cosmic Trilogy relates the interplanetary travels of Ransom, C.S. Lewis's ill-informed and terrified victim who leaves Earth much against his wil ... (738 characters truncated) ...  of his age, and in The Cosmic Trilogy he ransacks the uncharted territory of space and makes that mythology the medium of his spiritual imagination.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16683
In insert_book_data, IntegrityError Exception for book_id:  13583463
In insert_book_data, IntegrityError Exception for book_id:  34521
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('513207', '055329802X', 'Champions of the Force (Star Wars: The Jedi Academy Trilogy, #3)', 368.0, 3.67, '11299', '138', 'Bantam Spectra Books', "Suspended helplessly between life and death, Luke Skywalker lies in state at the Jedi academy. But on the spirit plane, Luke fights desperately for s ... (570 characters truncated) ... a suicide mission against the awesome Death Star prototype -- a battle Han knows they may be unable to win... even with Luke Skywalker at their side!")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24358527', None, 'Angles of Attack (Frontlines, #3)', None, 4.1, '10174', '408', None, '<p>The alien forces known as the Lankies are gathering on the solar system’s edge, consolidating their conquest of Mars and setting their sights on E ... (813 characters truncated) ...  with no way out and no hope for reinforcement. And this time, the struggle for humanity’s future can only end in either victory or annihilation.</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  716329
In insert_book_data, IntegrityError Exception for book_id:  177927
In insert_book_data, IntegrityError Exception for book_id:  600349
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('238961', '0345316002', 'Killashandra (Crystal Singer #2)', 384.0, 4.02, '11692', '172', 'Random House Inc', "At first Killashandra Ree's ambitions to become a Crystal Singer, get rich, and forget her past, were going just as she had hoped. But after she grew ... (87 characters truncated) ... broke, she had crystal sickness so bad she thought she was going to die, and the only way she could be true to the man she loved was to leave him....")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('72199', '0765315009', 'Off Armageddon Reef (Safehold, #1)', 605.0, 4.13, '8331', '497', None, 'Humanity pushed its way to the stars - and encountered the Gbaba, a ruthless alien race that nearly wiped us out.<br /><br />Earth and her colonies a ... (1542 characters truncated) ... ce Cayleb, and maybe, just maybe, kick off a new era of invention. Which is bound to draw the attention of the Church...and, inevitably, lead to war.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('758654', '0553506021', 'I, Jedi (Star Wars)', 464.0, 3.99, '10003', '206', None, "New York Times bestselling author Michael A. Stackpole presents a stirring new tale set in the Star Wars® universe: the dramatic story of a heroic X- ... (1008 characters truncated) ...  <i>Star Wars</i> books of the last thirty years!<br /><br /><br />© 1999 Lucasfilm Ltd. &amp; TM<br />All rights reserved. Used under authorization.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17866
In insert_book_data, IntegrityError Exception for book_id:  77741
In insert_book_data, IntegrityError Exception for book_id:  10148930
In insert_book_data, IntegrityError Exception for book_id:  116249
In insert_book_data, IntegrityError Exception for book_id:  7841670
In insert_book_data, IntegrityError Exception for book_id:  61900
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('14150', '1930846452', 'The Jennifer Morgue (Laundry Files, #2)', 313.0, 4.04, '8991', '491', 'Golden Gryphon Press', 'Bob Howard, from The Laundry, secret UK agency against evil forces, narrates boarding yacht of Ellis Billington for Gravedust device that talks with  ... (77 characters truncated) ... . U.S. Black Chamber sends lethal Ramona Random, in conflict with her bosses. Includes: <i>Pimpf</i> tale - Bob in virtual game; Afterword; Glossary.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  77738
In insert_book_data, IntegrityError Exception for book_id:  192523
In insert_book_data, IntegrityError Exception for book_id:  12998057
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41823', '0451450647', 'Robot Visions', 496.0, 4.22, '7385', '145', 'RoC', 'From Isaac Asimov, the Hugo Award-winning Grand Master of Science Fiction whose name is synonymous with the science of robotics, comes five decades o ... (2480 characters truncated) ... 1987); The Sense of Humor (1988); Robots in Combination (1988).<br /><br />The volume features many black-and-white illustrations by Ralph McQuarrie.')] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  15762770
In insert_book_data, IntegrityError Exception for book_id:  13931214
In insert_book_data, IntegrityError Exception for book_id:  61884
In insert_book_data, IntegrityError Exception for book_id:  50856
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41818', '0441011837', 'Robot Dreams (Robot #0.4)', None, 4.14, '7740', '210', None, "Robot Dreams collects 21 of Isaac Asimov's short stories spanning the body of his fiction from the 1940s to the 1980s----exploring not only the future of technology, but the future of humanity's maturity and growth.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('302618', '0553568728', 'The Truce at Bakura (Star Wars)', 341.0, 3.41, '10007', '237', 'Bantam Spectra', "No sooner has Darth Vader's funeral pyre burned to ashes on Endor than the Alliance intercepts a call for help from a far-flung Imperial outpost. Bak ... (1465 characters truncated) ...  hope for peace, sees the formation of a timeless love, and stands witness to a Jedi's undying sacrifice to defend Humanity against an alien nemesis.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25128811', None, 'Ice Planet Barbarians (Ice Planet Barbarians, #1)', 188.0, 3.91, '10190', '1106', None, "You'd think being abducted by aliens would be the worst thing that could happen to me. And you'd be wrong. Because now, the aliens are having ship tr ... (53 characters truncated) ... including me - on an ice planet.<br /><br />And the only native inhabitant I've met? He's big, horned, blue, and really, really has a thing for me...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6395945
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25422', '0552144959', 'The Loop', 511.0, 3.91, '8825', '516', None, 'Helen Ross is a 29-year-old biologist, sent into a hostile place to protect the wolves from those who seek to destroy them. She struggles for surviva ... (1 characters truncated) ...  and for self-esteem, embarking on a love affair with the 18-year-old son of her most powerful opponent, brutal and charismatic rancher, Buck Calder.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  14743784
In insert_book_data, IntegrityError Exception for book_id:  990093
In insert_book_data, IntegrityError Exception for book_id:  99220
In insert_book_data, IntegrityError Exception for book_id:  30140756
In insert_book_data, IntegrityError Exception for book_id:  50877
In insert_book_data, IntegrityError Exception for book_id:  8585924
In insert_book_data, IntegrityError Exception for book_id:  231599
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('64394', '1857984986', 'The Stainless Steel Rat (Stainless Steel Rat, #4)', 208.0, 3.93, '11252', '307', 'Orion', 'In the vastness of space, the crimes just get bigger and Slippery Jim diGriz, the Stainless Steel Rat, is the biggest criminal of them all. He can con humans, aliens and any number of robots time after time. Jim is so slippery that all the inter-galactic cops can do is make him one of their own')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29869384', None, 'Close Liaisons (The Krinar Chronicles, #1)', 320.0, 3.71, '1450', '134', 'Mozaika', '<i>A dark and edgy romance that will appeal to fans of erotic and turbulent relationships\xa0.\xa0.\xa0.</i><br /><br />In the near future, the Krina ... (840 characters truncated) ... /><i>This is an alternate cover edition for <a href="https://www.goodreads.com/book/show/16070990-close-liaisons" rel="nofollow">B009MNXWMO</a>. </i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('77111', '0345283929', 'The Empire Strikes Back (Star Wars: Novelizations, #5)', 214.0, 4.11, '9689', '185', 'Del Rey/Ballantine Books', '„Episode V - Das Imperium schlägt zurück“: der Roman zum zweiten Film der größten Saga aller Zeiten<br /><br />Im zweiten Teil der Star-Wars-Saga kämpfen Luke Skywalker, Prinzessin Leia, Han Solo und ihre Gefährten gegen die Schergen des tyrannischen Imperators und den unheimlichen Darth Vader.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('373399', '0345446674', 'Beyond the Blue Event Horizon (Heechee Saga, #2)', None, 3.95, '10531', '174', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7971
In insert_book_data, IntegrityError Exception for book_id:  6735215
In insert_book_data, IntegrityError Exception for book_id:  20977124
In insert_book_data, IntegrityError Exception for book_id:  34493
In insert_book_data, IntegrityError Exception for book_id:  64467
In insert_book_data, IntegrityError Exception for book_id:  94798
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61959', '0552137642', 'Damia (The Tower and the Hive, #2)', 380.0, 4.0, '10041', '139', 'Corgi', "Of all the Rowan's children, Damia was the most brilliant and the one who inherited the Talent. It was obvious that she would be a Prime. As Damia grew up, her Talent became almost too strong to control, and the only solution was to send her to the planet of Deneb, to her strange grandmother.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  60934
In insert_book_data, IntegrityError Exception for book_id:  278280
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61901', '0743468023', 'Diplomatic Immunity (Vorkosigan Saga, #13)', 367.0, 4.18, '10448', '312', 'Earthlight', "A rich Komarran merchant fleet has been impounded at Graf Station, in distant Quaddiespace, after a bloody incident on the station docks involving a  ... (672 characters truncated) ...  time for life against death in horrifying new forms.<br /><br />The downside of being a troubleshooter comes when trouble starts shooting back . . .")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61880', '2290052302', 'Memory (Vorkosigan Saga, #10)', 509.0, 4.45, '11386', '384', "J'ai lu", 'Forced to abandon his undercover role as leader of the Dendarii Mercenaries, Miles Vorkosigan persuades Emperor Gregor to appoint him Imperial Audito ... (233 characters truncated) ... ind Illyan’s rapid decline. Library Journal calls Miles “one of the genre’s most enterprising and engaging heroes”. A Hugo and Nebula Award finalist.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6436659
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('427353', '0553295098', 'The Gap Into Conflict: The Real Story (Gap, #1)', 241.0, 3.72, '7920', '345', 'Spectra', "Author of <i>The Chronicles of Thomas Covenant</i>, one of the most acclaimed fantasy series of all time, master storyteller Stephen R. Donaldson ret ... (1221 characters truncated) ... er-than-light travel, politics, betrayal, and a shadowy presence just outside our view to tell the fiercest, most profound story he has ever written.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  50840
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1440148', '0843959118', 'Little Fuzzy (Fuzzy Sapiens, #1)', None, 4.0, '7344', '367', None, "Friends of Little Fuzzy Vs. the Chartered Zarathustra Company<br /><br />The chartered Zarathustra Company had it all their way. Their charter was fo ... (734 characters truncated) ... ompany did not hesitate to resort to coercion, murder – even genocide – to prevent the Fuzzies from being declared the ninth extrasolar sapient race.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  77742
In insert_book_data, IntegrityError Exception for book_id:  23168818
In insert_book_data, IntegrityError Exception for book_id:  24866
In insert_book_data, IntegrityError Exception for book_id:  776212
In insert_book_data, IntegrityError Exception for book_id:  617086
In insert_book_data, IntegrityError Exception for book_id:  57043
In insert_book_data, IntegrityError Exception for book_id:  528362
In insert_book_data, IntegrityError Exception for book_id:  24036086
In insert_book_data, IntegrityError Exception for book_id:  25868031
In insert_book_data, IntegrityError Exception for book_id:  22020598
In insert_book_data, IntegrityError Exception for book_id:  320361

In insert_book_data, IntegrityError Exception for book_id:  5711714
In insert_book_data, IntegrityError Exception for book_id:  100366
In insert_book_data, IntegrityError Exception for book_id:  77743
In insert_book_data, IntegrityError Exception for book_id:  763774
In insert_book_data, IntegrityError Exception for book_id:  24441
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('176850', '1857232054', 'The Ship Who Searched (Brainship, #3)', 312.0, 4.09, '9906', '89', 'Orbit', None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  61928
In insert_book_data, IntegrityError Exception for book_id:  177928
In insert_book_data, IntegrityError Exception for book_id:  73051
In insert_book_data, IntegrityError Exception for book_id:  218453
In insert_book_data, IntegrityError Exception for book_id:  35434
In insert_book_data, IntegrityError Exception for book_id:  25059
In insert_book_data, IntegrityError Exception for book_id:  2749148
In insert_book_data, IntegrityError Exception for book_id:  181010
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('513200', '0553568035', 'The Krytos Trap (Star Wars: X-Wing, #3)', 368.0, 3.96, '8771', '114', 'Random House Inc', '<p>The Rebels have taken the Imperial headquarters world of Coruscant, but their problems are far from over. A killer virus called Krytos is spreadin ... (136 characters truncated) ...  pilot Corran Horn, given up for dead in "Iceheart"\'s inescapable prison, discovers an extraordinary power in himself\x97the power of the Force!</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('513210', '0553576119', 'Darksaber (Star Wars: The Callista Trilogy, #2)', 464.0, 3.4, '8466', '134', 'Bantam Spectra Books', 'Luke Skywalker and Han Solo return to desert planet Tatooine so Callista can regain the Force and her link and love for Luke. Trio join Leia, Chewbac ... (53 characters truncated) ... axy warlord, rebuilds Death Star superweapon as Darksaber. Lovely Admiral Daala and Pellaeon, second to Thrawn, marshal Imperial forces against Jedi.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('16688', '0671578634', 'The Man Who Sold the Moon', 295.0, 3.9, '8921', '100', 'Baen', 'D. D. Harriman is a billionaire with a dream: the dream of Space for All Mankind. The method? Anything that works. Maybe, in fact, Harriman goes too far. <br /><br />But he will give us the stars....<br /><br />(Source: back cover)')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  337048
In insert_book_data, IntegrityError Exception for book_id:  13645264
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('513201', '0553568043', 'The Bacta War (Star Wars: X-Wing, #4)', 368.0, 4.02, '8681', '106', 'Del Rey', "When the Alliance Fleet mounts a major campaign against a deadly warlord, tyrant Ysanne Isard has taken control of Thyferra, intending to use its sup ... (132 characters truncated) ... ppose Isard's plans, defeat her Star Destroyer fleet, and free Thyferra from her rule in a winner-take-all battle against a seemingly superior force.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  40387
In insert_book_data, IntegrityError Exception for book_id:  733473
In insert_book_data, IntegrityError Exception for book_id:  25320
In insert_book_data, IntegrityError Exception for book_id:  15743440
In insert_book_data, IntegrityError Exception for book_id:  64466
In insert_book_data, IntegrityError Exception for book_id:  61940
In insert_book_data, IntegrityError Exception for book_id:  101864
In insert_book_data, IntegrityError Exception for book_id:  149059
In insert_book_data, IntegrityError Exception for book_id:  834518
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35292712', None, 'Forging Zero (The Legend of ZERO, #1)', 575.0, 4.09, '1032', '47', 'Parasite Publications', "For lovers of sci-fi thrillers, alien invasion stories, space opera, and sprawling first contact science fiction, this is an unforgettable post-apoca ... (790 characters truncated) ...  to finally shatter the vast alien government known as Congress. And the Trith cannot lie.…<br /><br />But first Joe has to make it through bootcamp.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  77236
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('111019', '0553574175', 'Rebel Dawn (Star Wars: The Han Solo Trilogy, #3)', 389.0, 3.92, '8304', '160', 'Del Rey Books', 'Here is the explosive conclusion of the blockbuster trilogy that chronicles the never-before-told story of the young Han Solo.<br /><br />Set before  ... (791 characters truncated) ... is far from a pushover, that the Rebels have an agenda of their own, and that smuggler friends can often turn into enemies...quicker than lightspeed.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('216398', '0679734457', 'The Divine Invasion', 238.0, 3.81, '6185', '300', None, 'In <i>The Divine Invasion</i>, Philip K. Dick asks: What if God — or a being called Yah — were alive and in exile on a distant planet? How could a se ... (155 characters truncated) ... s Judaism, Kabalah, Zoroastrianism, and Christianity into a fascinating fable of human existence"<br />--<i>West Coast Revew of Books</i><br /><br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  50843
In insert_book_data, IntegrityError Exception for book_id:  30118314
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('555313', '0553572938', 'Children of the Jedi (Star Wars: The Callista Trilogy, #1)', 432.0, 3.27, '7918', '134', 'Bantam Spectra', 'Callista is a\xa0brave Jedi warrior who gave her life\xa0to save a sanctuary for wives and children of Jedi knights from obliteration by the Empire.  ... (24 characters truncated) ... ht is rearming itself for shelter destruction. Only Luke Skywalker can feel the evil\xa0presence and the influence of believed decades-dead Callista.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9359818
In insert_book_data, IntegrityError Exception for book_id:  23848002
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('31354', '0812532961', 'Earthfall (Homecoming, #4)', 370.0, 3.5, '8337', '118', 'Tor Books', "The Oversoul of the colony planet Harmony selected the family of Wetchik to carry it back to long-lost Earth. Now grown to a tribe in the years of th ... (944 characters truncated) ... oming series<br /><i>The Memory of Earth</i><br /><i>The Call of Earth</i><br /><i>The Ships of Earth</i><br /><i>Earthfall</i><br /><i>Earthborn</i>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  61970

In insert_book_data, IntegrityError Exception for book_id:  889418
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('320343', '0345428544', 'Onslaught (Dark Tide, #1) (Star Wars: The New Jedi Order, #2)', 304.0, 3.73, '7967', '112', 'Del Rey', "In this epic of unsurpassed action and imagination, Michael Stackpole helps to launch an exciting new era in Star Wars® history. ONSLAUGHT pits the b ... (965 characters truncated) ... sted as never before by a faceless, implacable foe determined to smother the light of the New Republic forever beneath a shroud of darkest evil . . .")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  50832
In insert_book_data, IntegrityError Exception for book_id:  264950
In insert_book_data, IntegrityError Exception for book_id:  35414
In insert_book_data, IntegrityError Exception for book_id:  8596384
In insert_book_data, IntegrityError Exception for book_id:  46623
In insert_book_data, IntegrityError Exception for book_id:  287892
In insert_book_data, IntegrityError Exception for book_id:  25026403
In insert_book_data, IntegrityError Exception for book_id:  11273356
In insert_book_data, IntegrityError Exception for book_id:  7493770
In insert_book_data, IntegrityError Exception for book_id:  7106681
In insert_book_data, IntegrityError Exception for book_id:  320357
In insert_book_data, IntegrityError Exception for book_id:  89192
In insert_book_data, IntegrityError Exception for book_id:  177945
In insert_book_data, IntegrityError Exception for book_id:  100344
In insert_book_data, IntegrityError Exception for book_id:  772606
In insert_book_data, IntegrityError Exception for book_id:  77732
In insert_book_data, IntegrityError Exception for book_id:  513198
In insert_book_data, IntegrityError Exception for book_id:  15945897
In insert_book_data, IntegrityError Exception for book_id:  40304
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35204', '0345320239', "Splinter of the Mind's Eye (Star Wars)", 297.0, 3.25, '7630', '343', 'Ballantine Books', 'Luke Skywalker expected trouble when he volunteered to follow Princess Leia on her mission to the planet Circarpous. But he discovered that hidden on ... (113 characters truncated) ... he Force that he would be all but invincible. In the wrong hands, the crystal could be deadly. So Luke had to find this treasure and find it fast....')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('773545', '0553578944', 'Wraith Squadron (Star Wars: X-Wing, #5)', 416.0, 4.1, '8265', '137', 'Del Rey', '<i>They are the galaxy’s most elite fighting force. And as the battle against the Empire rages, the X-wing fighters risk life and machine to protect  ... (742 characters truncated) ...  the Empire’s most brilliant master of guile and deception.<br /><br />Are they up to the challenge?<br /><br />If not, the penalty is instant death.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  50851
In insert_book_data, IntegrityError Exception for book_id:  23018259
In insert_book_data, IntegrityError Exception for book_id:  12275873
In insert_book_data, IntegrityError Exception for book_id:  513173
In insert_book_data, IntegrityError Exception for book_id:  35448
In insert_book_data, IntegrityError Exception for book_id:  13039884
In insert_book_data, IntegrityError Exception for book_id:  22046891
In insert_book_data, IntegrityError Exception for book_id:  22749719
In insert_book_data, IntegrityError Exception for book_id:  6310782
In insert_book_data, IntegrityError Exception for book_id:  6072318
In insert_book_data, IntegrityError Exception for book_id:  968902
In insert_book_data, IntegrityError Exception for book_id:  505064
In insert_book_data, IntegrityError Exception for book_id:  25155958
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24869', '0552139149', "Lyon's Pride (The Tower and the Hive, #4)", 347.0, 3.91, '7270', '57', 'Corgi', "The survival technique of the Hivers was terrifying -- and brilliant. Their huge Sphere ships, controlled by the Many Mind of ten to sixteen queens,  ... (863 characters truncated) ... or the Hivers' terrible Sphere ships were still thrusting through space, unfathomable, impenetrable, and carrying death in their labyrinthine depths.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  20075
In insert_book_data, IntegrityError Exception for book_id:  85863
In insert_book_data, IntegrityError Exception for book_id:  12074927
In insert_book_data, IntegrityError Exception for book_id:  893590
In insert_book_data, IntegrityError Exception for book_id:  267426
In insert_book_data, IntegrityError Exception for book_id:  381817
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('267282', '2265071226', 'Mars (The Grand Tour, #4)', None, 3.84, '6767', '178', None, 'Geologist Jamie Waterman is a last-minute replacement on the first international Mars landing team. He endures training rigors, personality conflicts ... (75 characters truncated) ...  crew battle an alien landscape and earthbound bureaucrats. Heading toward a chasm over 10 times the Arizona Grand Canyon, they make a shocking find.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  367215
In insert_book_data, IntegrityError Exception for book_id:  263466
In insert_book_data, IntegrityError Exception for book_id:  116561
In insert_book_data, IntegrityError Exception for book_id:  320346
In insert_book_data, IntegrityError Exception for book_id:  359848
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25397349', None, 'The Wedding (Lux, #5.5)', 6.0, 4.48, '3755', '308', None, '"This is the never before seen "real" wedding between Daemon and Kat from the Lux Series. This should not be read unless you have read the Lux series."<br /><br />Found on Wattpad <a href="http://www.wattpad.com/story/28500213-the-wedding" rel="nofollow">here</a>.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13646525
In insert_book_data, IntegrityError Exception for book_id:  68021
In insert_book_data, IntegrityError Exception for book_id:  18490708
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('263012', '0553571745', 'The Crystal Star (Star Wars)', 432.0, 3.09, '7134', '127', 'Del Rey', "Hugo and Nebula award-winning author Vonda N. McIntyre continues the bestselling <i>Star Wars</i> saga as the ultimate space adventure unfolds in <i> ... (744 characters truncated) ...  Waru's sinister cult. Together they will face an explosive showdown that will decide the survival of the New Republic . . . and the universe itself!")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('422569', '0553506889', "Isard's Revenge (Star Wars: X-Wing, #8)", 352.0, 3.94, '6831', '49', None, "Sleek, swift and deadly, the famed X-Wing fighters have earned their reputation as the Rebel Alliance's ultimate strike force the hard way--first in  ... (1190 characters truncated) ... the <i>Star Wars</i> expanded universe, and over half a dozen excerpts from some of the most popular <i>Star Wars</i> books of the last thirty years!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7975411
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('598938', '0553574167', 'The Hutt Gambit (Star Wars: The Han Solo Trilogy, #2)', 340.0, 3.88, '8457', '179', 'Del Rey Books', "Here is the second novel in the blockbuster new trilogy that reveals the never-before-told story of the young Han Solo. Set before the Star Wars movi ... (839 characters truncated) ... s a primer on the Star Wars expanded universe, and over half a dozen excerpts from some of the most popular Star Wars books of the last thirty years!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  210482
In insert_book_data, IntegrityError Exception for book_id:  50839
In insert_book_data, IntegrityError Exception for book_id:  7838460
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35461', '0099410354', 'Traitor (Star Wars: The New Jedi Order, #13)', 320.0, 4.0, '6749', '123', 'Arrow Books Ltd', "From the depths of catastrophe, a glimmer of hope.<br /><br />After the capture of Coruscant, the mighty heart of the New Republic, a stunned galaxy  ... (778 characters truncated) ... . Now, all is in shadows. Yet whatever happens, whether Jacen's newfound mastery unleashes light or darkness, he will never be the same Jedi again...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2920001
In insert_book_data, IntegrityError Exception for book_id:  898232
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35449', '0553578979', 'Iron Fist (Star Wars: X-Wing, #6)', 320.0, 4.03, '7434', '93', 'Spectra', "They are the Rebel Alliance's ultimate strike force--sleek, swift, and deadly. For these X-wing fighters, no job is too dirty or too dangerous. Now t ... (780 characters truncated) ... t--a suicide mission for Zsinj.<br /><br />Can they survive the test and turn the tables on Zsinj?<br /><br />Or is this the end for Wraith Squadron?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  3407703
In insert_book_data, IntegrityError Exception for book_id:  17735
In insert_book_data, IntegrityError Exception for book_id:  11995467
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35813', '1857231945', 'The Hammer of God', 264.0, 3.68, '5716', '168', 'Orbit', '"Entertaining. . .[Clark] handles both ideas and characters with deftness and wit; in short, the outstanding living science fiction writers is rompin ... (923 characters truncated) ... t, I suspect "The Hammer Of God" won\'t be topped".-- "Star Tribune", Minneapolis.<br /><br />"Classic Clarke. . .a good story".-- "The Denver Post".')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  845501

In insert_book_data, IntegrityError Exception for book_id:  16127235
In insert_book_data, IntegrityError Exception for book_id:  16131473
In insert_book_data, IntegrityError Exception for book_id:  12620241
In insert_book_data, IntegrityError Exception for book_id:  836964
In insert_book_data, IntegrityError Exception for book_id:  94781
In insert_book_data, IntegrityError Exception for book_id:  50852
In insert_book_data, IntegrityError Exception for book_id:  18374994
In insert_book_data, IntegrityError Exception for book_id:  63742
In insert_book_data, IntegrityError Exception for book_id:  96279
In insert_book_data, IntegrityError Exception for book_id:  30280
In insert_book_data, IntegrityError Exception for book_id:  64936
In insert_book_data, IntegrityError Exception for book_id:  356
In insert_book_data, IntegrityError Exception for book_id:  96471
In insert_book_data, IntegrityError Exception for book_id:  384579
In insert_book_data, IntegrityError Exception for book_id:  18229437
In insert_book_data, IntegrityError Exception for book_id:  16682
In insert_book_data, IntegrityError Exception for book_id:  50831
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('773547', '0553579002', 'Solo Command (Star Wars: X-Wing, #7)', 341.0, 4.02, '7012', '84', 'Spectra', "Wraith Squadron: they are the Rebel Alliance's ultimate strike force. Sleek, swift, and deadly, they are the first in battle, the last line of defens ... (585 characters truncated) ... eakness. For even against the most overwhelming odds, the Rebels will fight to the death. And that will leave Zsinj the galaxy's unchallenged master!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  424587
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('23293202', None, 'True Calling (True Calling, #1)', 400.0, 3.86, '632', '173', 'Siobhan Davis', '<b>Welcome to Novo: Your new home in Space</b><br /><br />For Ariana Skyee, Planet Novo was everything it promised to be until the authorities introd ... (855 characters truncated) ... ce. When her world implodes, discovering the past shapes her future with devastating consequences.<br /><br />TWO DIFFERENT WORLDS. ONE SHARED DREAM.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  513158
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('525285', '0515034797', 'Mission of Gravity', 174.0, 3.91, '5957', '112', None, 'Cover Artist: Ed Emshwiller<br /><i>Mission of Gravity</i> is an sf novel by Hal Clement. The title is a play on words, one meaning "the force which  ... (1094 characters truncated) ... the notion of turning the deal to an unsuspected advantage for himself--a considerable enterprise for a being very much resembling a 15" caterpillar!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2278387
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('116410', '0765309394', 'Axis (Spin, #2)', 303.0, 3.5, '5445', '386', None, '<div>\n  <div>Wildly praised by readers and critics alike, Robert Charles Wilson\'s <i>Spin</i> won science fiction\'s highest honor, the Hugo Award  ... (745 characters truncated) ...  Soon, this seemingly hospitable world will become very alien indeed--as the nature of time is once again twisted, by entities unknown.</div>\n</div>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18468256
In insert_book_data, IntegrityError Exception for book_id:  76811
In insert_book_data, IntegrityError Exception for book_id:  67956
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('836080', '0345428609', "Hero's Trial (Agents of Chaos, #1) (Star Wars: The New Jedi Order, #4)", None, 3.68, '6266', '87', 'Del Rey', "Merciless attacks by an invincible alien force have left the New Republic reeling. Dozens of worlds have succumbed to occupation or annihilation, and ... (1014 characters truncated) ... the <i>Star Wars</i> expanded universe, and over half a dozen excerpts from some of the most popular <i>Star Wars</i> books of the last thirty years!")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('201889', '044110701X', 'City of Illusions', 160.0, 3.85, '3744', '261', 'Ace Books', 'He was a fully grown man, alone in dense forest, with no trail to show where he had come from and no memory to tell who — or what — he was.<br />His  ... (303 characters truncated) ... h, the City of the Shining, the Liars of Earth, the Enemy of Mankind.<br />There he would find his true self... and a universe of danger.<br /><br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2729221
In insert_book_data, IntegrityError Exception for book_id:  340816
In insert_book_data, IntegrityError Exception for book_id:  61924
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('351', '1416505504', "Starman Jones (Heinlein's Juveniles, #7)", None, 3.84, '6404', '183', None, '<p>The stars were closed to Max Jones. To get into space you either needed connections, a membership in the Guild, or a whole lot more money than Max ... (325 characters truncated) ...  (written, Heinlein always claims, just as much for adults) that started them all and made Heinlein a legend for multiple generations of readers.</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  64397
In insert_book_data, IntegrityError Exception for book_id:  180270
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('673158', '0099154102', 'Darkover Landfall', None, 3.88, '5457', '132', None, 'Darkover, planet of wonder, world of mystery, has been a favorite of science fiction readers for many years. For it is a truly alien sphere--a world  ... (411 characters truncated) ... nd, the psychic currents that were native only to that world, and the price that every Earthling must pay before Darkover could claim him for itself.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  21858682
In insert_book_data, IntegrityError Exception for book_id:  320347
In insert_book_data, IntegrityError Exception for book_id:  16210411
In insert_book_data, IntegrityError Exception for book_id:  64396
In insert_book_data, IntegrityError Exception for book_id:  7283762
In insert_book_data, IntegrityError Exception for book_id:  61963
In insert_book_data, IntegrityError Exception for book_id:  45253
In insert_book_data, IntegrityError Exception for book_id:  116562
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35429', '0345446100', 'Rebirth (Edge of Victory, #2) (Star Wars: The New Jedi Order, #8)', 292.0, 3.77, '6318', '64', 'LucasBooks', '<b><i>The</i> Star Wars <i>epic continues its dazzling space odyssey in The New Jedi Order–as Luke and Mara, Leia and Han, and others battle the migh ... (723 characters truncated) ... even in the midst of despair, while the most fiercest battle of all looms on the horizon, hope arises with the birth of one very special child. . . .')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  211973
In insert_book_data, IntegrityError Exception for book_id:  123673
In insert_book_data, IntegrityError Exception for book_id:  1111741
In insert_book_data, IntegrityError Exception for book_id:  320326
In insert_book_data, IntegrityError Exception for book_id:  266782

Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('444944', '1882968093', 'Triplanetary (Lensman, #1)', None, 3.66, '4286', '239', None, 'Cosmic Conflict<br /><br />In Triplanetary, battle is joined for the control of the universe. The Arisians, benevolent humanoids who have declared th ... (1076 characters truncated) ... ed on various online catalogs, if you think there are any problems regard copyright issues please contact us immediately via DMCA@publicdomain.org.uk')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  31352
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('21620', '1857989317', 'Forever Free (The Forever War, #3)', 277.0, 3.41, '3798', '196', 'Millennium', 'William Mandela is a genetic throwback, one of the small group of humans who fought and survived the Forever War. They returned to find humanity has  ... (259 characters truncated) ... s of space travel and relativity. But when their ship starts to fail, their journey becomes a search for the Unknown, the elusive entity responsible.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  359761
In insert_book_data, IntegrityError Exception for book_id:  2011
In insert_book_data, IntegrityError Exception for book_id:  11329789
In insert_book_data, IntegrityError Exception for book_id:  3595475
In insert_book_data, IntegrityError Exception for book_id:  352774
In insert_book_data, IntegrityError Exception for book_id:  96277
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('4161697', '0345509064', 'Outcast (Star Wars: Fate of the Jedi, #1)', 318.0, 3.87, '5665', '233', None, "After a violent civil war, and the devastation wrought by the now-fallen Darth Caedus, the Galactic Alliance is in crisis -- and in need. From all co ... (1425 characters truncated) ... y the same madness as Valin Horn, is headed for Coruscant on a fearsome mission that could doom the Jedi Order . . . and devastate the entire galaxy.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  116121
In insert_book_data, IntegrityError Exception for book_id:  13642704
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25802043', None, 'Barbarian Alien (Ice Planet Barbarians, #2)', 211.0, 3.97, '6620', '589', None, 'Twelve humans are left stranded on a wintry alien planet. I’m one of them. Yay, me. <br /><br />In order to survive, we have to take on a symbiont th ... (218 characters truncated) ... ALIEN is a sequel to ICE PLANET BARBARIANS. You do not have to read both in order to understand the plot, but the story will be richer if you do!</i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16181322
In insert_book_data, IntegrityError Exception for book_id:  1450946
In insert_book_data, IntegrityError Exception for book_id:  10837174
In insert_book_data, IntegrityError Exception for book_id:  815091
In insert_book_data, IntegrityError Exception for book_id:  96276
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('28599556', None, 'Exiled (Immortal Essence #1)', None, 3.59, '84', '8', None, 'Start the epic bestselling series that\'s been read more than two million times worldwide! This series is complete.<br /><br /><b>WORLDS DIVIDED THEM ... (1071 characters truncated) ... </b>\n     \n   </div><div>EXILED</div><div>BANISHED</div><div>DISPLACED</div><div>BEGUILED</div><div>TEMPTED</div><div>MERGED</div><div>UNITED</div>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  320370
In insert_book_data, IntegrityError Exception for book_id:  35811
In insert_book_data, IntegrityError Exception for book_id:  25318
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('131776', '0553568167', 'Tales of the Bounty Hunters (Star Wars)', 339.0, 3.77, '6161', '173', 'Del Rey Books', 'In a wild and battle-scarred galaxy, assassins, pirates, smugglers, and cutthroats of every description roam at will, fearing only the professional b ... (359 characters truncated) ... and contempt for life....<br /><br />Featuring original stories by Kevin J. Anderson, M. Shayne Bell, Daniel Keys Moran, Kathy Tyers, Dave Wolverton.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  21845122
In insert_book_data, IntegrityError Exception for book_id:  14978
In insert_book_data, IntegrityError Exception for book_id:  3864977
In insert_book_data, IntegrityError Exception for book_id:  3186100
In insert_book_data, IntegrityError Exception for book_id:  22078240
In insert_book_data, IntegrityError Exception for book_id:  167845
In insert_book_data, IntegrityError Exception for book_id:  6561374
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('700095', '0553574140', 'The New Rebellion (Star Wars)', 532.0, 3.45, '5757', '69', 'Del Rey Books', 'Somewhere in the galaxy, millions suddenly perish in a blinding instant ofpain, anguish, and despair--a disruption of the Force so shocking, it is fe ... (1726 characters truncated) ...  Timothy Zahn:<br /><br />"Chock full of all the good stuff you\'ve come to expect from a battle of goodagainst evil."<br />-- "Daily News," New York')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9757229
In insert_book_data, IntegrityError Exception for book_id:  89188
In insert_book_data, IntegrityError Exception for book_id:  6237781
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('773544', '0553574183', 'Starfighters of Adumar (Star Wars: X-Wing, #9)', 304.0, 4.02, '6289', '82', 'Del Rey', "Book 9 in the exciting series!<br /><br />The X-wing fighter pilots have earned their reputation as the Rebel Alliance's ultimate strike force by ove ... (922 characters truncated) ...  posed by a rogue Republic agent...one who is determined to win Adumar's allegiance once and for all--even if it costs the X-wing pilots their lives.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  141805
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('96460', '0552146293', 'The Tower and the Hive (The Tower and the Hive, #5)', 400.0, 3.95, '5480', '62', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('5405', '0345428684', 'Rebel Stand (Enemy Lines, #2) (Star Wars: The New Jedi Order, #12)', 384.0, 3.84, '5818', '64', 'Del Rey', '<b>\n  <i>Not since Emperor Palpatine have the Jedi battled such monstrous evil. Unless they succeed against staggering odds, the galaxy is doomed.</ ... (843 characters truncated) ... the <i>Star Wars</i> expanded universe, and over half a dozen excerpts from some of the most popular <i>Star Wars</i> books of the last thirty years!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1197129
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29488335', None, 'Remanence (Confluence, #2)', None, 4.06, '3215', '200', None, 'In defiance of NASA, Jane Holloway, the linguist of the Providence expedition, commandeers the alien ship that crew explored. She sets off to return  ... (470 characters truncated) ... ensure the survival of Ei’Brai’s race, she discovers that the life of every sentient being in the galaxy may be in jeopardy…and the clock is ticking.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  353479
In insert_book_data, IntegrityError Exception for book_id:  644949
In insert_book_data, IntegrityError Exception for book_id:  10101733
In insert_book_data, IntegrityError Exception for book_id:  574676
In insert_book_data, IntegrityError Exception for book_id:  352777
In insert_book_data, IntegrityError Exception for book_id:  241103
In insert_book_data, IntegrityError Exception for book_id:  12891829
In insert_book_data, IntegrityError Exception for book_id:  117840
In insert_book_data, IntegrityError Exception for book_id:  96475
In insert_book_data, IntegrityError Exception for book_id:  175328
In insert_book_data, IntegrityError Exception for book_id:  320344
In insert_book_data, IntegrityError Exception for book_id:  18589656

In insert_book_data, IntegrityError Exception for book_id:  251633
In insert_book_data, IntegrityError Exception for book_id:  1203668
In insert_book_data, IntegrityError Exception for book_id:  17571237
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('157984', '0345428595', 'Jedi Eclipse (Agents of Chaos, #2) (Star Wars: The New Jedi Order, #5)', 348.0, 3.63, '5426', '79', 'Del Rey', "A string of smashing victories by the forces of the sinister aliens known as the Yuuzhan Vong has left New Republic resources and morale stretched to ... (837 characters truncated) ... the <i>Star Wars</i> expanded universe, and over half a dozen excerpts from some of the most popular <i>Star Wars</i> books of the last thirty years!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  60215
In insert_book_data, IntegrityError Exception for book_id:  226475
In insert_book_data, IntegrityError Exception for book_id:  77462
In insert_book_data, IntegrityError Exception for book_id:  7234921
In insert_book_data, IntegrityError Exception for book_id:  18295835
In insert_book_data, IntegrityError Exception for book_id:  12984
In insert_book_data, IntegrityError Exception for book_id:  3182799
In insert_book_data, IntegrityError Exception for book_id:  7552700
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45248', '0330480227', 'Misspent Youth', 439.0, 3.4, '3942', '150', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  161296
In insert_book_data, IntegrityError Exception for book_id:  13421230
In insert_book_data, IntegrityError Exception for book_id:  5826352
In insert_book_data, IntegrityError Exception for book_id:  149070
In insert_book_data, IntegrityError Exception for book_id:  25317
In insert_book_data, IntegrityError Exception for book_id:  138350
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('320356', '0099410435', 'The Final Prophecy (Star Wars: The New Jedi Order, #18)', 320.0, 3.79, '5098', '41', None, '<b>\n  <i>As a beleaguered galaxy fights its way back from the brink of destruction, the Jedi’s most fearsome enemy plots to end the war–and claim vi ... (1188 characters truncated) ... the <i>Star Wars</i> expanded universe, and over half a dozen excerpts from some of the most popular <i>Star Wars</i> books of the last thirty years!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8065404
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('761154', '0446605158', "The Reality Dysfunction 1: Emergence (Night's Dawn 1)", None, 4.25, '6106', '93', 'Aspect', None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  758614
In insert_book_data, IntegrityError Exception for book_id:  899392
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2381756', '0765315017', 'By Schism Rent Asunder (Safehold, #2)', 510.0, 4.11, '5930', '179', None, "The world has changed. The mercantile kingdom of Charis has prevailed over the alliance designed to exterminate it. Armed with better sailing vessels ... (922 characters truncated) ... s archbishop make the rift with Mother Church explicit, the storm gathers. Schism has come to the world of Safehold. Nothing will ever be the same...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  78784
In insert_book_data, IntegrityError Exception for book_id:  116567
In insert_book_data, IntegrityError Exception for book_id:  96458
In insert_book_data, IntegrityError Exception for book_id:  639631
In insert_book_data, IntegrityError Exception for book_id:  6048478
In insert_book_data, IntegrityError Exception for book_id:  12269981
In insert_book_data, IntegrityError Exception for book_id:  77747
In insert_book_data, IntegrityError Exception for book_id:  353476
In insert_book_data, IntegrityError Exception for book_id:  40385
In insert_book_data, IntegrityError Exception for book_id:  413043
In insert_book_data, IntegrityError Exception for book_id:  22877
In insert_book_data, IntegrityError Exception for book_id:  6980826
In insert_book_data, IntegrityError Exception for book_id:  464609
In insert_book_data, IntegrityError Exception for book_id:  50848
In insert_book_data, IntegrityError Exception for book_id:  55546
In insert_book_data, IntegrityError Exception for book_id:  10979852
In insert_book_data, IntegrityError Exception for book_id:  189287
In insert_book_data, IntegrityError Exception for book_id:  27414369
In insert_book_data, IntegrityError Exception for book_id:  1244288
In insert_book_data, IntegrityError Exception for book_id:  25659450
In insert_book_data, IntegrityError Exception for book_id:  264013
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('21607', '0441012523', 'Camouflage', 289.0, 3.63, '4813', '276', 'Ace', "Two aliens have wandered Earth for centuries. The Changeling has survived by adapting the forms of many different organisms. The Chameleon destroys a ... (43 characters truncated) ... br />Now, a sunken relic that holds the key to their origins calls to them to take them home—but the Chameleon has decided there's only room for one.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8174363
In insert_book_data, IntegrityError Exception for book_id:  61967
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('125332', '0590629824', 'The Capture (Animorphs, #6)', 154.0, 3.87, '5119', '137', 'Scholastic Paperbacks', 'It was really bad when Jake found out his older brother was one of them. It was even worse when Tobias stayed in his morph too long. But nothing compares to the horror the Animorphs are about to face. Nothing.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  640181
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('26185583', None, 'Barbarian Lover (Ice Planet Barbarians, #3)', 191.0, 4.03, '5472', '424', None, "As one of the few humans stranded on the ice planet, I should be happy that I have a new home. Human women are treasured here, and one alien in parti ... (275 characters truncated) ... e translator in my ear, they can find me. My presence here endangers everyone... but can I give up my new life and the man I want more than anything?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  20332896
In insert_book_data, IntegrityError Exception for book_id:  1962427
In insert_book_data, IntegrityError Exception for book_id:  61931
In insert_book_data, IntegrityError Exception for book_id:  286445
In insert_book_data, IntegrityError Exception for book_id:  26570784
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('372828', '0553578855', 'The Mandalorian Armor (Star Wars: The Bounty Hunter Wars, #1)', 387.0, 3.61, '4867', '130', 'Del Rey', "He's the most feared and successful bounty hunter in the galaxy. He is Boba Fett, and even the most hardened criminals tremble at his name. Now he fa ... (585 characters truncated) ... tions, criminal conspiracies, and the evil at the Empire's dark heart. Boba Fett has always finished first. And in this game, anything less is death.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6470498', '1596062800', 'The God Engines', 136.0, 3.59, '4701', '550', 'Subterranean Press', "Captain Ean Tephe is a man of faith, whose allegiance to his lord and to his ship is uncontested. The Bishopry Militant knows this -- and so, when it ... (352 characters truncated) ... t -- and that the tests he will face will come not only from his god and the Bishopry Militant, but from another, more malevolent source entirely....")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1678745

In insert_book_data, IntegrityError Exception for book_id:  6100873
In insert_book_data, IntegrityError Exception for book_id:  265287
In insert_book_data, IntegrityError Exception for book_id:  22201
In insert_book_data, IntegrityError Exception for book_id:  2174486
In insert_book_data, IntegrityError Exception for book_id:  6828998
In insert_book_data, IntegrityError Exception for book_id:  977111
In insert_book_data, IntegrityError Exception for book_id:  886229
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('284873', '1857238818', 'Hunting Party (The Serrano Legacy, #1)', 364.0, 3.87, '4874', '144', 'Baen Books', "Heris Serrano--formerly a commander in the Regular Space Service--must take whatever job she can get after her resignation under a cloud. What she ca ... (308 characters truncated) ... ends to go fox hunting on the private pleasure planet of a friend of hers, Lord Thornbuckle. But events conspire to make it far more than a fox hunt.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2403922
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('842591', '0345428722', 'Reunion (Force Heretic, #3) (Star Wars: The New Jedi Order, #17)', 432.0, 3.66, '4827', '46', 'Del Rey', '<b><br />The Jedi move one step closer to saving the embattled galaxy only to confront a formidable wall of resistance. <br /></b><br />The harrowing ... (600 characters truncated) ... estroyed. So the courageous pair must now fight an unrelenting battle against staggering odds. Whether they actually survive is another matter. . . .')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  64725
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25986774', '1616962143', 'Central Station', 275.0, 3.51, '1574', '386', None, 'A worldwide diaspora has left a quarter of a million people at the foot of a space station. Cultures collide in real life and virtual reality. The ci ... (920 characters truncated) ... s—are just the beginning of irrevocable change.<br /><br />At Central Station, humans and machines continue to adapt, thrive...and even evolve.<br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  537148
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('33953843', None, "The Demon's Possession (Shadow Quest, #1)", 352.0, 3.95, '510', '67', 'Amazon Digital Services', "<b>A love that spans the edges of the universe...</b><br /><br />Trapped on the battleship Extarga by a tyrant, Analia is alone. For all she knows sh ... (653 characters truncated) ... r her powers...while contending with her freshly awakened desire for the brutally handsome demon.<br /><br /><b>Can she handle a demon's passion?</b>")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('100369', '0671826581', 'Inferno (Inferno, #1)', 237.0, 3.82, '4263', '213', None, 'This is the 6th Pocket printing.<br />Cover Artist: Harry Bennett<br /><br />An unearthly voice hisses unholy welcome. And the late, great Allen Carp ... (321 characters truncated) ... >Frank Herbert -"The somber beauty of INFERNO brought up to the twentieth century with care and humor and with some sins Dante didn\'t even suspect."')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('261087', '0345428714', 'Refugee (Force Heretic, #2) (Star Wars: The New Jedi Order, #16)', 416.0, 3.64, '4763', '52', 'LucasBooks', '<b>\n  <i>Swift and deadly, the Yuuzhan Vong have blasted their way across the galaxy—and now stand on the threshold of total victory. Yet a courageo ... (494 characters truncated) ...  up to crisis point. And as Han and Leia journey on their quest to knit the unraveling galaxy back together, betrayal and deception await them. . . .')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7956
In insert_book_data, IntegrityError Exception for book_id:  7975415
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61965', '0061053759', "Acorna's Quest (Acorna #2)", 384.0, 3.65, '5229', '48', 'HarperCollins', "This follow-up to <i>Anne McCaffrey's</i> bestselling <i>Acorna</i> trails the unicorn girl across the galaxy as she searches for her mysterious home and lost people.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  77745
In insert_book_data, IntegrityError Exception for book_id:  462373
In insert_book_data, IntegrityError Exception for book_id:  87490
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('629068', '0575601604', 'Deathstalker (Deathstalker, #1)', 571.0, 3.93, '3869', '156', None, 'The Iron Bitch-- her Imperial Majesty Lionstone XIV-- ruled the human Empire with fear. From peasants to masters of the galaxy\'s most powerful famil ... (413 characters truncated) ...  help, the Deathstalker took the first step of a far more dangerous journey to claim the role for which he\'d been destined since before his birth...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  67958
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1999660', '1405054646', 'Cosmic', None, 3.93, '3868', '596', None, "Liam has always felt a bit like he's stuck between two worlds. This is primarily because he's a twelve-year-old kid who looks like he's about thirty. ... (593 characters truncated) ... miles from home. <br />Frank Cottrell Boyce brings us a funny and touching story of the many ways in which grown-upness is truly wasted on grown-ups.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  50847
In insert_book_data, IntegrityError Exception for book_id:  13657
In insert_book_data, IntegrityError Exception for book_id:  50837
In insert_book_data, IntegrityError Exception for book_id:  9495160
In insert_book_data, IntegrityError Exception for book_id:  18404247
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('226486', '0375719288', 'Clans of the Alphane Moon', None, 3.74, '3345', '160', None, "When CIA agent Chuck Rittersdorf and his psychiatrist wife, Mary, file for divorce, they have no idea that in a few weeks they'll be shooting it out  ... (277 characters truncated) ... subject of <b>Clans of the Alphane Moon</b>, an astutely shrewd and acerbic tale that blurs all conventional distinctions between sanity and madness.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  57042
In insert_book_data, IntegrityError Exception for book_id:  957931
In insert_book_data, IntegrityError Exception for book_id:  7801690
In insert_book_data, IntegrityError Exception for book_id:  8540220
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9359796', '0765323427', 'Vortex (Spin, #3)', 331.0, 3.73, '3522', '285', None, '<i>Vortex </i>tells the story of Turk Findley, the protagonist introduced in <i>Axis</i>, who is transported ten thousand years into the future by th ... (481 characters truncated) ... truth about the nature and purpose of the Hypotheticals before they carry him on a journey through warped time to the end of the universe itself.</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6503350
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22011010', None, 'Barbarian Prince (Dragon Lords, #1)', 508.0, 3.68, '1776', '144', None, 'Paranormal Dragonshifting Romance <br />Revised Expanded Anniversary Edition <br /><br />Breaking up was never so hard... <br /><br />Going undercove ... (782 characters truncated) ...  to accept their shared fate and his supreme authority over her, it is all he can do to keep from acting like the barbarian she accuses him of being.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  101890
In insert_book_data, IntegrityError Exception for book_id:  13505863
In insert_book_data, IntegrityError Exception for book_id:  28204537
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('286229', '0553276115', 'The Stainless Steel Rat Wants You! (Stainless Steel Rat, #7)', 160.0, 3.96, '6097', '41', None, "Slippery Jim di Griz - the Stainless Steel Rat - is still recovering from his efforts to save his beloved Angelina from the notorious Interstellar In ... (376 characters truncated) ... ntre of the enemy council chambers. But he hasn't reckoned on the grey men and their commitment to a 'holy crusade' to destroy mankind - permanently!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8325092
In insert_book_data, IntegrityError Exception for book_id:  22871
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61916', '0743436164', 'Young Miles (Vorkosigan Omnibus, #2)', 827.0, 4.38, '5232', '240', 'Baen', "The Warrior's Apprentice 1<br />The Mountains of Mourning 373<br />The Vor Game 465<br />Author's Afterword 829<br /><br />IT ISN'T EASY, BEING VOR.. ... (1185 characters truncated) ... minal orders, rejoins his Dendarii mercenaries, and attempts to rescue Emperor Gregor after Barrayar's royal scion has run off straight into trouble.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  324508
In insert_book_data, IntegrityError Exception for book_id:  386488

In insert_book_data, IntegrityError Exception for book_id:  22874
In insert_book_data, IntegrityError Exception for book_id:  8204809
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2684541', '1590623819', 'The Mountains of Mourning', None, 4.27, '5461', '198', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  229021
In insert_book_data, IntegrityError Exception for book_id:  23617200
In insert_book_data, IntegrityError Exception for book_id:  13538762
In insert_book_data, IntegrityError Exception for book_id:  17934480
In insert_book_data, IntegrityError Exception for book_id:  334801
In insert_book_data, IntegrityError Exception for book_id:  217890
In insert_book_data, IntegrityError Exception for book_id:  6879289
In insert_book_data, IntegrityError Exception for book_id:  1116661
In insert_book_data, IntegrityError Exception for book_id:  365672
In insert_book_data, IntegrityError Exception for book_id:  11754793
In insert_book_data, IntegrityError Exception for book_id:  582663
In insert_book_data, IntegrityError Exception for book_id:  416327
In insert_book_data, IntegrityError Exception for book_id:  12618154
In insert_book_data, IntegrityError Exception for book_id:  10893175
In insert_book_data, IntegrityError Exception for book_id:  35815
In insert_book_data, IntegrityError Exception for book_id:  28769
In insert_book_data, IntegrityError Exception for book_id:  2013
In insert_book_data, IntegrityError Exception for book_id:  11360032
In insert_book_data, IntegrityError Exception for book_id:  672244
In insert_book_data, IntegrityError Exception for book_id:  24582265
In insert_book_data, IntegrityError Exception for book_id:  40386
In insert_book_data, IntegrityError Exception for book_id:  5968717
In insert_book_data, IntegrityError Exception for book_id:  265288
In insert_book_data, IntegrityError Exception for book_id:  238959
In insert_book_data, IntegrityError Exception for book_id:  6453280
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('758692', '0553575171', 'Planet of Twilight (Star Wars: The Callista Trilogy, #3)', 416.0, 3.03, '3678', '76', 'Bantam Books', 'Nam Chorios is a barren backwater world—once a dreaded prison colony, now home to a fanatic religious cult. It is here that Princess Leia has been ta ... (339 characters truncated) ...  any the galaxy has ever seen, awakens...a life-form so malevolent it will destroy everything—both Empire and New Republic—on its path to domination.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  410927
In insert_book_data, IntegrityError Exception for book_id:  7913023
In insert_book_data, IntegrityError Exception for book_id:  19146092
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29623967', None, "Barbarian's Mate (Ice Planet Barbarians, #6)", 207.0, 4.08, '4404', '347', None, "'Resonance' is supposed to be a dream - that's when your soulmate is chosen for you. And everyone on the ice planet has hooked up with a big, hunky s ... (334 characters truncated) ... y body sings when he gets close? Why is he working so hard to prove to me that he's not as awful as I think he is? <br /><br />I hate him... don't I?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  160985
In insert_book_data, IntegrityError Exception for book_id:  1305912
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29869407', None, 'Close Obsession (The Krinar Chronicles #2)', 330.0, 4.09, '949', '53', 'Mozaika', "<i>The highly anticipated sequel to</i> Close Liaisons\xa0.\xa0.\xa0.<br /><br />In Lenkarda – the main Krinar colony on Earth – Mia is completely at ... (460 characters truncated) ... i>WARNING: This book contains strong sexual content and explicit language and is not suitable for readers under 18.<br /><br />Word Count: 88,000</i>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  3746202
In insert_book_data, IntegrityError Exception for book_id:  17695124
In insert_book_data, IntegrityError Exception for book_id:  96284
In insert_book_data, IntegrityError Exception for book_id:  9495552
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('220741', '1841542687', "First and Only (Gaunt's Ghosts, #1)", 320.0, 4.25, '4236', '140', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15802917
In insert_book_data, IntegrityError Exception for book_id:  100359
In insert_book_data, IntegrityError Exception for book_id:  10799498
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24872', '0552149098', "Freedom's Ransom (Catteni, #4)", 367.0, 3.94, '3691', '65', 'Corgi', 'The inhabitants of the penal planet Botany had fought a grim and dangerous war to free themselves from their Eosi overlords. Now the Eosi were gone,  ... (811 characters truncated) ...  an expedition that led to a horrifying replay of an old nightmare for Kris - and only Zainal could save her and the future of both Earth and Botany.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7031835
In insert_book_data, IntegrityError Exception for book_id:  464685
In insert_book_data, IntegrityError Exception for book_id:  61930
In insert_book_data, IntegrityError Exception for book_id:  342062
In insert_book_data, IntegrityError Exception for book_id:  15454
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('338327', '0765310244', 'The Boat of a Million Years', 470.0, 3.83, '3009', '128', None, "Others have written SF on the theme of immortality, but in <i>The Boat of a Million Years</i>, Poul Anderson made it his own. Early in human history, ... (242 characters truncated) ... stone in modern science fiction, a <i>New York Times</i> Notable Book on its first publication in 1989, this is one of a great writer's finest works.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('664553', '1857232607', 'The City Who Fought (Brainship, #4)', 435.0, 3.98, '3979', '57', 'Baen', 'Simeon was the "brain" running a peaceful space station--but when the invaders arrived, his only hope of protecting his crew was to become "the city  ... (5 characters truncated) ... ought." Previous titles in this bestselling series include <i>The Ship Who Sang, The Ship Who Searched, The Ship Who Won</i>, and <i>PartnerShip</i>.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('50854', '0709071388', "Between Planets (Heinlein's Juveniles, #5)", 243.0, 3.85, '4081', '102', 'Robert Hale Ltd.', 'Don is a citizen of the Interplanetary Federation - yet no single planet can claim him as its own. His mother was born on Venus and his father on Ear ... (329 characters truncated) ... rkable scientist-dragons of a rebellious Mars can resolve the conflict within a man who cannot live without the society that he knows is killing him.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('222019', '055357888X', 'Slave Ship (Star Wars: The Bounty Hunter Wars, #2)', 336.0, 3.64, '4189', '79', 'Del Rey Books', "He's both feared and admired, respected and despised. Boba Fett is the galaxy's most successful bounty hunter. Now he finds himself the hunted in the oldest game of all: survival of the fittest.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  267022
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('420983', '055357891X', 'Hard Merchandise (Star Wars: The Bounty Hunter Wars, #3)', 368.0, 3.65, '4042', '67', 'Del Rey Books', "Boba Fett fears only one enemy--the one he cannot see....<br /><br />Feared and admired, respected and despised, Boba Fett enjoys a dubious reputatio ... (703 characters truncated) ... n for someone as skilled and relentless as Boba Fett.<br /><br /><br />(c) 1999 Lucasfilm Ltd. and TM. All rights reserved. Used under authorization.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18588743
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2334538', None, 'Quarter Share (Golden Age of the Solar Clipper, #1)', 250.0, 4.14, '3991', '416', 'Nathan Lowell', "<b>\n  <i>THE GOLDEN AGE OF SAIL HAS RETURNED -- IN THE YEAR 2351</i>\n</b><br /><br />When his mother dies in a flitter crash, eighteen-year-old Ish ... (475 characters truncated) ... ck, a Manchester built clipper as she sets solar sails in search of profit for her company and a crew each entitled to a share equal to their rating.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  218709
In insert_book_data, IntegrityError Exception for book_id:  17620859
In insert_book_data, IntegrityError Exception for book_id:  15810877
In insert_book_data, IntegrityError Exception for book_id:  415807
In insert_book_data, IntegrityError Exception for book_id:  16032322

In insert_book_data, IntegrityError Exception for book_id:  45256
In insert_book_data, IntegrityError Exception for book_id:  10814635
In insert_book_data, IntegrityError Exception for book_id:  28096224
In insert_book_data, IntegrityError Exception for book_id:  3545495
In insert_book_data, IntegrityError Exception for book_id:  100680
In insert_book_data, IntegrityError Exception for book_id:  35465
In insert_book_data, IntegrityError Exception for book_id:  14744463
In insert_book_data, IntegrityError Exception for book_id:  768929
In insert_book_data, IntegrityError Exception for book_id:  57261
In insert_book_data, IntegrityError Exception for book_id:  10894503
In insert_book_data, IntegrityError Exception for book_id:  939559
In insert_book_data, IntegrityError Exception for book_id:  103103
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1013785', '0446356018', 'Cradle', 408.0, 3.44, '3160', '89', 'Warner Books', "In 1994, the Marines test a new missile. After launch it mysteriously disappears. If it reaches civilian areas they'll be in big trouble. Carol Dawso ... (1176 characters truncated) ... to make repairs.<br /> Dawson, Williams &amp; Troy are asked to gather materials so the ship can be repaired &amp; return to its mission. The ship...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  148875
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('776489', '0345257049', 'Inherit the Stars (Giants, #1)', 216.0, 4.08, '3312', '235', 'Del Rey', "THE MAN ON THE MOON WAS DEAD. <br /><br />They called him Charlie. He had big eyes, abundant body hair and fairly long nostrils. <br /><br />His skel ... (165 characters truncated) ... ><br />All they knew was that his corpse was 50,000 years old; and that meant that this man had somehow lived long before he ever could have existed!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  786729
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('64402', '1857984994', "The Stainless Steel Rat's Revenge (Stainless Steel Rat, #5)", 196.0, 3.96, '4794', '60', None, "DiGriz and Angelina are happily married and expecting the birth of their sons. The planet Cliaand is waging interstellar war, and against the odds, i ... (209 characters truncated) ... s, a force of liberated freedom fighters, and eventually by his wife who arrives to help him win the war and keep him out of the arms of the Amazons.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  35412
In insert_book_data, IntegrityError Exception for book_id:  3607898
In insert_book_data, IntegrityError Exception for book_id:  678076
In insert_book_data, IntegrityError Exception for book_id:  40376
In insert_book_data, IntegrityError Exception for book_id:  13458280
In insert_book_data, IntegrityError Exception for book_id:  453960
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('100692', '0007115881', 'The Game-Players of Titan', 223.0, 3.64, '2830', '111', 'Voyager Classics / HarperCollins', "In this sardonically funny gem of speculative fiction, Philip K. Dick creates a novel that manages to be simultaneously unpredictable and perversely  ... (314 characters truncated) ... rminally--because Pete Garden will be playing his next game against an opponent who isn't even human, for stakes that are a lot higher than Berkeley.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('337019', '0441012027', 'Polaris (Alex Benedict, #2)', 370.0, 3.86, '3729', '236', 'Ace Books', 'The national best-selling author brings back the daring Alex Benedict from A Talent for War and thrusts him into a far-future tale of mystery and suspense.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17861
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45257', '0330351826', 'A Second Chance at Eden', 496.0, 4.02, '3833', '53', 'Pan Books', "From the author of the bestselling 'Night's Dawn' trilogy, a novella and six stories set in the same brilliantly realised universe.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  160987
In insert_book_data, IntegrityError Exception for book_id:  103101
In insert_book_data, IntegrityError Exception for book_id:  555184
In insert_book_data, IntegrityError Exception for book_id:  185824
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6940561', '076531505X', 'A Mighty Fortress (Safehold, #4)', 718.0, 4.12, '4815', '158', None, 'Young Cayleb Ahrmahk has accomplished things few people could even dream of. Not yet even thirty years old, he’s won the most crushing naval victorie ... (1537 characters truncated) ... s and a handful of extraordinary human beings stand in its path. The Church is about to discover just how potent the power of human freedom truly is.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('167847', '0765308843', 'Marooned in Realtime (Across Realtime, #2)', 288.0, 4.08, '4079', '157', 'Tor Books', 'Multiple Hugo Award winner Vernor Vinge takes readers on a fifty-million-year trip to a future where humanity\'s fate will be decided in a dangerous  ... (821 characters truncated) ... ge\'s tense SF puzzler will satisfy readers with its sense of wonder and engaging characters, one of whom is a murderer with a unique modus operandi.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('360929', '0440220734', 'Area 51 (Area 51, #1)', None, 3.78, '2184', '174', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22079262', None, 'Date Night on Union Station (EarthCent Ambassador #1)', None, 3.67, '3833', '303', None, 'Kelly Frank is EarthCent’s top diplomat on Union Station, but her job description has always been a bit vague. When she receives a gift subscription  ... (150 characters truncated) ...  her pride and give it a shot. But as her dates go from bad to worse, she can only hope that the supposedly omniscient AI is planning a happy ending.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  761449
In insert_book_data, IntegrityError Exception for book_id:  7843135
In insert_book_data, IntegrityError Exception for book_id:  16174363
In insert_book_data, IntegrityError Exception for book_id:  15792218
In insert_book_data, IntegrityError Exception for book_id:  50849
In insert_book_data, IntegrityError Exception for book_id:  23168784
In insert_book_data, IntegrityError Exception for book_id:  363362
In insert_book_data, IntegrityError Exception for book_id:  163653
In insert_book_data, IntegrityError Exception for book_id:  63818
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('710706', '0005530522', 'The Stainless Steel Rat Gets Drafted (Stainless Steel Rat, #2)', 262.0, 3.91, '4213', '54', 'Bantam', 'Jim was left in the custody of the League Navy, this story opens with him escaping from his prison cell on the League base on Steren-Gwandra, where h ... (507 characters truncated) ... ack anyway, since there are no medals for "generals who bring back the troops intact." Jim must save the people of Chojecki before he can face Garth.')] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  77746
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('222513', '0613926234', 'Once a Hero (The Serrano Legacy, #4)', 400.0, 4.06, '4459', '87', 'Baen Books', "When Esmay Suiza found herself in the middle of a space battle, the senior surviving officer, she had no choice but to take command and win. She didn't want to be a hero, but Once A Hero....")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11990629
In insert_book_data, IntegrityError Exception for book_id:  13702218
In insert_book_data, IntegrityError Exception for book_id:  61957
In insert_book_data, IntegrityError Exception for book_id:  26198812
In insert_book_data, IntegrityError Exception for book_id:  206857
In insert_book_data, IntegrityError Exception for book_id:  110
In insert_book_data, IntegrityError Exception for book_id:  491076
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30524238', None, "Barbarian's Touch (Ice Planet Barbarians, #7)", 301.0, 4.15, '3692', '308', None, "When I wake up on the ice planet, I’m scared of everything: this place is cold, silent, and the locals look more like blue devils than aliens. To mak ... (410 characters truncated) ... il. He’s also fierce, protective, makes me purr... and thinks I'm perfect. <br /><br />But is what we have real or just a mating instinct?\xa0 <br />")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('172738', '1857238869', 'Legacy (The Way, #3)', 410.0, 3.77, '2625', '64', 'Orbit', "Set in the same universe as the author's bestselling Eon and Eternity, this novel tells the story of Olmy, well-known to readers of the earlier books. Investigating an illegal opening in the Milky Way, Olmy discovers a strange new world.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  686344
In insert_book_data, IntegrityError Exception for book_id:  15986094
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('186682', '0224017675', 'Re: Colonised Planet 5, Shikasta', 365.0, 3.71, '1413', '145', 'Jonathan Cape', 'This is the first volume in the series of novels Doris Lessing calls collectively <i>Canopus in Argos: Archives</i>. Presented as a compilation of do ... (633 characters truncated) ... hammat but notes with dismay the ever-growing chaos and destruction of Shikasta as its people hurl themselves towards World War III and annihilation.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  92504
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('149063', '0553290959', 'The Sands of Mars', 229.0, 3.74, '2378', '94', 'Bantam Spectra', "Space writers holiday. When a celebrated science fiction writer takes to space on his first trip to Mars, he's sure to be in for some heckling from t ... (143 characters truncated) ... trepid author causes one problem after another as he stumbles upon Mars's most carefully hidden secrets and threatens the future of an entire planet!")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363423', '0590109715', 'The Andalite Chronicles (Animorphs Chronicles, #1)', 326.0, 4.03, '4201', '148', 'Scholastic', 'Relates the story of Elfangor-Sirinial-Shamtul, the Andalite war-prince responsible for creating the human animorphs on Earth.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  156780
In insert_book_data, IntegrityError Exception for book_id:  3667676
In insert_book_data, IntegrityError Exception for book_id:  662641
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30087347', None, 'Dark Planet Warriors: The Complete Serial (Dark Planet Warriors, #1)', 240.0, 4.06, '3132', '246', 'Anna Carven', "<b>***This book contains the first three Dark Planet Warriors books, Invasion, Taken and Escape (which were originally released as a three-part seria ... (2686 characters truncated) ... e I go insane <br /><br /><b>Warning: This book contains swearing, violence and steamy sex scenes. It's recommended for readers aged 18 and over.</b>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  35464
In insert_book_data, IntegrityError Exception for book_id:  153192
In insert_book_data, IntegrityError Exception for book_id:  1583121
In insert_book_data, IntegrityError Exception for book_id:  288771
In insert_book_data, IntegrityError Exception for book_id:  302546
In insert_book_data, IntegrityError Exception for book_id:  363388
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('31818909', None, "Barbarian's Taming (Ice Planet Barbarians, #8)", 243.0, 4.2, '3436', '292', None, "As a newcomer to the alien tribe, I've struggled to find my place. It might be because I'm a tad headstrong at times. And yes, I might have thrown a  ... (454 characters truncated) ... im, even as a mindless fling. <br /><br />Except... I'm not so good with the whole 'rules' thing. <br />And he's not so great with the 'fling' thing.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29778960', None, 'Alien Mate (Alien Mate, #1)', None, 3.59, '642', '45', None, 'Plump Diana is ironing her underwear when the hottest blue babe in all of the galaxy appears in her living room. Did she forget to mention he was nak ... (264 characters truncated) ... e pounding and his loins on fire. He might be an alien who doesn’t understand the meaning of love, but he sure knows what he feels is more than lust.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7922982
In insert_book_data, IntegrityError Exception for book_id:  553696
In insert_book_data, IntegrityError Exception for book_id:  15746918
In insert_book_data, IntegrityError Exception for book_id:  338128
In insert_book_data, IntegrityError Exception for book_id:  352781
In insert_book_data, IntegrityError Exception for book_id:  1246118
In insert_book_data, IntegrityError Exception for book_id:  504384
In insert_book_data, IntegrityError Exception for book_id:  64430
In insert_book_data, IntegrityError Exception for book_id:  504397
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('338325', '0743475283', 'The High Crusade', None, 3.9, '2622', '159', None, "In the year of grace 1345, as Sir Roger Baron de Tourneville is gathering an army to join King Edward III in the war against France, a most astonishi ... (884 characters truncated) ... t that knavish alien little understands the indomitable will and clever resourcefulness of Englishmen, no matter how great the odds against them. . .")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6744233
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('932065', '0743275438', 'Metal Swarm (The Saga of Seven Suns, #6)', 684.0, 3.91, '3069', '62', 'Simon & Schuster', "The alien hydrogues have been defeated, driven back into the cores of their planets by an alliance of the Earth Defence Forces, the ancient Ildiran E ... (33 characters truncated) ...  elemental beings as well as gigantic living 'treeships'. But as the various factions try to pick up the pieces and recover, the wounds may be fatal.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6465063', '1844168085', 'A Thousand Sons', 558.0, 4.25, '3665', '143', 'Black Library', 'Censured at the Council of Nikea for his flagrant use of sorcery, Magnus the Red and his Thousand Sons Legion retreat to their homeworld of Prospero  ... (282 characters truncated) ... t Magnus has seen more than the betrayal of Horus and the witnessed revelations will change the fate of his fallen Legion, and its primarch, forever.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('28475738', None, 'Jarek (Dragons of Preor, #1)', None, 3.88, '3091', '318', 'Summerhouse Publishing', '<b>What’s hotter than an alien with scales? An alien with wings and scales, not to mention a hot body.</b> <br /><br />At 457 Preor years old, Jarek  ... (997 characters truncated) ... weet Melissa’s lips? <br /><br />Related to the UJAL series: <br />The Ujal Volume One (Vados, Tave, Rhal) <br />Erun <br />Dashing Through the Stars')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  382161
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29869439', None, 'Close Remembrance (The Krinar Chronicles #3)', 400.0, 4.14, '819', '39', 'Mozaika', 'The stunning conclusion to the critically acclaimed series that has won thousands of fans!<br /><br />When a ruthless enemy finally strikes, Mia and  ... (240 characters truncated) ... the world\xa0.\xa0.\xa0.<br /><br />Warning: This book contains strong sexual content and explicit language and is not suitable for readers under 18.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  28766
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('352780', '0061020060', 'Deepsix (The Academy, #2)', 508.0, 3.86, '3508', '206', 'Eos', 'In the year 2204, tragedy and terror forced a scientific team to prematurely evacuate Maleiva Ill. Twenty-one years later, the opportunity for scient ... (1551 characters truncated) ... le apocalypse, they must find some way, any way to get off before Deepsix plunges like a pebble into the limitless depths of the rampaging gas giant.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  169002
In insert_book_data, IntegrityError Exception for book_id:  700604
In insert_book_data, IntegrityError Exception for book_id:  2310896
In insert_book_data, IntegrityError Exception for book_id:  45255

In insert_book_data, IntegrityError Exception for book_id:  20726481
In insert_book_data, IntegrityError Exception for book_id:  2014
In insert_book_data, IntegrityError Exception for book_id:  7077917
In insert_book_data, IntegrityError Exception for book_id:  2305391
In insert_book_data, IntegrityError Exception for book_id:  146499
In insert_book_data, IntegrityError Exception for book_id:  85653
In insert_book_data, IntegrityError Exception for book_id:  184786
In insert_book_data, IntegrityError Exception for book_id:  22875394
In insert_book_data, IntegrityError Exception for book_id:  302537
In insert_book_data, IntegrityError Exception for book_id:  13703312
In insert_book_data, IntegrityError Exception for book_id:  209506
In insert_book_data, IntegrityError Exception for book_id:  130528
In insert_book_data, IntegrityError Exception for book_id:  8627906
In insert_book_data, IntegrityError Exception for book_id:  1054142
In insert_book_data, IntegrityError Exception for book_id:  18649394
In insert_book_data, IntegrityError Exception for book_id:  216445
In insert_book_data, IntegrityError Exception for book_id:  2111628
In insert_book_data, IntegrityError Exception for book_id:  2861954
In insert_book_data, IntegrityError Exception for book_id:  13538863
In insert_book_data, IntegrityError Exception for book_id:  16119725
In insert_book_data, IntegrityError Exception for book_id:  77887
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1697363', '1852860693', 'Star Trek I: The Motion Picture (Star Trek: The Original Series #1; Movie Novelization #1)', 252.0, 3.77, '3133', '96', None, 'The historic five-year mission is over. But Kirk, McCoy, Scotty and the crew join forces again on the Enterprise to thwart an incredibly destructive power - a threat to earth and the human race. This novel is written by the creator of "Star Trek", Gene Roddenberry.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  21488063
In insert_book_data, IntegrityError Exception for book_id:  491087
In insert_book_data, IntegrityError Exception for book_id:  2941259
In insert_book_data, IntegrityError Exception for book_id:  185827
In insert_book_data, IntegrityError Exception for book_id:  20718586
In insert_book_data, IntegrityError Exception for book_id:  25817527
In insert_book_data, IntegrityError Exception for book_id:  758715
In insert_book_data, IntegrityError Exception for book_id:  1282266
In insert_book_data, IntegrityError Exception for book_id:  1375179
In insert_book_data, IntegrityError Exception for book_id:  25397924
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3943', '0575076267', 'The Hyperion Omnibus (Hyperion Cantos, #1-2)', 779.0, 4.42, '2488', '94', 'Orion Publishing Group', 'Together in one volume for the first time, the first two novels of the Hyperion Cantos.<br /><br /><i>HYPERION</i><br />lt is the 29th century and th ... (1112 characters truncated) ... c revelation and timeless mystery, of transcendent joy and mind-bending horror. Here is a Hugo Award-winning landmark in Science Fiction.<br /><br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  218661
In insert_book_data, IntegrityError Exception for book_id:  18245746
In insert_book_data, IntegrityError Exception for book_id:  363392
In insert_book_data, IntegrityError Exception for book_id:  352726
In insert_book_data, IntegrityError Exception for book_id:  61922
In insert_book_data, IntegrityError Exception for book_id:  68022
In insert_book_data, IntegrityError Exception for book_id:  366783
In insert_book_data, IntegrityError Exception for book_id:  10648186
In insert_book_data, IntegrityError Exception for book_id:  217902
In insert_book_data, IntegrityError Exception for book_id:  192528
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('192525', '0553568922', "Conquerors' Pride (The Conquerors Saga, #1)", 389.0, 3.9, '2720', '91', 'Spectra Bantam Doubleday Dell', 'Four alien starships attack without provocation, destroy an 8-ship Peacemaker team in six savage minutes. Officially no survivors - Lord Stewart Cava ... (60 characters truncated) ... Pheylan Cavanaugh.\xa0Quinn assembles elite Copperheads like himself, minds united with ships, who will return home as heroes or traitors, if at all.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('32602258', None, "Barbarian's Heart (Ice Planet Barbarians, #9)", 222.0, 4.12, '2987', '266', None, 'I’ve never spent a day without my mate since arriving on the ice planet. I’m happy and in love, and we have a beautiful child together. All that chan ... (195 characters truncated) ...  everything between us. How can I love someone that doesn’t remember me? <br /><br />How can I not, when I know he’s still my mate underneath it all?')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363391', '0590494236', 'The Unknown (Animorphs, #14)', 166.0, 3.63, '3199', '84', 'Scholastic Inc.', "There's a new rumor in town. Someone has discovered an item that proves life on other planets exists. And they've been hiding it on a base called Zon ... (225 characters truncated) ...  threaten their mission. So the Animorphs decide to pay Zone 91 and the Yeerks a little visit. But what they discover is not at all what they expect.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  834670
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('7892754', '0765324121', 'Out of the Dark', 381.0, 3.23, '2645', '417', None, '<div>\n  <div>\n    <p>The Galactic Hegemony has been around a long time, and it likes stability--the kind of stability that member species like the  ... (1211 characters truncated) ... ut it may well be that Shongairi and the Hegemony alike have underestimated the inhabitants of that strange planet called Earth</p>\n  </div>\n</div>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  617085
In insert_book_data, IntegrityError Exception for book_id:  2919938
In insert_book_data, IntegrityError Exception for book_id:  96964
In insert_book_data, IntegrityError Exception for book_id:  124841
In insert_book_data, IntegrityError Exception for book_id:  221993
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('10750189', '0765321548', 'How Firm a Foundation (Safehold, #5)', 607.0, 4.19, '4368', '160', None, "The Charisian Empire, born in war, has always known it must fight for its very survival. What most of its subjects don't know even now, however, is h ... (1642 characters truncated) ... olerance have built a foundation for their struggle in the Empire of Charis with their own blood, but will that foundation be firm enough to survive?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  127262
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('860926', '1597800589', 'Zima Blue and Other Stories', 300.0, 4.01, '2759', '69', 'Night Shade', 'Short story collection by the critically acclaimed author of Revelation Space and Diamond Dogs, Turquoise Days.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  222514
In insert_book_data, IntegrityError Exception for book_id:  6308259
In insert_book_data, IntegrityError Exception for book_id:  817236
In insert_book_data, IntegrityError Exception for book_id:  662655
In insert_book_data, IntegrityError Exception for book_id:  184279
In insert_book_data, IntegrityError Exception for book_id:  15744425
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61943', '1857230337', 'Generation Warriors (Planet Pirates, #3)', 345.0, 3.94, '2940', '27', 'Orbit', "These people will save the Galaxy...<br /><br />LUNZIE - who has discovered that the one good heavyworlder she ever met isn't so good after all...<br ... (585 characters truncated) ... d she'd been told to follow all the rules. But the only person who might be able to stop the disaster ahead has never been one to follow the rules...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  64123
In insert_book_data, IntegrityError Exception for book_id:  36162
In insert_book_data, IntegrityError Exception for book_id:  873195
In insert_book_data, IntegrityError Exception for book_id:  13543136
In insert_book_data, IntegrityError Exception for book_id:  33951280
In insert_book_data, IntegrityError Exception for book_id:  1723927
In insert_book_data, IntegrityError Exception for book_id:  24874

Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('412816', '0552083445', 'Restoree', 223.0, 3.91, '3521', '120', 'Corgi', 'There was a sudden stench of a dead sea creature. There was the sudden horror of a huge black shape closing over her. There was nothing...<br /><br / ... (237 characters truncated) ... br />And when she awoke she found she was in a world that was not earth, and with a face and body that were not her own. She had become a Restoree...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23353578
In insert_book_data, IntegrityError Exception for book_id:  169000
In insert_book_data, IntegrityError Exception for book_id:  10803061
In insert_book_data, IntegrityError Exception for book_id:  564450
In insert_book_data, IntegrityError Exception for book_id:  548314
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363355', '0590494244', 'The Escape (Animorphs, #15)', 163.0, 3.78, '3214', '85', 'Scholastic Inc.', "Almost nothing could be as bad as finding out your mother is Visser One. The most powerful of all Vissers. The leader of the Yeerk invasion of Earth. ... (280 characters truncated) ... e is overseeing a secret underwater project, they know they have to check it out. But Marco's not sure if this is a battle he'll be able to fight....")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('542601', '0380896850', 'Politician (Bio of a Space Tyrant, #3)', 345.0, 3.73, '2944', '33', None, "<i>Political prisoner</i><br /><br />He awoke in a tiny lightless cell, groping for memory…memory that had been erased. Hope Hubris, Jupiter governor ... (489 characters truncated) ... and finally the courage to make an agonizing sacrifice that would ensure his planet's future and his own destiny…<br /><br /><i>Tyrant of Jupiter</i>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  826525
In insert_book_data, IntegrityError Exception for book_id:  176410
In insert_book_data, IntegrityError Exception for book_id:  1053783
In insert_book_data, IntegrityError Exception for book_id:  359855
In insert_book_data, IntegrityError Exception for book_id:  26852117
In insert_book_data, IntegrityError Exception for book_id:  139981
In insert_book_data, IntegrityError Exception for book_id:  378724
In insert_book_data, IntegrityError Exception for book_id:  96982
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30298012', None, "Honor's Flight (Fallen Empire, #2)", 223.0, 4.13, '3075', '187', None, 'After spending four years fighting for the Alliance, fighter pilot Alisa Marchenko only wants one thing: to reunite with her young daughter. But this ... (361 characters truncated) ...  find that more questions await her than answers, and that her late husband kept a startling secret from her, one that could change her life forever.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  49842
In insert_book_data, IntegrityError Exception for book_id:  216361
In insert_book_data, IntegrityError Exception for book_id:  22171697
In insert_book_data, IntegrityError Exception for book_id:  2247423
In insert_book_data, IntegrityError Exception for book_id:  123901
In insert_book_data, IntegrityError Exception for book_id:  352724
In insert_book_data, IntegrityError Exception for book_id:  238937
In insert_book_data, IntegrityError Exception for book_id:  212010
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('33014223', None, "Barbarian's Hope (Ice Planet Barbarians, #10)", 175.0, 4.11, '2653', '231', None, 'Seasons ago, I resonated to the quietest of tribesmates, a male content to love me from afar while I was the center of attention. We could have been  ... (173 characters truncated) ... is giving us a second chance, but…I’m afraid. What if what I have with my mate is too broken to be fixed? What if there’s no hope left for us at all?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  987217
In insert_book_data, IntegrityError Exception for book_id:  22459186
In insert_book_data, IntegrityError Exception for book_id:  237020
In insert_book_data, IntegrityError Exception for book_id:  504378
In insert_book_data, IntegrityError Exception for book_id:  9756310
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('64931', '0575072830', 'The Ophiuchi Hotline (Eight Worlds #1)', 180.0, 3.88, '2371', '81', 'Gollancz', 'After the effortless capture of Earth by vastly superior aliens, humanity is forced to fight for existence on the Moon and other lumps of airless roc ... (917 characters truncated) ... om Clancy<br /><br />"This is a novel rich in societies, settings, and technological wizardry. It\'s a tough-minded, yet a playful book."--Ian Watson')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  176544
In insert_book_data, IntegrityError Exception for book_id:  1052311
In insert_book_data, IntegrityError Exception for book_id:  15753192
In insert_book_data, IntegrityError Exception for book_id:  352727
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45242', '0446605468', "The Neutronium Alchemist 2: Conflict (Night's Dawn 2)", 592.0, 4.33, '3223', '26', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  618194
In insert_book_data, IntegrityError Exception for book_id:  69448
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('412820', '1857230051', 'The Death of Sleep (Planet Pirates, #2)', None, 3.81, '2383', '52', 'Little Brown and Company', "THE DISASTER IN SPACE DIDN'T KILL HER - IT JUST STOLE HER LIFE")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  352725
In insert_book_data, IntegrityError Exception for book_id:  129019
In insert_book_data, IntegrityError Exception for book_id:  23978654
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('5597641', '1605042366', 'The Englor Affair (Sci-Regency #2)', 298.0, 4.13, '2831', '214', 'Samhain Publishing', "In hiding who he was, Payton found himself...and the man he would grow to love.<br /><br />After his brother is kidnapped, Prince Payton Townsend mas ... (512 characters truncated) ... as they learn more about their shared enemy, and about each other. What they learn could help them rise above to an enduring love or pull them apart.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('16066215', None, 'Ambushing Ariel (Dragon Lords of Valdier, #4)', 248.0, 4.19, '2936', '97', None, 'Ariel Hamm has always had a tender heart. Her love for her sister, Carmen, and her best friend, Trisha, has always been a priority in her life. But a ... (1822 characters truncated) ... />Can Mandra convince the stubborn human female who has captured his heart their future together can be her new dream before she escapes him forever?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25615831
In insert_book_data, IntegrityError Exception for book_id:  22896269
In insert_book_data, IntegrityError Exception for book_id:  7948544
In insert_book_data, IntegrityError Exception for book_id:  18075916
In insert_book_data, IntegrityError Exception for book_id:  1926061

Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24081930', None, 'Venomous (Alien Warrior, #1)', 690.0, 3.92, '4940', '529', None, '<i>"She is mine to protect, mine to shelter, mine to feed and mine to cover. When she is weak, I shall be her strength. She was stolen from her world ... (1653 characters truncated) ... eat from within the warrior’s own kindred. <br /><br /><i>\n  <b>Warning: violence, profanity and sexual situations with multiple partners.</b>\n</i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  664642
In insert_book_data, IntegrityError Exception for book_id:  22557743
In insert_book_data, IntegrityError Exception for book_id:  2916555
In insert_book_data, IntegrityError Exception for book_id:  16137916
In insert_book_data, IntegrityError Exception for book_id:  13702224
In insert_book_data, IntegrityError Exception for book_id:  288756
In insert_book_data, IntegrityError Exception for book_id:  7644545
In insert_book_data, IntegrityError Exception for book_id:  8151462
In insert_book_data, IntegrityError Exception for book_id:  38617807
In insert_book_data, IntegrityError Exception for book_id:  19286650
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30338514', None, 'Starseers (Fallen Empire, #3)', 227.0, 4.17, '2704', '143', None, "The mysterious and powerful Starseers have Captain Alisa Marchenko's daughter, and she will do whatever she must to get her back, even if it means tr ... (203 characters truncated) ... ng each other. It doesn’t help that Leonidas and Dr. Dominguez have a mission of their own, one that could jeopardize all that Alisa is fighting for.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12754048
In insert_book_data, IntegrityError Exception for book_id:  5585180
In insert_book_data, IntegrityError Exception for book_id:  22411825
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30745955', None, 'Relic of Sorrows (Fallen Empire, #4)', None, 4.27, '2626', '130', None, 'Captain Alisa Marchenko finally has a lead on finding her daughter, but her passengers want her to take them on their quest instead. Even though the  ... (467 characters truncated) ... nd a way to survive against impossible odds, knowing that if her passengers succeed, they will change the course of history—maybe not for the better.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30729634', None, 'Dark Planet Falling (Dark Planet Warriors, #2)', 205.0, 4.07, '740', '55', None, "<b>The Prince</b><br />Prince Xalikian Kazharan has a dilemma on his hands. Now that the Kordolians have landed on Earth, he somehow has to convince  ... (1528 characters truncated) ...  Warriors Series. It will probably make more sense if you've read the other three books first, although that's probably not absolutely essential.</i>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  21748444
In insert_book_data, IntegrityError Exception for book_id:  18042870
In insert_book_data, IntegrityError Exception for book_id:  2958520
In insert_book_data, IntegrityError Exception for book_id:  18626685
In insert_book_data, IntegrityError Exception for book_id:  13326372
In insert_book_data, IntegrityError Exception for book_id:  206856
In insert_book_data, IntegrityError Exception for book_id:  15781608
In insert_book_data, IntegrityError Exception for book_id:  1103880
In insert_book_data, IntegrityError Exception for book_id:  18626777
In insert_book_data, IntegrityError Exception for book_id:  10295605
In insert_book_data, IntegrityError Exception for book_id:  17563213
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('4445748', None, 'A Mere Formality', 26.0, 3.89, '2319', '195', 'Ilona Andrews', 'Warning: this story is one big dirty joke. There is no actual sex, but there is a lot discussion about it. It was written on a dare. Someone told us  ... (24 characters truncated) ...  short story around one particular phrase, and we did. So I recommend this for people 18+. Because you know, we wouldn’t want to corrupt your minors.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15753092
In insert_book_data, IntegrityError Exception for book_id:  18619542
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('666403', '1586088920', 'Genesis (Enslaved, #1)', None, 3.49, '2044', '86', None, "Bri's uncertain of whether she finds it more unnerving or thrilling that Kole, a warrior well over six feet in height and built like the hulk, watche ... (279 characters truncated) ... eem perfectly willing fight to the death to settle which of them gets to breed her. Rating: Contains graphic sex, graphic language, graphic violence.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24686619', None, 'Enslaved (Brides of the Kindred, #14)', None, 4.1, '1603', '105', None, 'Enslaved is book number 14 in the Brides of the Kindred series. It is a plus-length novel of around 168,000 words<br /><br />Anything for you Mistres ... (898 characters truncated) ... r differences threaten to tear them apart, Trin tries to grant Thrace his freedom. But she doesn’t realize that his heart has already been… Enslaved.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22575681
In insert_book_data, IntegrityError Exception for book_id:  16119716
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('28002882', None, 'Ice Planet Holiday (Ice Planet Barbarians, #4.5)', 136.0, 3.99, '3429', '258', None, "All this snow and no holidays? What's a stranded human to do? <br /><br />Create a new holiday, of course. Georgie and the other women decide to brin ... (216 characters truncated) ... r /><b>This 25,000 word novella is NOT intended as a stand-alone. Looking for a place to start? Try ICE PLANET BARBARIANS, Book #1 in the series.</b>")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29225378', None, 'Assigned a Mate (Interstellar Brides, #1)', None, 3.8, '1566', '110', None, 'When a potential threat against her life forces Eva Daily to seek shelter on another world, she has only one option available to her. She must offer  ... (1498 characters truncated) ... hat includes spankings, sexual scenes, medical play, anal play, elements of BDSM, and more. If such material offends you, please don’t buy this book.')] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  26138086
In insert_book_data, IntegrityError Exception for book_id:  6605730
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29371117', None, 'Taulan (Dragons of Preor, #2)', None, 4.09, '1927', '174', None, '<b>He wants to return to Preor and she wants a job, but you don’t always get what you want.</b> <br /><br />Lana Cooper is down to her last hundred d ... (1035 characters truncated) ...  will stop at nothing to drive a wedge between the races. Including murder. <br /><br />Part of the DRAGONS OF PREOR series: <br />Jarek <br />Taulan')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12361693
In insert_book_data, IntegrityError Exception for book_id:  17788835
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25106480', None, 'Targeted (Brides of the Kindred, #15)', 478.0, 4.12, '863', '70', None, "A warrior sworn to kill or die trying… <br />A woman going through a deadly transformation… <br />Can they reach safety together? <br />Or have both  ... (1348 characters truncated) ... life. Can the fallen warrior guide and protect Emily to the place she truly belongs? Or will he die trying? You'll have to read Targeted to find out.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  19546477
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('5841844', '0764206060', 'Offworld (Dangerous Times, #1)', None, 3.56, '971', '152', None, "The return of NASA's first manned mission to Mars was supposed to be a momentous day. But when the crew loses touch with ground control before entry, ... (188 characters truncated) ... e planet, the crew sets out to discover where everyone has gone--and how to get them back--only to discover they may not be as alone as they thought.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22739456', None, 'Fall (Cold Mark Saga, #1)', 98.0, 3.77, '1510', '75', None, '<b>*The individual installments are no longer in publication. Please see <i>Cold Mark (Mark, #1) <a target="_blank" href="https://www.goodreads.com/b ... (1184 characters truncated) ... othing of, Braita must adapt to a dark life as a slave of the Mian society. Her existence depends on it...<i>and possibly, the fall of her heart</i>.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22067388
In insert_book_data, IntegrityError Exception for book_id:  23877720
In insert_book_data, IntegrityError Exception for book_id:  16119720
In insert_book_data, IntegrityError Exception for book_id:  57100
In insert_book_data, IntegrityError Exception for book_id:  23245994
In insert_book_data, IntegrityError Exception for book_id:  13346044
In insert_book_data, IntegrityError Exception for book_id:  18055987
In insert_book_data, IntegrityError Exception for book_id:  20709669
In insert_book_data, IntegrityError Exception for book_id:  6697518
In insert_book_data, IntegrityError Exception for book_id:  18046079
In insert_book_data, IntegrityError Exception for book_id:  35496899
In insert_book_data, IntegrityError Exception for book_id:  337134
In insert_book_data, IntegrityError Exception for book_id:  1229977
In insert_book_data, IntegrityError Exception for book_id:  1054581
In insert_book_data, IntegrityError Exception for book_id:  17262145
In insert_book_data, IntegrityError Exception for book_id:  15769793
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13552041', '1611601738', 'Shield (New World, #1)', 96.0, 3.58, '1928', '76', 'Whiskey Creek Press Torrid', "Earth is all but dead. With meteors exploding in their midst, the shuttle Grace boards takes flight in a last ditch effort to save human lives. With  ... (827 characters truncated) ... e beneath. Rask had thought his armor impenetrable. One touch from a slender hand and he realizes he is powerless against the tiny human he must have")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17451462
In insert_book_data, IntegrityError Exception for book_id:  12754082
In insert_book_data, IntegrityError Exception for book_id:  337134
In insert_book_data, IntegrityError Exception for book_id:  359796
In insert_book_data, IntegrityError Exception for book_id:  1229977
In insert_book_data, IntegrityError Exception for book_id:  1054581
In insert_book_data, IntegrityError Exception for book_id:  390058
In insert_book_data, IntegrityError Exception for book_id:  391849
In insert_book_data, IntegrityError Exception for book_id:  758675
In insert_book_data, IntegrityError Exception for book_id:  17262145
In insert_book_data, IntegrityError Exception for book_id:  390061
In insert_book_data, IntegrityError Exception for book_id:  15769793
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13552041', '1611601738', 'Shield (New World, #1)', 96.0, 3.58, '1928', '76', 'Whiskey Creek Press Torrid', "Earth is all but dead. With meteors exploding in their midst, the shuttle Grace boards takes flight in a last ditch effort to save human lives. With  ... (827 characters truncated) ... e beneath. Rask had thought his armor impenetrable. One touch from a slender hand and he realizes he is powerless against the tiny human he must have")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13316252
In insert_book_data, IntegrityError Exception for book_id:  28693621
In insert_book_data, IntegrityError Exception for book_id:  8163859
In insert_book_data, IntegrityError Exception for book_id:  22104991
In insert_book_data, IntegrityError Exception for book_id:  17451462
In insert_book_data, IntegrityError Exception for book_id:  12754082
In insert_book_data, IntegrityError Exception for book_id:  57078
In insert_book_data, IntegrityError Exception for book_id:  29430688
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('125336', '0439106761', 'The Weakness (Animorphs, #37)', 129.0, 3.6, '1838', '57', 'Scholastic Paperbacks', "While Jake is away at an out-of-town wedding, Tobias discovers the place where Visser Three feeds. There is a unanimous decision to acquire cheetah morphs and run him down. But which Animorph will lead the mission in Jake's absence?")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2767052', '0439023483', 'The Hunger Games (The Hunger Games, #1)', 374.0, 4.33, '5510913', '147635', 'Scholastic Press', "Could you survive on your own, in the wild, with everyone out to make sure you don't live to see the morning?<br /><br />In the ruins of a place once ... (849 characters truncated) ... rts suspense and philosophy, adventure and romance, in this searing novel set in a future with unsettling parallels to our present.<br />(front flap)")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  40961427

In insert_book_data, IntegrityError Exception for book_id:  13335037
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('170448', None, 'Animal Farm', 144.0, 3.91, '101025', '3700', 'Signet Classics', 'A farm is taken over by its overworked, mistreated animals. With flaming idealism and stirring slogans, they set out to create a paradise of progress ... (406 characters truncated) ... cked, under whatever banner, the cutting clarity and savage comedy of George Orwell’s masterpiece have a meaning and message still ferociously fresh.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6148028
In insert_book_data, IntegrityError Exception for book_id:  7260188
In insert_book_data, IntegrityError Exception for book_id:  13079982
In insert_book_data, IntegrityError Exception for book_id:  3636
In insert_book_data, IntegrityError Exception for book_id:  5129
In insert_book_data, IntegrityError Exception for book_id:  4981
In insert_book_data, IntegrityError Exception for book_id:  11735983
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('375802', '0812550706', "Ender's Game (Ender's Saga, #1)", 324.0, 4.3, '929536', '35605', 'TOR', 'Andrew "Ender" Wiggin thinks he is playing computer simulated war games; he is, in fact, engaged in something far more desperate. The result of genet ... (1208 characters truncated) ...  begin working together to shape the destiny of Earth-an Earth that has no future at all if their brother Ender fails.<br /><br />Source: hatrack.com')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6186357
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('36381037', None, 'Cinder (The Lunar Chronicles, #1)', 400.0, 4.15, '97780', '4861', 'Feiwel & Friends', "<b>A forbidden romance.</b><br /><br /><b>A deadly plague.</b><br /><br /><b>Earth's fate hinges on one girl . . .</b><br /><br /><b>CINDER</b>, a gi ... (422 characters truncated) ... bout her mysterious past in order to protect Earth's future.<br /><br /><b>This is not the fairytale you remember. But it's one you won't forget.</b>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10507293
In insert_book_data, IntegrityError Exception for book_id:  1656001
In insert_book_data, IntegrityError Exception for book_id:  18710190
In insert_book_data, IntegrityError Exception for book_id:  9969571
In insert_book_data, IntegrityError Exception for book_id:  7735333
In insert_book_data, IntegrityError Exception for book_id:  41817486
In insert_book_data, IntegrityError Exception for book_id:  1582996
In insert_book_data, IntegrityError Exception for book_id:  22328546
In insert_book_data, IntegrityError Exception for book_id:  7896527
In insert_book_data, IntegrityError Exception for book_id:  6288
In insert_book_data, IntegrityError Exception for book_id:  24770
In insert_book_data, IntegrityError Exception for book_id:  149267
In insert_book_data, IntegrityError Exception for book_id:  6334
In insert_book_data, IntegrityError Exception for book_id:  11614718
In insert_book_data, IntegrityError Exception for book_id:  9275658
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('43615', None, 'The Gunslinger (The Dark Tower, #1)', 231.0, 3.96, '404799', '11962', 'Plume', 'In the first book of this brilliant series, Stephen King introduces readers to one of his most enigmatic heroes, Roland of Gilead, The Last Gunslinge ... (265 characters truncated) ... called Jake. Both grippingly realistic and eerily dreamlike, The Gunslinger leaves readers eagerly awaiting the next chapter.<br /><br />(back cover)')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16101128
In insert_book_data, IntegrityError Exception for book_id:  3236307
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('472331', '0930289234', 'Watchmen (Watchmen #1-12)', 416.0, 4.36, '434002', '10852', 'DC Comics', 'This Hugo Award-winning graphic novel chronicles the fall from grace of a group of super-heroes plagued by all-too-human failings. Along the way, the ... (282 characters truncated) ... y title, leading readers to other graphic novels such as <i>V for Vendetta</i>, <i>Batman: The Dark Knight Returns</i> and <i>The Sandman</i> series.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8908
In insert_book_data, IntegrityError Exception for book_id:  16096824
In insert_book_data, IntegrityError Exception for book_id:  2493
In insert_book_data, IntegrityError Exception for book_id:  7631105
In insert_book_data, IntegrityError Exception for book_id:  8490112
In insert_book_data, IntegrityError Exception for book_id:  68428
In insert_book_data, IntegrityError Exception for book_id:  10429045
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('135479', '0140285601', "Cat's Cradle", 306.0, 4.17, '266204', '6195', 'Penguin', "<b>Told with deadpan humour and bitter irony, Kurt Vonnegut's cult tale of global destruction preys on our deepest fears of witnessing Armageddon and ... (360 characters truncated) ... bean, to madness. Felix Hoenikker's Death Wish comes true when his last, fatal gift to humankind brings about the end, that for all of us, is nigh...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23437156
In insert_book_data, IntegrityError Exception for book_id:  36402034
In insert_book_data, IntegrityError Exception for book_id:  16248068
In insert_book_data, IntegrityError Exception for book_id:  10194157
In insert_book_data, IntegrityError Exception for book_id:  20170404
In insert_book_data, IntegrityError Exception for book_id:  7747374
In insert_book_data, IntegrityError Exception for book_id:  18635016
In insert_book_data, IntegrityError Exception for book_id:  7864437
In insert_book_data, IntegrityError Exception for book_id:  15839976
In insert_book_data, IntegrityError Exception for book_id:  13206760
In insert_book_data, IntegrityError Exception for book_id:  5805
In insert_book_data, IntegrityError Exception for book_id:  49628
In insert_book_data, IntegrityError Exception for book_id:  22055262
In insert_book_data, IntegrityError Exception for book_id:  20758104
In insert_book_data, IntegrityError Exception for book_id:  6320534
In insert_book_data, IntegrityError Exception for book_id:  17167166
In insert_book_data, IntegrityError Exception for book_id:  888628
In insert_book_data, IntegrityError Exception for book_id:  13206828
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41637836', None, 'The Subtle Knife (His Dark Materials, #2)', 370.0, 4.12, '11740', '263', 'RHCP Digital', 'ASIN moved from <a href="https://www.goodreads.com/book/show/24963098-the-subtle-knife" rel="nofollow"> this edition</a><br />The second instalment i ... (744 characters truncated) ... ry and devastating power.<br /><br />And with every step, they move closer to an even greater threat – and the shattering truth of their own destiny.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  41804
In insert_book_data, IntegrityError Exception for book_id:  10357575
In insert_book_data, IntegrityError Exception for book_id:  27833670

In insert_book_data, IntegrityError Exception for book_id:  15863832
In insert_book_data, IntegrityError Exception for book_id:  8909
In insert_book_data, IntegrityError Exception for book_id:  764347
In insert_book_data, IntegrityError Exception for book_id:  17235026
In insert_book_data, IntegrityError Exception for book_id:  27774758
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('307791', '0375822747', 'The City of Ember', 270.0, 3.86, '217040', '9814', 'Yearling Books', '<i>An alternate cover edition can be found <a href="https://www.goodreads.com/book/show/33865597-the-city-of-ember" rel="nofollow">here</a>.</i><br / ... (452 characters truncated) ... e could be a way out of Ember. Can they decipher the words from long ago and find a new future for everyone? Will the people of Ember listen to them?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  20613470
In insert_book_data, IntegrityError Exception for book_id:  40651883
In insert_book_data, IntegrityError Exception for book_id:  10576365
In insert_book_data, IntegrityError Exception for book_id:  2536134
In insert_book_data, IntegrityError Exception for book_id:  18122
In insert_book_data, IntegrityError Exception for book_id:  8235178
In insert_book_data, IntegrityError Exception for book_id:  9593911
In insert_book_data, IntegrityError Exception for book_id:  15812814
In insert_book_data, IntegrityError Exception for book_id:  18006496
In insert_book_data, IntegrityError Exception for book_id:  13206900
In insert_book_data, IntegrityError Exception for book_id:  6690798
In insert_book_data, IntegrityError Exception for book_id:  24768
In insert_book_data, IntegrityError Exception for book_id:  23174274
In insert_book_data, IntegrityError Exception for book_id:  15704307
In insert_book_data, IntegrityError Exception for book_id:  68429
In insert_book_data, IntegrityError Exception for book_id:  22918050
In insert_book_data, IntegrityError Exception for book_id:  40495148
In insert_book_data, IntegrityError Exception for book_id:  13414446
In insert_book_data, IntegrityError Exception for book_id:  138398
In insert_book_data, IntegrityError Exception for book_id:  76778
In insert_book_data, IntegrityError Exception for book_id:  13152
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('216363', '0679740678', 'The Man in the High Castle', 259.0, 3.63, '107354', '6528', None, "It's America in 1962. Slavery is legal once again. The few Jews who still survive hide under assumed names. In San Francisco, the I Ching is as commo ... (307 characters truncated) ... nce fiction and the serious novel of ideas. In it Dick offers a haunting vision of history as a nightmare from which it may just be possible to wake.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2767793
In insert_book_data, IntegrityError Exception for book_id:  13089710
In insert_book_data, IntegrityError Exception for book_id:  18302455
In insert_book_data, IntegrityError Exception for book_id:  5094
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('10567', '1416524517', 'Cell', 449.0, 3.65, '163633', '4228', 'Pocket Star Books', 'WHERE WERE YOU ON OCTOBER 1ST AT 3:03 P.M.?<br /><br />Graphic artist Clay Riddell was in the heart of Boston on that brilliant autumn afternoon when ... (92 characters truncated) ... ople fell victim to the basest, most animalistic destruction.<br /><br />And the apocalypse began with the ring of a cell phone....<br />(back cover)')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11594257
In insert_book_data, IntegrityError Exception for book_id:  60510
In insert_book_data, IntegrityError Exception for book_id:  13104080
In insert_book_data, IntegrityError Exception for book_id:  18126198
In insert_book_data, IntegrityError Exception for book_id:  14290364
In insert_book_data, IntegrityError Exception for book_id:  19161852
In insert_book_data, IntegrityError Exception for book_id:  17934530
In insert_book_data, IntegrityError Exception for book_id:  12936
In insert_book_data, IntegrityError Exception for book_id:  6137154
In insert_book_data, IntegrityError Exception for book_id:  24765
In insert_book_data, IntegrityError Exception for book_id:  27523
In insert_book_data, IntegrityError Exception for book_id:  13125947
In insert_book_data, IntegrityError Exception for book_id:  22299763
In insert_book_data, IntegrityError Exception for book_id:  20821111
In insert_book_data, IntegrityError Exception for book_id:  23395680
In insert_book_data, IntegrityError Exception for book_id:  17214
In insert_book_data, IntegrityError Exception for book_id:  17182126
In insert_book_data, IntegrityError Exception for book_id:  34084
In insert_book_data, IntegrityError Exception for book_id:  18498558
In insert_book_data, IntegrityError Exception for book_id:  14061955
In insert_book_data, IntegrityError Exception for book_id:  16069030
In insert_book_data, IntegrityError Exception for book_id:  7938275
In insert_book_data, IntegrityError Exception for book_id:  18966819
In insert_book_data, IntegrityError Exception for book_id:  30226723
In insert_book_data, IntegrityError Exception for book_id:  13453029
In insert_book_data, IntegrityError Exception for book_id:  16131484
In insert_book_data, IntegrityError Exception for book_id:  8525590
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('59960', '156389341X', 'Batman: The Dark Knight Returns', 197.0, 4.25, '141073', '2455', 'DC Comics', "This masterpiece of modern comics storytelling brings to vivid life a dark world and an even darker man. Together with inker Klaus Janson and coloris ... (1151 characters truncated) ... ted classic and one of the most influential stories ever told in the comics medium.<br /><br />Collecting <i>Batman: The Dark Knight Returns</i> #1-4")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('5096', '0340829788', 'Wizard and Glass (The Dark Tower, #4)', 845.0, 4.25, '122610', '3390', 'New English Library', 'Roland, Eddie, Susannah, Jake, and Jake’s pet bumbler survive Blaine the Mono’s final crash, only to find themselves stranded in an alternate version ... (644 characters truncated) ... battled the forces of John Farson, the harrier who—with a little help from a seeing sphere called Maerlyn’s Grapefruit—ignited Mid-World’s final war.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9593913
In insert_book_data, IntegrityError Exception for book_id:  12812550
In insert_book_data, IntegrityError Exception for book_id:  13188676
In insert_book_data, IntegrityError Exception for book_id:  6050678
In insert_book_data, IntegrityError Exception for book_id:  18423
In insert_book_data, IntegrityError Exception for book_id:  4978
In insert_book_data, IntegrityError Exception for book_id:  20518872
In insert_book_data, IntegrityError Exception for book_id:  16429619
In insert_book_data, IntegrityError Exception for book_id:  213753
In insert_book_data, IntegrityError Exception for book_id:  5472
In insert_book_data, IntegrityError Exception for book_id:  547094
In insert_book_data, IntegrityError Exception for book_id:  21611
In insert_book_data, IntegrityError Exception for book_id:  14061957
In insert_book_data, IntegrityError Exception for book_id:  5091
In insert_book_data, IntegrityError Exception for book_id:  22864842

In insert_book_data, IntegrityError Exception for book_id:  9532
In insert_book_data, IntegrityError Exception for book_id:  5479
In insert_book_data, IntegrityError Exception for book_id:  20819685
In insert_book_data, IntegrityError Exception for book_id:  15842439
In insert_book_data, IntegrityError Exception for book_id:  18966806
In insert_book_data, IntegrityError Exception for book_id:  18243700
In insert_book_data, IntegrityError Exception for book_id:  13138635
In insert_book_data, IntegrityError Exception for book_id:  414999
In insert_book_data, IntegrityError Exception for book_id:  10215349
In insert_book_data, IntegrityError Exception for book_id:  28954189
In insert_book_data, IntegrityError Exception for book_id:  12930
In insert_book_data, IntegrityError Exception for book_id:  22816087
In insert_book_data, IntegrityError Exception for book_id:  8648
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('10374', None, 'Hard-Boiled Wonderland and the End of the World', 400.0, 4.15, '74281', '3523', 'Vintage', "'A narrative particle accelerator that zooms between Wild Turkey Whiskey and Bob Dylan, unicorn skulls and voracious librarians, John Coltrane and <i ... (277 characters truncated) ...  the Kafkaesque underworld of contemporary Tokyo, Murakami unites East and West, tragedy and farce, compassion and detachment, slang and philosophy.'")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  667
In insert_book_data, IntegrityError Exception for book_id:  38619
In insert_book_data, IntegrityError Exception for book_id:  22489107
In insert_book_data, IntegrityError Exception for book_id:  8659601
In insert_book_data, IntegrityError Exception for book_id:  28374007
In insert_book_data, IntegrityError Exception for book_id:  5093
In insert_book_data, IntegrityError Exception for book_id:  27003
In insert_book_data, IntegrityError Exception for book_id:  30117284
In insert_book_data, IntegrityError Exception for book_id:  20764879
In insert_book_data, IntegrityError Exception for book_id:  9579634
In insert_book_data, IntegrityError Exception for book_id:  4982
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3432478', '0575090855', 'The Forest of Hands and Teeth (The Forest of Hands and Teeth, #1)', 310.0, 3.59, '67411', '6223', 'Gollancz', "In Mary's world there are simple truths. The Sisterhood always knows best. The Guardians will protect and serve. The Unconsecrated will never relent. ... (501 characters truncated) ...  one who loves her. And she must face the truth about the Forest of Hands and Teeth. Could there be life outside a world surrounded by so much death?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16690
In insert_book_data, IntegrityError Exception for book_id:  33385229
In insert_book_data, IntegrityError Exception for book_id:  3428935
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('493456', '1416951172', 'Extras (Uglies, #4)', 417.0, 3.59, '91611', '4732', None, 'A few years after rebel Tally Youngblood takes down the Specials regime, a cultural renaissance sweeps the world. “Tech-heads” flaunt their latest ga ... (374 characters truncated) ... et. Aya knows she is on the cusp of celebrity. But the information she is about to disclose will change both her fate…and that of the brave new world')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10626594
In insert_book_data, IntegrityError Exception for book_id:  12680907
In insert_book_data, IntegrityError Exception for book_id:  7137327
In insert_book_data, IntegrityError Exception for book_id:  13651
In insert_book_data, IntegrityError Exception for book_id:  13615258
In insert_book_data, IntegrityError Exception for book_id:  535441
In insert_book_data, IntegrityError Exception for book_id:  6080337
In insert_book_data, IntegrityError Exception for book_id:  16278318
In insert_book_data, IntegrityError Exception for book_id:  17399160
In insert_book_data, IntegrityError Exception for book_id:  15839984
In insert_book_data, IntegrityError Exception for book_id:  24934065
In insert_book_data, IntegrityError Exception for book_id:  18053060
In insert_book_data, IntegrityError Exception for book_id:  13154150
In insert_book_data, IntegrityError Exception for book_id:  9014
In insert_book_data, IntegrityError Exception for book_id:  13139
In insert_book_data, IntegrityError Exception for book_id:  29981
In insert_book_data, IntegrityError Exception for book_id:  40642172
In insert_book_data, IntegrityError Exception for book_id:  13618440
In insert_book_data, IntegrityError Exception for book_id:  41014903
In insert_book_data, IntegrityError Exception for book_id:  13324841
In insert_book_data, IntegrityError Exception for book_id:  25558608
In insert_book_data, IntegrityError Exception for book_id:  12971616
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('76171', '0140185852', 'We', 255.0, 3.94, '46196', '2381', 'Penguin Classics', "<b>The exhilarating dystopian novel that inspired George Orwell's 1984 and foreshadowed the worst excesses of Soviet Russia</b><br /><br />Yevgeny Za ... (774 characters truncated) ... rown's brilliant translation is based on the corrected text of the novel, first published in Russia in 1988 after more than sixty years' suppression.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7094569
In insert_book_data, IntegrityError Exception for book_id:  14817
In insert_book_data, IntegrityError Exception for book_id:  164154
In insert_book_data, IntegrityError Exception for book_id:  12401556
In insert_book_data, IntegrityError Exception for book_id:  227651
In insert_book_data, IntegrityError Exception for book_id:  13643567
In insert_book_data, IntegrityError Exception for book_id:  27188596
In insert_book_data, IntegrityError Exception for book_id:  17234658
In insert_book_data, IntegrityError Exception for book_id:  156534
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('40792913', None, 'Altered Carbon (Takeshi Kovacs, #1)', 544.0, 4.06, '7946', '512', 'Del Rey', "Four hundred years from now mankind is strung out across a region of interstellar space inherited from an ancient civilization discovered on Mars. Th ... (495 characters truncated) ... o discover who murdered his last body, Kovacs is drawn into a terrifying conspiracy that stretches across known space and to the very top of society.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  28251250
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('76620', '038039586X', 'Watership Down (Watership Down, #1)', 478.0, 4.06, '338716', '9551', 'Avon Books', '<i>Librarian\'s note: See alternate cover edition of ISBN13 9780380395866 <a href="https://www.goodreads.com/book/show/9514847-watership-down" rel="n ... (338 characters truncated) ... r native Sandleford Warren through the harrowing trials posed by predators and adversaries, to a mysterious promised land and a more perfect society.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15096164
In insert_book_data, IntegrityError Exception for book_id:  17199504
In insert_book_data, IntegrityError Exception for book_id:  17849112
In insert_book_data, IntegrityError Exception for book_id:  9917938
In insert_book_data, IntegrityError Exception for book_id:  16131489
In insert_book_data, IntegrityError Exception for book_id:  12476820
In insert_book_data, IntegrityError Exception for book_id:  40940649
In insert_book_data, IntegrityError Exception for book_id:  31360
In insert_book_data, IntegrityError Exception for book_id:  18414
In insert_book_data, IntegrityError Exception for book_id:  16150830
In insert_book_data, IntegrityError Exception for book_id:  22590
In insert_book_data, IntegrityError Exception for book_id:  13281368
In insert_book_data, IntegrityError Exception for book_id:  7304203
In insert_book_data, IntegrityError Exception for book_id:  12287209
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('11607', '0451197968', 'The Running Man', 317.0, 3.86, '78875', '1784', 'Signet', '<i>The Running Man</i> is set within a dystopian future in which the poor are seen more by the government as worrisome rodents than actual human bein ... (177 characters truncated) ...  Desperate for money to pay Cathy’s medical bills, Ben enlists himself in a true reality style game show where the objective is to merely stay alive.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  28421168
In insert_book_data, IntegrityError Exception for book_id:  17333324
In insert_book_data, IntegrityError Exception for book_id:  38447
In insert_book_data, IntegrityError Exception for book_id:  13644052

In insert_book_data, IntegrityError Exception for book_id:  530965
In insert_book_data, IntegrityError Exception for book_id:  6597651
In insert_book_data, IntegrityError Exception for book_id:  25689074
In insert_book_data, IntegrityError Exception for book_id:  6909544
In insert_book_data, IntegrityError Exception for book_id:  6065215
In insert_book_data, IntegrityError Exception for book_id:  827
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24830', '000712774X', 'The Illustrated Man', 186.0, 4.14, '56526', '1932', 'Voyager Classics / Harper Collins', 'That <i>The Illustrated Man</i> has remained in print since being published in 1951 is fair testimony to the universal appeal of Ray Bradbury\'s work ... (2146 characters truncated) ...  <br />· Zero Hour · ss Planet Stories Fll ’47 <br />· The Rocket [“Outcast of the Stars”] · ss Super Science Stories Mar ’50 <br />· Epilogue · aw *')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22910900
In insert_book_data, IntegrityError Exception for book_id:  33676
In insert_book_data, IntegrityError Exception for book_id:  21969786
In insert_book_data, IntegrityError Exception for book_id:  15820748
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13376', '0689852231', 'The House of the Scorpion (Matteo Alacran, #1)', 380.0, 4.1, '67811', '5386', 'Atheneum Books for Young Readers', 'With undertones of vampires, Frankenstein, dragons\' hoards, and killing fields, Matt\'s story turns out to be an inspiring tale of friendship, survi ... (665 characters truncated) ... t was once called Mexico—Matt is a guarantee of eternal life. El Patrón loves Matt as he loves himself for Matt is himself. They share identical DNA.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12341557
In insert_book_data, IntegrityError Exception for book_id:  12813630
In insert_book_data, IntegrityError Exception for book_id:  52397
In insert_book_data, IntegrityError Exception for book_id:  344262
In insert_book_data, IntegrityError Exception for book_id:  5047880
In insert_book_data, IntegrityError Exception for book_id:  6437061
In insert_book_data, IntegrityError Exception for book_id:  13326831
In insert_book_data, IntegrityError Exception for book_id:  20758103
In insert_book_data, IntegrityError Exception for book_id:  2702704
In insert_book_data, IntegrityError Exception for book_id:  13253276
In insert_book_data, IntegrityError Exception for book_id:  11366397
In insert_book_data, IntegrityError Exception for book_id:  57891
In insert_book_data, IntegrityError Exception for book_id:  21418013
In insert_book_data, IntegrityError Exception for book_id:  2845024
In insert_book_data, IntegrityError Exception for book_id:  17262203
In insert_book_data, IntegrityError Exception for book_id:  9413044
In insert_book_data, IntegrityError Exception for book_id:  6050298
In insert_book_data, IntegrityError Exception for book_id:  29875363
In insert_book_data, IntegrityError Exception for book_id:  15704459
In insert_book_data, IntegrityError Exception for book_id:  13623150
In insert_book_data, IntegrityError Exception for book_id:  13644055
In insert_book_data, IntegrityError Exception for book_id:  13641208
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41811', '0586008357', 'The Caves of Steel (Robot #1)', 206.0, 4.16, '59475', '1436', 'Voyager', 'A millennium into the future two advancements have altered the course of human history: the colonization of the galaxy and the creation of the positr ... (649 characters truncated) ...  R. Daneel Olivaw. Worst of all was that the "R" stood for robot--and his positronic partner was made in the image and likeness of the murder victim!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18080920
In insert_book_data, IntegrityError Exception for book_id:  24388326
In insert_book_data, IntegrityError Exception for book_id:  9297774
In insert_book_data, IntegrityError Exception for book_id:  18079804
In insert_book_data, IntegrityError Exception for book_id:  1902241
In insert_book_data, IntegrityError Exception for book_id:  20758105
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('68494', '0345459407', 'Perdido Street Station (New Crobuzon, #1)', 623.0, 3.97, '45704', '3588', 'Ballantine Del Rey', "Beneath the towering bleached ribs of a dead, ancient beast lies the city of New Crobuzon, where the unsavory deal is stranger to no one--not even to ... (424 characters truncated) ... rphosis will occur that will permeate every fiber of New Crobuzon--and not even the Ambassador of Hell will challenge the malignant terror it evokes.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  28204534
In insert_book_data, IntegrityError Exception for book_id:  2986865
In insert_book_data, IntegrityError Exception for book_id:  332775
In insert_book_data, IntegrityError Exception for book_id:  10345927
In insert_book_data, IntegrityError Exception for book_id:  342445
In insert_book_data, IntegrityError Exception for book_id:  23846013
In insert_book_data, IntegrityError Exception for book_id:  25372801
In insert_book_data, IntegrityError Exception for book_id:  3393124
In insert_book_data, IntegrityError Exception for book_id:  334176
In insert_book_data, IntegrityError Exception for book_id:  9593
In insert_book_data, IntegrityError Exception for book_id:  17131869
In insert_book_data, IntegrityError Exception for book_id:  17332969
In insert_book_data, IntegrityError Exception for book_id:  15861491
In insert_book_data, IntegrityError Exception for book_id:  23308084
In insert_book_data, IntegrityError Exception for book_id:  25895524
In insert_book_data, IntegrityError Exception for book_id:  16150831
In insert_book_data, IntegrityError Exception for book_id:  16703
In insert_book_data, IntegrityError Exception for book_id:  15768409
In insert_book_data, IntegrityError Exception for book_id:  6465707
In insert_book_data, IntegrityError Exception for book_id:  1829709
In insert_book_data, IntegrityError Exception for book_id:  18500665
In insert_book_data, IntegrityError Exception for book_id:  6087756
In insert_book_data, IntegrityError Exception for book_id:  15711341
In insert_book_data, IntegrityError Exception for book_id:  11557
In insert_book_data, IntegrityError Exception for book_id:  25843420
In insert_book_data, IntegrityError Exception for book_id:  11300302
In insert_book_data, IntegrityError Exception for book_id:  6686092
In insert_book_data, IntegrityError Exception for book_id:  13147230
In insert_book_data, IntegrityError Exception for book_id:  46202
In insert_book_data, IntegrityError Exception for book_id:  433567
In insert_book_data, IntegrityError Exception for book_id:  178476
In insert_book_data, IntegrityError Exception for book_id:  29236299
In insert_book_data, IntegrityError Exception for book_id:  26228034
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('248787', '0312347294', 'The World Without Us', 324.0, 3.8, '31103', '2879', None, "<b>A penetrating, page-turning tour of a post-human Earth</b><br /><br />In <i>The World Without Us</i>, Alan Weisman offers an utterly original appr ... (1874 characters truncated) ...  an irresistible concept with both gravity and a highly readable touch, it looks deeply at our effects on the planet in a way that no other book has.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  20443207
In insert_book_data, IntegrityError Exception for book_id:  9534
In insert_book_data, IntegrityError Exception for book_id:  33257757
In insert_book_data, IntegrityError Exception for book_id:  89723
In insert_book_data, IntegrityError Exception for book_id:  223380

In insert_book_data, IntegrityError Exception for book_id:  17306293
In insert_book_data, IntegrityError Exception for book_id:  71865
In insert_book_data, IntegrityError Exception for book_id:  10874177
In insert_book_data, IntegrityError Exception for book_id:  8573642
In insert_book_data, IntegrityError Exception for book_id:  17855756
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('4985', '0385333501', 'Welcome to the Monkey House', 331.0, 4.14, '44711', '1435', 'Dial Press Trade Paperbacks', '<i>Welcome to the Monkey House</i> is a collection of Kurt Vonnegut’s shorter works. Originally printed in publications as diverse as <i>The Magazine ... (26 characters truncated) ... ction</i> and <i>The Atlantic Monthly</i>, these superb stories share Vonnegut’s audacious sense of humor and extraordinary range of creative vision.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  169756
In insert_book_data, IntegrityError Exception for book_id:  6431790
In insert_book_data, IntegrityError Exception for book_id:  20759393
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22443261', None, 'The Rithmatist (The Rithmatist, #1)', None, 4.26, '21950', '2009', None, "<i>The Rithmatist, </i>Brandon Sanderson's <i>New York Times</i> bestselling epic teen adventure is now available in paperback.<br /><br />More than  ... (710 characters truncated) ... ted discovery—one that will change Rithmatics—and their world—forever.<br /><br />A <i>New York Times Book Review </i>Notable Children's Book of 2013")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10445208
In insert_book_data, IntegrityError Exception for book_id:  13330761
In insert_book_data, IntegrityError Exception for book_id:  26891429
In insert_book_data, IntegrityError Exception for book_id:  287861
In insert_book_data, IntegrityError Exception for book_id:  15704486
In insert_book_data, IntegrityError Exception for book_id:  25499718
In insert_book_data, IntegrityError Exception for book_id:  19358975
In insert_book_data, IntegrityError Exception for book_id:  22285
In insert_book_data, IntegrityError Exception for book_id:  18170039
In insert_book_data, IntegrityError Exception for book_id:  22698568
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6387565', None, 'Witch & Wizard (Witch & Wizard, #1)', 314.0, 3.56, '30839', '2351', None, 'The world is changing-the government has seized control of every aspect of society, and now kids are disappearing. For fifteen-year-old Wisty and her ... (489 characters truncated) ... hey were singled out. Can this newly discovered witch and a wizard master their skills in time to save themselves, their parents-and maybe the world?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  59924
In insert_book_data, IntegrityError Exception for book_id:  4703581
In insert_book_data, IntegrityError Exception for book_id:  23129410
In insert_book_data, IntegrityError Exception for book_id:  13545075
In insert_book_data, IntegrityError Exception for book_id:  30809786
In insert_book_data, IntegrityError Exception for book_id:  11410430
In insert_book_data, IntegrityError Exception for book_id:  10637748
In insert_book_data, IntegrityError Exception for book_id:  29396738
In insert_book_data, IntegrityError Exception for book_id:  21569527
In insert_book_data, IntegrityError Exception for book_id:  10959277
In insert_book_data, IntegrityError Exception for book_id:  10677277
In insert_book_data, IntegrityError Exception for book_id:  11861062
In insert_book_data, IntegrityError Exception for book_id:  7157310
In insert_book_data, IntegrityError Exception for book_id:  6443834
In insert_book_data, IntegrityError Exception for book_id:  359410
In insert_book_data, IntegrityError Exception for book_id:  6686101
In insert_book_data, IntegrityError Exception for book_id:  11988046
In insert_book_data, IntegrityError Exception for book_id:  13517455
In insert_book_data, IntegrityError Exception for book_id:  40882262
In insert_book_data, IntegrityError Exception for book_id:  954674
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1811543', '0441015832', 'Magic Burns (Kate Daniels, #2)', 260.0, 4.33, '59191', '2709', 'Berkley Publishing Group', 'Down in Atlanta, tempers – and temperatures – are about to flare…<br /><br />As a mercenary who cleans up after magic gone wrong, Kate Daniels has se ... (540 characters truncated) ...  opening gambit in an epic tug-of-war between two gods hoping for rebirth. And if Kate can’t stop the cataclysmic showdown, the city may not survive…')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7201913
In insert_book_data, IntegrityError Exception for book_id:  7095831
In insert_book_data, IntegrityError Exception for book_id:  6479550
In insert_book_data, IntegrityError Exception for book_id:  20443235
In insert_book_data, IntegrityError Exception for book_id:  44170
In insert_book_data, IntegrityError Exception for book_id:  4345498
In insert_book_data, IntegrityError Exception for book_id:  7059135
In insert_book_data, IntegrityError Exception for book_id:  18077769
In insert_book_data, IntegrityError Exception for book_id:  27272506
In insert_book_data, IntegrityError Exception for book_id:  24921954
In insert_book_data, IntegrityError Exception for book_id:  23093367
In insert_book_data, IntegrityError Exception for book_id:  14288998
In insert_book_data, IntegrityError Exception for book_id:  8811134
In insert_book_data, IntegrityError Exception for book_id:  7723
In insert_book_data, IntegrityError Exception for book_id:  20643052
In insert_book_data, IntegrityError Exception for book_id:  714902
In insert_book_data, IntegrityError Exception for book_id:  13574417
In insert_book_data, IntegrityError Exception for book_id:  6344097
In insert_book_data, IntegrityError Exception for book_id:  12891107
In insert_book_data, IntegrityError Exception for book_id:  28588345
In insert_book_data, IntegrityError Exception for book_id:  10762469
In insert_book_data, IntegrityError Exception for book_id:  26892110
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9597', '0385333781', 'Player Piano', 341.0, 3.86, '38556', '1401', 'Dial Press', 'Kurt Vonnegut’s first novel spins the chilling tale of engineer Paul Proteus, who must find a way to live in a world dominated by a supercomputer and run completely by machines. Paul’s rebellion is vintage Vonnegut—wildly funny, deadly serious, and terrifyingly close to reality.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1966969
In insert_book_data, IntegrityError Exception for book_id:  22054340
In insert_book_data, IntegrityError Exception for book_id:  30262
In insert_book_data, IntegrityError Exception for book_id:  17274667
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('333867', '0679767800', 'The Stars My Destination', 258.0, 4.12, '32367', '1806', None, 'In this pulse-quickening novel, Alfred Bester imagines a future in which people "jaunte" a thousand miles with a single thought, where the rich barri ... (160 characters truncated) ... >The Stars My Destination</i> is a classic of technological prophecy and timeless narrative enchantment by an acknowledged master of science fiction.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16279856
In insert_book_data, IntegrityError Exception for book_id:  32075662
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('20697435', '055341884X', 'The Book of Strange New Things', 500.0, 3.66, '17696', '2865', None, 'A monumental, genre-defying novel over ten years in the making, Michel Faber\'s The Book of Strange New Things is a masterwork from a writer in full  ... (1349 characters truncated) ... uch an international success, The Book of Strange New Things is extraordinary, mesmerizing, and replete with emotional complexity and genuine pathos.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  161426
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3467', '0375828257', 'The People of Sparks', 338.0, 3.66, '44703', '3111', 'Yearling', '<i>An alternate cover can be found <a href="https://www.goodreads.com/book/show/34915830-the-people-of-sparks" rel="nofollow">here</a>.</i><br /><br  ... (160 characters truncated) ... w world above. When anonymous acts of vandalism push them toward violence, it\'s up to Lina and Doon to discover who\'s behind the vandalism and why.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  234724
In insert_book_data, IntegrityError Exception for book_id:  19346451
In insert_book_data, IntegrityError Exception for book_id:  11112619
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41913', '0307279901', 'The Children of Men', None, 3.68, '30698', '1957', None, "Told with P. D. James's trademark suspense, insightful characterization, and riveting storytelling, <i>The Children of Men</i> is a story of a world  ... (458 characters truncated) ...  She and her band of unlikely revolutionaries may just awaken his desire to live . . . and they may also hold the key to survival for the human race.")] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  8559047
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('7800188', '1595143424', 'Virals (Virals, #1)', 454.0, 3.94, '32051', '2445', 'Penguin Razorbill', 'Tory Brennan, niece of acclaimed forensic anthropologist Temperance Brennan (of the Bones novels and hit TV show), is the leader of a ragtag band of  ... (497 characters truncated) ... stay alive long enough to catch the killer\'s scent.<br /><br />Fortunately, they are now more than friends. They\'re a pack. They are <i>Virals</i>.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18693743
In insert_book_data, IntegrityError Exception for book_id:  10816908
In insert_book_data, IntegrityError Exception for book_id:  23398606
In insert_book_data, IntegrityError Exception for book_id:  7991200
In insert_book_data, IntegrityError Exception for book_id:  23267628
In insert_book_data, IntegrityError Exception for book_id:  7334201
In insert_book_data, IntegrityError Exception for book_id:  509784
In insert_book_data, IntegrityError Exception for book_id:  24876258
In insert_book_data, IntegrityError Exception for book_id:  20174424
In insert_book_data, IntegrityError Exception for book_id:  688191
In insert_book_data, IntegrityError Exception for book_id:  3220405
In insert_book_data, IntegrityError Exception for book_id:  23168817
In insert_book_data, IntegrityError Exception for book_id:  12444166
In insert_book_data, IntegrityError Exception for book_id:  16634
In insert_book_data, IntegrityError Exception for book_id:  13514612
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('68811', '3522168577', 'Momo', None, 4.31, '35626', '1391', None, 'Eine gespenstische Gesellschaft "grauer Herren" ist am Werk und veranlasst immer mehr Menschen, Zeit zu sparen. Aber in Wirklichkeit betrügen sie die ... (322 characters truncated) ... schichte, kämpft ganz allein, mit nichts als einer Blume in der Hand und einer Schildkröte unter dem Arm, gegen das riesige Heer der "grauen Herren".')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  30134847
In insert_book_data, IntegrityError Exception for book_id:  24909347
In insert_book_data, IntegrityError Exception for book_id:  13581990
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6219656', '1563127873', 'The Lottery', 30.0, 4.09, '45609', '1902', 'Perfection Learning', 'Shirley Jackson\'s "The Lottery" is a memorable and terrifying masterpiece, fueled by a tension that creeps up on you slowly without any clear indication of why. This is just a townful of people, after all, choosing their numbers for the annual lottery. What\'s there to be scared of?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9644151
In insert_book_data, IntegrityError Exception for book_id:  8306761
In insert_book_data, IntegrityError Exception for book_id:  17332556
In insert_book_data, IntegrityError Exception for book_id:  1137215
In insert_book_data, IntegrityError Exception for book_id:  7624
In insert_book_data, IntegrityError Exception for book_id:  22698569
In insert_book_data, IntegrityError Exception for book_id:  8665876
In insert_book_data, IntegrityError Exception for book_id:  8647
In insert_book_data, IntegrityError Exception for book_id:  9268487
In insert_book_data, IntegrityError Exception for book_id:  16992
In insert_book_data, IntegrityError Exception for book_id:  703
In insert_book_data, IntegrityError Exception for book_id:  22886612
In insert_book_data, IntegrityError Exception for book_id:  6665847
In insert_book_data, IntegrityError Exception for book_id:  38333
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22320', '0425198685', 'Pattern Recognition (Blue Ant, #1)', 367.0, 3.87, '37250', '1764', 'Berkley Books', "Cayce Pollard is an expensive, spookily intuitive market-research consultant. In London on a job, she is offered a secret assignment: to investigate  ... (894 characters truncated) ... ce will follow the trail of the mysterious film to its source, and in the process will learn something about her father's life and death.<br /><br />")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17136
In insert_book_data, IntegrityError Exception for book_id:  4922079
In insert_book_data, IntegrityError Exception for book_id:  17331518
In insert_book_data, IntegrityError Exception for book_id:  17920175
In insert_book_data, IntegrityError Exception for book_id:  8811139
In insert_book_data, IntegrityError Exception for book_id:  46756
In insert_book_data, IntegrityError Exception for book_id:  27000
In insert_book_data, IntegrityError Exception for book_id:  25944381
In insert_book_data, IntegrityError Exception for book_id:  154798
In insert_book_data, IntegrityError Exception for book_id:  12157365
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22416', '1563894459', 'Transmetropolitan, Vol. 1: Back on the Street', 144.0, 4.22, '33407', '824', None, 'After years of self-imposed exile from a civilization rife with degradation and indecency, cynical journalist Spider Jerusalem is forced to return to ... (210 characters truncated) ... ife-threatening situations, and moral ambiguity, this book is the first look into the mind of an outlaw journalist and the world he seeks to destroy.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11946245
In insert_book_data, IntegrityError Exception for book_id:  9680114
In insert_book_data, IntegrityError Exception for book_id:  9166877
In insert_book_data, IntegrityError Exception for book_id:  18652002
In insert_book_data, IntegrityError Exception for book_id:  15985373
In insert_book_data, IntegrityError Exception for book_id:  8534899
In insert_book_data, IntegrityError Exception for book_id:  13555073
In insert_book_data, IntegrityError Exception for book_id:  10345937
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2113260', '0670019631', 'Shades of Grey (Shades of Grey, #1)', 400.0, 4.14, '25075', '3186', 'Penguin Group Viking Adult', "<b>From the bestselling author of <i>Thursday Next</i> — a brilliant new novel about a world where social order and destiny are dictated by the color ... (1415 characters truncated) ... nt to be transported somewhere equally wild, only darker; a world where the black and white of moral standpoints have been reduced to shades of grey.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13415554
In insert_book_data, IntegrityError Exception for book_id:  29386918
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3018539', '0151012741', 'Death with Interruptions', 238.0, 3.99, '15053', '1229', None, 'Nobel Prize-winner Jose Saramago\'s brilliant new novel poses the question what happens when the grim reaper decides there will be no more death? On  ... (659 characters truncated) ... cabinets and contemplates her experiment: What if no one ever died again? What if she, death with a small "d," became human and were to fall in love?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  826845
In insert_book_data, IntegrityError Exception for book_id:  7992995
In insert_book_data, IntegrityError Exception for book_id:  25944798
In insert_book_data, IntegrityError Exception for book_id:  22200
In insert_book_data, IntegrityError Exception for book_id:  331256
In insert_book_data, IntegrityError Exception for book_id:  25451555
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('20423680', None, 'The Last Town (Wayward Pines, #3)', 308.0, 4.09, '36126', '2553', None, 'Welcome to Wayward Pines, the last town.<br /><br />Secret Service agent Ethan Burke arrived in Wayward Pines, Idaho, three weeks ago. In this town,  ... (458 characters truncated) ...  of a madman and his army of followers, a secret that is about to come storming through the fence to wipe out this last, fragile remnant of humanity.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9634967
In insert_book_data, IntegrityError Exception for book_id:  21393526
In insert_book_data, IntegrityError Exception for book_id:  18077752
In insert_book_data, IntegrityError Exception for book_id:  23203252
In insert_book_data, IntegrityError Exception for book_id:  38169
In insert_book_data, IntegrityError Exception for book_id:  22584
In insert_book_data, IntegrityError Exception for book_id:  6839093
In insert_book_data, IntegrityError Exception for book_id:  13353667
In insert_book_data, IntegrityError Exception for book_id:  17860199
In insert_book_data, IntegrityError Exception for book_id:  11431896
In insert_book_data, IntegrityError Exception for book_id:  18081228
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6138606', None, 'The Seeker (The Host, #2)', None, 4.11, '1717', '342', None, 'When an unseen enemy threatens mankind by taking over their bodies and erasing their memories, Melanie Stryder will risk everything to protect the people she cares most about — Jared, Ian, her brother Jamie and her Uncle Jeb, proving that love can conquer all in a dangerous new world.')] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  25785357
In insert_book_data, IntegrityError Exception for book_id:  18602341
In insert_book_data, IntegrityError Exception for book_id:  9182478
In insert_book_data, IntegrityError Exception for book_id:  16158596
In insert_book_data, IntegrityError Exception for book_id:  11544421
In insert_book_data, IntegrityError Exception for book_id:  12743472
In insert_book_data, IntegrityError Exception for book_id:  16000044
In insert_book_data, IntegrityError Exception for book_id:  32940838
In insert_book_data, IntegrityError Exception for book_id:  24465724
In insert_book_data, IntegrityError Exception for book_id:  9975679
In insert_book_data, IntegrityError Exception for book_id:  10859509
In insert_book_data, IntegrityError Exception for book_id:  5130
In insert_book_data, IntegrityError Exception for book_id:  133765
In insert_book_data, IntegrityError Exception for book_id:  11544466
In insert_book_data, IntegrityError Exception for book_id:  12444297
In insert_book_data, IntegrityError Exception for book_id:  184419
In insert_book_data, IntegrityError Exception for book_id:  910863
In insert_book_data, IntegrityError Exception for book_id:  30071
In insert_book_data, IntegrityError Exception for book_id:  25740412
In insert_book_data, IntegrityError Exception for book_id:  17171909
In insert_book_data, IntegrityError Exception for book_id:  23197837
In insert_book_data, IntegrityError Exception for book_id:  7826116
In insert_book_data, IntegrityError Exception for book_id:  11715276
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24488476', None, 'The Fate of Ten (Lorien Legacies, #6)', None, 4.32, '22334', '1826', None, "The sixth book in the thrilling, action-packed, <em>New York Times</em> bestselling I Am Number Four series! For years the Garde have fought the Moga ... (502 characters truncated) ... r that had been hidden within our planet for generations. Now this power can save the world . . . or destroy it. It will all depend on who wields it.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  27827203
In insert_book_data, IntegrityError Exception for book_id:  23209924
In insert_book_data, IntegrityError Exception for book_id:  6420846
In insert_book_data, IntegrityError Exception for book_id:  11045709
In insert_book_data, IntegrityError Exception for book_id:  18668485
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30016', '0586010165', 'The Naked Sun (Robot #2)', 208.0, 4.15, '30660', '799', 'HarperCollins Publishers', 'A millennium into the future, two advancements have altered the course of human history: the colonization of the Galaxy and the creation of the posit ... (706 characters truncated) ... e of his robots - unthinkable under the laws of Robotics - or he was killed by the woman who loved him so much that she never came into his presence!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11043618
In insert_book_data, IntegrityError Exception for book_id:  10852343
In insert_book_data, IntegrityError Exception for book_id:  24807186
In insert_book_data, IntegrityError Exception for book_id:  17383994
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('60929', '0446603775', 'Dawn (Xenogenesis, #1)', 248.0, 4.12, '18649', '1742', 'Warner Books', 'Lilith Iyapo has just lost her husband and son when atomic fire consumes Earth—the last stage of the planet’s final war. Hundreds of years later Lili ... (607 characters truncated) ... ass will grow, animals will run, and people will learn to survive the planet’s untamed wilderness. But their children will not be human. Not exactly.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8088
In insert_book_data, IntegrityError Exception for book_id:  20705702
In insert_book_data, IntegrityError Exception for book_id:  10188580
In insert_book_data, IntegrityError Exception for book_id:  26836910
In insert_book_data, IntegrityError Exception for book_id:  537070
In insert_book_data, IntegrityError Exception for book_id:  1675216
In insert_book_data, IntegrityError Exception for book_id:  2169506
In insert_book_data, IntegrityError Exception for book_id:  17404295
In insert_book_data, IntegrityError Exception for book_id:  9859436
In insert_book_data, IntegrityError Exception for book_id:  28448287
In insert_book_data, IntegrityError Exception for book_id:  29772863
In insert_book_data, IntegrityError Exception for book_id:  12119529
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6329547', '0441017800', 'On the Edge (The Edge, #1)', 309.0, 4.03, '29967', '2103', 'Ace', 'Rose Drayton lives on the Edge, between the world of the Broken (where people drive cars, shop at Wal-Mart, and magic is a fairy tale) and the Weird  ... (645 characters truncated) ... m the Weird, a flood of creatures hungry for magic, Declan and Rose must work together to destroy them—or they’ll devour the Edge and everyone in it.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13565676
In insert_book_data, IntegrityError Exception for book_id:  218467
In insert_book_data, IntegrityError Exception for book_id:  13419891
In insert_book_data, IntegrityError Exception for book_id:  250024
In insert_book_data, IntegrityError Exception for book_id:  1722717
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('8540357', '0141325011', 'The Enemy (The Enemy, #1)', 407.0, 4.09, '5580', '611', 'Puffin', "Charlie Higson's <i>The Enemy</i> is the first in a jaw-dropping zombie horror series for teens. Everyone over the age of fourteen has succumbed to a ... (541 characters truncated) ... ps lie in wait.<br /><br />But can they make it there - alive?<br /><br />This edition contains the first chapter of the second book <i>The Dead</i>.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12578294
In insert_book_data, IntegrityError Exception for book_id:  385742
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('154091', '0553281747', 'Mona Lisa Overdrive (Sprawl, #3)', 308.0, 3.98, '29542', '654', 'Bantam Spectra', "William Gibson, author of the extraordinary multiaward-winning novel <i>Neuromancer</i>, has written his most brilliant and thrilling work to date... ... (777 characters truncated) ... , the powerful Japanese underworld, whose leaders ruthlessly manipulate people and events to suit their own purposes... or so they think.<br /><br />")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12792658
In insert_book_data, IntegrityError Exception for book_id:  6555517
In insert_book_data, IntegrityError Exception for book_id:  10193062
In insert_book_data, IntegrityError Exception for book_id:  35820633
In insert_book_data, IntegrityError Exception for book_id:  11337912
In insert_book_data, IntegrityError Exception for book_id:  25451264
In insert_book_data, IntegrityError Exception for book_id:  12753231
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18116', '0440238609', 'His Dark Materials (His Dark Materials #1-3)', 1088.0, 4.26, '100592', '3755', None, 'The Golden Compass, The Subtle Knife, and The Amber Spyglass are available together in one volume perfect for any fan or newcomer to this modern fant ... (443 characters truncated) ... rs and won acclaim at every turn. It will have you questioning everything you know about your world and wondering what really lies just out of reach.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10433900
In insert_book_data, IntegrityError Exception for book_id:  18108877
In insert_book_data, IntegrityError Exception for book_id:  13254289
In insert_book_data, IntegrityError Exception for book_id:  3993839
In insert_book_data, IntegrityError Exception for book_id:  38180
In insert_book_data, IntegrityError Exception for book_id:  16200
In insert_book_data, IntegrityError Exception for book_id:  9595
In insert_book_data, IntegrityError Exception for book_id:  6723348
In insert_book_data, IntegrityError Exception for book_id:  11556960
In insert_book_data, IntegrityError Exception for book_id:  12383869
In insert_book_data, IntegrityError Exception for book_id:  12663646
In insert_book_data, IntegrityError Exception for book_id:  20613491
In insert_book_data, IntegrityError Exception for book_id:  11044367
In insert_book_data, IntegrityError Exception for book_id:  17165932
In insert_book_data, IntegrityError Exception for book_id:  27161189
In insert_book_data, IntegrityError Exception for book_id:  23438288

In insert_book_data, IntegrityError Exception for book_id:  56842
In insert_book_data, IntegrityError Exception for book_id:  12444298
In insert_book_data, IntegrityError Exception for book_id:  228258
In insert_book_data, IntegrityError Exception for book_id:  18774020
In insert_book_data, IntegrityError Exception for book_id:  24766
In insert_book_data, IntegrityError Exception for book_id:  17342700
In insert_book_data, IntegrityError Exception for book_id:  20706284
In insert_book_data, IntegrityError Exception for book_id:  22323
In insert_book_data, IntegrityError Exception for book_id:  21793182
In insert_book_data, IntegrityError Exception for book_id:  18392459
In insert_book_data, IntegrityError Exception for book_id:  48484
In insert_book_data, IntegrityError Exception for book_id:  17235347
In insert_book_data, IntegrityError Exception for book_id:  13170596
In insert_book_data, IntegrityError Exception for book_id:  9265453
In insert_book_data, IntegrityError Exception for book_id:  76740
In insert_book_data, IntegrityError Exception for book_id:  100933
In insert_book_data, IntegrityError Exception for book_id:  28862528
In insert_book_data, IntegrityError Exception for book_id:  24885533
In insert_book_data, IntegrityError Exception for book_id:  7767021
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('14185', '1407247425', 'The Three Stigmata of Palmer Eldritch', 231.0, 4.01, '22883', '917', 'Gollancz', '<b>Dick at his wildest and strangest - a mystifying but brilliant book</b> - <i>SF: 100 Best Novels</i><br /><br />In the overcrowded world and cramp ... (298 characters truncated) ... tens to plunge the world into a permanent state of drugged illusion controlled by the mysterious Eldritch.<br /><br />Cover illustration: Chris Moore')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('889284', '0553278746', 'The Postman', 321.0, 3.88, '26715', '989', 'Spectra/Bantam Books', "This is the story of a lie that became the most powerful kind of truth.\xa0\xa0A timeless novel as urgently compelling as <i>War Day</i> or <i>Alas,  ... (467 characters truncated) ... \xa0The old, worn uniform still has power as a symbol of hope, and with it he begins to weave his greatest tale, of a nation on the road to recovery.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8337087
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('138396', '1582404135', 'The Walking Dead, Vol. 2: Miles Behind Us', None, 4.24, '28606', '1186', None, 'An epidemic of apocalyptic proportions has swept the globe, causing the dead to rise and feed on the living. In a matter of months, society has crumb ... (189 characters truncated) ...  on their tragic journey in search of shelter. Characters live and die as they brave a treacherous landscape littered with packs of the walking dead.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13330370
In insert_book_data, IntegrityError Exception for book_id:  13477883
In insert_book_data, IntegrityError Exception for book_id:  16075962
In insert_book_data, IntegrityError Exception for book_id:  58314
In insert_book_data, IntegrityError Exception for book_id:  12568505
In insert_book_data, IntegrityError Exception for book_id:  93269
In insert_book_data, IntegrityError Exception for book_id:  6393972
In insert_book_data, IntegrityError Exception for book_id:  12043771
In insert_book_data, IntegrityError Exception for book_id:  6931246
In insert_book_data, IntegrityError Exception for book_id:  13138734
In insert_book_data, IntegrityError Exception for book_id:  12446825
In insert_book_data, IntegrityError Exception for book_id:  17234659
In insert_book_data, IntegrityError Exception for book_id:  10174795
In insert_book_data, IntegrityError Exception for book_id:  27528
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('207034', '0440421241', 'The Prophet of Yonwood', 289.0, 3.27, '24239', '2133', 'Yearling Books', '<i>An alternate cover for this ISBN can be found <a href="https://www.goodreads.com/book/show/35021547-the-prophet-of-yonwood" rel="nofollow">here</a ... (1798 characters truncated) ... VOYA, </i> Starred<br /><br />"A harrowing journey into the unknown, and cryptic messages for readers to decipher." --<i>Kirkus Reviews, </i> Starred')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17333171
In insert_book_data, IntegrityError Exception for book_id:  68497
In insert_book_data, IntegrityError Exception for book_id:  23164927
In insert_book_data, IntegrityError Exception for book_id:  60211
In insert_book_data, IntegrityError Exception for book_id:  12331767
In insert_book_data, IntegrityError Exception for book_id:  20454076
In insert_book_data, IntegrityError Exception for book_id:  414895
In insert_book_data, IntegrityError Exception for book_id:  18966322
In insert_book_data, IntegrityError Exception for book_id:  13645645
In insert_book_data, IntegrityError Exception for book_id:  27245997
In insert_book_data, IntegrityError Exception for book_id:  332631
In insert_book_data, IntegrityError Exception for book_id:  2992061
In insert_book_data, IntegrityError Exception for book_id:  13445306
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('20662430', '009959515X', 'Sand (Sand, #1-5)', 372.0, 3.97, '4406', '308', None, '<b>The new novel from the international bestselling author of the Wool trilogy.</b><br /><br />The old world is buried. A new one has been forged ato ... (786 characters truncated) ... st to discover the rumoured city below.<br /><br />Deep within the sand lies the key to bringing his family together – and tearing their world apart.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  30269126
In insert_book_data, IntegrityError Exception for book_id:  12924261
In insert_book_data, IntegrityError Exception for book_id:  10535458
In insert_book_data, IntegrityError Exception for book_id:  13601681
In insert_book_data, IntegrityError Exception for book_id:  12157407
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('228261', '0842329250', 'Soul Harvest: The World Takes Sides (Left Behind, #4)', 424.0, 3.96, '27572', '486', 'Tyndale House', 'Having survived the wrath of the Lamb--a global earthquake in the 21st month of the Tribulation--pilot Rayford Steele and reporter Buck Williams now  ... (580 characters truncated) ... oul harvest. For many Christian followers, this series has become a tangible and thrilling testament to the Book of Revelations. <i>--Gail Hudson</i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12924253
In insert_book_data, IntegrityError Exception for book_id:  25843439
In insert_book_data, IntegrityError Exception for book_id:  2493973
In insert_book_data, IntegrityError Exception for book_id:  18222699

Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('27419654', None, 'The Last Girl (The Dominion Trilogy, #1)', 386.0, 3.78, '18006', '1363', None, '<p>A mysterious worldwide epidemic reduces the birthrate of female infants from 50 percent to less than 1 percent. Medical science and governments ar ... (850 characters truncated) ... lls. Winning her freedom will take brutality she never imagined she possessed, as well as all her strength and cunning—but Zoey is ready for war.</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23197269
In insert_book_data, IntegrityError Exception for book_id:  11115434
In insert_book_data, IntegrityError Exception for book_id:  6945530
In insert_book_data, IntegrityError Exception for book_id:  12924275
In insert_book_data, IntegrityError Exception for book_id:  11455096
In insert_book_data, IntegrityError Exception for book_id:  85957
In insert_book_data, IntegrityError Exception for book_id:  13112869
In insert_book_data, IntegrityError Exception for book_id:  20510241
In insert_book_data, IntegrityError Exception for book_id:  279561
In insert_book_data, IntegrityError Exception for book_id:  17333174
In insert_book_data, IntegrityError Exception for book_id:  13642710
In insert_book_data, IntegrityError Exception for book_id:  10596724
In insert_book_data, IntegrityError Exception for book_id:  215643
In insert_book_data, IntegrityError Exception for book_id:  8100267
In insert_book_data, IntegrityError Exception for book_id:  79705
In insert_book_data, IntegrityError Exception for book_id:  17699389
In insert_book_data, IntegrityError Exception for book_id:  99245
In insert_book_data, IntegrityError Exception for book_id:  23533039
In insert_book_data, IntegrityError Exception for book_id:  2696181
In insert_book_data, IntegrityError Exception for book_id:  17797381
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('189147', '0345419677', 'To Your Scattered Bodies Go (Riverworld, #1)', 220.0, 3.95, '24916', '623', None, "<i>To Your Scattered Bodies Go</i> is the Hugo Award-winning beginning to the story of Riverworld, Philip José Farmer's unequaled tale about life aft ... (1135 characters truncated) ... s the Stranger has selected, to help stop an evil experiment at the end of which humanity will simply be allowed to die. <i>--Craig E. Engler</i></p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12288282
In insert_book_data, IntegrityError Exception for book_id:  17883441
In insert_book_data, IntegrityError Exception for book_id:  30069
In insert_book_data, IntegrityError Exception for book_id:  70241
In insert_book_data, IntegrityError Exception for book_id:  20821306
In insert_book_data, IntegrityError Exception for book_id:  10365343
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('186103', '1595140838', 'Peeps (Peeps, #1)', 312.0, 3.77, '21485', '1652', 'Penguin', 'Last year as college freshman, narrator Cal was infected by exotic goth Morgan with a parasite that caused following girlfriends to become vampire-li ... (299 characters truncated) ... red-eyed cats, and monstrous worms that threaten all. Morgan has the secret to a centuries-old conspiracy and upcoming battle to save the human race.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10222362
In insert_book_data, IntegrityError Exception for book_id:  28695
In insert_book_data, IntegrityError Exception for book_id:  169762
In insert_book_data, IntegrityError Exception for book_id:  50930
In insert_book_data, IntegrityError Exception for book_id:  85958
In insert_book_data, IntegrityError Exception for book_id:  125955
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6138594', None, 'The Soul (The Host, #3)', None, 4.14, '982', '64', None, 'Stephenie Meyer confirmed that there will be two Host sequels!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22303684
In insert_book_data, IntegrityError Exception for book_id:  13042154
In insert_book_data, IntegrityError Exception for book_id:  45432
In insert_book_data, IntegrityError Exception for book_id:  17333180
In insert_book_data, IntegrityError Exception for book_id:  9648068
In insert_book_data, IntegrityError Exception for book_id:  19208103
In insert_book_data, IntegrityError Exception for book_id:  4499214
In insert_book_data, IntegrityError Exception for book_id:  93371
In insert_book_data, IntegrityError Exception for book_id:  15820492
In insert_book_data, IntegrityError Exception for book_id:  7562764
In insert_book_data, IntegrityError Exception for book_id:  31351167
In insert_book_data, IntegrityError Exception for book_id:  8535273
In insert_book_data, IntegrityError Exception for book_id:  11830394
In insert_book_data, IntegrityError Exception for book_id:  2791536
In insert_book_data, IntegrityError Exception for book_id:  458034
In insert_book_data, IntegrityError Exception for book_id:  8712343
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18079719', '0525426035', 'Grasshopper Jungle', 388.0, 3.64, '14200', '2771', 'Dutton Books', "Sixteen-year-old Austin Szerba interweaves the story of his Polish legacy with the story of how he and his best friend , Robby, brought about the end ... (449 characters truncated) ...  to Austin to save the world and propagate the species in this sci-fright journey of survival, sex, and the complex realities of the human condition.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18481271
In insert_book_data, IntegrityError Exception for book_id:  8429687
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2331954', '0307406105', 'Infected (Infected, #1)', 342.0, 3.84, '15587', '1344', None, "Across America a mysterious disease is turning ordinary people into raving, paranoid murderers who inflict brutal horrors on strangers, themselves, a ... (1401 characters truncated) ... rts Chuck Palahniuk, Michael Crichton, and Stephen King.<br /><br /><i>Infected</i> will crawl beneath your skin and leave fresh blood on every page.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29397', '0345479718', 'Woken Furies (Takeshi Kovacs, #3)', None, 4.06, '18398', '578', None, "This is high action, ideas driven noir SF of the highest order. Morgan has already established himself as an SF author of global significance.<br />< ... (898 characters truncated) ... ist Falconer is back from the dead, they say and hunting her down for the First Families is a savage young Envoy called Kovacs who's been in storage.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18813530', None, 'A Shadow of Light (A Shade of Vampire, #4)', 301.0, 4.1, '19138', '600', 'Amazon Digital Services, Inc.', "Since the implosion at The Oasis and Derek's stay at Hawk Headquarters, The Shade has fallen into a state of utter chaos. To make matters worse, the  ... (846 characters truncated) ... 's future together, forever.<br /><br />But can she really trust this man who is so renowned for his hatred of vampires? Does she even have a choice?")] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  20759641
In insert_book_data, IntegrityError Exception for book_id:  10841167
In insert_book_data, IntegrityError Exception for book_id:  27526
In insert_book_data, IntegrityError Exception for book_id:  9424367
In insert_book_data, IntegrityError Exception for book_id:  138397
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18800655', None, 'Terms of Enlistment (Frontlines #1)', None, 3.99, '17669', '1036', None, "The year is 2108, and the North American Commonwealth is bursting at the seams. For welfare rats like Andrew Grayson, there are only two ways out of  ... (697 characters truncated) ... m Marko Kloos, <i>Terms of Enlistment</i> is a new addition to the great military sci-fi tradition of Robert Heinlein, Joe Haldeman, and John Scalzi.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('27530', '0842332308', 'The Remnant (Left Behind, #10)', None, 4.02, '20261', '245', None, 'Shows some signs of wear, and may have some markings on the inside. 100% Money Back Guarantee.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17208
In insert_book_data, IntegrityError Exception for book_id:  12844575
In insert_book_data, IntegrityError Exception for book_id:  10048874
In insert_book_data, IntegrityError Exception for book_id:  156530
In insert_book_data, IntegrityError Exception for book_id:  23278532
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6356190', '1880418738', 'The Little Sisters of Eluria (The Dark Tower, #0.5)', 312.0, 4.23, '16325', '177', 'Donald M. Grant Publisher, Inc.', 'This 4,000 copy Limited Artist Edition is numbered and is signed by Michael Whelan. It is issued in a foil stamped slipcase. Published in a larger fo ... (759 characters truncated) ... panded version as well as the novella THE LITTLE SISTERS OF ELURIA which chronicles an earlier adventure of Roland\'s as he persued the Man in Black.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18453110
In insert_book_data, IntegrityError Exception for book_id:  1894269
In insert_book_data, IntegrityError Exception for book_id:  25446297
In insert_book_data, IntegrityError Exception for book_id:  7864587
In insert_book_data, IntegrityError Exception for book_id:  156533
In insert_book_data, IntegrityError Exception for book_id:  11237412
In insert_book_data, IntegrityError Exception for book_id:  22381326
In insert_book_data, IntegrityError Exception for book_id:  60932
In insert_book_data, IntegrityError Exception for book_id:  20640755
In insert_book_data, IntegrityError Exception for book_id:  52318
In insert_book_data, IntegrityError Exception for book_id:  79422
In insert_book_data, IntegrityError Exception for book_id:  21805717
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('337116', '055329461X', 'The Difference Engine', 429.0, 3.41, '15612', '804', 'Spectra Books', '1855: The Industrial Revolution is in full and inexorable swing, powered by steam-driven cybernetic Engines. Charles Babbage perfects his Analytical  ... (712 characters truncated) ...  compelling, intensely imagined, it is a startling extension of Gibson\'s and Sterling\'s unique visions - in a new and totally unexpected direction!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  28960100
In insert_book_data, IntegrityError Exception for book_id:  20821159
In insert_book_data, IntegrityError Exception for book_id:  16089223
In insert_book_data, IntegrityError Exception for book_id:  40604684
In insert_book_data, IntegrityError Exception for book_id:  22062202
In insert_book_data, IntegrityError Exception for book_id:  31423196
In insert_book_data, IntegrityError Exception for book_id:  581125
In insert_book_data, IntegrityError Exception for book_id:  23264825
In insert_book_data, IntegrityError Exception for book_id:  30065
In insert_book_data, IntegrityError Exception for book_id:  17167572
In insert_book_data, IntegrityError Exception for book_id:  23229220
In insert_book_data, IntegrityError Exception for book_id:  22326
In insert_book_data, IntegrityError Exception for book_id:  13138736
In insert_book_data, IntegrityError Exception for book_id:  8051458
In insert_book_data, IntegrityError Exception for book_id:  79426
In insert_book_data, IntegrityError Exception for book_id:  17607716
In insert_book_data, IntegrityError Exception for book_id:  772888
In insert_book_data, IntegrityError Exception for book_id:  25430248
In insert_book_data, IntegrityError Exception for book_id:  17863
In insert_book_data, IntegrityError Exception for book_id:  17457124
In insert_book_data, IntegrityError Exception for book_id:  10913887
In insert_book_data, IntegrityError Exception for book_id:  30075662
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('15850937', '0399257543', 'Frozen (Heart of Dread, #1)', None, 3.58, '7841', '1166', None, "From New York Times bestselling author Melissa de la Cruz and Michael Johnston comes this remarkable first book in a spellbinding new series about th ... (1062 characters truncated) ... o each other. But can true love survive the lies? Fiery hearts collide in this fantastic tale of the evil men do and the awesome power within us all.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23444482
In insert_book_data, IntegrityError Exception for book_id:  26118426
In insert_book_data, IntegrityError Exception for book_id:  7171748
In insert_book_data, IntegrityError Exception for book_id:  10869746
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('541024', '0375703713', 'More Than Human', 186.0, 3.98, '11883', '467', 'Vintage', "There's Lone, the simpleton who can hear other people's thoughts and make a man blow his brains out just by looking at him. There's Janie, who moves  ... (867 characters truncated) ... Sturgeon explores questions of power and morality, individuality and belonging, with suspense, pathos, and a lyricism rarely seen in science fiction.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8517207
In insert_book_data, IntegrityError Exception for book_id:  215539
In insert_book_data, IntegrityError Exception for book_id:  9553503
In insert_book_data, IntegrityError Exception for book_id:  11806716
In insert_book_data, IntegrityError Exception for book_id:  12432229
In insert_book_data, IntegrityError Exception for book_id:  17279560
In insert_book_data, IntegrityError Exception for book_id:  25074849
In insert_book_data, IntegrityError Exception for book_id:  41069
In insert_book_data, IntegrityError Exception for book_id:  138395
In insert_book_data, IntegrityError Exception for book_id:  5628753
In insert_book_data, IntegrityError Exception for book_id:  6171892
In insert_book_data, IntegrityError Exception for book_id:  6261189
In insert_book_data, IntegrityError Exception for book_id:  7027735
In insert_book_data, IntegrityError Exception for book_id:  28691932
In insert_book_data, IntegrityError Exception for book_id:  8843789
In insert_book_data, IntegrityError Exception for book_id:  8488830

In insert_book_data, IntegrityError Exception for book_id:  3115070
In insert_book_data, IntegrityError Exception for book_id:  13531561
In insert_book_data, IntegrityError Exception for book_id:  298730
In insert_book_data, IntegrityError Exception for book_id:  415459
In insert_book_data, IntegrityError Exception for book_id:  6773432
In insert_book_data, IntegrityError Exception for book_id:  40992
In insert_book_data, IntegrityError Exception for book_id:  184040
In insert_book_data, IntegrityError Exception for book_id:  60926
In insert_book_data, IntegrityError Exception for book_id:  552987
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3007704', '0434018422', 'The Gone-Away World', 531.0, 4.12, '7936', '1131', 'William Heinemann', "The Jorgmund Pipe is the backbone of the world, and it's on fire. Gonzo Lubitsch, professional hero and troubleshooter, is hired to put it out, but t ... (5 characters truncated) ... s more to the fire, and the Pipe itself, than meets the eye. The job will take Gonzo and his best friend, our narrator, back to their own beginnings.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1830755
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('156529', '1401205011', 'Y: The Last Man, Vol. 6: Girl on Girl (Y: The Last Man, #6)', 128.0, 4.2, '24396', '434', 'Vertigo', "More than two years after the unexplained plague killed every other male mammal on the planet, the two exceptions - aspiring escape artist Yorick Bro ... (508 characters truncated) ... ney - following Ampersand's trail across the Pacific, where danger threatens from below as well as above the waves. <br /><br />Collects issues 32-36")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  4415692
In insert_book_data, IntegrityError Exception for book_id:  9791892
In insert_book_data, IntegrityError Exception for book_id:  13641105
In insert_book_data, IntegrityError Exception for book_id:  8901953
In insert_book_data, IntegrityError Exception for book_id:  41014635
In insert_book_data, IntegrityError Exception for book_id:  71864
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('74821', '1411608313', 'Day by Day Armageddon (Day by Day Armageddon,#1)', None, 4.01, '12516', '680', None, "An ongoing journal depicting one man's personal struggle for survival, dealing with the trials of an undead world unfolding around him. An unknown pl ... (88 characters truncated) ... apped in the midst of a global tragedy, he must make decisions...choices that that ultimately mean life, or the eternal curse to walk as one of them.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('161846', '0345299116', 'The Midwich Cuckoos', 220.0, 3.93, '12338', '448', 'Ballantine Books', 'In the sleepy English village of Midwich, a mysterious silver object appears and all the inhabitants fall unconscious. A day later the object is gone and everyone awakens unharmed – except that all the women in the village are discovered to be pregnant.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6933141
In insert_book_data, IntegrityError Exception for book_id:  15781026
In insert_book_data, IntegrityError Exception for book_id:  40963358
In insert_book_data, IntegrityError Exception for book_id:  18052136
In insert_book_data, IntegrityError Exception for book_id:  22322
In insert_book_data, IntegrityError Exception for book_id:  12040447
In insert_book_data, IntegrityError Exception for book_id:  25843453
In insert_book_data, IntegrityError Exception for book_id:  27422533
In insert_book_data, IntegrityError Exception for book_id:  22668803
In insert_book_data, IntegrityError Exception for book_id:  35457273
In insert_book_data, IntegrityError Exception for book_id:  12878132
In insert_book_data, IntegrityError Exception for book_id:  8573632
In insert_book_data, IntegrityError Exception for book_id:  12810834
In insert_book_data, IntegrityError Exception for book_id:  25820414
In insert_book_data, IntegrityError Exception for book_id:  9917998
In insert_book_data, IntegrityError Exception for book_id:  7831145
In insert_book_data, IntegrityError Exception for book_id:  156532
In insert_book_data, IntegrityError Exception for book_id:  28962996
In insert_book_data, IntegrityError Exception for book_id:  17788681
In insert_book_data, IntegrityError Exception for book_id:  6494966
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('10268370', None, 'Zombicorns', 72.0, 3.73, '6346', '623', None, '(From novella introduction)<br /><br />Dearest Reader,<br />This is a bad zombie apocalypse novella. It was written in a hurry. It is riddled with in ... (576 characters truncated) ... fyeahnerdfighters.com/post/2835409604/didnt-get-your-chance-to-get-your-hands-on-john" rel="nofollow">http://effyeahnerdfighters.com/post/2...</a> :)')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1729146
In insert_book_data, IntegrityError Exception for book_id:  5481
In insert_book_data, IntegrityError Exception for book_id:  10352973
In insert_book_data, IntegrityError Exception for book_id:  23399192
In insert_book_data, IntegrityError Exception for book_id:  27525
In insert_book_data, IntegrityError Exception for book_id:  15790894
In insert_book_data, IntegrityError Exception for book_id:  1085771
In insert_book_data, IntegrityError Exception for book_id:  7923006
In insert_book_data, IntegrityError Exception for book_id:  12987192
In insert_book_data, IntegrityError Exception for book_id:  10194494
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('4808763', '1884214495', 'The Last Question', 9.0, 4.58, '14371', '773', 'Ziggurat Productions', 'The last question was asked for the first time, half in jest, on May 21, 2061, at a time when humanity first stepped into the light. The question came about as a result of a five dollar bet over highballs, and it happened this way ...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  3246224
In insert_book_data, IntegrityError Exception for book_id:  29456569
In insert_book_data, IntegrityError Exception for book_id:  215540
In insert_book_data, IntegrityError Exception for book_id:  7671562
In insert_book_data, IntegrityError Exception for book_id:  29226553
In insert_book_data, IntegrityError Exception for book_id:  89185
In insert_book_data, IntegrityError Exception for book_id:  15549
In insert_book_data, IntegrityError Exception for book_id:  18242896
In insert_book_data, IntegrityError Exception for book_id:  15830843
In insert_book_data, IntegrityError Exception for book_id:  16234584
In insert_book_data, IntegrityError Exception for book_id:  21618
In insert_book_data, IntegrityError Exception for book_id:  13010211
In insert_book_data, IntegrityError Exception for book_id:  22325
In insert_book_data, IntegrityError Exception for book_id:  15754052
In insert_book_data, IntegrityError Exception for book_id:  6954438
In insert_book_data, IntegrityError Exception for book_id:  17316770
In insert_book_data, IntegrityError Exception for book_id:  102439
In insert_book_data, IntegrityError Exception for book_id:  6255949
In insert_book_data, IntegrityError Exception for book_id:  17707526
In insert_book_data, IntegrityError Exception for book_id:  86236
In insert_book_data, IntegrityError Exception for book_id:  26771521
In insert_book_data, IntegrityError Exception for book_id:  7469664
In insert_book_data, IntegrityError Exception for book_id:  20504754
In insert_book_data, IntegrityError Exception for book_id:  14811943
In insert_book_data, IntegrityError Exception for book_id:  15769788
In insert_book_data, IntegrityError Exception for book_id:  103815
In insert_book_data, IntegrityError Exception for book_id:  41820

In insert_book_data, IntegrityError Exception for book_id:  7044445
In insert_book_data, IntegrityError Exception for book_id:  11861715
In insert_book_data, IntegrityError Exception for book_id:  23430471
In insert_book_data, IntegrityError Exception for book_id:  21412284
In insert_book_data, IntegrityError Exception for book_id:  3384
In insert_book_data, IntegrityError Exception for book_id:  12059093
In insert_book_data, IntegrityError Exception for book_id:  222093
In insert_book_data, IntegrityError Exception for book_id:  44190
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('19504931', None, 'Under Different Stars (Kricket, #1)', None, 4.21, '11307', '1290', None, 'All she wants is a home, but can she find one…UNDER DIFFERENT STARS<br /><br />Kricket Hollowell is normally not one to wish upon stars; she believes ... (886 characters truncated) ... in order to make her his own.<br /><br />When everything in their world can be broken, will Kricket rely upon love to save her under different stars?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  276767
In insert_book_data, IntegrityError Exception for book_id:  24769
In insert_book_data, IntegrityError Exception for book_id:  6890220
In insert_book_data, IntegrityError Exception for book_id:  27405160
In insert_book_data, IntegrityError Exception for book_id:  22208238
In insert_book_data, IntegrityError Exception for book_id:  13401993
In insert_book_data, IntegrityError Exception for book_id:  11468074
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('769658', None, 'Battlefield Earth: A Saga of the Year 3000', 1050.0, 3.51, '12705', '875', 'Galaxy Press', '<b>\n  <i>"Nonstop and fast-paced. Every paragraph has a big bang-up adventure."</i>\n</b>—Kevin J. Anderson<br /><br /><b>Suspense, thrills, action  ... (233 characters truncated) ... ght of the alien Psychlo empire in a battle of epic scale, danger and intrigue with the fate of the Earth and of the universe in the tenuous balance.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25546167
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('104344', '0006482708', "The Gate to Women's Country", 315.0, 4.05, '10077', '499', 'Voyager', "Tepper's finest novel to date is set in a post-holocaust feminist dystopia that offers only two political alternatives: a repressive polygamist sect  ... (669 characters truncated) ... aginative reworking of The Trojan Woman that runs through the text. A rewarding and challenging novel that is to be valued for its provocative ideas.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7766070
In insert_book_data, IntegrityError Exception for book_id:  13412377
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1828067', '0441015999', 'Grimspace (Sirantha Jax, #1)', 312.0, 3.73, '11743', '1323', 'Ace Berkley Penguin', "As the carrier of a rare gene, Sirantha Jax has the ability to jump ships through grimspace-a talent which makes her a highly prized navigator for th ... (83 characters truncated) ... th no memory of the crash. But her fun's not over. A group of rogue fighters frees her...for a price: her help in overthrowing the established order.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17402117
In insert_book_data, IntegrityError Exception for book_id:  15750874
In insert_book_data, IntegrityError Exception for book_id:  10382215
In insert_book_data, IntegrityError Exception for book_id:  2202230
In insert_book_data, IntegrityError Exception for book_id:  10439221
In insert_book_data, IntegrityError Exception for book_id:  6434232
In insert_book_data, IntegrityError Exception for book_id:  7957
In insert_book_data, IntegrityError Exception for book_id:  18586487
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('825', '0553573861', 'Zodiac', 308.0, 3.71, '14496', '522', None, "Sangaman Taylor is Boston's modern-day Paul Revere, spreading the word from a 40-horsepower Zodiac raft. Embarrassing powerful corporations in highly telegenic ways is the perfect method of making enemies, and Taylor has a collection that would do any rabble-rouser proud.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  633270
In insert_book_data, IntegrityError Exception for book_id:  16067008
In insert_book_data, IntegrityError Exception for book_id:  26154389
In insert_book_data, IntegrityError Exception for book_id:  48722
In insert_book_data, IntegrityError Exception for book_id:  24612148
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22922929', None, 'Alex (Delirium, #1.1)', 37.0, 3.82, '8657', '721', None, "This captivating digital original story set in the world of Lauren Oliver's New York Times bestselling Delirium series focuses on Alex, Lena's first  ... (460 characters truncated) ... come new admirers to its world, readers will learn of Alex's time after the events of Delirium, as well as the dark past that he has tried to forget.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  536478
In insert_book_data, IntegrityError Exception for book_id:  6238080
In insert_book_data, IntegrityError Exception for book_id:  29806086
In insert_book_data, IntegrityError Exception for book_id:  29090844
In insert_book_data, IntegrityError Exception for book_id:  11516221
In insert_book_data, IntegrityError Exception for book_id:  6353014
In insert_book_data, IntegrityError Exception for book_id:  18668056
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1705697', '1597801054', 'Wastelands: Stories of the Apocalypse', 333.0, 3.78, '7498', '604', 'Night Shade', 'Famine, Death, War, and Pestilence: The Four Horsemen of the Apocalypse, the harbingers of Armageddon — these are our guides through the Wastelands.. ... (2333 characters truncated) ... e World as We Know It by Dale Bailey<br />A Song Before Sunset by David Grigg<br />Episode Seven... by John Langan<br />Appendix: For Further Reading')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13188615
In insert_book_data, IntegrityError Exception for book_id:  12392681
In insert_book_data, IntegrityError Exception for book_id:  14744381
In insert_book_data, IntegrityError Exception for book_id:  10744752
In insert_book_data, IntegrityError Exception for book_id:  17159944
In insert_book_data, IntegrityError Exception for book_id:  13425352
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('12287', '0571070671', 'Endgame', 60.0, 3.84, '11322', '360', 'Faber and Faber', "Samuel Beckett was awarded the Nobel Prize for Literature in 1969; his literary output of plays, novels, stories, and poetry has earned him an uncont ... (217 characters truncated) ... pinnacle of Beckett's characteristic raw minimalism, it is a pure and devastating distillation of the human essence in the face of approaching death.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  40471
In insert_book_data, IntegrityError Exception for book_id:  21422225
In insert_book_data, IntegrityError Exception for book_id:  16071187
In insert_book_data, IntegrityError Exception for book_id:  2723
In insert_book_data, IntegrityError Exception for book_id:  6285903
In insert_book_data, IntegrityError Exception for book_id:  71870
In insert_book_data, IntegrityError Exception for book_id:  116445
In insert_book_data, IntegrityError Exception for book_id:  68146
In insert_book_data, IntegrityError Exception for book_id:  71863
In insert_book_data, IntegrityError Exception for book_id:  62233
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('397867', '0333761189', 'The Rats (Rats, #1)', 208.0, 3.94, '12774', '441', 'Macmillan', 'For millions of years man and rats had been natural enemies. But now for the first time - suddenly, shockingly, horribly - the balance of power had shifted and the rats began to prey on the human population.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  4714126
In insert_book_data, IntegrityError Exception for book_id:  23012481
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('17928853', None, 'The New World (Chaos Walking, #0.5)', 36.0, 3.88, '580', '83', None, "<b>The New World</b> is the story of how Viola came to where we found her in <b>\n  <i>The Knife of Never Letting Go</i>\n</b>.<br /><br />It is best ... (3 characters truncated) ... ad immediately after that book because there are hints of things to come.<br /><br />(I'm always hinting at things to come; it's fun). - Patrick Ness")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  69477

In insert_book_data, IntegrityError Exception for book_id:  24804505
In insert_book_data, IntegrityError Exception for book_id:  13622863
In insert_book_data, IntegrityError Exception for book_id:  17838475
In insert_book_data, IntegrityError Exception for book_id:  31157
In insert_book_data, IntegrityError Exception for book_id:  13043180
In insert_book_data, IntegrityError Exception for book_id:  6145711
In insert_book_data, IntegrityError Exception for book_id:  71869
In insert_book_data, IntegrityError Exception for book_id:  6488483
In insert_book_data, IntegrityError Exception for book_id:  30072
In insert_book_data, IntegrityError Exception for book_id:  133767
In insert_book_data, IntegrityError Exception for book_id:  68495
In insert_book_data, IntegrityError Exception for book_id:  9447878
In insert_book_data, IntegrityError Exception for book_id:  5730888
In insert_book_data, IntegrityError Exception for book_id:  476492
In insert_book_data, IntegrityError Exception for book_id:  32912923
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3379051', '0375845631', 'Bones of Faerie (Bones of Faerie, #1)', 247.0, 3.61, '6927', '759', None, "The war between humanity and Faerie devastated both sides. Or so 15-year-old Liza has been told. <br /><br />Nothing has been seen or heard from Faer ... (334 characters truncated) ...  her town. <br /><br />Liza's quest will take her into Faerie and back again, and what she finds along the way may be the key to healing both worlds.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15835877
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18830', '0099748614', 'London Fields', 526.0, 3.73, '8351', '506', 'Vintage', '<i>London Fields</i> is Amis\'s murder story for the end of the millennium. The murderee is Nicola Six, a "black hole" of sex and self-loathing inten ... (57 characters truncated) ... e Keith Talent, a violent lowlife whose only passions are pornography and darts. Or is the killer the rich, honorable, and dimly romantic Guy Clinch?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18746546
In insert_book_data, IntegrityError Exception for book_id:  22817560
In insert_book_data, IntegrityError Exception for book_id:  18159085
In insert_book_data, IntegrityError Exception for book_id:  7745031
In insert_book_data, IntegrityError Exception for book_id:  10822174
In insert_book_data, IntegrityError Exception for book_id:  92956
In insert_book_data, IntegrityError Exception for book_id:  139986
In insert_book_data, IntegrityError Exception for book_id:  33356
In insert_book_data, IntegrityError Exception for book_id:  303455
In insert_book_data, IntegrityError Exception for book_id:  6234910
In insert_book_data, IntegrityError Exception for book_id:  10369932
In insert_book_data, IntegrityError Exception for book_id:  16059350
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('21116887', '1447266064', 'The Rain (The Rain, #1)', 386.0, 3.48, '3583', '652', None, 'It\'s in the rain...and just one drop will kill you.<br /><br />They don\'t believe it at first. Crowded in Zach\'s kitchen, Ruby and the rest of the ... (364 characters truncated) ... water is quickly running out. Ruby\'s only chance for survival is a treacherous hike across the country to find her father-if he\'s even still alive.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13627865
In insert_book_data, IntegrityError Exception for book_id:  82553
In insert_book_data, IntegrityError Exception for book_id:  27426044
In insert_book_data, IntegrityError Exception for book_id:  22321
In insert_book_data, IntegrityError Exception for book_id:  13536803
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2675261', '0345484142', 'The Gypsy Morph (Genesis of Shannara, #3)', 402.0, 4.14, '10157', '359', None, 'The Gypsy Morph')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  337132
In insert_book_data, IntegrityError Exception for book_id:  3972
In insert_book_data, IntegrityError Exception for book_id:  12792988
In insert_book_data, IntegrityError Exception for book_id:  13517617
In insert_book_data, IntegrityError Exception for book_id:  22417
In insert_book_data, IntegrityError Exception for book_id:  20360301
In insert_book_data, IntegrityError Exception for book_id:  47916
In insert_book_data, IntegrityError Exception for book_id:  71867
In insert_book_data, IntegrityError Exception for book_id:  40963299
In insert_book_data, IntegrityError Exception for book_id:  625603
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('46723', '0978970705', 'Plague of the Dead (Morningstar Strain #1)', 292.0, 3.84, '6135', '258', None, "The end begins with a viral outbreak unlike anything mankind has ever encountered before. The infected are subject to delirium, fever, a dramatic inc ... (841 characters truncated) ... th a well-known journalist to leak the information to the public...The Morningstar Saga has begun.<br /><br />©2006 Z.A. Recht; (P)2009 Audible, Inc.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18102827
In insert_book_data, IntegrityError Exception for book_id:  16148435
In insert_book_data, IntegrityError Exception for book_id:  51506
In insert_book_data, IntegrityError Exception for book_id:  9752754
In insert_book_data, IntegrityError Exception for book_id:  64923
In insert_book_data, IntegrityError Exception for book_id:  18109771
In insert_book_data, IntegrityError Exception for book_id:  10084
In insert_book_data, IntegrityError Exception for book_id:  16075615
In insert_book_data, IntegrityError Exception for book_id:  16479439
In insert_book_data, IntegrityError Exception for book_id:  12814594
In insert_book_data, IntegrityError Exception for book_id:  2049823
In insert_book_data, IntegrityError Exception for book_id:  23848027
In insert_book_data, IntegrityError Exception for book_id:  13299211
In insert_book_data, IntegrityError Exception for book_id:  15826602
In insert_book_data, IntegrityError Exception for book_id:  15829686
In insert_book_data, IntegrityError Exception for book_id:  3302568
In insert_book_data, IntegrityError Exception for book_id:  73654
In insert_book_data, IntegrityError Exception for book_id:  13517444
In insert_book_data, IntegrityError Exception for book_id:  138399
In insert_book_data, IntegrityError Exception for book_id:  908311
In insert_book_data, IntegrityError Exception for book_id:  8167001
In insert_book_data, IntegrityError Exception for book_id:  12886599
In insert_book_data, IntegrityError Exception for book_id:  18490707
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('19486', '3425040847', 'In the Country of Last Things', 188.0, 3.91, '6206', '287', None, 'A dystopian epistolary novel. <i>In the Country of Last Things </i> takes the form of a letter from a young woman named Anna Blume to a childhood fri ... (338 characters truncated) ...  the city to search for her brother William, a journalist, and it is suggested that the Blumes come from a world to the East which has not collapsed.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10673576
In insert_book_data, IntegrityError Exception for book_id:  17929637
In insert_book_data, IntegrityError Exception for book_id:  15798166

In insert_book_data, IntegrityError Exception for book_id:  47626
In insert_book_data, IntegrityError Exception for book_id:  29587
In insert_book_data, IntegrityError Exception for book_id:  968827
In insert_book_data, IntegrityError Exception for book_id:  9554790
In insert_book_data, IntegrityError Exception for book_id:  1194366
In insert_book_data, IntegrityError Exception for book_id:  16689
In insert_book_data, IntegrityError Exception for book_id:  29569157
In insert_book_data, IntegrityError Exception for book_id:  763429
In insert_book_data, IntegrityError Exception for book_id:  13147460
In insert_book_data, IntegrityError Exception for book_id:  9018370
In insert_book_data, IntegrityError Exception for book_id:  20981355
In insert_book_data, IntegrityError Exception for book_id:  222472
In insert_book_data, IntegrityError Exception for book_id:  104342
In insert_book_data, IntegrityError Exception for book_id:  25778505
In insert_book_data, IntegrityError Exception for book_id:  17159943
In insert_book_data, IntegrityError Exception for book_id:  4711854
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('4328472', '1847244130', 'Handling the Undead', 384.0, 3.48, '6677', '589', 'Text Publishing', "Something very peculiar is happening in Stockholm. There's a heatwave on and people cannot turn their lights out or switch their appliances off. Then the terrible news breaks. In the city morgue, the dead are waking up...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10595576
In insert_book_data, IntegrityError Exception for book_id:  12620969
In insert_book_data, IntegrityError Exception for book_id:  6739080
In insert_book_data, IntegrityError Exception for book_id:  96063
In insert_book_data, IntegrityError Exception for book_id:  11320138
In insert_book_data, IntegrityError Exception for book_id:  40293
In insert_book_data, IntegrityError Exception for book_id:  12814540
In insert_book_data, IntegrityError Exception for book_id:  263985
In insert_book_data, IntegrityError Exception for book_id:  7302794
In insert_book_data, IntegrityError Exception for book_id:  139390
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('585261', '0439963931', 'Infernal Devices (The Hungry City Chronicles, #3)', 336.0, 3.97, '6451', '328', None, "The third thrilling book in the stunning Predator Cities series!<br /><br />The mighty engines of Anchorage have been rusted and dead for years. The  ... (395 characters truncated) ... he pirate wants something in return - Wren must steal the mysterious Tin Book. To do so will ignite a conflict that could tear the whole world apart.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13603717
In insert_book_data, IntegrityError Exception for book_id:  17733971
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('10092', '0641645473', 'Sea of Silver Light (Otherland, #4)', None, 4.13, '10750', '188', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  3710603
In insert_book_data, IntegrityError Exception for book_id:  816440
In insert_book_data, IntegrityError Exception for book_id:  13538757
In insert_book_data, IntegrityError Exception for book_id:  23559647
In insert_book_data, IntegrityError Exception for book_id:  24237785
In insert_book_data, IntegrityError Exception for book_id:  12962345
In insert_book_data, IntegrityError Exception for book_id:  70787
In insert_book_data, IntegrityError Exception for book_id:  10308452
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9424053', '0575088273', "Blue Remembered Earth (Poseidon's Children, #1)", 512.0, 3.87, '7363', '572', 'Orion Publishing Group', "BLUE REMEMBERED EARTH is the first volume in a monumental trilogy tracing the Akinya family across more than ten thousand years of future history...o ... (968 characters truncated) ... crets she died with are about to come back out into the open, and they could change everything.<br /><br />Or shatter this near-utopia into shards...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13079147
In insert_book_data, IntegrityError Exception for book_id:  5199185
In insert_book_data, IntegrityError Exception for book_id:  216213
In insert_book_data, IntegrityError Exception for book_id:  14999965
In insert_book_data, IntegrityError Exception for book_id:  13310549
In insert_book_data, IntegrityError Exception for book_id:  8428985
In insert_book_data, IntegrityError Exception for book_id:  13581999
In insert_book_data, IntegrityError Exception for book_id:  17899846
In insert_book_data, IntegrityError Exception for book_id:  22418
In insert_book_data, IntegrityError Exception for book_id:  195806
In insert_book_data, IntegrityError Exception for book_id:  17165913
In insert_book_data, IntegrityError Exception for book_id:  8273044
In insert_book_data, IntegrityError Exception for book_id:  11640957
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('64316', '0689856725', 'The White Mountains', 195.0, 3.94, '9118', '636', 'Simon & Schuster Simon Pulse', "Long ago, the Tripods—huge, three-legged machines—descended upon Earth and took control. Now people unquestioningly accept the Tripods' power. They h ... (125 characters truncated) ... ot a slave. For Will, his time of freedom is about to end—unless he can escape to the White Mountains, where the possibility of freedom still exists.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  410615
In insert_book_data, IntegrityError Exception for book_id:  19138879
In insert_book_data, IntegrityError Exception for book_id:  697251
In insert_book_data, IntegrityError Exception for book_id:  776573
In insert_book_data, IntegrityError Exception for book_id:  21888732
In insert_book_data, IntegrityError Exception for book_id:  16046748
In insert_book_data, IntegrityError Exception for book_id:  23848051
In insert_book_data, IntegrityError Exception for book_id:  158683
In insert_book_data, IntegrityError Exception for book_id:  13518102
In insert_book_data, IntegrityError Exception for book_id:  116356
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('951749', '0671831526', 'The Dying Earth (The Dying Earth, #1)', 156.0, 3.93, '5864', '317', 'Simon & Schuster', "Seekers of wisdom and beauty include lovely lost women, eccentric wizards and man-eating melancholy deodands. Twk-men ride dragonflies and trade info ... (507 characters truncated) ...  Ulan Dhor Ends a Dream • [Dying Earth] • (1950) • novelette by Jack Vance<br />109 • Guyal of Sfere • [Dying Earth] • (1950) • novella by Jack Vance")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  4837032
In insert_book_data, IntegrityError Exception for book_id:  263021
In insert_book_data, IntegrityError Exception for book_id:  27064345
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('392566', '0575075287', 'The Space Merchants (The Space Merchants, #1)', 186.0, 3.87, '7535', '314', 'Orion Publishing Group Ltd', '<i>An alternate cover edition can be found <a href="https://www.goodreads.com/book/show/29624025-the-space-merchants" rel="nofollow">here</a>.</i><br ... (691 characters truncated) ... e sections, starting where the other left off, and through long experience they developed an almost telepathic awareness of each other\'s intentions.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  698034
In insert_book_data, IntegrityError Exception for book_id:  16103129
In insert_book_data, IntegrityError Exception for book_id:  26797462
In insert_book_data, IntegrityError Exception for book_id:  15720319
In insert_book_data, IntegrityError Exception for book_id:  13228537

Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('156785', '3453161815', 'Diaspora', 443.0, 4.13, '4839', '352', 'Heyne', 'By the end of the 30th century humanity has the capability to travel the universe, to journey beyond earth and beyond the confines of the vulnerable  ... (655 characters truncated) ... Of the discovery of an alien race and of a kink in time that means humanity — whatever form it takes — will never again be threatened by acts of God.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41064', '0575074817', 'The Penultimate Truth', 191.0, 3.79, '5654', '249', 'Gollancz', "World War III is raging - or so the millions of people crammed in their underground tanks believe. For fifteen years, subterranean humanity has been  ... (170 characters truncated) ...  reigns. East and West are at peace. Across the planet, an elite corps of expert hoaxers preserve the lie.<br /><br />Cover Illustration: Chris Moore")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13202200
In insert_book_data, IntegrityError Exception for book_id:  6839020
In insert_book_data, IntegrityError Exception for book_id:  26085520
In insert_book_data, IntegrityError Exception for book_id:  10791807
In insert_book_data, IntegrityError Exception for book_id:  10314229
In insert_book_data, IntegrityError Exception for book_id:  22421
In insert_book_data, IntegrityError Exception for book_id:  16683
In insert_book_data, IntegrityError Exception for book_id:  13583463
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24358527', None, 'Angles of Attack (Frontlines, #3)', None, 4.1, '10174', '408', None, '<p>The alien forces known as the Lankies are gathering on the solar system’s edge, consolidating their conquest of Mars and setting their sights on E ... (813 characters truncated) ...  with no way out and no hope for reinforcement. And this time, the struggle for humanity’s future can only end in either victory or annihilation.</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  20646731
In insert_book_data, IntegrityError Exception for book_id:  12305515
In insert_book_data, IntegrityError Exception for book_id:  7716140
In insert_book_data, IntegrityError Exception for book_id:  13507512
In insert_book_data, IntegrityError Exception for book_id:  600349
In insert_book_data, IntegrityError Exception for book_id:  2819368
In insert_book_data, IntegrityError Exception for book_id:  23492477
In insert_book_data, IntegrityError Exception for book_id:  778990
In insert_book_data, IntegrityError Exception for book_id:  22749788
In insert_book_data, IntegrityError Exception for book_id:  17866
In insert_book_data, IntegrityError Exception for book_id:  33160796
In insert_book_data, IntegrityError Exception for book_id:  10148930
In insert_book_data, IntegrityError Exception for book_id:  12399857
In insert_book_data, IntegrityError Exception for book_id:  116249
In insert_book_data, IntegrityError Exception for book_id:  8103876
In insert_book_data, IntegrityError Exception for book_id:  13431827
In insert_book_data, IntegrityError Exception for book_id:  12138494
In insert_book_data, IntegrityError Exception for book_id:  24397041
In insert_book_data, IntegrityError Exception for book_id:  14289
In insert_book_data, IntegrityError Exception for book_id:  13031445
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41823', '0451450647', 'Robot Visions', 496.0, 4.22, '7385', '145', 'RoC', 'From Isaac Asimov, the Hugo Award-winning Grand Master of Science Fiction whose name is synonymous with the science of robotics, comes five decades o ... (2480 characters truncated) ... 1987); The Sense of Humor (1988); Robots in Combination (1988).<br /><br />The volume features many black-and-white illustrations by Ralph McQuarrie.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15762770
In insert_book_data, IntegrityError Exception for book_id:  13931214
In insert_book_data, IntegrityError Exception for book_id:  21805566
In insert_book_data, IntegrityError Exception for book_id:  340819
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('40448', '0345485254', 'Thirteen', 544.0, 3.89, '7749', '356', None, 'The future isn’t what it used to be since Richard K. Morgan arrived on the scene. He unleashed Takeshi Kovacs–private eye, soldier of fortune, and al ... (1801 characters truncated) ... han remaining a prisoner. The real question is: can he remain sane–and alive–long enough to succeed?<br /><br />2007 1st Ed Del Rey 9 8 7 6 5 4 3 2 1')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15722490
In insert_book_data, IntegrityError Exception for book_id:  18259637
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25128811', None, 'Ice Planet Barbarians (Ice Planet Barbarians, #1)', 188.0, 3.91, '10190', '1106', None, "You'd think being abducted by aliens would be the worst thing that could happen to me. And you'd be wrong. Because now, the aliens are having ship tr ... (53 characters truncated) ... including me - on an ice planet.<br /><br />And the only native inhabitant I've met? He's big, horned, blue, and really, really has a thing for me...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6395945
In insert_book_data, IntegrityError Exception for book_id:  13178410
In insert_book_data, IntegrityError Exception for book_id:  22426
In insert_book_data, IntegrityError Exception for book_id:  21532236
In insert_book_data, IntegrityError Exception for book_id:  28208687
In insert_book_data, IntegrityError Exception for book_id:  14743784
In insert_book_data, IntegrityError Exception for book_id:  31351188
In insert_book_data, IntegrityError Exception for book_id:  80754
In insert_book_data, IntegrityError Exception for book_id:  16071864
In insert_book_data, IntegrityError Exception for book_id:  17312777
In insert_book_data, IntegrityError Exception for book_id:  17262714
In insert_book_data, IntegrityError Exception for book_id:  18476102
In insert_book_data, IntegrityError Exception for book_id:  26089799
In insert_book_data, IntegrityError Exception for book_id:  30140756
In insert_book_data, IntegrityError Exception for book_id:  8428140
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('219110', '0439943469', 'A Darkling Plain (The Hungry City Chronicles, #4)', 544.0, 4.25, '5341', '350', None, "The final book of the thrilling Predator Cities series!<br /><br />London is a radioactive ruin. But Tom and Wren discover that the old predator city ... (254 characters truncated) ... ace.<br /><br />The final book in the Predator Cities series, Philip Reeve's A Darkling Plain is the winner of the Guardian Children's Fiction Prize.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  91885
In insert_book_data, IntegrityError Exception for book_id:  941731
In insert_book_data, IntegrityError Exception for book_id:  13542868
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3605324', '0307406318', 'Contagious (Infected, #2)', 438.0, 4.12, '8131', '533', None, "From the acclaimed author of Infected comes an epic and exhilarating story of humanity's secret battle against a horrific enemy. <br /><br />Across A ... (949 characters truncated) ... opponent. Alongside them is Margaret Montoya, a brilliant epidemiologist who fights for a cure even as she reels under the weight of endless horrors.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8585924
In insert_book_data, IntegrityError Exception for book_id:  302702
In insert_book_data, IntegrityError Exception for book_id:  966835

In insert_book_data, IntegrityError Exception for book_id:  13024589
In insert_book_data, IntegrityError Exception for book_id:  98046
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24764', '159514062X', 'The Last Days (Peeps, #2)', 286.0, 3.53, '8682', '520', None, 'A mysterious epidemic holds the city in its thrall and the chaos is contagious black oil spews from fire hydrants, rats have taken over brooklyn, and ... (343 characters truncated) ... pocalypse that began in <i>Peeps, The Last Days</i> is about five teenagers who find themselves creating the soundtrack for the end of the world.</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24228189', None, 'The Gemini Effect', None, 3.38, '7549', '646', None, '<p>\n  <b>\n    <i>2014 Winner — Amazon Breakthrough Novel Award — Science Fiction, Fantasy, Horror </i>\n  </b>\n</p><p>A single raindrop opens a Pa ... (826 characters truncated) ... riginally published as <i>The Mengele Effect</i>. This edition has been completely edited and revised, including significant plot changes. </b>\n</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7296271
In insert_book_data, IntegrityError Exception for book_id:  9867814
In insert_book_data, IntegrityError Exception for book_id:  18166988
In insert_book_data, IntegrityError Exception for book_id:  23198876
In insert_book_data, IntegrityError Exception for book_id:  15808659
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29869384', None, 'Close Liaisons (The Krinar Chronicles, #1)', 320.0, 3.71, '1450', '134', 'Mozaika', '<i>A dark and edgy romance that will appeal to fans of erotic and turbulent relationships\xa0.\xa0.\xa0.</i><br /><br />In the near future, the Krina ... (840 characters truncated) ... /><i>This is an alternate cover edition for <a href="https://www.goodreads.com/book/show/16070990-close-liaisons" rel="nofollow">B009MNXWMO</a>. </i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  183092
In insert_book_data, IntegrityError Exception for book_id:  7911067
In insert_book_data, IntegrityError Exception for book_id:  13479780
In insert_book_data, IntegrityError Exception for book_id:  132694
In insert_book_data, IntegrityError Exception for book_id:  22237149
In insert_book_data, IntegrityError Exception for book_id:  22420
In insert_book_data, IntegrityError Exception for book_id:  13453104
In insert_book_data, IntegrityError Exception for book_id:  13648
In insert_book_data, IntegrityError Exception for book_id:  142181
In insert_book_data, IntegrityError Exception for book_id:  23846037
In insert_book_data, IntegrityError Exception for book_id:  8109141
In insert_book_data, IntegrityError Exception for book_id:  23573808
In insert_book_data, IntegrityError Exception for book_id:  20977124
In insert_book_data, IntegrityError Exception for book_id:  13018514
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('21895563', None, 'Attack on Titan, Vol. 12', None, 4.54, '9211', '250', None, 'THE CHASE IS ON! <br /><br />Erwin and the Survey Corps desperately mount a rescue operation to take Eren back from the Colossus Titan and Armored Ti ... (302 characters truncated) ... rk "Japan\'s equivalent of The Walking Dead." - io9<br /><br />Chapter List:<br /><br />47. Children<br />48. Someone<br />49. Charge<br />50. Scream')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  306608
In insert_book_data, IntegrityError Exception for book_id:  18691070
In insert_book_data, IntegrityError Exception for book_id:  20821094
In insert_book_data, IntegrityError Exception for book_id:  9619
In insert_book_data, IntegrityError Exception for book_id:  23532871
In insert_book_data, IntegrityError Exception for book_id:  161037
In insert_book_data, IntegrityError Exception for book_id:  156724
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('285563', '1876756055', 'Native Tongue (Native Tongue, #1)', 327.0, 4.01, '2100', '192', 'Feminist Press at the City University of New York', 'Called "fascinating" by the New York Times upon its first publication in 1984, <i>Native Tongue</i> won wide critical praise and cult status, and has ... (884 characters truncated) ... a slow revolution is going on in the Barren Houses: there, word by word, women are creating a language of their own to free them from men\'s control.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18669609
In insert_book_data, IntegrityError Exception for book_id:  60934
In insert_book_data, IntegrityError Exception for book_id:  278280
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('33297829', None, 'The Flight of the Silvers (Silvers #1)', 626.0, 3.91, '688', '90', 'Blue Rider', '<i>This is an alternate cover edition for <a href="https://www.goodreads.com/book/show/18160123.ASIN_B00DGZKHRC" title="ASIN B00DGZKHRC" rel="nofollo ... (975 characters truncated) ... ilities they never wanted, the sisters and their companions begin a cross-country journey to find the one man who can save them—before time runs out.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  30010
In insert_book_data, IntegrityError Exception for book_id:  17149396
In insert_book_data, IntegrityError Exception for book_id:  156784
In insert_book_data, IntegrityError Exception for book_id:  6436659
In insert_book_data, IntegrityError Exception for book_id:  57504
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22422', '1563897962', 'Transmetropolitan, Vol. 6: Gouge Away', None, 4.43, '11177', '114', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9065272
In insert_book_data, IntegrityError Exception for book_id:  12917338
In insert_book_data, IntegrityError Exception for book_id:  50840
In insert_book_data, IntegrityError Exception for book_id:  41074
In insert_book_data, IntegrityError Exception for book_id:  19084955
In insert_book_data, IntegrityError Exception for book_id:  15727959
In insert_book_data, IntegrityError Exception for book_id:  23168818
In insert_book_data, IntegrityError Exception for book_id:  18077957
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('17401136', '0230768806', 'Vurt (Vurt #1)', 368.0, 4.06, '3218', '195', 'Tor', 'A brilliantly innovative and highly entertaining novel from a literary pioneer.<br /><br />Take a trip in a stranger’s head. Travel rain-shot streets ... (375 characters truncated) ...  of all, Scribble must be prepared to leave his current reality behind.<br /><br />This edition also includes three additional short stories by Noon.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16173578
In insert_book_data, IntegrityError Exception for book_id:  25437891
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('924194', '0439087597', 'The Last Book in the Universe', 223.0, 3.9, '8010', '948', 'Scholastic', "This fast-paced action novel is set in a future where the world has been almost destroyed. Like the award-winning novel Freak the Mighty, this is Phi ... (374 characters truncated) ... t Earth and its past. With Ryter as his companion, Spaz sets off an unlikely quest to save his dying sister -- and in the process, perhaps the world.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6065629
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35385740', None, 'Talented (Talented Saga, #1)', 281.0, 4.01, '617', '36', None, '<b>With over <i>Twelve Million</i> pages read in Kindle Unlimited and Half a Million worldwide downloads, readers are raving about this #1 Bestsellin ... (1074 characters truncated) ... an Romance series</b> about the life of a girl with extraordinary psychic powers, and what happens when a heart is torn between love and rage... </i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('11325011', '030737937X', 'The Flame Alphabet', 289.0, 2.88, '4325', '934', 'Knopf', 'In <i>The Flame Alphabet,</i> the most maniacally gifted writer of our generation delivers a work of heartbreak and horror, a novel about how far we  ... (1310 characters truncated) ... ripping page-turner as strange as it is moving, this intellectual horror story ensures Ben Marcus’s position in the first rank of American novelists.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25868031
In insert_book_data, IntegrityError Exception for book_id:  7248435
In insert_book_data, IntegrityError Exception for book_id:  20454977
In insert_book_data, IntegrityError Exception for book_id:  767326
In insert_book_data, IntegrityError Exception for book_id:  97961
In insert_book_data, IntegrityError Exception for book_id:  7247856
In insert_book_data, IntegrityError Exception for book_id:  24465662
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1003985', '0670061794', 'Epic (Epic, #1)', None, 3.94, '5484', '479', None, "Generations ago, violence was banned on New Earth. Society is governed and conflicts are resolved in the arena of a fantasy computer game, Epic. Ever ... (480 characters truncated) ... nny over New Earth. But if they lose . . .<br /></p><p>\n  <br /></p><p> With its setting of a fantasy MMORPG, Epic is an early example of LitRPG</p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22020598
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6881685', '0765321505', 'Bitter Seeds (The Milkweed Triptych, #1)', None, 3.74, '4846', '636', None, "<div>\n  <div>It's 1939. The Nazis have supermen, the British have demons, and one perfectly normal man gets caught in between<br /><br />Raybould Ma ... (781 characters truncated) ... e in the opening of an epic of supernatural alternate history, the tale of a twentieth century like ours and also profoundly different.</div>\n</div>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16007911
In insert_book_data, IntegrityError Exception for book_id:  40995

In insert_book_data, IntegrityError Exception for book_id:  21469108
In insert_book_data, IntegrityError Exception for book_id:  17616704
In insert_book_data, IntegrityError Exception for book_id:  5711714
In insert_book_data, IntegrityError Exception for book_id:  21857389
In insert_book_data, IntegrityError Exception for book_id:  16718
In insert_book_data, IntegrityError Exception for book_id:  21888731
In insert_book_data, IntegrityError Exception for book_id:  7995207
In insert_book_data, IntegrityError Exception for book_id:  16065602
In insert_book_data, IntegrityError Exception for book_id:  13424356
In insert_book_data, IntegrityError Exception for book_id:  473850
In insert_book_data, IntegrityError Exception for book_id:  61928
In insert_book_data, IntegrityError Exception for book_id:  7749505
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('463376', '0671416162', 'The Claw of the Conciliator (The Book of the New Sun, #2)', 303.0, 3.97, '8625', '277', None, 'Severian is in possession of a gem considered to be "The Claw of the Conciliator", a powerful relic of the Master of Power, a legendary figure of myt ... (79 characters truncated) ... tinues his journey to Thrax, the city of his exile. Bizarre apes, strange cannibalistic rituals, and the foreigner named Jonas all lie in his future.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25054175
In insert_book_data, IntegrityError Exception for book_id:  576839
In insert_book_data, IntegrityError Exception for book_id:  17450822
In insert_book_data, IntegrityError Exception for book_id:  968868
In insert_book_data, IntegrityError Exception for book_id:  13447149
In insert_book_data, IntegrityError Exception for book_id:  21415815
In insert_book_data, IntegrityError Exception for book_id:  13380915
In insert_book_data, IntegrityError Exception for book_id:  36640259
In insert_book_data, IntegrityError Exception for book_id:  68333
In insert_book_data, IntegrityError Exception for book_id:  15752340
In insert_book_data, IntegrityError Exception for book_id:  11987465
In insert_book_data, IntegrityError Exception for book_id:  22425
In insert_book_data, IntegrityError Exception for book_id:  2749148
In insert_book_data, IntegrityError Exception for book_id:  323172
In insert_book_data, IntegrityError Exception for book_id:  13314945
In insert_book_data, IntegrityError Exception for book_id:  13645264
In insert_book_data, IntegrityError Exception for book_id:  5149517
In insert_book_data, IntegrityError Exception for book_id:  17450811
In insert_book_data, IntegrityError Exception for book_id:  16115038
In insert_book_data, IntegrityError Exception for book_id:  17063696
In insert_book_data, IntegrityError Exception for book_id:  733473
In insert_book_data, IntegrityError Exception for book_id:  23016659
In insert_book_data, IntegrityError Exception for book_id:  18774016
In insert_book_data, IntegrityError Exception for book_id:  22424
In insert_book_data, IntegrityError Exception for book_id:  15743440
In insert_book_data, IntegrityError Exception for book_id:  18140842
In insert_book_data, IntegrityError Exception for book_id:  22064780
In insert_book_data, IntegrityError Exception for book_id:  24931971
In insert_book_data, IntegrityError Exception for book_id:  593152
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('38198724', None, 'Flesh (Flesh, #1)', None, 3.61, '403', '45', None, '<b>Ali has been hiding in an attic since civilisation collapsed eight weeks ago.</b><br /><br />When the plague hit, her neighbours turned into mindl ... (606 characters truncated) ... e, hunted through the suburban wastelands.<br /><br /><i>NOTE: This story is rated "Hot" (4 out of 5 flames) and contains M/F/M and F/M pairings.</i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18215086
In insert_book_data, IntegrityError Exception for book_id:  13425846
In insert_book_data, IntegrityError Exception for book_id:  17450840
In insert_book_data, IntegrityError Exception for book_id:  70240
In insert_book_data, IntegrityError Exception for book_id:  7203997
In insert_book_data, IntegrityError Exception for book_id:  20256737
In insert_book_data, IntegrityError Exception for book_id:  4008489
In insert_book_data, IntegrityError Exception for book_id:  788331
In insert_book_data, IntegrityError Exception for book_id:  12971664
In insert_book_data, IntegrityError Exception for book_id:  20426102
In insert_book_data, IntegrityError Exception for book_id:  23601046
In insert_book_data, IntegrityError Exception for book_id:  22423
In insert_book_data, IntegrityError Exception for book_id:  7955
In insert_book_data, IntegrityError Exception for book_id:  834518
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35292712', None, 'Forging Zero (The Legend of ZERO, #1)', 575.0, 4.09, '1032', '47', 'Parasite Publications', "For lovers of sci-fi thrillers, alien invasion stories, space opera, and sprawling first contact science fiction, this is an unforgettable post-apoca ... (790 characters truncated) ...  to finally shatter the vast alien government known as Congress. And the Trith cannot lie.…<br /><br />But first Joe has to make it through bootcamp.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22267616
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('23214943', None, 'Apolonia', None, 3.36, '1514', '155', None, '“They killed me, but I survived.”<br /><br />Three years after Rory Riordan foiled her own murder, she still trusts no one. Not Dr. Z, the eccentric  ... (708 characters truncated) ... , whiplash-inducing roller coaster ride. Page after page, this unpredictable, dark and sexy nail biter will keep readers guessing until the very end!')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('216398', '0679734457', 'The Divine Invasion', 238.0, 3.81, '6186', '300', None, 'In <i>The Divine Invasion</i>, Philip K. Dick asks: What if God — or a being called Yah — were alive and in exile on a distant planet? How could a se ... (155 characters truncated) ... s Judaism, Kabalah, Zoroastrianism, and Christianity into a fascinating fable of human existence"<br />--<i>West Coast Revew of Books</i><br /><br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10779721
In insert_book_data, IntegrityError Exception for book_id:  9359818
In insert_book_data, IntegrityError Exception for book_id:  23848002
In insert_book_data, IntegrityError Exception for book_id:  19395125
In insert_book_data, IntegrityError Exception for book_id:  25733442
In insert_book_data, IntegrityError Exception for book_id:  12678461
In insert_book_data, IntegrityError Exception for book_id:  90574
In insert_book_data, IntegrityError Exception for book_id:  15736709
In insert_book_data, IntegrityError Exception for book_id:  636108
In insert_book_data, IntegrityError Exception for book_id:  18345615
In insert_book_data, IntegrityError Exception for book_id:  50832
In insert_book_data, IntegrityError Exception for book_id:  6912600
In insert_book_data, IntegrityError Exception for book_id:  5603414
In insert_book_data, IntegrityError Exception for book_id:  13458013
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6184241', '0670020923', 'Everything Matters!', 320.0, 4.05, '5705', '774', None, '<b>"Startlingly talented . . . he survives the inevitable, apt comparisons to Kurt Vonnegut and writes in a tenderly mordant voice all his own." -Jan ... (757 characters truncated) ... atters! is a genre-bending potpourri of alternative history, sci-fi, and the great American tale in the tradition of John Irving and Margaret Atwood.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8596384
In insert_book_data, IntegrityError Exception for book_id:  7241373
In insert_book_data, IntegrityError Exception for book_id:  22350219
In insert_book_data, IntegrityError Exception for book_id:  5931169
In insert_book_data, IntegrityError Exception for book_id:  26082351
In insert_book_data, IntegrityError Exception for book_id:  25026403

In insert_book_data, IntegrityError Exception for book_id:  89192
In insert_book_data, IntegrityError Exception for book_id:  16148938
In insert_book_data, IntegrityError Exception for book_id:  12924426
In insert_book_data, IntegrityError Exception for book_id:  17883512
In insert_book_data, IntegrityError Exception for book_id:  14811468
In insert_book_data, IntegrityError Exception for book_id:  16059426
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('8623688', '1607063271', 'The Walking Dead, Book Six (The Walking Dead #61-72)', None, 4.4, '7768', '194', 'Image Comics', 'JUST IN TIME FOR THE ALL-NEW TELEVISION SERIES ON AMC! This hardcover features another 12 issues of the hit series, all in one oversized hardcover vo ... (5 characters truncated) ...  Perfect for long time fans, new readers, and anyone interested in reading a zombie movie on paper that never ends. Collects The Walking Dead #61-72.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2574748
In insert_book_data, IntegrityError Exception for book_id:  15945897
In insert_book_data, IntegrityError Exception for book_id:  21608
In insert_book_data, IntegrityError Exception for book_id:  12381722
In insert_book_data, IntegrityError Exception for book_id:  13425802
In insert_book_data, IntegrityError Exception for book_id:  16044493
In insert_book_data, IntegrityError Exception for book_id:  7797852
In insert_book_data, IntegrityError Exception for book_id:  40304
In insert_book_data, IntegrityError Exception for book_id:  27276264
In insert_book_data, IntegrityError Exception for book_id:  626339
In insert_book_data, IntegrityError Exception for book_id:  844422
In insert_book_data, IntegrityError Exception for book_id:  12275873
In insert_book_data, IntegrityError Exception for book_id:  13515663
In insert_book_data, IntegrityError Exception for book_id:  9752790
In insert_book_data, IntegrityError Exception for book_id:  22046891
In insert_book_data, IntegrityError Exception for book_id:  11731782
In insert_book_data, IntegrityError Exception for book_id:  22749719
In insert_book_data, IntegrityError Exception for book_id:  18811324
In insert_book_data, IntegrityError Exception for book_id:  296977
In insert_book_data, IntegrityError Exception for book_id:  18713259
In insert_book_data, IntegrityError Exception for book_id:  7044446
In insert_book_data, IntegrityError Exception for book_id:  2744237
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('16536', '0345419685', 'The Fabulous Riverboat (Riverworld #2)', 231.0, 3.87, '8057', '172', None, 'In <i>To Your Scattered Bodies Go</i>, Philip José Farmer introduces readers to the awesome Riverworld, a planet that had been carved into one large  ... (1589 characters truncated) ... rboat and sailing to the headwaters, but even an 800-pound giant may not be enough to help Clemens fulfill X\'s mission. <i>--Craig E. Engler</i></p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  19535999
In insert_book_data, IntegrityError Exception for book_id:  636223
In insert_book_data, IntegrityError Exception for book_id:  18505844
In insert_book_data, IntegrityError Exception for book_id:  17834909
In insert_book_data, IntegrityError Exception for book_id:  27059
In insert_book_data, IntegrityError Exception for book_id:  213652
In insert_book_data, IntegrityError Exception for book_id:  436562
In insert_book_data, IntegrityError Exception for book_id:  13574710
In insert_book_data, IntegrityError Exception for book_id:  968902
In insert_book_data, IntegrityError Exception for book_id:  6730644
In insert_book_data, IntegrityError Exception for book_id:  17934467
In insert_book_data, IntegrityError Exception for book_id:  8619943
In insert_book_data, IntegrityError Exception for book_id:  310722
In insert_book_data, IntegrityError Exception for book_id:  55990
In insert_book_data, IntegrityError Exception for book_id:  93370
In insert_book_data, IntegrityError Exception for book_id:  12074927
In insert_book_data, IntegrityError Exception for book_id:  381817
In insert_book_data, IntegrityError Exception for book_id:  15947841
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('216378', '0679742204', 'Now Wait for Last Year', 230.0, 3.89, '4621', '156', None, "Dr. Eric Sweetscent has problems. His planet is enmeshed in an unwinnable war. His wife is lethally addicted to a drug that whips its users helplessl ... (581 characters truncated) ...  like the present, it makes the normal seem terrifyingly provisional -- and compels anyone who reads it to wonder if he really knows what time it is.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  499415
In insert_book_data, IntegrityError Exception for book_id:  6993091
In insert_book_data, IntegrityError Exception for book_id:  99702
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3032314', '1595141952', 'The Other Side of the Island', 280.0, 3.69, '4121', '483', None, "From <i>New York Times</i> bestselling author Allegra Goodman comes a post apocalyptic novel about love, loss, and the power of human choice. <p> Hon ... (453 characters truncated) ... to uncover a terrible truth about life on the Island: Sooner or later, those who are unpredictable disappear . . . and they don't ever come back.</p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  263466
In insert_book_data, IntegrityError Exception for book_id:  33369264
In insert_book_data, IntegrityError Exception for book_id:  7025086
In insert_book_data, IntegrityError Exception for book_id:  66479
In insert_book_data, IntegrityError Exception for book_id:  17162429
In insert_book_data, IntegrityError Exception for book_id:  296444
In insert_book_data, IntegrityError Exception for book_id:  16101054
In insert_book_data, IntegrityError Exception for book_id:  68021
In insert_book_data, IntegrityError Exception for book_id:  18490708
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('26103749', None, 'Nomad (Nomad, #1)', None, 3.79, '4939', '355', None, '<b>Something massive is coming...</b><br /><br /><b>And it\'s heading for Earth.</b><br /><br />That\'s what Dr. Ben Rollins, head of Harvard\'s exop ... (1201 characters truncated) ... of world-class astrophysicists from CERN, SETI, the Keck Observatory and more. It even has its own simulation video, included at the end of the book.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  59921
In insert_book_data, IntegrityError Exception for book_id:  270490
In insert_book_data, IntegrityError Exception for book_id:  17559899
In insert_book_data, IntegrityError Exception for book_id:  22752442
In insert_book_data, IntegrityError Exception for book_id:  23215488
In insert_book_data, IntegrityError Exception for book_id:  586852
In insert_book_data, IntegrityError Exception for book_id:  19336279
In insert_book_data, IntegrityError Exception for book_id:  21023409
In insert_book_data, IntegrityError Exception for book_id:  6093864
In insert_book_data, IntegrityError Exception for book_id:  33113864
In insert_book_data, IntegrityError Exception for book_id:  15721624

In insert_book_data, IntegrityError Exception for book_id:  883195
In insert_book_data, IntegrityError Exception for book_id:  15826004
In insert_book_data, IntegrityError Exception for book_id:  12283733
In insert_book_data, IntegrityError Exception for book_id:  22875435
In insert_book_data, IntegrityError Exception for book_id:  70251
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25648897', None, 'Chains of Command (Frontlines, #4)', 386.0, 4.26, '7824', '330', None, 'The assault on Earth was thwarted by the destruction of the aliens’ seed ship, but with Mars still under Lanky control, survivors work frantically to ... (594 characters truncated) ...  wife, dropship pilot Halley, again find themselves headed for the crucible of combat—and a shattering new campaign in the war for humanity’s future.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22556945
In insert_book_data, IntegrityError Exception for book_id:  13509631
In insert_book_data, IntegrityError Exception for book_id:  15362992
In insert_book_data, IntegrityError Exception for book_id:  23200006
In insert_book_data, IntegrityError Exception for book_id:  17332588
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('15512', '0099742004', 'Total Recall', 224.0, 3.93, '7913', '59', 'Arrow Books', None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8809
In insert_book_data, IntegrityError Exception for book_id:  28526192
In insert_book_data, IntegrityError Exception for book_id:  13451182
In insert_book_data, IntegrityError Exception for book_id:  16127235
In insert_book_data, IntegrityError Exception for book_id:  13546207
In insert_book_data, IntegrityError Exception for book_id:  304351
In insert_book_data, IntegrityError Exception for book_id:  12620241
In insert_book_data, IntegrityError Exception for book_id:  116449
In insert_book_data, IntegrityError Exception for book_id:  836964
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('216399', '0679752986', 'A Maze of Death', 192.0, 3.78, '4578', '267', None, 'Fourteen strangers come to Delmak-O. Thirteen of them were transferred by the usual authorities. One got there by praying. But once they arrived on t ... (250 characters truncated) ... iller and an ingenious meditation on the nature of divinity, <i>A Maze of Death</i> is Philip K. Dick at his most dizzyingly provocative.<br /><br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  590708
In insert_book_data, IntegrityError Exception for book_id:  324505
In insert_book_data, IntegrityError Exception for book_id:  23523012
In insert_book_data, IntegrityError Exception for book_id:  1689657
In insert_book_data, IntegrityError Exception for book_id:  116254
In insert_book_data, IntegrityError Exception for book_id:  6713634
In insert_book_data, IntegrityError Exception for book_id:  17672008
In insert_book_data, IntegrityError Exception for book_id:  22859850
In insert_book_data, IntegrityError Exception for book_id:  16101515
In insert_book_data, IntegrityError Exception for book_id:  17926802
In insert_book_data, IntegrityError Exception for book_id:  16183060
In insert_book_data, IntegrityError Exception for book_id:  18339901
In insert_book_data, IntegrityError Exception for book_id:  24930075
In insert_book_data, IntegrityError Exception for book_id:  28821503
In insert_book_data, IntegrityError Exception for book_id:  96471
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13084331', None, 'The Walking Dead, Issue #1', 26.0, 4.27, '2782', '197', 'Image Comics', 'Rick Grimes, Sheriff of a small town in Kentucky awakes in a hospital. Comatose after being shot while on duty, Rick finds the world abandoned of all ... (160 characters truncated) ... ghbor, who points him towards Atlanta. After retrieving supplies from the abandoned Police Station, Rick sets off to Atlanta to search for his family')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  384579
In insert_book_data, IntegrityError Exception for book_id:  23000709
In insert_book_data, IntegrityError Exception for book_id:  18229437
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('463378', '0671631934', 'The Sword of the Lictor (The Book of the New Sun, #3)', 279.0, 4.15, '6439', '134', 'Timescape Books', "Beneath the dying sun the disgraced torturer, Severian, at last comes to his place of exile - Thrax, the City of Windowless Rooms. But Severian's journeying is not ended, and high in the Earth's ancient mountains he draws closer to his destiny.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('23293202', None, 'True Calling (True Calling, #1)', 400.0, 3.86, '632', '173', 'Siobhan Davis', '<b>Welcome to Novo: Your new home in Space</b><br /><br />For Ariana Skyee, Planet Novo was everything it promised to be until the authorities introd ... (855 characters truncated) ... ce. When her world implodes, discovering the past shapes her future with devastating consequences.<br /><br />TWO DIFFERENT WORLDS. ONE SHARED DREAM.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  386162
In insert_book_data, IntegrityError Exception for book_id:  4981
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('375802', '0812550706', "Ender's Game (Ender's Saga, #1)", 324.0, 4.3, '929536', '35605', 'TOR', 'Andrew "Ender" Wiggin thinks he is playing computer simulated war games; he is, in fact, engaged in something far more desperate. The result of genet ... (1208 characters truncated) ...  begin working together to shape the destiny of Earth-an Earth that has no future at all if their brother Ender fails.<br /><br />Source: hatrack.com')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('36381037', None, 'Cinder (The Lunar Chronicles, #1)', 400.0, 4.15, '97782', '4861', 'Feiwel & Friends', "<b>A forbidden romance.</b><br /><br /><b>A deadly plague.</b><br /><br /><b>Earth's fate hinges on one girl . . .</b><br /><br /><b>CINDER</b>, a gi ... (422 characters truncated) ... bout her mysterious past in order to protect Earth's future.<br /><br /><b>This is not the fairytale you remember. But it's one you won't forget.</b>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1656001
In insert_book_data, IntegrityError Exception for book_id:  16101128
In insert_book_data, IntegrityError Exception for book_id:  7747374
In insert_book_data, IntegrityError Exception for book_id:  13206760
In insert_book_data, IntegrityError Exception for book_id:  20758104
In insert_book_data, IntegrityError Exception for book_id:  6320534
In insert_book_data, IntegrityError Exception for book_id:  12578077
In insert_book_data, IntegrityError Exception for book_id:  13206828
In insert_book_data, IntegrityError Exception for book_id:  350
In insert_book_data, IntegrityError Exception for book_id:  8909
In insert_book_data, IntegrityError Exception for book_id:  13
In insert_book_data, IntegrityError Exception for book_id:  8235178
In insert_book_data, IntegrityError Exception for book_id:  13206900
In insert_book_data, IntegrityError Exception for book_id:  15704307
In insert_book_data, IntegrityError Exception for book_id:  76778
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('77566', '0553283685', 'Hyperion (Hyperion Cantos, #1)', 482.0, 4.23, '142562', '6108', 'Bantam Spectra', 'On the world called Hyperion, beyond the law of the Hegemony of Man, there waits the creature called the Shrike. There are those who worship it. Ther ... (622 characters truncated) ... th excitement and invention, the first volume in a remarkable new science fiction epic by the multiple-award-winning author of <i>The Hollow Man</i>.')] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  8695
In insert_book_data, IntegrityError Exception for book_id:  7967
In insert_book_data, IntegrityError Exception for book_id:  8855321
In insert_book_data, IntegrityError Exception for book_id:  17934530
In insert_book_data, IntegrityError Exception for book_id:  8694
In insert_book_data, IntegrityError Exception for book_id:  23395680
In insert_book_data, IntegrityError Exception for book_id:  17214
In insert_book_data, IntegrityError Exception for book_id:  16131484
In insert_book_data, IntegrityError Exception for book_id:  36510196
In insert_book_data, IntegrityError Exception for book_id:  18423
In insert_book_data, IntegrityError Exception for book_id:  11570
In insert_book_data, IntegrityError Exception for book_id:  20518872
In insert_book_data, IntegrityError Exception for book_id:  455373
In insert_book_data, IntegrityError Exception for book_id:  21611
In insert_book_data, IntegrityError Exception for book_id:  9532
In insert_book_data, IntegrityError Exception for book_id:  13047090
In insert_book_data, IntegrityError Exception for book_id:  61666
In insert_book_data, IntegrityError Exception for book_id:  13138635
In insert_book_data, IntegrityError Exception for book_id:  6091075
In insert_book_data, IntegrityError Exception for book_id:  414999
In insert_book_data, IntegrityError Exception for book_id:  8648
In insert_book_data, IntegrityError Exception for book_id:  22489107
In insert_book_data, IntegrityError Exception for book_id:  8659601
In insert_book_data, IntegrityError Exception for book_id:  30117284
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('365', None, "Dirk Gently's Holistic Detective Agency (Dirk Gently #1)", 306.0, 3.98, '98596', '2294', 'Pocket Books', 'What do a dead cat, a computer whiz-kid, an Electric Monk who believes the world is pink, quantum mechanics, a Chronologist over 200 years old, Samue ... (496 characters truncated) ... tact Dirk Gently’s Holistic Detective Agency. ‘A thumping good detective-ghost-horror-whodunnit-time travel-romantic-musical-comedy epic.’ The author')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  4982
In insert_book_data, IntegrityError Exception for book_id:  13362536
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('493456', '1416951172', 'Extras (Uglies, #4)', 417.0, 3.59, '91612', '4732', None, 'A few years after rebel Tally Youngblood takes down the Specials regime, a cultural renaissance sweeps the world. “Tech-heads” flaunt their latest ga ... (374 characters truncated) ... et. Aya knows she is on the cusp of celebrity. But the information she is about to disclose will change both her fate…and that of the brave new world')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('112537', '1857231589', 'Rendezvous with Rama (Rama, #1)', 243.0, 4.08, '104743', '2441', None, "At first, only a few things are known about the celestial object that astronomers dub Rama. It is huge, weighing more than ten trillion tons. And it  ... (349 characters truncated) ... darkest fears. For no one knows who the Ramans are or why they have come. And now the moment of rendezvous awaits — just behind a Raman airlock door.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13651
In insert_book_data, IntegrityError Exception for book_id:  25733990
In insert_book_data, IntegrityError Exception for book_id:  17660
In insert_book_data, IntegrityError Exception for book_id:  16278318
In insert_book_data, IntegrityError Exception for book_id:  61179
In insert_book_data, IntegrityError Exception for book_id:  12971616
In insert_book_data, IntegrityError Exception for book_id:  569429
In insert_book_data, IntegrityError Exception for book_id:  17199504
In insert_book_data, IntegrityError Exception for book_id:  16131489
In insert_book_data, IntegrityError Exception for book_id:  12476820
In insert_book_data, IntegrityError Exception for book_id:  31360
In insert_book_data, IntegrityError Exception for book_id:  17333324
In insert_book_data, IntegrityError Exception for book_id:  13644052
In insert_book_data, IntegrityError Exception for book_id:  530965
In insert_book_data, IntegrityError Exception for book_id:  70535
In insert_book_data, IntegrityError Exception for book_id:  25689074
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24830', '000712774X', 'The Illustrated Man', 186.0, 4.14, '56527', '1933', 'Voyager Classics / Harper Collins', 'That <i>The Illustrated Man</i> has remained in print since being published in 1951 is fair testimony to the universal appeal of Ray Bradbury\'s work ... (2146 characters truncated) ...  <br />· Zero Hour · ss Planet Stories Fll ’47 <br />· The Rocket [“Outcast of the Stars”] · ss Super Science Stories Mar ’50 <br />· Epilogue · aw *')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22910900
In insert_book_data, IntegrityError Exception for book_id:  22733729
In insert_book_data, IntegrityError Exception for book_id:  8935689
In insert_book_data, IntegrityError Exception for book_id:  13055592
In insert_book_data, IntegrityError Exception for book_id:  5047880
In insert_book_data, IntegrityError Exception for book_id:  25350
In insert_book_data, IntegrityError Exception for book_id:  20758103
In insert_book_data, IntegrityError Exception for book_id:  1857440
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('77565', '0553288202', 'The Fall of Hyperion (Hyperion Cantos, #2)', 518.0, 4.2, '74967', '2455', 'Spectra Books', 'In the stunning continuation of the epic adventure begun in Hyperion, Simmons returns us to a far future resplendent with drama and invention. On the ... (14 characters truncated) ... rion, the mysterious Time Tombs are opening. And the secrets they contain mean that nothing--nothing anywhere in the universe--will ever be the same.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2845024
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('95558', None, 'Solaris', 204.0, 3.99, '49320', '1835', 'Harcourt', 'A classic work of science fiction by renowned Polish novelist and satirist Stanislaw Lem.<br /><br />When Kris Kelvin arrives at the planet Solaris t ... (407 characters truncated) ... sts to shift the focus of their quest and wonder if they can truly understand the universe without first understanding what lies within their hearts.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13644055
In insert_book_data, IntegrityError Exception for book_id:  12591698
In insert_book_data, IntegrityError Exception for book_id:  20758105
In insert_book_data, IntegrityError Exception for book_id:  28204534
In insert_book_data, IntegrityError Exception for book_id:  10345927

In insert_book_data, IntegrityError Exception for book_id:  334176
In insert_book_data, IntegrityError Exception for book_id:  17131869
In insert_book_data, IntegrityError Exception for book_id:  15861491
In insert_book_data, IntegrityError Exception for book_id:  25843420
In insert_book_data, IntegrityError Exception for book_id:  704043
In insert_book_data, IntegrityError Exception for book_id:  6686092
In insert_book_data, IntegrityError Exception for book_id:  13147230
In insert_book_data, IntegrityError Exception for book_id:  29236299
In insert_book_data, IntegrityError Exception for book_id:  16130537
In insert_book_data, IntegrityError Exception for book_id:  9534
In insert_book_data, IntegrityError Exception for book_id:  223380
In insert_book_data, IntegrityError Exception for book_id:  16131032
In insert_book_data, IntegrityError Exception for book_id:  77711
In insert_book_data, IntegrityError Exception for book_id:  40604754
In insert_book_data, IntegrityError Exception for book_id:  15704486
In insert_book_data, IntegrityError Exception for book_id:  100365
In insert_book_data, IntegrityError Exception for book_id:  25499718
In insert_book_data, IntegrityError Exception for book_id:  19358975
In insert_book_data, IntegrityError Exception for book_id:  59924
In insert_book_data, IntegrityError Exception for book_id:  23129410
In insert_book_data, IntegrityError Exception for book_id:  40395
In insert_book_data, IntegrityError Exception for book_id:  41821
In insert_book_data, IntegrityError Exception for book_id:  6686101
In insert_book_data, IntegrityError Exception for book_id:  23677341
In insert_book_data, IntegrityError Exception for book_id:  17349203
In insert_book_data, IntegrityError Exception for book_id:  18077769
In insert_book_data, IntegrityError Exception for book_id:  23093367
In insert_book_data, IntegrityError Exception for book_id:  239399
In insert_book_data, IntegrityError Exception for book_id:  8811134
In insert_book_data, IntegrityError Exception for book_id:  18656030
In insert_book_data, IntegrityError Exception for book_id:  18630
In insert_book_data, IntegrityError Exception for book_id:  13574417
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('20697435', '055341884X', 'The Book of Strange New Things', 500.0, 3.66, '17696', '2865', None, 'A monumental, genre-defying novel over ten years in the making, Michel Faber\'s The Book of Strange New Things is a masterwork from a writer in full  ... (1349 characters truncated) ... uch an international success, The Book of Strange New Things is extraordinary, mesmerizing, and replete with emotional complexity and genuine pathos.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  234724
In insert_book_data, IntegrityError Exception for book_id:  19346451
In insert_book_data, IntegrityError Exception for book_id:  25667918
In insert_book_data, IntegrityError Exception for book_id:  3220405
In insert_book_data, IntegrityError Exception for book_id:  23168817
In insert_book_data, IntegrityError Exception for book_id:  89187
In insert_book_data, IntegrityError Exception for book_id:  30134847
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18867493', None, 'Saga #1', None, 4.16, '43016', '1032', None, 'Star Wars-style action collides with Game of Thrones-esque drama in this original sci-fi/fantasy epic for mature readers, as new parents Marko and Alana risk everything to raise their child amidst a never-ending galactic war.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8647
In insert_book_data, IntegrityError Exception for book_id:  22886612
In insert_book_data, IntegrityError Exception for book_id:  8811139
In insert_book_data, IntegrityError Exception for book_id:  45252
In insert_book_data, IntegrityError Exception for book_id:  154798
In insert_book_data, IntegrityError Exception for book_id:  12157365
In insert_book_data, IntegrityError Exception for book_id:  70539
In insert_book_data, IntegrityError Exception for book_id:  13183957
In insert_book_data, IntegrityError Exception for book_id:  10345937
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('216442', '0553560719', 'Dark Force Rising (Star Wars: The Thrawn Trilogy, #2)', 439.0, 4.15, '42013', '846', 'Del Rey Books', "The dying Empire's most cunning and ruthless warlord—Grand Admiral Thrawn—has taken command of the remnants of the Imperial fleet and launched a mass ... (320 characters truncated) ...  of all is a new Dark Jedi, risen from the ashes of a shrouded past, consumed by bitterness… and scheming to corrupt Luke Skywalker to the Dark Side.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  218427
In insert_book_data, IntegrityError Exception for book_id:  331256
In insert_book_data, IntegrityError Exception for book_id:  25451555
In insert_book_data, IntegrityError Exception for book_id:  15676
In insert_book_data, IntegrityError Exception for book_id:  21393526
In insert_book_data, IntegrityError Exception for book_id:  18077752
In insert_book_data, IntegrityError Exception for book_id:  500503
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('88071', '0765316978', "The Last Colony (Old Man's War #3)", None, 4.05, '34964', '1666', None, "Retired from his fighting days, John Perry is now village ombudsman for a human colony on distant Huckleberry. With his wife, former Special Forces w ... (278 characters truncated) ... all the major human worlds, for a deep political purpose that will put Perry and Sagan back in the thick of interstellar politics, betrayal, and war.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  3977
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6138606', None, 'The Seeker (The Host, #2)', None, 4.11, '1717', '342', None, 'When an unseen enemy threatens mankind by taking over their bodies and erasing their memories, Melanie Stryder will risk everything to protect the people she cares most about — Jared, Ian, her brother Jamie and her Uncle Jeb, proving that love can conquer all in a dangerous new world.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  100924
In insert_book_data, IntegrityError Exception for book_id:  910863
In insert_book_data, IntegrityError Exception for book_id:  11289
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('216422', '0553564927', 'The Last Command (Star Wars: The Thrawn Trilogy, #3)', 467.0, 4.22, '37423', '861', 'Del Rey', "The embattled Republic reels from the attacks of Grand Admiral Thrawn, who has marshaled the remnants of the Imperial forces and driven the Rebels ba ... (798 characters truncated) ... the <i>Star Wars</i> expanded universe, and over half a dozen excerpts from some of the most popular <i>Star Wars</i> books of the last thirty years!")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24488476', None, 'The Fate of Ten (Lorien Legacies, #6)', None, 4.32, '22335', '1826', None, "The sixth book in the thrilling, action-packed, <em>New York Times</em> bestselling I Am Number Four series! For years the Garde have fought the Moga ... (502 characters truncated) ... r that had been hidden within our planet for generations. Now this power can save the world . . . or destroy it. It will all depend on who wields it.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45245', '0330340328', "The Reality Dysfunction (Night's Dawn, #1)", 1223.0, 4.14, '26165', '841', 'Pan Books', 'In AD 2600 the human race is finally beginning to realize its full potential. Hundreds of colonized planets scattered across the galaxy host a multit ... (641 characters truncated) ... h inhabited the galaxy aeons ago called it "The Reality Dysfunction." It is the nightmare which has prowled beside us since the beginning of history.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  35921
In insert_book_data, IntegrityError Exception for book_id:  15730101
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('60929', '0446603775', 'Dawn (Xenogenesis, #1)', 248.0, 4.12, '18649', '1742', 'Warner Books', 'Lilith Iyapo has just lost her husband and son when atomic fire consumes Earth—the last stage of the planet’s final war. Hundreds of years later Lili ... (607 characters truncated) ... ass will grow, animals will run, and people will learn to survive the planet’s untamed wilderness. But their children will not be human. Not exactly.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  36315
In insert_book_data, IntegrityError Exception for book_id:  29772863
In insert_book_data, IntegrityError Exception for book_id:  15847717
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('12007', '185723135X', 'Use of Weapons', 411.0, 4.19, '30623', '1293', None, 'Cheradenine is an ex-special circumstance agent who had been raised to eminence by a woman named Diziet. Skaffen-Amtiskaw, the drone, had saved her life and it believes Cheradenine to be a burnt-out case. But not even its machine intelligence can see the horrors in his past.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  35820633
In insert_book_data, IntegrityError Exception for book_id:  25451264
In insert_book_data, IntegrityError Exception for book_id:  1388813
In insert_book_data, IntegrityError Exception for book_id:  13254289
In insert_book_data, IntegrityError Exception for book_id:  19090384
In insert_book_data, IntegrityError Exception for book_id:  715791
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('16434', '0553584502', 'The Taking', 410.0, 3.78, '31717', '1415', None, "In one of the most dazzling books of his celebrated career, Dean Koontz delivers a masterwork of page-turning suspense that surpasses even his own in ... (360 characters truncated) ... st hour, here is a small-town slice-of-doomsday thriller that strikes to the core of each of us to ask: What would you do in the midst of The Taking.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  27161189
In insert_book_data, IntegrityError Exception for book_id:  61903
In insert_book_data, IntegrityError Exception for book_id:  20706284
In insert_book_data, IntegrityError Exception for book_id:  21793182
In insert_book_data, IntegrityError Exception for book_id:  48484
In insert_book_data, IntegrityError Exception for book_id:  15062217
In insert_book_data, IntegrityError Exception for book_id:  13170596
In insert_book_data, IntegrityError Exception for book_id:  9265453
In insert_book_data, IntegrityError Exception for book_id:  100933
In insert_book_data, IntegrityError Exception for book_id:  28862528
In insert_book_data, IntegrityError Exception for book_id:  24885533

In insert_book_data, IntegrityError Exception for book_id:  14060046
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('14185', '1407247425', 'The Three Stigmata of Palmer Eldritch', 231.0, 4.01, '22885', '917', 'Gollancz', '<b>Dick at his wildest and strangest - a mystifying but brilliant book</b> - <i>SF: 100 Best Novels</i><br /><br />In the overcrowded world and cramp ... (298 characters truncated) ... tens to plunge the world into a permanent state of drugged illusion controlled by the mysterious Eldritch.<br /><br />Cover illustration: Chris Moore')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13151129
In insert_book_data, IntegrityError Exception for book_id:  6359434
In insert_book_data, IntegrityError Exception for book_id:  116563
In insert_book_data, IntegrityError Exception for book_id:  16075962
In insert_book_data, IntegrityError Exception for book_id:  13138734
In insert_book_data, IntegrityError Exception for book_id:  359
In insert_book_data, IntegrityError Exception for book_id:  23164927
In insert_book_data, IntegrityError Exception for book_id:  28335696
In insert_book_data, IntegrityError Exception for book_id:  17901125
In insert_book_data, IntegrityError Exception for book_id:  11882171
In insert_book_data, IntegrityError Exception for book_id:  25131600
In insert_book_data, IntegrityError Exception for book_id:  29475447
In insert_book_data, IntegrityError Exception for book_id:  2992061
In insert_book_data, IntegrityError Exception for book_id:  30269126
In insert_book_data, IntegrityError Exception for book_id:  12924261
In insert_book_data, IntegrityError Exception for book_id:  149049
In insert_book_data, IntegrityError Exception for book_id:  3973
In insert_book_data, IntegrityError Exception for book_id:  353
In insert_book_data, IntegrityError Exception for book_id:  12157407
In insert_book_data, IntegrityError Exception for book_id:  25843439
In insert_book_data, IntegrityError Exception for book_id:  1928873
In insert_book_data, IntegrityError Exception for book_id:  20510241
In insert_book_data, IntegrityError Exception for book_id:  279561
In insert_book_data, IntegrityError Exception for book_id:  21457243
In insert_book_data, IntegrityError Exception for book_id:  226004
In insert_book_data, IntegrityError Exception for book_id:  8100267
In insert_book_data, IntegrityError Exception for book_id:  99245
In insert_book_data, IntegrityError Exception for book_id:  23533039
In insert_book_data, IntegrityError Exception for book_id:  3373198
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('189147', '0345419677', 'To Your Scattered Bodies Go (Riverworld, #1)', 220.0, 3.95, '24917', '623', None, "<i>To Your Scattered Bodies Go</i> is the Hugo Award-winning beginning to the story of Riverworld, Philip José Farmer's unequaled tale about life aft ... (1135 characters truncated) ... s the Stranger has selected, to help stop an evil experiment at the end of which humanity will simply be allowed to die. <i>--Craig E. Engler</i></p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17262540
In insert_book_data, IntegrityError Exception for book_id:  7171856
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6138594', None, 'The Soul (The Host, #3)', None, 4.14, '982', '64', None, 'Stephenie Meyer confirmed that there will be two Host sequels!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  45432
In insert_book_data, IntegrityError Exception for book_id:  19208103
In insert_book_data, IntegrityError Exception for book_id:  6294553
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2102600', '0765316986', "Zoe's Tale (Old Man's War, #4)", 335.0, 3.74, '19362', '1289', None, "How do you tell your part in the biggest tale in history?<br /><br />I ask because it's what I have to do. I'm Zoe Boutin Perry: A colonist stranded  ... (630 characters truncated) ... hat happened, bringing us to Earth, and Earth out of its captivity. All through my eyes.<br /><br />It's a story you know. But you don't know it all.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  465904
In insert_book_data, IntegrityError Exception for book_id:  7562764
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('841628', '0330316117', "The Hitchhiker's Guide to the Galaxy: A Trilogy in Four Parts", 590.0, 4.51, '30702', '375', 'Pan Books', '<i>Charting the whole of Arthur Dent\'s odyssey through space are:</i><br /><br />THE HITCHHIKER\'S GUIDE TO THE GALAXY.<br />One Thursday lunchtime  ... (1387 characters truncated) ... people will find oddly familiar. They go in search of God\'s Final Message to His Creation and, in a dramatic break with tradition, actually find it.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  27209239
In insert_book_data, IntegrityError Exception for book_id:  15698479
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18079719', '0525426035', 'Grasshopper Jungle', 388.0, 3.64, '14200', '2771', 'Dutton Books', "Sixteen-year-old Austin Szerba interweaves the story of his Polish legacy with the story of how he and his best friend , Robby, brought about the end ... (449 characters truncated) ...  to Austin to save the world and propagate the species in this sci-fright journey of survival, sex, and the complex realities of the human condition.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2331954', '0307406105', 'Infected (Infected, #1)', 342.0, 3.84, '15587', '1344', None, "Across America a mysterious disease is turning ordinary people into raving, paranoid murderers who inflict brutal horrors on strangers, themselves, a ... (1401 characters truncated) ... rts Chuck Palahniuk, Michael Crichton, and Stephen King.<br /><br /><i>Infected</i> will crawl beneath your skin and leave fresh blood on every page.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  24473763
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45244', '0345461665', 'Judas Unchained', 827.0, 4.31, '23856', '803', None, "Robust, peaceful, and confident, the Commonwealth dispatched a ship to investigate the mystery of a disappearing star, only to inadvertently unleash  ... (1254 characters truncated) ...  a brutal invader striking from without, the other a remorseless cancer killing from within, the fractious Commonwealth must unite as never before...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  234501
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35816', '0586203192', '2061: Odyssey Three (Space Odyssey, #3)', 302.0, 3.55, '20147', '436', 'Voyager', "Arthur C. Clarke, creator of one of the world's best-loved science fiction tales, revisits the most famous future ever imagined in this NEW YORK TIME ... (245 characters truncated) ... o play a part in the evolution of the galaxy whether it wishes to or not. --This text refers to an out of print or unavailable edition of this title.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  123063
In insert_book_data, IntegrityError Exception for book_id:  96472
In insert_book_data, IntegrityError Exception for book_id:  61181
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('190999', '0020248717', 'Way Station', 210.0, 4.04, '14229', '638', 'Collier Books', "Enoch Wallace is an ageless hermit, striding across his untended farm as he has done for over a century, still carrying the gun with which he had ser ... (459 characters truncated) ... uction. His alien friends can only offer help that seems worse than the dreaded disaster. Then he discovers the horror that lies across the galaxy...")] (Background on this error at: http://sqlalche.me/e/gkpj)

Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18800655', None, 'Terms of Enlistment (Frontlines #1)', None, 3.99, '17669', '1036', None, "The year is 2108, and the North American Commonwealth is bursting at the seams. For welfare rats like Andrew Grayson, there are only two ways out of  ... (697 characters truncated) ... m Marko Kloos, <i>Terms of Enlistment</i> is a new addition to the great military sci-fi tradition of Robert Heinlein, Joe Haldeman, and John Scalzi.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6481245
In insert_book_data, IntegrityError Exception for book_id:  20417
In insert_book_data, IntegrityError Exception for book_id:  12844575
In insert_book_data, IntegrityError Exception for book_id:  23278532
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9647532', '0765328542', 'Fuzzy Nation', 303.0, 4.11, '20401', '1925', None, 'Jack Holloway works alone, for reasons he doesn\'t care to talk about. Hundreds of miles from ZaraCorp\'s headquarters on planet, 178 light-years fro ... (1192 characters truncated) ... rth of wealth is very flimsy indeed…and that ZaraCorp may stop at nothing to eliminate the "fuzzys" before their existence becomes more widely known.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16113606
In insert_book_data, IntegrityError Exception for book_id:  18453110
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('101869', '0441013651', 'The Atrocity Archives (Laundry Files, #1)', 345.0, 3.93, '14769', '1223', 'Ace', "NEVER VOLUNTEER FOR ACTIVE DUTY ...Bob Howard is a low-level techie working for a super-secret government agency. While his colleagues are out saving ... (245 characters truncated) ...  world. Only one thing is certain: it will take more than a full system reboot to sort this mess out ...This is the first novel in the Laundry Files.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25446297
In insert_book_data, IntegrityError Exception for book_id:  11237412
In insert_book_data, IntegrityError Exception for book_id:  12063467
In insert_book_data, IntegrityError Exception for book_id:  13513205
In insert_book_data, IntegrityError Exception for book_id:  840278
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('866136', '0345496531', 'The Dreaming Void', 630.0, 4.18, '18254', '638', None, 'The year is 3589, fifteen hundred years after Commonwealth forces barely staved off human extinction in a war against the alien Prime. Now an even gr ... (1492 characters truncated) ... s–while within the Void, a supreme entity has turned its gaze, for the first time, outward. . . .<br /><br /><br /><i>From the Hardcover edition.</i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  31423196
In insert_book_data, IntegrityError Exception for book_id:  7937744
In insert_book_data, IntegrityError Exception for book_id:  17167572
In insert_book_data, IntegrityError Exception for book_id:  886066
In insert_book_data, IntegrityError Exception for book_id:  13138736
In insert_book_data, IntegrityError Exception for book_id:  17607716
In insert_book_data, IntegrityError Exception for book_id:  7384801
In insert_book_data, IntegrityError Exception for book_id:  17863
In insert_book_data, IntegrityError Exception for book_id:  4769247
In insert_book_data, IntegrityError Exception for book_id:  47701
In insert_book_data, IntegrityError Exception for book_id:  30075662
In insert_book_data, IntegrityError Exception for book_id:  26118426
In insert_book_data, IntegrityError Exception for book_id:  12013
In insert_book_data, IntegrityError Exception for book_id:  63432
In insert_book_data, IntegrityError Exception for book_id:  12016
In insert_book_data, IntegrityError Exception for book_id:  8843789
In insert_book_data, IntegrityError Exception for book_id:  8150317
In insert_book_data, IntegrityError Exception for book_id:  12042279
In insert_book_data, IntegrityError Exception for book_id:  203288
In insert_book_data, IntegrityError Exception for book_id:  25067046
In insert_book_data, IntegrityError Exception for book_id:  112520
In insert_book_data, IntegrityError Exception for book_id:  60926
In insert_book_data, IntegrityError Exception for book_id:  36159
In insert_book_data, IntegrityError Exception for book_id:  552987
In insert_book_data, IntegrityError Exception for book_id:  17166774
In insert_book_data, IntegrityError Exception for book_id:  20898018
In insert_book_data, IntegrityError Exception for book_id:  8901953
In insert_book_data, IntegrityError Exception for book_id:  234489
In insert_book_data, IntegrityError Exception for book_id:  89190
In insert_book_data, IntegrityError Exception for book_id:  28260402
In insert_book_data, IntegrityError Exception for book_id:  77735
In insert_book_data, IntegrityError Exception for book_id:  2235597
In insert_book_data, IntegrityError Exception for book_id:  13163846
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('161846', '0345299116', 'The Midwich Cuckoos', 220.0, 3.93, '12339', '448', 'Ballantine Books', 'In the sleepy English village of Midwich, a mysterious silver object appears and all the inhabitants fall unconscious. A day later the object is gone and everyone awakens unharmed – except that all the women in the village are discovered to be pregnant.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  127515
In insert_book_data, IntegrityError Exception for book_id:  12040447
In insert_book_data, IntegrityError Exception for book_id:  61905
In insert_book_data, IntegrityError Exception for book_id:  25843453
In insert_book_data, IntegrityError Exception for book_id:  12810834
In insert_book_data, IntegrityError Exception for book_id:  26529699
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('112518', '1857230213', 'The Garden of Rama (Rama, #3)', 593.0, 3.78, '18162', '234', 'Orbit', 'In the year 2130 a mysterious spaceship, Rama, arrived in the solar system. It was huge - big enough to contain a city and a sea - and empty, apparen ... (608 characters truncated) ...  voyage no human has ever experienced. And at the end of it - and who could tell how many years away that might be? - may lie the truth about Rama...')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('60229', '0345451325', 'Halo: The Fall of Reach', None, 4.26, '16463', '901', None, 'As the bloody Human-Covenant War rages on Halo, the fate of humankind may rest with one warrior, the lone SPARTAN survivor of another legendary battl ... (1134 characters truncated) ...  at least one of them--the SPARTAN known as Master Chief--will live to fight another day on a mysterious and ancient, artificial world called Halo...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15790894
In insert_book_data, IntegrityError Exception for book_id:  3246224
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('7081', '0765309416', "The Android's Dream", 396.0, 3.97, '13527', '1220', None, "<div>A human diplomat kills his alien counterpart. Earth is on the verge of war with a vastly superior alien race. A lone man races against time and  ... (926 characters truncated) ... igence with unusual backstory, and you've got more than just your usual science fiction adventure story. You've got <i>The Android's Dream.</i></div>")] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  372299
In insert_book_data, IntegrityError Exception for book_id:  215540
In insert_book_data, IntegrityError Exception for book_id:  12009
In insert_book_data, IntegrityError Exception for book_id:  19504964
In insert_book_data, IntegrityError Exception for book_id:  11099729
In insert_book_data, IntegrityError Exception for book_id:  89185
In insert_book_data, IntegrityError Exception for book_id:  13497991
In insert_book_data, IntegrityError Exception for book_id:  21618
In insert_book_data, IntegrityError Exception for book_id:  102327
In insert_book_data, IntegrityError Exception for book_id:  17316770
In insert_book_data, IntegrityError Exception for book_id:  6255949
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35430', '0345477367', 'Path of Destruction (Star Wars: Darth Bane, #1)', 324.0, 4.27, '15687', '813', 'Del Rey Books', "<i>Once the Sith order teemed with followers. But their rivalries divided them in endless battles for supremacy. Until one Dark Lord at last united t ... (1864 characters truncated) ... tten wisdom of the very first Sith can Bane hope to triumph--and forge from the ashes of that which he must destroy a new era of absolute dark power.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23168809
In insert_book_data, IntegrityError Exception for book_id:  26771521
In insert_book_data, IntegrityError Exception for book_id:  11861715
In insert_book_data, IntegrityError Exception for book_id:  28756485
In insert_book_data, IntegrityError Exception for book_id:  21412284
In insert_book_data, IntegrityError Exception for book_id:  61915
In insert_book_data, IntegrityError Exception for book_id:  222093
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('19504931', None, 'Under Different Stars (Kricket, #1)', None, 4.21, '11307', '1290', None, 'All she wants is a home, but can she find one…UNDER DIFFERENT STARS<br /><br />Kricket Hollowell is normally not one to wish upon stars; she believes ... (886 characters truncated) ... in order to make her his own.<br /><br />When everything in their world can be broken, will Kricket rely upon love to save her under different stars?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  276767
In insert_book_data, IntegrityError Exception for book_id:  175324
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('769658', None, 'Battlefield Earth: A Saga of the Year 3000', 1050.0, 3.51, '12705', '875', 'Galaxy Press', '<b>\n  <i>"Nonstop and fast-paced. Every paragraph has a big bang-up adventure."</i>\n</b>—Kevin J. Anderson<br /><br /><b>Suspense, thrills, action  ... (233 characters truncated) ... ght of the alien Psychlo empire in a battle of epic scale, danger and intrigue with the fate of the Earth and of the universe in the tenuous balance.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25546167
In insert_book_data, IntegrityError Exception for book_id:  7766070
In insert_book_data, IntegrityError Exception for book_id:  25387202
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('60930', '1583226982', 'Bloodchild and Other Stories', 214.0, 4.31, '8633', '760', 'Seven Stories Press', 'A perfect introduction for new readers and a must-have for avid fans, this New York Times Notable Book includes "Bloodchild," winner of both the Hugo ... (528 characters truncated) ... ry world. She proves constant in her vigil, an unblinking pessimist hoping to be proven wrong, and one of contemporary literature’s strongest voices.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1828067', '0441015999', 'Grimspace (Sirantha Jax, #1)', 312.0, 3.73, '11743', '1323', 'Ace Berkley Penguin', "As the carrier of a rare gene, Sirantha Jax has the ability to jump ships through grimspace-a talent which makes her a highly prized navigator for th ... (83 characters truncated) ... th no memory of the crash. But her fun's not over. A group of rogue fighters frees her...for a price: her help in overthrowing the established order.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10439221
In insert_book_data, IntegrityError Exception for book_id:  6434232
In insert_book_data, IntegrityError Exception for book_id:  7957
In insert_book_data, IntegrityError Exception for book_id:  18586487
In insert_book_data, IntegrityError Exception for book_id:  7438179
In insert_book_data, IntegrityError Exception for book_id:  3437328
In insert_book_data, IntegrityError Exception for book_id:  16067008
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61661', '1594201072', 'The Varieties of Scientific Experience: A Personal View of the Search for God', 284.0, 4.27, '7935', '365', None, 'On the 10th anniversary of his death, brilliant astrophysicist and Pulitzer Prize winner Carl Sagan\'s prescient exploration of the relationship betw ... (2234 characters truncated) ... cosmos have the invigorating effect of stimulating the intellect, exciting the imagination, and reawakening us to the grandeur of life in the cosmos.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  175319
In insert_book_data, IntegrityError Exception for book_id:  536478
In insert_book_data, IntegrityError Exception for book_id:  29749107
In insert_book_data, IntegrityError Exception for book_id:  7327327
In insert_book_data, IntegrityError Exception for book_id:  147908
In insert_book_data, IntegrityError Exception for book_id:  22012250
In insert_book_data, IntegrityError Exception for book_id:  23732096
In insert_book_data, IntegrityError Exception for book_id:  35125
In insert_book_data, IntegrityError Exception for book_id:  12257347
In insert_book_data, IntegrityError Exception for book_id:  34941
In insert_book_data, IntegrityError Exception for book_id:  10744752
In insert_book_data, IntegrityError Exception for book_id:  13425352
In insert_book_data, IntegrityError Exception for book_id:  13573419
In insert_book_data, IntegrityError Exception for book_id:  16071187
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('841973', '0345324390', 'The Gods of Mars (Barsoom #2)', 190.0, 3.87, '11961', '652', 'Random House Ballantine Del Rey', 'After the long exile on Earth, John Carter finally returned to his beloved Mars. But beautiful Dejah Thoris, the woman he loved, had vanished. Now he was trapped in the legendary Eden of Mars -- an Eden from which none ever escaped alive.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12953520
In insert_book_data, IntegrityError Exception for book_id:  16948

In insert_book_data, IntegrityError Exception for book_id:  68146
In insert_book_data, IntegrityError Exception for book_id:  1199688
In insert_book_data, IntegrityError Exception for book_id:  91202
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('17928853', None, 'The New World (Chaos Walking, #0.5)', 36.0, 3.88, '580', '83', None, "<b>The New World</b> is the story of how Viola came to where we found her in <b>\n  <i>The Knife of Never Letting Go</i>\n</b>.<br /><br />It is best ... (3 characters truncated) ... ad immediately after that book because there are hints of things to come.<br /><br />(I'm always hinting at things to come; it's fun). - Patrick Ness")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  77787
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45260', '0333725034', "The Naked God (Night's Dawn, #3)", 1174.0, 4.21, '14184', '282', 'Macmillan', 'The Confederation is starting to collapse politically and economically, allowing the "possessed" to infiltrate more worlds. Quinn Dexter is loose on  ... (540 characters truncated) ... ieves holds the key to overthrowing the possessed. The Naked God is the brilliant climax to Peter F. Hamilton\'s awe-inspiring Night\'s Dawn trilogy.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13622863
In insert_book_data, IntegrityError Exception for book_id:  17838475
In insert_book_data, IntegrityError Exception for book_id:  13354420
In insert_book_data, IntegrityError Exception for book_id:  81992
In insert_book_data, IntegrityError Exception for book_id:  479561
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9549', '0553574132', 'Shadows of the Empire (Star Wars)', 385.0, 3.82, '14077', '385', 'Bantam Spectra', 'Here is the untold story of the events that took place between the movies <i>The Empire Strikes Back</i> and <i>Return of the Jedi</i>: a novel in wh ... (576 characters truncated) ... r. Suddenly Luke finds himself the potential prize of the two most evil entities in the galaxy--one who wants him alive...and one who wants him dead.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9447878
In insert_book_data, IntegrityError Exception for book_id:  476492
In insert_book_data, IntegrityError Exception for book_id:  92610
In insert_book_data, IntegrityError Exception for book_id:  12017
In insert_book_data, IntegrityError Exception for book_id:  23277298
In insert_book_data, IntegrityError Exception for book_id:  89184
In insert_book_data, IntegrityError Exception for book_id:  57045
In insert_book_data, IntegrityError Exception for book_id:  25066780
In insert_book_data, IntegrityError Exception for book_id:  77786
In insert_book_data, IntegrityError Exception for book_id:  12961307
In insert_book_data, IntegrityError Exception for book_id:  29662066
In insert_book_data, IntegrityError Exception for book_id:  96463
In insert_book_data, IntegrityError Exception for book_id:  92956
In insert_book_data, IntegrityError Exception for book_id:  8879121
In insert_book_data, IntegrityError Exception for book_id:  15837317
In insert_book_data, IntegrityError Exception for book_id:  103111
In insert_book_data, IntegrityError Exception for book_id:  13571953
In insert_book_data, IntegrityError Exception for book_id:  20249
In insert_book_data, IntegrityError Exception for book_id:  176494
In insert_book_data, IntegrityError Exception for book_id:  14498307
In insert_book_data, IntegrityError Exception for book_id:  16059350
In insert_book_data, IntegrityError Exception for book_id:  96594
In insert_book_data, IntegrityError Exception for book_id:  27426044
In insert_book_data, IntegrityError Exception for book_id:  8514163
In insert_book_data, IntegrityError Exception for book_id:  525304
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('117842', '0007115865', 'The Songs of Distant Earth', 256.0, 3.9, '8992', '298', 'Voyager Classics', 'Just a few islands in a planetwide ocean, Thalassa was a veritable paradise—home to one of the small colonies founded centuries before by robot Mothe ... (333 characters truncated) ... arrying one million refugees from the last, mad days on Earth. And suddenly uncertainty and change had come to the placid paradise that was Thalassa.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  3972
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('760110', '0553297988', 'Jedi Search (Star Wars: The Jedi Academy Trilogy, #1)', 355.0, 3.65, '13487', '234', 'Bantam Spectra Books', 'As the war between the Republic and the scattered remnants of the Empire continues, two children--the Jedi twins--will come into their powers in a un ... (697 characters truncated) ... e out an entire solar system. It is a death ship called the Sun Crusher, invented by a reclusive genius and piloted by none other than Han himself...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  302625
In insert_book_data, IntegrityError Exception for book_id:  17791477
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('513176', '0553568019', 'Rogue Squadron (Star Wars: X-Wing, #1)', 386.0, 4.03, '12609', '331', 'Del Rey Books', 'They are sleek, swift, and deadly. The are the X-wing fighters. And as the struggle rages across the vastness of space, the fearless men and women wh ... (744 characters truncated) ... d to assist in the assault on the heavily fortified Imperial stronghold of Black Moon, even the bravest must wonder if any at all will survive. . . .')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  61938
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1347837', '0345477480', 'Rule of Two (Star Wars: Darth Bane, #2)', 318.0, 4.18, '12229', '416', 'Del Rey Books', 'In the New York Times bestseller Darth Bane: Path of Destruction, Drew Karpyshyn painted a gripping portrait of a young mans journey from innocence t ... (1395 characters truncated) ... ed visions to a moon where he will acquire astonishing new knowledge and power, power that will alter him in ways he could never have imagined. . . .')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  77736
In insert_book_data, IntegrityError Exception for book_id:  64732
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('422452', '1857230310', 'Against a Dark Background', 480.0, 4.1, '11817', '236', 'Orbit', 'She came from one of the more disreputable aristocratic families.<br /><br />Sharrow was once the leader of a personality-attuned combat team in one  ... (822 characters truncated) ... n be found on <a target="_blank" href="http://www.culturelist.org/cdr/article.cfm?id=142" rel="nofollow">http://www.culturelist.org/cdr/articl...</a>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13107655
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('599090', '1857239407', 'A New Hope  (Star Wars: Novelizations, #4)', 247.0, 4.07, '11215', '253', 'Orbit', "<blockquote>\n  <b>Luke Skywalker challenged the stormtroopers of a distant galaxy on a daring mission - where a force of life became the power of de ... (674 characters truncated) ... e of the most savage space war ever ... and he was headed straight for a desperate encounter on the enemy battle station known as the Death Star!</p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('28525188', None, 'Columbus Day (Expeditionary Force, #1)', None, 4.25, '9916', '719', None, 'We were fighting on the wrong side, of a war we couldn\'t win. And that was the good news. <br />The Ruhar hit us on Columbus Day. There we were, inn ... (775 characters truncated) ... <br /><br /><i>Alternate Cover Edition can be found <a href="https://www.goodreads.com/book/show/36335767-columbus-day" rel="nofollow">here</a>. </i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  776877
In insert_book_data, IntegrityError Exception for book_id:  192214
In insert_book_data, IntegrityError Exception for book_id:  12886599
In insert_book_data, IntegrityError Exception for book_id:  10687840
In insert_book_data, IntegrityError Exception for book_id:  88072

In insert_book_data, IntegrityError Exception for book_id:  18490707
In insert_book_data, IntegrityError Exception for book_id:  13533758
In insert_book_data, IntegrityError Exception for book_id:  504369
In insert_book_data, IntegrityError Exception for book_id:  129131
In insert_book_data, IntegrityError Exception for book_id:  47626
In insert_book_data, IntegrityError Exception for book_id:  15752308
In insert_book_data, IntegrityError Exception for book_id:  24819813
In insert_book_data, IntegrityError Exception for book_id:  23546848
In insert_book_data, IntegrityError Exception for book_id:  13107661
In insert_book_data, IntegrityError Exception for book_id:  1194366
In insert_book_data, IntegrityError Exception for book_id:  22012290
In insert_book_data, IntegrityError Exception for book_id:  16689
In insert_book_data, IntegrityError Exception for book_id:  29569157
In insert_book_data, IntegrityError Exception for book_id:  89186
In insert_book_data, IntegrityError Exception for book_id:  104342
In insert_book_data, IntegrityError Exception for book_id:  194479
In insert_book_data, IntegrityError Exception for book_id:  15852522
In insert_book_data, IntegrityError Exception for book_id:  26895161
In insert_book_data, IntegrityError Exception for book_id:  40379
In insert_book_data, IntegrityError Exception for book_id:  42434
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22566044', None, 'Fluency (Confluence, #1)', None, 3.81, '9029', '851', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8704
In insert_book_data, IntegrityError Exception for book_id:  15823425
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('112517', '1857232526', 'Rama Revealed (Rama, #4)', 512.0, 3.74, '9966', '212', None, "Rama Revealed (1993) is a science fiction novel by Arthur C. Clarke and Gentry Lee. It is the last of three sequels to Clarke's Rendezvous with Rama  ... (71 characters truncated) ...  of The Garden of Rama. The book follows the story of Nicole Wakefield and her escape from imprisonment left at the cliffhanger of the previous book.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1372055', '0441015670', 'Courageous (The Lost Fleet, #3)', 299.0, 3.97, '12404', '320', None, '<b>The Lost Fleet continues its perilous journey home.</b> <br /><br /> Badly damaged and low on supplies, the Alliance Fleet is raiding Syndic mines ... (104 characters truncated) ... eir enemies. But the Syndics are the least of Geary\'s worries when he learns of the existence of aliens with the power to annihilate the human race.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45258', '0330480065', 'Fallen Dragon', 808.0, 4.07, '10122', '260', None, "Deploying invulnerable twenty-fifth-century soldiers called Skins, Zantiu-Braun's corporate starships loot entire planets. But as the Skins invade bu ... (446 characters truncated) ... mysterious treasure, the three players engage in a private war that will explode into unimaginable quests for personal grace...or galactic domination")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  35458
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('378639', None, 'The Many-Coloured Land (Saga of Pliocene Exile, #1)', 415.0, 4.07, '8979', '224', 'Pan Books', "When a one-way time tunnel to Earth's distant past, specifically six million B.C., was discovered by folks on the Galactic Milieu, every misfit for l ... (15 characters truncated) ... nd hurried to pass through it. Each sought his own brand of happiness. But none could have guessed what awaited them. Not even in a million years....")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('161540', '0553569376', 'The Courtship of Princess Leia (Star Wars)', 374.0, 3.59, '11612', '377', 'Bantam Spectra', 'Seeking rich, powerful allies to bring into the Rebel Alliance and a new home planet for the refugees of her native Alderaan, Princess Leia considers ... (592 characters truncated) ... the <i>Star Wars</i> expanded universe, and over half a dozen excerpts from some of the most popular <i>Star Wars</i> books of the last thirty years!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  24237785
In insert_book_data, IntegrityError Exception for book_id:  12962345
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9424053', '0575088273', "Blue Remembered Earth (Poseidon's Children, #1)", 512.0, 3.87, '7363', '572', 'Orion Publishing Group', "BLUE REMEMBERED EARTH is the first volume in a monumental trilogy tracing the Akinya family across more than ten thousand years of future history...o ... (968 characters truncated) ... crets she died with are about to come back out into the open, and they could change everything.<br /><br />Or shatter this near-utopia into shards...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13079147
In insert_book_data, IntegrityError Exception for book_id:  77739
In insert_book_data, IntegrityError Exception for book_id:  14999965
In insert_book_data, IntegrityError Exception for book_id:  5292173
In insert_book_data, IntegrityError Exception for book_id:  13310549
In insert_book_data, IntegrityError Exception for book_id:  398916
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('760111', '0553297996', 'Dark Apprentice (Star Wars: The Jedi Academy Trilogy, #2)', 368.0, 3.63, '11839', '142', 'Bantam Spectra Books', "As the New Republic takes devastating losses in the ongoing war with the scattered remnants of the Empire, the galaxy's future depends on three small ... (729 characters truncated) ... imself. Working together, they may become an enemy greater than any the New Republic has ever fought… more powerful than even a Jedi Master can face.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8428985
In insert_book_data, IntegrityError Exception for book_id:  20697413
In insert_book_data, IntegrityError Exception for book_id:  76812
In insert_book_data, IntegrityError Exception for book_id:  11640957
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('64316', '0689856725', 'The White Mountains', 195.0, 3.94, '9118', '636', 'Simon & Schuster Simon Pulse', "Long ago, the Tripods—huge, three-legged machines—descended upon Earth and took control. Now people unquestioningly accept the Tripods' power. They h ... (125 characters truncated) ... ot a slave. For Will, his time of freedom is about to end—unless he can escape to the White Mountains, where the possibility of freedom still exists.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  697251
In insert_book_data, IntegrityError Exception for book_id:  116356
In insert_book_data, IntegrityError Exception for book_id:  9676849
In insert_book_data, IntegrityError Exception for book_id:  77740
In insert_book_data, IntegrityError Exception for book_id:  797094
In insert_book_data, IntegrityError Exception for book_id:  35082746
In insert_book_data, IntegrityError Exception for book_id:  2999495
In insert_book_data, IntegrityError Exception for book_id:  7200884
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('156785', '3453161815', 'Diaspora', 443.0, 4.13, '4839', '352', 'Heyne', 'By the end of the 30th century humanity has the capability to travel the universe, to journey beyond earth and beyond the confines of the vulnerable  ... (655 characters truncated) ... Of the discovery of an alien race and of a kink in time that means humanity — whatever form it takes — will never again be threatened by acts of God.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18072724
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30628', '068483118X', 'Space Trilogy: Out of the Silent Planet / Perelandra / That Hideous Strength', None, 4.12, '6691', '245', None, "The Cosmic Trilogy relates the interplanetary travels of Ransom, C.S. Lewis's ill-informed and terrified victim who leaves Earth much against his wil ... (738 characters truncated) ...  of his age, and in The Cosmic Trilogy he ransacks the uncharted territory of space and makes that mythology the medium of his spiritual imagination.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2341319
In insert_book_data, IntegrityError Exception for book_id:  10314229

In insert_book_data, IntegrityError Exception for book_id:  13583463
In insert_book_data, IntegrityError Exception for book_id:  615921
In insert_book_data, IntegrityError Exception for book_id:  20262705
In insert_book_data, IntegrityError Exception for book_id:  34521
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('513207', '055329802X', 'Champions of the Force (Star Wars: The Jedi Academy Trilogy, #3)', 368.0, 3.67, '11299', '138', 'Bantam Spectra Books', "Suspended helplessly between life and death, Luke Skywalker lies in state at the Jedi academy. But on the spirit plane, Luke fights desperately for s ... (570 characters truncated) ... a suicide mission against the awesome Death Star prototype -- a battle Han knows they may be unable to win... even with Luke Skywalker at their side!")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24358527', None, 'Angles of Attack (Frontlines, #3)', None, 4.1, '10174', '408', None, '<p>The alien forces known as the Lankies are gathering on the solar system’s edge, consolidating their conquest of Mars and setting their sights on E ... (813 characters truncated) ...  with no way out and no hope for reinforcement. And this time, the struggle for humanity’s future can only end in either victory or annihilation.</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('758654', '0553506021', 'I, Jedi (Star Wars)', 464.0, 3.99, '10002', '206', None, "New York Times bestselling author Michael A. Stackpole presents a stirring new tale set in the Star Wars® universe: the dramatic story of a heroic X- ... (1008 characters truncated) ...  <i>Star Wars</i> books of the last thirty years!<br /><br /><br />© 1999 Lucasfilm Ltd. &amp; TM<br />All rights reserved. Used under authorization.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22749788
In insert_book_data, IntegrityError Exception for book_id:  17866
In insert_book_data, IntegrityError Exception for book_id:  77741
In insert_book_data, IntegrityError Exception for book_id:  10148930
In insert_book_data, IntegrityError Exception for book_id:  116249
In insert_book_data, IntegrityError Exception for book_id:  18490533
In insert_book_data, IntegrityError Exception for book_id:  13107666
In insert_book_data, IntegrityError Exception for book_id:  12138494
In insert_book_data, IntegrityError Exception for book_id:  77738
In insert_book_data, IntegrityError Exception for book_id:  12998057
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24292492', None, 'Warship (Black Fleet Trilogy, #1)', None, 4.03, '7149', '347', None, 'In the 25th century humans have conquered space. The advent of faster-than-light travel has opened up hundreds of habitable planets for colonization, ... (515 characters truncated) ... ery choice. <br /><br />Against incredible odds, Jackson Wolfe is determined to save humanity–and in the process, might end up saving himself. <br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15762770
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('302618', '0553568728', 'The Truce at Bakura (Star Wars)', 341.0, 3.41, '10007', '237', 'Bantam Spectra', "No sooner has Darth Vader's funeral pyre burned to ashes on Endor than the Alliance intercepts a call for help from a far-flung Imperial outpost. Bak ... (1465 characters truncated) ...  hope for peace, sees the formation of a timeless love, and stands witness to a Jedi's undying sacrifice to defend Humanity against an alien nemesis.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25128811', None, 'Ice Planet Barbarians (Ice Planet Barbarians, #1)', 188.0, 3.91, '10190', '1106', None, "You'd think being abducted by aliens would be the worst thing that could happen to me. And you'd be wrong. Because now, the aliens are having ship tr ... (53 characters truncated) ... including me - on an ice planet.<br /><br />And the only native inhabitant I've met? He's big, horned, blue, and really, really has a thing for me...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6395945
In insert_book_data, IntegrityError Exception for book_id:  24611668
In insert_book_data, IntegrityError Exception for book_id:  6116753
In insert_book_data, IntegrityError Exception for book_id:  14743784
In insert_book_data, IntegrityError Exception for book_id:  990093
In insert_book_data, IntegrityError Exception for book_id:  18476102
In insert_book_data, IntegrityError Exception for book_id:  9293970
In insert_book_data, IntegrityError Exception for book_id:  16967
In insert_book_data, IntegrityError Exception for book_id:  50877
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18889230', None, 'Odyssey One (Odyssey One, #1)', None, 4.06, '5207', '307', None, "Beyond the confines of our small world, beyond the well of our star, lies a galaxy, and universe, larger and more varied than any of us can imagine.  ... (444 characters truncated) ... t combines both old school space opera, and modern storytelling in one great, exhilarating adventure.<br /><br />Odyssey One is a 150,000 word novel.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3605324', '0307406318', 'Contagious (Infected, #2)', 438.0, 4.12, '8131', '533', None, "From the acclaimed author of Infected comes an epic and exhilarating story of humanity's secret battle against a horrific enemy. <br /><br />Across A ... (949 characters truncated) ... opponent. Alongside them is Margaret Montoya, a brilliant epidemiologist who fights for a cure even as she reels under the weight of endless horrors.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8585924
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13827', '0671698486', 'This Immortal', 216.0, 3.94, '8354', '211', 'Baen (NY)', "Conrad Nomikos has a long, rich personal history that he'd rather not talk about. And, as Arts Commissioner, he's been given a job he'd rather not do ... (99 characters truncated) ...  relishes- especially when it is apparent that this places him at the center high-level intrigue that has some bearing on the future of Earth itself.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  98046
In insert_book_data, IntegrityError Exception for book_id:  231599
In insert_book_data, IntegrityError Exception for book_id:  18166988
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29869384', None, 'Close Liaisons (The Krinar Chronicles, #1)', 320.0, 3.71, '1450', '134', 'Mozaika', '<i>A dark and edgy romance that will appeal to fans of erotic and turbulent relationships\xa0.\xa0.\xa0.</i><br /><br />In the near future, the Krina ... (840 characters truncated) ... /><i>This is an alternate cover edition for <a href="https://www.goodreads.com/book/show/16070990-close-liaisons" rel="nofollow">B009MNXWMO</a>. </i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('77111', '0345283929', 'The Empire Strikes Back (Star Wars: Novelizations, #5)', 214.0, 4.11, '9689', '185', 'Del Rey/Ballantine Books', '„Episode V - Das Imperium schlägt zurück“: der Roman zum zweiten Film der größten Saga aller Zeiten<br /><br />Im zweiten Teil der Star-Wars-Saga kämpfen Luke Skywalker, Prinzessin Leia, Han Solo und ihre Gefährten gegen die Schergen des tyrannischen Imperators und den unheimlichen Darth Vader.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23213813
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('373399', '0345446674', 'Beyond the Blue Event Horizon (Heechee Saga, #2)', None, 3.95, '10532', '174', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  116564
In insert_book_data, IntegrityError Exception for book_id:  6344534
In insert_book_data, IntegrityError Exception for book_id:  7971
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('70771', '0345310918', 'NIGHTFALL & OTHER STOR', None, 4.28, '11357', '119', None, 'A collection of early Asimov short stories, showcasing the development of the author\'s oeuvre. The title comes from Asimov\'s breakthrough short sto ... (812 characters truncated) ... y Son, the Physicist - Scientific American, Feb 1962<br />Eyes Do More Than See - F&amp;SF, April 1965<br />Segregationist - Abbottempo, Book 4, 1967')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  20977124
In insert_book_data, IntegrityError Exception for book_id:  34493
In insert_book_data, IntegrityError Exception for book_id:  64467
In insert_book_data, IntegrityError Exception for book_id:  630621
In insert_book_data, IntegrityError Exception for book_id:  94798
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61959', '0552137642', 'Damia (The Tower and the Hive, #2)', 380.0, 4.0, '10041', '139', 'Corgi', "Of all the Rowan's children, Damia was the most brilliant and the one who inherited the Talent. It was obvious that she would be a Prime. As Damia grew up, her Talent became almost too strong to control, and the only solution was to send her to the planet of Deneb, to her strange grandmother.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  156724
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('285563', '1876756055', 'Native Tongue (Native Tongue, #1)', 327.0, 4.01, '2100', '192', 'Feminist Press at the City University of New York', 'Called "fascinating" by the New York Times upon its first publication in 1984, <i>Native Tongue</i> won wide critical praise and cult status, and has ... (884 characters truncated) ... a slow revolution is going on in the Barren Houses: there, word by word, women are creating a language of their own to free them from men\'s control.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  60934
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61901', '0743468023', 'Diplomatic Immunity (Vorkosigan Saga, #13)', 367.0, 4.18, '10448', '312', 'Earthlight', "A rich Komarran merchant fleet has been impounded at Graf Station, in distant Quaddiespace, after a bloody incident on the station docks involving a  ... (672 characters truncated) ...  time for life against death in horrifying new forms.<br /><br />The downside of being a troubleshooter comes when trouble starts shooting back . . .")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17149396
In insert_book_data, IntegrityError Exception for book_id:  176534
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1440148', '0843959118', 'Little Fuzzy (Fuzzy Sapiens, #1)', None, 4.0, '7344', '367', None, "Friends of Little Fuzzy Vs. the Chartered Zarathustra Company<br /><br />The chartered Zarathustra Company had it all their way. Their charter was fo ... (734 characters truncated) ... ompany did not hesitate to resort to coercion, murder – even genocide – to prevent the Fuzzies from being declared the ninth extrasolar sapient race.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  77742
In insert_book_data, IntegrityError Exception for book_id:  617086
In insert_book_data, IntegrityError Exception for book_id:  57043

In insert_book_data, IntegrityError Exception for book_id:  528362
In insert_book_data, IntegrityError Exception for book_id:  24036086
In insert_book_data, IntegrityError Exception for book_id:  25868031
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25817087', None, 'Constitution (Legacy Fleet Trilogy, #1)', None, 3.97, '6836', '455', 'Amazon Digital Services', 'The year is 2650 <br />75 years ago, an alien fleet attacked Earth. <br />Without warning. Without mercy. <br />We were not prepared. <br />Hundreds  ... (485 characters truncated) ... <br />Now, only one man, one crew, and the oldest starship in the fleet stand between the Earth and certain destruction: <br /><br />ISS CONSTITUTION')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  97961
In insert_book_data, IntegrityError Exception for book_id:  24465662
In insert_book_data, IntegrityError Exception for book_id:  320361
In insert_book_data, IntegrityError Exception for book_id:  5711714
In insert_book_data, IntegrityError Exception for book_id:  100366
In insert_book_data, IntegrityError Exception for book_id:  12942010
In insert_book_data, IntegrityError Exception for book_id:  77743
In insert_book_data, IntegrityError Exception for book_id:  16065602
In insert_book_data, IntegrityError Exception for book_id:  763774
In insert_book_data, IntegrityError Exception for book_id:  24441
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('176850', '1857232054', 'The Ship Who Searched (Brainship, #3)', 312.0, 4.09, '9906', '89', 'Orbit', None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17262173
In insert_book_data, IntegrityError Exception for book_id:  61928
In insert_book_data, IntegrityError Exception for book_id:  177928
In insert_book_data, IntegrityError Exception for book_id:  218453
In insert_book_data, IntegrityError Exception for book_id:  17265216
In insert_book_data, IntegrityError Exception for book_id:  35434
In insert_book_data, IntegrityError Exception for book_id:  5894600
In insert_book_data, IntegrityError Exception for book_id:  25059
In insert_book_data, IntegrityError Exception for book_id:  36640259
In insert_book_data, IntegrityError Exception for book_id:  2749148
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('513200', '0553568035', 'The Krytos Trap (Star Wars: X-Wing, #3)', 368.0, 3.96, '8771', '114', 'Random House Inc', '<p>The Rebels have taken the Imperial headquarters world of Coruscant, but their problems are far from over. A killer virus called Krytos is spreadin ... (136 characters truncated) ...  pilot Corran Horn, given up for dead in "Iceheart"\'s inescapable prison, discovers an extraordinary power in himself\x97the power of the Force!</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('513210', '0553576119', 'Darksaber (Star Wars: The Callista Trilogy, #2)', 464.0, 3.4, '8465', '134', 'Bantam Spectra Books', 'Luke Skywalker and Han Solo return to desert planet Tatooine so Callista can regain the Force and her link and love for Luke. Trio join Leia, Chewbac ... (53 characters truncated) ... axy warlord, rebuilds Death Star superweapon as Darksaber. Lovely Admiral Daala and Pellaeon, second to Thrawn, marshal Imperial forces against Jedi.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  337048
In insert_book_data, IntegrityError Exception for book_id:  18753656
In insert_book_data, IntegrityError Exception for book_id:  28439513
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('513201', '0553568043', 'The Bacta War (Star Wars: X-Wing, #4)', 368.0, 4.02, '8681', '106', 'Del Rey', "When the Alliance Fleet mounts a major campaign against a deadly warlord, tyrant Ysanne Isard has taken control of Thyferra, intending to use its sup ... (132 characters truncated) ... ppose Isard's plans, defeat her Star Destroyer fleet, and free Thyferra from her rule in a winner-take-all battle against a seemingly superior force.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  40387
In insert_book_data, IntegrityError Exception for book_id:  25320
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('161849', '0140031219', 'Chocky', 154.0, 3.81, '5719', '316', 'Penguin', "Cover Artist: Harry Willock<br /><br />Matthew, they thought, was just going through a phase of talking to himself. And, like many parents, they wait ... (278 characters truncated) ... tarted doing things he couldn't do before, like counting in binary-code mathematics. So he told them about Chocky - the person who lived in his head.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15743440
In insert_book_data, IntegrityError Exception for book_id:  18140842
In insert_book_data, IntegrityError Exception for book_id:  24931971
In insert_book_data, IntegrityError Exception for book_id:  26170028
In insert_book_data, IntegrityError Exception for book_id:  64466
In insert_book_data, IntegrityError Exception for book_id:  29528
In insert_book_data, IntegrityError Exception for book_id:  7203997
In insert_book_data, IntegrityError Exception for book_id:  218677
In insert_book_data, IntegrityError Exception for book_id:  22059478
In insert_book_data, IntegrityError Exception for book_id:  61940
In insert_book_data, IntegrityError Exception for book_id:  834518
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35292712', None, 'Forging Zero (The Legend of ZERO, #1)', 575.0, 4.09, '1032', '47', 'Parasite Publications', "For lovers of sci-fi thrillers, alien invasion stories, space opera, and sprawling first contact science fiction, this is an unforgettable post-apoca ... (790 characters truncated) ...  to finally shatter the vast alien government known as Congress. And the Trith cannot lie.…<br /><br />But first Joe has to make it through bootcamp.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  77236
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('111019', '0553574175', 'Rebel Dawn (Star Wars: The Han Solo Trilogy, #3)', 389.0, 3.92, '8304', '160', 'Del Rey Books', 'Here is the explosive conclusion of the blockbuster trilogy that chronicles the never-before-told story of the young Han Solo.<br /><br />Set before  ... (791 characters truncated) ... is far from a pushover, that the Rebels have an agenda of their own, and that smuggler friends can often turn into enemies...quicker than lightspeed.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('23214943', None, 'Apolonia', None, 3.36, '1514', '155', None, '“They killed me, but I survived.”<br /><br />Three years after Rory Riordan foiled her own murder, she still trusts no one. Not Dr. Z, the eccentric  ... (708 characters truncated) ... , whiplash-inducing roller coaster ride. Page after page, this unpredictable, dark and sexy nail biter will keep readers guessing until the very end!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  50843
In insert_book_data, IntegrityError Exception for book_id:  30118314
In insert_book_data, IntegrityError Exception for book_id:  7046493
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('555313', '0553572938', 'Children of the Jedi (Star Wars: The Callista Trilogy, #1)', 432.0, 3.27, '7917', '134', 'Bantam Spectra', 'Callista is a\xa0brave Jedi warrior who gave her life\xa0to save a sanctuary for wives and children of Jedi knights from obliteration by the Empire.  ... (24 characters truncated) ... ht is rearming itself for shelter destruction. Only Luke Skywalker can feel the evil\xa0presence and the influence of believed decades-dead Callista.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9359818
In insert_book_data, IntegrityError Exception for book_id:  23848002
In insert_book_data, IntegrityError Exception for book_id:  5576130
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('31354', '0812532961', 'Earthfall (Homecoming, #4)', 370.0, 3.5, '8337', '118', 'Tor Books', "The Oversoul of the colony planet Harmony selected the family of Wetchik to carry it back to long-lost Earth. Now grown to a tribe in the years of th ... (944 characters truncated) ... oming series<br /><i>The Memory of Earth</i><br /><i>The Call of Earth</i><br /><i>The Ships of Earth</i><br /><i>Earthfall</i><br /><i>Earthborn</i>")] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  15736709
In insert_book_data, IntegrityError Exception for book_id:  11305364
In insert_book_data, IntegrityError Exception for book_id:  264950
In insert_book_data, IntegrityError Exception for book_id:  13458013
In insert_book_data, IntegrityError Exception for book_id:  26082351
In insert_book_data, IntegrityError Exception for book_id:  287892
In insert_book_data, IntegrityError Exception for book_id:  11273356
In insert_book_data, IntegrityError Exception for book_id:  7106681
In insert_book_data, IntegrityError Exception for book_id:  15984804
In insert_book_data, IntegrityError Exception for book_id:  100344
In insert_book_data, IntegrityError Exception for book_id:  772606
In insert_book_data, IntegrityError Exception for book_id:  24718416
In insert_book_data, IntegrityError Exception for book_id:  77732
In insert_book_data, IntegrityError Exception for book_id:  513198
In insert_book_data, IntegrityError Exception for book_id:  12398719
In insert_book_data, IntegrityError Exception for book_id:  15945897
In insert_book_data, IntegrityError Exception for book_id:  225706
In insert_book_data, IntegrityError Exception for book_id:  396329
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35204', '0345320239', "Splinter of the Mind's Eye (Star Wars)", 297.0, 3.25, '7630', '343', 'Ballantine Books', 'Luke Skywalker expected trouble when he volunteered to follow Princess Leia on her mission to the planet Circarpous. But he discovered that hidden on ... (113 characters truncated) ... he Force that he would be all but invincible. In the wrong hands, the crystal could be deadly. So Luke had to find this treasure and find it fast....')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('773545', '0553578944', 'Wraith Squadron (Star Wars: X-Wing, #5)', 416.0, 4.1, '8265', '137', 'Del Rey', '<i>They are the galaxy’s most elite fighting force. And as the battle against the Empire rages, the X-wing fighters risk life and machine to protect  ... (742 characters truncated) ...  the Empire’s most brilliant master of guile and deception.<br /><br />Are they up to the challenge?<br /><br />If not, the penalty is instant death.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12275873
In insert_book_data, IntegrityError Exception for book_id:  35448
In insert_book_data, IntegrityError Exception for book_id:  13039884
In insert_book_data, IntegrityError Exception for book_id:  22046891
In insert_book_data, IntegrityError Exception for book_id:  11731782
In insert_book_data, IntegrityError Exception for book_id:  40378
In insert_book_data, IntegrityError Exception for book_id:  18811324
In insert_book_data, IntegrityError Exception for book_id:  18713259
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('16536', '0345419685', 'The Fabulous Riverboat (Riverworld #2)', 231.0, 3.87, '8057', '172', None, 'In <i>To Your Scattered Bodies Go</i>, Philip José Farmer introduces readers to the awesome Riverworld, a planet that had been carved into one large  ... (1589 characters truncated) ... rboat and sailing to the headwaters, but even an 800-pound giant may not be enough to help Clemens fulfill X\'s mission. <i>--Craig E. Engler</i></p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  149075
In insert_book_data, IntegrityError Exception for book_id:  6310782
In insert_book_data, IntegrityError Exception for book_id:  5957044
In insert_book_data, IntegrityError Exception for book_id:  6987527
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('201882', '0441669514', 'Planet of Exile (Hainish Cycle #2)', 126.0, 3.69, '3997', '277', 'Ace Books', "The Earth colony of Landin has been stranded on Werel for ten years--&amp; ten of Werel's years are over 600 terrestrial years. The lonely &amp; dwin ... (318 characters truncated) ... arborns have common enemies: the hordes of ravaging barbarians called gaals &amp; eerie preying snow ghouls. Will they join forces or be annihilated?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11372681
In insert_book_data, IntegrityError Exception for book_id:  505064
In insert_book_data, IntegrityError Exception for book_id:  1001442
In insert_book_data, IntegrityError Exception for book_id:  25319258
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24869', '0552139149', "Lyon's Pride (The Tower and the Hive, #4)", 347.0, 3.91, '7270', '57', 'Corgi', "The survival technique of the Hivers was terrifying -- and brilliant. Their huge Sphere ships, controlled by the Many Mind of ten to sixteen queens,  ... (863 characters truncated) ... or the Hivers' terrible Sphere ships were still thrusting through space, unfathomable, impenetrable, and carrying death in their labyrinthine depths.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  49838
In insert_book_data, IntegrityError Exception for book_id:  893590
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('216378', '0679742204', 'Now Wait for Last Year', 230.0, 3.89, '4621', '156', None, "Dr. Eric Sweetscent has problems. His planet is enmeshed in an unwinnable war. His wife is lethally addicted to a drug that whips its users helplessl ... (581 characters truncated) ...  like the present, it makes the normal seem terrifyingly provisional -- and compels anyone who reads it to wonder if he really knows what time it is.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  263466
In insert_book_data, IntegrityError Exception for book_id:  116561
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13378509', None, 'How to Talk to Girls at Parties', 11.0, 3.73, '3978', '372', 'neilgaiman.com', 'Nominated for a 2007 Hugo Award.<br /><br />"Come on," said Vic. "It\'ll be great."<br /><br />"No, it won\'t," I said, although I\'d lost this fight hours ago, and I knew it.<br /><br />"It\'ll be brilliant," said Vic, for the hundredth time. "Girls! Girls! Girls!" He grinned with white teeth.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18283020
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25397349', None, 'The Wedding (Lux, #5.5)', 6.0, 4.48, '3755', '308', None, '"This is the never before seen "real" wedding between Daemon and Kat from the Lux Series. This should not be read unless you have read the Lux series."<br /><br />Found on Wattpad <a href="http://www.wattpad.com/story/28500213-the-wedding" rel="nofollow">here</a>.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13646525
In insert_book_data, IntegrityError Exception for book_id:  18490708
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('263012', '0553571745', 'The Crystal Star (Star Wars)', 432.0, 3.09, '7134', '127', 'Del Rey', "Hugo and Nebula award-winning author Vonda N. McIntyre continues the bestselling <i>Star Wars</i> saga as the ultimate space adventure unfolds in <i> ... (744 characters truncated) ...  Waru's sinister cult. Together they will face an explosive showdown that will decide the survival of the New Republic . . . and the universe itself!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13170037
In insert_book_data, IntegrityError Exception for book_id:  16180352
In insert_book_data, IntegrityError Exception for book_id:  59921
In insert_book_data, IntegrityError Exception for book_id:  1060548
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('422569', '0553506889', "Isard's Revenge (Star Wars: X-Wing, #8)", 352.0, 3.94, '6831', '49', None, "Sleek, swift and deadly, the famed X-Wing fighters have earned their reputation as the Rebel Alliance's ultimate strike force the hard way--first in  ... (1190 characters truncated) ... the <i>Star Wars</i> expanded universe, and over half a dozen excerpts from some of the most popular <i>Star Wars</i> books of the last thirty years!")] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  7975411
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('598938', '0553574167', 'The Hutt Gambit (Star Wars: The Han Solo Trilogy, #2)', 340.0, 3.88, '8457', '179', 'Del Rey Books', "Here is the second novel in the blockbuster new trilogy that reveals the never-before-told story of the young Han Solo. Set before the Star Wars movi ... (839 characters truncated) ... s a primer on the Star Wars expanded universe, and over half a dozen excerpts from some of the most popular Star Wars books of the last thirty years!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  210482
In insert_book_data, IntegrityError Exception for book_id:  50839
In insert_book_data, IntegrityError Exception for book_id:  7838460
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35461', '0099410354', 'Traitor (Star Wars: The New Jedi Order, #13)', 320.0, 4.0, '6748', '123', 'Arrow Books Ltd', "From the depths of catastrophe, a glimmer of hope.<br /><br />After the capture of Coruscant, the mighty heart of the New Republic, a stunned galaxy  ... (778 characters truncated) ... . Now, all is in shadows. Yet whatever happens, whether Jacen's newfound mastery unleashes light or darkness, he will never be the same Jedi again...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  898232
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25648897', None, 'Chains of Command (Frontlines, #4)', 386.0, 4.26, '7824', '330', None, 'The assault on Earth was thwarted by the destruction of the aliens’ seed ship, but with Mars still under Lanky control, survivors work frantically to ... (594 characters truncated) ...  wife, dropship pilot Halley, again find themselves headed for the crucible of combat—and a shattering new campaign in the war for humanity’s future.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13509631
In insert_book_data, IntegrityError Exception for book_id:  17735
In insert_book_data, IntegrityError Exception for book_id:  11995467
In insert_book_data, IntegrityError Exception for book_id:  28526192
In insert_book_data, IntegrityError Exception for book_id:  16127235
In insert_book_data, IntegrityError Exception for book_id:  6697866
In insert_book_data, IntegrityError Exception for book_id:  16131473
In insert_book_data, IntegrityError Exception for book_id:  33835
In insert_book_data, IntegrityError Exception for book_id:  12620241
In insert_book_data, IntegrityError Exception for book_id:  324505
In insert_book_data, IntegrityError Exception for book_id:  94781
In insert_book_data, IntegrityError Exception for book_id:  50852
In insert_book_data, IntegrityError Exception for book_id:  6713634
In insert_book_data, IntegrityError Exception for book_id:  18374994
In insert_book_data, IntegrityError Exception for book_id:  18932
In insert_book_data, IntegrityError Exception for book_id:  17672008
In insert_book_data, IntegrityError Exception for book_id:  10842223
In insert_book_data, IntegrityError Exception for book_id:  22859850
In insert_book_data, IntegrityError Exception for book_id:  30280
In insert_book_data, IntegrityError Exception for book_id:  17926802
In insert_book_data, IntegrityError Exception for book_id:  64936
In insert_book_data, IntegrityError Exception for book_id:  7841522
In insert_book_data, IntegrityError Exception for book_id:  18229437
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('773547', '0553579002', 'Solo Command (Star Wars: X-Wing, #7)', 341.0, 4.02, '7012', '84', 'Spectra', "Wraith Squadron: they are the Rebel Alliance's ultimate strike force. Sleek, swift, and deadly, they are the first in battle, the last line of defens ... (585 characters truncated) ... eakness. For even against the most overwhelming odds, the Rebels will fight to the death. And that will leave Zsinj the galaxy's unchallenged master!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  61664
In insert_book_data, IntegrityError Exception for book_id:  15843845
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('23293202', None, 'True Calling (True Calling, #1)', 400.0, 3.86, '632', '173', 'Siobhan Davis', '<b>Welcome to Novo: Your new home in Space</b><br /><br />For Ariana Skyee, Planet Novo was everything it promised to be until the authorities introd ... (855 characters truncated) ... ce. When her world implodes, discovering the past shapes her future with devastating consequences.<br /><br />TWO DIFFERENT WORLDS. ONE SHARED DREAM.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('525285', '0515034797', 'Mission of Gravity', 174.0, 3.91, '5957', '112', None, 'Cover Artist: Ed Emshwiller<br /><i>Mission of Gravity</i> is an sf novel by Hal Clement. The title is a play on words, one meaning "the force which  ... (1094 characters truncated) ... the notion of turning the deal to an unsuspected advantage for himself--a considerable enterprise for a being very much resembling a 15" caterpillar!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  331005
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('43479909', None, 'Broken Skies (Broken Skies, #1)', None, 4.04, '18', '1', None, "<b>A reclusive human girl. A disillusioned alien boy. They were never meant to meet…</b><br /><br />When Jax Mitchell’s twin is kidnapped by Earth's  ... (750 characters truncated) ... ff as a rescue mission sets in motion a chain of events that threatens not only the remaining humans and the growing alien society, but Earth itself.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('116410', '0765309394', 'Axis (Spin, #2)', 303.0, 3.5, '5446', '386', None, '<div>\n  <div>Wildly praised by readers and critics alike, Robert Charles Wilson\'s <i>Spin</i> won science fiction\'s highest honor, the Hugo Award  ... (745 characters truncated) ...  Soon, this seemingly hospitable world will become very alien indeed--as the nature of time is once again twisted, by entities unknown.</div>\n</div>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18468256
In insert_book_data, IntegrityError Exception for book_id:  10273328
In insert_book_data, IntegrityError Exception for book_id:  76811
In insert_book_data, IntegrityError Exception for book_id:  6468870
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('201889', '044110701X', 'City of Illusions', 160.0, 3.85, '3744', '261', 'Ace Books', 'He was a fully grown man, alone in dense forest, with no trail to show where he had come from and no memory to tell who — or what — he was.<br />His  ... (303 characters truncated) ... h, the City of the Shining, the Liars of Earth, the Enemy of Mankind.<br />There he would find his true self... and a universe of danger.<br /><br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2729221
In insert_book_data, IntegrityError Exception for book_id:  11325591
In insert_book_data, IntegrityError Exception for book_id:  20881139
In insert_book_data, IntegrityError Exception for book_id:  61924
In insert_book_data, IntegrityError Exception for book_id:  22877206
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('351', '1416505504', "Starman Jones (Heinlein's Juveniles, #7)", None, 3.84, '6404', '183', None, '<p>The stars were closed to Max Jones. To get into space you either needed connections, a membership in the Guild, or a whole lot more money than Max ... (325 characters truncated) ...  (written, Heinlein always claims, just as much for adults) that started them all and made Heinlein a legend for multiple generations of readers.</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23532981
In insert_book_data, IntegrityError Exception for book_id:  10170545
In insert_book_data, IntegrityError Exception for book_id:  180270
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('673158', '0099154102', 'Darkover Landfall', None, 3.88, '5457', '132', None, 'Darkover, planet of wonder, world of mystery, has been a favorite of science fiction readers for many years. For it is a truly alien sphere--a world  ... (411 characters truncated) ... nd, the psychic currents that were native only to that world, and the price that every Earthling must pay before Darkover could claim him for itself.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  21858682
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('91092', '0140010750', 'The Kraken Wakes', 240.0, 3.77, '4865', '258', 'Penguin Books', 'Ships are sinking for no apparent reason, carrying hundreds to a dark underwater grave. Strange fireballs race through the sky above the deepest trenches of the oceans. Something is about to show itself, something terrible and alien, a force capable of causing global catastrophe.')] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  16210411
In insert_book_data, IntegrityError Exception for book_id:  13541612
In insert_book_data, IntegrityError Exception for book_id:  23518316
In insert_book_data, IntegrityError Exception for book_id:  7283762
In insert_book_data, IntegrityError Exception for book_id:  3697357
In insert_book_data, IntegrityError Exception for book_id:  116562
In insert_book_data, IntegrityError Exception for book_id:  13573427
In insert_book_data, IntegrityError Exception for book_id:  123673
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('444944', '1882968093', 'Triplanetary (Lensman, #1)', None, 3.66, '4286', '239', None, 'Cosmic Conflict<br /><br />In Triplanetary, battle is joined for the control of the universe. The Arisians, benevolent humanoids who have declared th ... (1076 characters truncated) ... ed on various online catalogs, if you think there are any problems regard copyright issues please contact us immediately via DMCA@publicdomain.org.uk')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25669098
In insert_book_data, IntegrityError Exception for book_id:  27415869
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('21620', '1857989317', 'Forever Free (The Forever War, #3)', 277.0, 3.41, '3798', '196', 'Millennium', 'William Mandela is a genetic throwback, one of the small group of humans who fought and survived the Forever War. They returned to find humanity has  ... (259 characters truncated) ... s of space travel and relativity. But when their ship starts to fail, their journey becomes a search for the Unknown, the elusive entity responsible.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2011
In insert_book_data, IntegrityError Exception for book_id:  116560
In insert_book_data, IntegrityError Exception for book_id:  11329789
In insert_book_data, IntegrityError Exception for book_id:  3595475
In insert_book_data, IntegrityError Exception for book_id:  352774
In insert_book_data, IntegrityError Exception for book_id:  43663613
In insert_book_data, IntegrityError Exception for book_id:  528366
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('4161697', '0345509064', 'Outcast (Star Wars: Fate of the Jedi, #1)', 318.0, 3.87, '5665', '233', None, "After a violent civil war, and the devastation wrought by the now-fallen Darth Caedus, the Galactic Alliance is in crisis -- and in need. From all co ... (1425 characters truncated) ... y the same madness as Valin Horn, is headed for Coruscant on a fearsome mission that could doom the Jedi Order . . . and devastate the entire galaxy.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25802043', None, 'Barbarian Alien (Ice Planet Barbarians, #2)', 211.0, 3.97, '6620', '589', None, 'Twelve humans are left stranded on a wintry alien planet. I’m one of them. Yay, me. <br /><br />In order to survive, we have to take on a symbiont th ... (218 characters truncated) ... ALIEN is a sequel to ICE PLANET BARBARIANS. You do not have to read both in order to understand the plot, but the story will be richer if you do!</i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('508957', '038039362X', 'The 12th Planet (Earth Chronicles, #1)', 438.0, 3.98, '2868', '214', 'Avon Books (NYC)', 'Over the years, startling evidence has been uncovered, challenging established notions of the origins of life on Earth - evidence that suggests the e ... (401 characters truncated) ... h, The 12th Planet treats as fact, not myth, the tales of Creation, the Deluge, the Tower of Babel, and the Nefilim who married the daughters of man.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1450946
In insert_book_data, IntegrityError Exception for book_id:  10837174
In insert_book_data, IntegrityError Exception for book_id:  125333
In insert_book_data, IntegrityError Exception for book_id:  13645835
In insert_book_data, IntegrityError Exception for book_id:  13494718
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('303110', '1896944329', 'Earthcore', None, 4.09, '3751', '230', None, "Deep below a desolate Utah mountain lies the largest platinum deposit ever discovered. A billion-dollar find, it waits for any company that can drill ... (387 characters truncated) ... n waiting for centuries. Waiting ...and guarding. Kirkland and EarthCore are about to find out first-hand why this treasure has never been unearthed.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('28599556', None, 'Exiled (Immortal Essence #1)', None, 3.59, '84', '8', None, 'Start the epic bestselling series that\'s been read more than two million times worldwide! This series is complete.<br /><br /><b>WORLDS DIVIDED THEM ... (1071 characters truncated) ... </b>\n     \n   </div><div>EXILED</div><div>BANISHED</div><div>DISPLACED</div><div>BEGUILED</div><div>TEMPTED</div><div>MERGED</div><div>UNITED</div>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25318
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('131776', '0553568167', 'Tales of the Bounty Hunters (Star Wars)', 339.0, 3.77, '6161', '173', 'Del Rey Books', 'In a wild and battle-scarred galaxy, assassins, pirates, smugglers, and cutthroats of every description roam at will, fearing only the professional b ... (359 characters truncated) ... and contempt for life....<br /><br />Featuring original stories by Kevin J. Anderson, M. Shayne Bell, Daniel Keys Moran, Kathy Tyers, Dave Wolverton.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  21845122
In insert_book_data, IntegrityError Exception for book_id:  947964
In insert_book_data, IntegrityError Exception for book_id:  7125335
In insert_book_data, IntegrityError Exception for book_id:  14978
In insert_book_data, IntegrityError Exception for book_id:  22078240
In insert_book_data, IntegrityError Exception for book_id:  153019
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('700095', '0553574140', 'The New Rebellion (Star Wars)', 532.0, 3.45, '5757', '69', 'Del Rey Books', 'Somewhere in the galaxy, millions suddenly perish in a blinding instant ofpain, anguish, and despair--a disruption of the Force so shocking, it is fe ... (1726 characters truncated) ...  Timothy Zahn:<br /><br />"Chock full of all the good stuff you\'ve come to expect from a battle of goodagainst evil."<br />-- "Daily News," New York')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9757229
In insert_book_data, IntegrityError Exception for book_id:  343285
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('773544', '0553574183', 'Starfighters of Adumar (Star Wars: X-Wing, #9)', 304.0, 4.02, '6289', '82', 'Del Rey', "Book 9 in the exciting series!<br /><br />The X-wing fighter pilots have earned their reputation as the Rebel Alliance's ultimate strike force by ove ... (922 characters truncated) ...  posed by a rogue Republic agent...one who is determined to win Adumar's allegiance once and for all--even if it costs the X-wing pilots their lives.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('96460', '0552146293', 'The Tower and the Hive (The Tower and the Hive, #5)', 400.0, 3.95, '5480', '62', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  26180279
In insert_book_data, IntegrityError Exception for book_id:  1197129
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29488335', None, 'Remanence (Confluence, #2)', None, 4.06, '3215', '200', None, 'In defiance of NASA, Jane Holloway, the linguist of the Providence expedition, commandeers the alien ship that crew explored. She sets off to return  ... (470 characters truncated) ... ensure the survival of Ei’Brai’s race, she discovers that the life of every sentient being in the galaxy may be in jeopardy…and the clock is ticking.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  353479
In insert_book_data, IntegrityError Exception for book_id:  10101733
In insert_book_data, IntegrityError Exception for book_id:  352777
In insert_book_data, IntegrityError Exception for book_id:  12891829
In insert_book_data, IntegrityError Exception for book_id:  294285
In insert_book_data, IntegrityError Exception for book_id:  96475
In insert_book_data, IntegrityError Exception for book_id:  175328
In insert_book_data, IntegrityError Exception for book_id:  29092928

In insert_book_data, IntegrityError Exception for book_id:  26114175
In insert_book_data, IntegrityError Exception for book_id:  145354
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('64338', '0689856660', 'The City of Gold and Lead', 209.0, 4.06, '5337', '222', 'Simon & Schuster Simon Pulse', 'Will, Beanpole, and Henry have managed to escape the Tripods. But instead of living in safety, in the small community of free people, they have chosen to embark upon a mission that may cost them their lives.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18589656
In insert_book_data, IntegrityError Exception for book_id:  116256
In insert_book_data, IntegrityError Exception for book_id:  18043147
In insert_book_data, IntegrityError Exception for book_id:  17571237
In insert_book_data, IntegrityError Exception for book_id:  1961516
In insert_book_data, IntegrityError Exception for book_id:  582675
In insert_book_data, IntegrityError Exception for book_id:  15999018
In insert_book_data, IntegrityError Exception for book_id:  226475
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13485992', None, 'Breakers (Breakers, #1)', 299.0, 3.65, '4786', '444', None, "In New York, Walt Lawson is about to lose his girlfriend Vanessa. In Los Angeles, Raymond and Mia James are about to lose their house. Within days, n ... (679 characters truncated) ... s. It was inflicted from outside. The colonists who sent it are ready to finish the job--and Earth's survivors may be too few and too weak to resist.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  77462
In insert_book_data, IntegrityError Exception for book_id:  7234921
In insert_book_data, IntegrityError Exception for book_id:  13483502
In insert_book_data, IntegrityError Exception for book_id:  18295835
In insert_book_data, IntegrityError Exception for book_id:  40388
In insert_book_data, IntegrityError Exception for book_id:  3182799
In insert_book_data, IntegrityError Exception for book_id:  7552700
In insert_book_data, IntegrityError Exception for book_id:  47241
In insert_book_data, IntegrityError Exception for book_id:  161296
In insert_book_data, IntegrityError Exception for book_id:  13421230
In insert_book_data, IntegrityError Exception for book_id:  17165875
In insert_book_data, IntegrityError Exception for book_id:  18279247
In insert_book_data, IntegrityError Exception for book_id:  27257359
In insert_book_data, IntegrityError Exception for book_id:  18318651
In insert_book_data, IntegrityError Exception for book_id:  11915781
In insert_book_data, IntegrityError Exception for book_id:  25317
In insert_book_data, IntegrityError Exception for book_id:  17875055
In insert_book_data, IntegrityError Exception for book_id:  138350
In insert_book_data, IntegrityError Exception for book_id:  7268841
In insert_book_data, IntegrityError Exception for book_id:  1107545
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('366784', '0590629808', 'The Message (Animorphs, #4)', 151.0, 3.84, '5553', '149', 'Scholastic Paperbacks', "It all started with the dreams. But Cassie didn't pay much attention to them. She and her friends had all been having weird dreams since they'd first learned to morph. Maybe it was just some crazy side effect.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8087710
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('761154', '0446605158', "The Reality Dysfunction 1: Emergence (Night's Dawn 1)", None, 4.25, '6106', '93', 'Aspect', None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  758614
In insert_book_data, IntegrityError Exception for book_id:  899392
In insert_book_data, IntegrityError Exception for book_id:  116567
In insert_book_data, IntegrityError Exception for book_id:  461978
In insert_book_data, IntegrityError Exception for book_id:  77747
In insert_book_data, IntegrityError Exception for book_id:  1265289
In insert_book_data, IntegrityError Exception for book_id:  353476
In insert_book_data, IntegrityError Exception for book_id:  40385
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('60933', '0446603708', "Clay's Ark (Patternmaster, #3)", 213.0, 3.83, '4621', '369', 'Warner Books', 'An innocent familiy, carjacked on a desolate highway, is abducted to a bizarre new world. A world being born in the Californian desert.<br /><br />Th ... (284 characters truncated) ... of the transformed. Now the meaning of "survival" changes. For the babies born in the colony are clearly, undeniably, <i>not human</i>...<br /><br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22877
In insert_book_data, IntegrityError Exception for book_id:  17926807
In insert_book_data, IntegrityError Exception for book_id:  18527488
In insert_book_data, IntegrityError Exception for book_id:  6980826
In insert_book_data, IntegrityError Exception for book_id:  25013184
In insert_book_data, IntegrityError Exception for book_id:  15793091
In insert_book_data, IntegrityError Exception for book_id:  464609
In insert_book_data, IntegrityError Exception for book_id:  50848
In insert_book_data, IntegrityError Exception for book_id:  10979852
In insert_book_data, IntegrityError Exception for book_id:  24565038
In insert_book_data, IntegrityError Exception for book_id:  264013
In insert_book_data, IntegrityError Exception for book_id:  7670714
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('21607', '0441012523', 'Camouflage', 289.0, 3.63, '4813', '276', 'Ace', "Two aliens have wandered Earth for centuries. The Changeling has survived by adapting the forms of many different organisms. The Chameleon destroys a ... (43 characters truncated) ... br />Now, a sunken relic that holds the key to their origins calls to them to take them home—but the Chameleon has decided there's only room for one.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18667767
In insert_book_data, IntegrityError Exception for book_id:  12049592
In insert_book_data, IntegrityError Exception for book_id:  8174363
In insert_book_data, IntegrityError Exception for book_id:  18692689
In insert_book_data, IntegrityError Exception for book_id:  21947304
In insert_book_data, IntegrityError Exception for book_id:  61967
In insert_book_data, IntegrityError Exception for book_id:  240297
In insert_book_data, IntegrityError Exception for book_id:  101527
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('80491', '0689856695', 'The Pool of Fire', 204.0, 4.0, '4927', '179', 'Simon & Schuster Simon Pulse', '<b>Alternate cover edition can be found <a href="https://www.goodreads.com/book/show/13414396-the-pool-of-fire" rel="nofollow">here</a>. <br /></b><b ... (129 characters truncated) ... he modern world. And He has not only discovered what lies behind the Tripods\' power, but also how the Masters heartlessly plan to destroy the earth.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('125332', '0590629824', 'The Capture (Animorphs, #6)', 154.0, 3.87, '5119', '137', 'Scholastic Paperbacks', 'It was really bad when Jake found out his older brother was one of them. It was even worse when Tobias stayed in his morph too long. But nothing compares to the horror the Animorphs are about to face. Nothing.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1018538
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('769902', '067165554X', 'Sandkings', 254.0, 4.25, '3227', '187', 'Baen Books', "When Simon Kress returned to his home planet of Baldur from an offworld business trip, he was amused to find that his tank of Earth piranhas had cann ... (808 characters truncated) ... />- <i>In the House of the Worm</i><br />- <i>Fast-Friend</i><br />- <i>The Stone City</i><br />- <i>Starlady</i><br />- <i>Sandkings</i><br /><br />")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('26185583', None, 'Barbarian Lover (Ice Planet Barbarians, #3)', 191.0, 4.03, '5472', '424', None, "As one of the few humans stranded on the ice planet, I should be happy that I have a new home. Human women are treasured here, and one alien in parti ... (275 characters truncated) ... e translator in my ear, they can find me. My presence here endangers everyone... but can I give up my new life and the man I want more than anything?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  20332896
In insert_book_data, IntegrityError Exception for book_id:  18870640
In insert_book_data, IntegrityError Exception for book_id:  26570784

In insert_book_data, IntegrityError Exception for book_id:  16065725
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('372828', '0553578855', 'The Mandalorian Armor (Star Wars: The Bounty Hunter Wars, #1)', 387.0, 3.61, '4867', '130', 'Del Rey', "He's the most feared and successful bounty hunter in the galaxy. He is Boba Fett, and even the most hardened criminals tremble at his name. Now he fa ... (585 characters truncated) ... tions, criminal conspiracies, and the evil at the Empire's dark heart. Boba Fett has always finished first. And in this game, anything less is death.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6348133
In insert_book_data, IntegrityError Exception for book_id:  67961
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('511227', '0330484354', 'The Line Of Polity (Agent Cormac, #2)', 663.0, 4.13, '4634', '113', 'Tor Books', 'Outlink station Miranda has been destroyed by a nanomycelium and the very nature of this sabotage suggests that the alien bioconstruct Dragon - a creature as untrustworthy as it is gigantic - is somehow involved.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  265287
In insert_book_data, IntegrityError Exception for book_id:  17315
In insert_book_data, IntegrityError Exception for book_id:  19081403
In insert_book_data, IntegrityError Exception for book_id:  12814430
In insert_book_data, IntegrityError Exception for book_id:  6828998
In insert_book_data, IntegrityError Exception for book_id:  977111
In insert_book_data, IntegrityError Exception for book_id:  2403922
In insert_book_data, IntegrityError Exception for book_id:  13149420
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('33953843', None, "The Demon's Possession (Shadow Quest, #1)", 352.0, 3.95, '510', '67', 'Amazon Digital Services', "<b>A love that spans the edges of the universe...</b><br /><br />Trapped on the battleship Extarga by a tyrant, Analia is alone. For all she knows sh ... (653 characters truncated) ... r her powers...while contending with her freshly awakened desire for the brutally handsome demon.<br /><br /><b>Can she handle a demon's passion?</b>")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('47570', '0749702818', 'The Homeward Bounders', 224.0, 3.9, '3347', '117', 'Mammoth', '"You are now a discard. We have no further use for you in play. You are free to walk the Bounds, but it will be against the rules for you to enter pl ... (465 characters truncated) ... ith Helen and Joris, determined to beat <i>Them</i> at <i>Their</i> own game. But <i>Their</i> rules don\'t allow Homeward Bounders to work together.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25861679
In insert_book_data, IntegrityError Exception for book_id:  7975415
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('61965', '0061053759', "Acorna's Quest (Acorna #2)", 384.0, 3.65, '5229', '48', 'HarperCollins', "This follow-up to <i>Anne McCaffrey's</i> bestselling <i>Acorna</i> trails the unicorn girl across the galaxy as she searches for her mysterious home and lost people.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  462373
In insert_book_data, IntegrityError Exception for book_id:  87490
In insert_book_data, IntegrityError Exception for book_id:  18465632
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('629068', '0575601604', 'Deathstalker (Deathstalker, #1)', 571.0, 3.93, '3869', '156', None, 'The Iron Bitch-- her Imperial Majesty Lionstone XIV-- ruled the human Empire with fear. From peasants to masters of the galaxy\'s most powerful famil ... (413 characters truncated) ...  help, the Deathstalker took the first step of a far more dangerous journey to claim the role for which he\'d been destined since before his birth...')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('370899', '0345419693', 'The Dark Design (Riverworld, #3)', None, 3.73, '4467', '103', None, '<i>The Dark Design</i> is the 3rd book in the epic Riverworld saga, in which almost all of humanity has been resurrected along the shores of a 22 mil ... (1395 characters truncated) ... e airship is sure to encounter the <i>Rex Grandissimus</i>, the steamboat stolen by Sam\'s archnemesis, King John Lackland.--Craig E. Engler (edited)')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25652274', None, 'Call to Arms (Black Fleet Trilogy, #2)', None, 4.08, '5216', '175', None, 'From Joshua Dalzelle comes the follow up to the #1 Bestseller “Warship.” <br /><br />Captain Jackson Wolfe survived the initial incursion of a viciou ... (423 characters truncated) ... d irrefutable proof that the invaders are coming and that if humanity expects to survive they must marshal their forces and make a stand. Now. <br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9495160
In insert_book_data, IntegrityError Exception for book_id:  57042
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('125337', '0590629816', 'The Predator (Animorphs, #5)', 150.0, 3.81, '4698', '143', 'Scholastic', 'Marco never wanted to be an Animorph. He never wanted the ability to change into any animal he touches. He just wants to chill. Whatever happens, happens.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7801690
In insert_book_data, IntegrityError Exception for book_id:  8540220
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9359796', '0765323427', 'Vortex (Spin, #3)', 331.0, 3.73, '3523', '285', None, '<i>Vortex </i>tells the story of Turk Findley, the protagonist introduced in <i>Axis</i>, who is transported ten thousand years into the future by th ... (481 characters truncated) ... truth about the nature and purpose of the Hypotheticals before they carry him on a journey through warped time to the end of the universe itself.</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22011010', None, 'Barbarian Prince (Dragon Lords, #1)', 508.0, 3.68, '1776', '144', None, 'Paranormal Dragonshifting Romance <br />Revised Expanded Anniversary Edition <br /><br />Breaking up was never so hard... <br /><br />Going undercove ... (782 characters truncated) ...  to accept their shared fate and his supreme authority over her, it is all he can do to keep from acting like the barbarian she accuses him of being.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  101890
In insert_book_data, IntegrityError Exception for book_id:  13505863
In insert_book_data, IntegrityError Exception for book_id:  28204537
In insert_book_data, IntegrityError Exception for book_id:  23281789
In insert_book_data, IntegrityError Exception for book_id:  27067085
In insert_book_data, IntegrityError Exception for book_id:  40287
In insert_book_data, IntegrityError Exception for book_id:  324508
In insert_book_data, IntegrityError Exception for book_id:  13455518
In insert_book_data, IntegrityError Exception for book_id:  386488
In insert_book_data, IntegrityError Exception for book_id:  23013875
In insert_book_data, IntegrityError Exception for book_id:  22874
In insert_book_data, IntegrityError Exception for book_id:  8204809
In insert_book_data, IntegrityError Exception for book_id:  17211009
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24406483', None, 'The Border', 441.0, 3.83, '1294', '239', 'Subterranean Press', "World Fantasy award-winning, bestselling author Robert McCammon makes a triumphant return to the epic horror and apocalyptic tone reminiscent of his  ... (1049 characters truncated) ... ralleled imagination of Robert McCammon, this dark epic of survival will both thrill readers and make them fall in love with his work all over again.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13538762
In insert_book_data, IntegrityError Exception for book_id:  13631837
In insert_book_data, IntegrityError Exception for book_id:  17934480

In insert_book_data, IntegrityError Exception for book_id:  25615226
In insert_book_data, IntegrityError Exception for book_id:  217890
In insert_book_data, IntegrityError Exception for book_id:  337133
In insert_book_data, IntegrityError Exception for book_id:  365672
In insert_book_data, IntegrityError Exception for book_id:  582663
In insert_book_data, IntegrityError Exception for book_id:  416327
In insert_book_data, IntegrityError Exception for book_id:  432522
In insert_book_data, IntegrityError Exception for book_id:  25113095
In insert_book_data, IntegrityError Exception for book_id:  29619
In insert_book_data, IntegrityError Exception for book_id:  12618154
In insert_book_data, IntegrityError Exception for book_id:  10893175
In insert_book_data, IntegrityError Exception for book_id:  35815
In insert_book_data, IntegrityError Exception for book_id:  49834
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30646477', None, 'Earth Alone (Earthrise, #1)', None, 3.85, '3554', '212', None, "They came from deep space. They came to destroy us. <br /><br />Fifty years ago, bloodthirsty aliens devastated the Earth. Most of humanity perished. ... (266 characters truncated) ... er, and finally face the aliens in battle. <br /><br />Against the alien onslaught, Earth stands alone. But we will fight. We will rise. We will win.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23281815
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1107296', '0671720856', "Mutineers' Moon (Dahak, #1)", 315.0, 4.2, '5708', '95', 'Baen Publishing Enterprises', "For Lt. Commander Colin Maclntyre, it began as a routine training flight over the Moon. For Dahak, a self-aware Imperial battleship, it began millenn ... (706 characters truncated) ... tain. Now Maclntyre must mobilize humanity to destroy the mutineers once and for all--or Earth will become a cinder in the path of galactic conquest.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2789282', '0759584419', 'Fire and Ice (The League: Nemesis Rising #3.5, The League: Nemesis Legacy #1)', 100.0, 4.37, '3008', '83', None, "FIRE &amp; ICE - Originally published in a stand alone ebook in<br />1998. Currently available in the OUT OF THIS WORLD anthology that features all t ... (598 characters truncated) ... n. But when he feels the warmth of her healing touch he knows that he can't let her go. With her in his arms, he is free of pain, both body and soul.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  386455
In insert_book_data, IntegrityError Exception for book_id:  24582265
In insert_book_data, IntegrityError Exception for book_id:  324506
In insert_book_data, IntegrityError Exception for book_id:  40386
In insert_book_data, IntegrityError Exception for book_id:  265288
In insert_book_data, IntegrityError Exception for book_id:  6453280
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('758692', '0553575171', 'Planet of Twilight (Star Wars: The Callista Trilogy, #3)', 416.0, 3.03, '3677', '76', 'Bantam Books', 'Nam Chorios is a barren backwater world—once a dreaded prison colony, now home to a fanatic religious cult. It is here that Princess Leia has been ta ... (339 characters truncated) ...  any the galaxy has ever seen, awakens...a life-form so malevolent it will destroy everything—both Empire and New Republic—on its path to domination.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25067043
In insert_book_data, IntegrityError Exception for book_id:  8157267
In insert_book_data, IntegrityError Exception for book_id:  19146092
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('20556791', None, 'Ark Royal (Ark Royal, #1)', None, 3.76, '6202', '314', None, 'If you wish for peace, prepare for war. <br />-Royal Navy Motto <br /><br />Seventy years ago, the interstellar supercarrier Ark Royal was the pride  ... (601 characters truncated) ... d the dregs of the service, do they have even the faintest hope of surviving...<br /><br />...and returning to an Earth which may no longer be there?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12080483
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29623967', None, "Barbarian's Mate (Ice Planet Barbarians, #6)", 207.0, 4.08, '4404', '347', None, "'Resonance' is supposed to be a dream - that's when your soulmate is chosen for you. And everyone on the ice planet has hooked up with a big, hunky s ... (334 characters truncated) ... y body sings when he gets close? Why is he working so hard to prove to me that he's not as awful as I think he is? <br /><br />I hate him... don't I?")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29869407', None, 'Close Obsession (The Krinar Chronicles #2)', 330.0, 4.09, '949', '53', 'Mozaika', "<i>The highly anticipated sequel to</i> Close Liaisons\xa0.\xa0.\xa0.<br /><br />In Lenkarda – the main Krinar colony on Earth – Mia is completely at ... (460 characters truncated) ... i>WARNING: This book contains strong sexual content and explicit language and is not suitable for readers under 18.<br /><br />Word Count: 88,000</i>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18283019
In insert_book_data, IntegrityError Exception for book_id:  23995290
In insert_book_data, IntegrityError Exception for book_id:  17695124
In insert_book_data, IntegrityError Exception for book_id:  96284
In insert_book_data, IntegrityError Exception for book_id:  9495552
In insert_book_data, IntegrityError Exception for book_id:  13504505
In insert_book_data, IntegrityError Exception for book_id:  100359
In insert_book_data, IntegrityError Exception for book_id:  10799498
In insert_book_data, IntegrityError Exception for book_id:  23017945
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24872', '0552149098', "Freedom's Ransom (Catteni, #4)", 367.0, 3.94, '3691', '65', 'Corgi', 'The inhabitants of the penal planet Botany had fought a grim and dangerous war to free themselves from their Eosi overlords. Now the Eosi were gone,  ... (811 characters truncated) ...  an expedition that led to a horrifying replay of an old nightmare for Kris - and only Zainal could save her and the future of both Earth and Botany.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7031835
In insert_book_data, IntegrityError Exception for book_id:  61930
In insert_book_data, IntegrityError Exception for book_id:  25489021
In insert_book_data, IntegrityError Exception for book_id:  279522
In insert_book_data, IntegrityError Exception for book_id:  26030214

In insert_book_data, IntegrityError Exception for book_id:  3120541
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('664553', '1857232607', 'The City Who Fought (Brainship, #4)', 435.0, 3.98, '3979', '57', 'Baen', 'Simeon was the "brain" running a peaceful space station--but when the invaders arrived, his only hope of protecting his crew was to become "the city  ... (5 characters truncated) ... ought." Previous titles in this bestselling series include <i>The Ship Who Sang, The Ship Who Searched, The Ship Who Won</i>, and <i>PartnerShip</i>.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('23146375', None, 'The Lost Starship (Lost Starship, #1)', None, 3.73, '6456', '417', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6275436
In insert_book_data, IntegrityError Exception for book_id:  23735609
In insert_book_data, IntegrityError Exception for book_id:  18588743
In insert_book_data, IntegrityError Exception for book_id:  218709
In insert_book_data, IntegrityError Exception for book_id:  17620859
In insert_book_data, IntegrityError Exception for book_id:  15810877
In insert_book_data, IntegrityError Exception for book_id:  121606
In insert_book_data, IntegrityError Exception for book_id:  643792
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('511226', '0330441523', 'Polity Agent (Agent Cormac, #4)', 562.0, 4.21, '4124', '86', None, 'From eight hundred years in the future, a runcible gate is opened into the Polity and those coming through it have been sent specially to take the al ... (687 characters truncated) ... g pernicious Jain nodes...<br /><br />And a renegade attack ship, The King of Hearts, has encountered something very nasty outside the Polity itself.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8534780
In insert_book_data, IntegrityError Exception for book_id:  16032322
In insert_book_data, IntegrityError Exception for book_id:  10814635
In insert_book_data, IntegrityError Exception for book_id:  28096224
In insert_book_data, IntegrityError Exception for book_id:  14744463
In insert_book_data, IntegrityError Exception for book_id:  558004
In insert_book_data, IntegrityError Exception for book_id:  13501974
In insert_book_data, IntegrityError Exception for book_id:  28768
In insert_book_data, IntegrityError Exception for book_id:  10894503
In insert_book_data, IntegrityError Exception for book_id:  18520647
In insert_book_data, IntegrityError Exception for book_id:  23365213
In insert_book_data, IntegrityError Exception for book_id:  939559
In insert_book_data, IntegrityError Exception for book_id:  103103
In insert_book_data, IntegrityError Exception for book_id:  13542832
In insert_book_data, IntegrityError Exception for book_id:  25067044
In insert_book_data, IntegrityError Exception for book_id:  148875
In insert_book_data, IntegrityError Exception for book_id:  85861
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('55442', '0345419707', 'The Magic Labyrinth (Riverworld, #4)', None, 3.7, '3463', '84', None, "At the end of <i>The Fabulous Riverboat</i>, Sam Clemens finally set out in the great iron riverboat <i>Not for Hire</i> to reach the headwaters of t ... (1833 characters truncated) ... d lowly humans hope to do against a race so advanced that they can reshape entire planets and resurrect all of humanity? <i>--Craig E. Engler</i></p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('776489', '0345257049', 'Inherit the Stars (Giants, #1)', 216.0, 4.08, '3312', '235', 'Del Rey', "THE MAN ON THE MOON WAS DEAD. <br /><br />They called him Charlie. He had big eyes, abundant body hair and fairly long nostrils. <br /><br />His skel ... (165 characters truncated) ... ><br />All they knew was that his corpse was 50,000 years old; and that meant that this man had somehow lived long before he ever could have existed!")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('42771590', None, 'Fields of Elysium', None, 3.77, '6', '1', 'InMotion Capitol', 'Alternate cover edition can be found <a href="https://www.goodreads.com/book/show/24921863-fields-of-elysium" rel="nofollow">here</a>. <br /><br />Ca ... (1164 characters truncated) ... e portal to Arkana to see Victor. Torn between their double lives, they go down a dangerous path, from where there is no return and multiple endings.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  129582
In insert_book_data, IntegrityError Exception for book_id:  23431348
In insert_book_data, IntegrityError Exception for book_id:  678074
In insert_book_data, IntegrityError Exception for book_id:  28763
In insert_book_data, IntegrityError Exception for book_id:  3607898
In insert_book_data, IntegrityError Exception for book_id:  282284
In insert_book_data, IntegrityError Exception for book_id:  678076
In insert_book_data, IntegrityError Exception for book_id:  40376
In insert_book_data, IntegrityError Exception for book_id:  13458280
In insert_book_data, IntegrityError Exception for book_id:  453960
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('100692', '0007115881', 'The Game-Players of Titan', 223.0, 3.64, '2830', '111', 'Voyager Classics / HarperCollins', "In this sardonically funny gem of speculative fiction, Philip K. Dick creates a novel that manages to be simultaneously unpredictable and perversely  ... (314 characters truncated) ... rminally--because Pete Garden will be playing his next game against an opponent who isn't even human, for stakes that are a lot higher than Berkeley.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  951290
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('337019', '0441012027', 'Polaris (Alex Benedict, #2)', 370.0, 3.86, '3729', '236', 'Ace Books', 'The national best-selling author brings back the daring Alex Benedict from A Talent for War and thrusts him into a far-future tale of mystery and suspense.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41337', '0345314212', 'The Nonborn King (Saga of the Pliocene Exile, #3)', 429.0, 4.17, '4171', '39', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13163688
In insert_book_data, IntegrityError Exception for book_id:  13451410
In insert_book_data, IntegrityError Exception for book_id:  103101
In insert_book_data, IntegrityError Exception for book_id:  555184
In insert_book_data, IntegrityError Exception for book_id:  185824

Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6940561', '076531505X', 'A Mighty Fortress (Safehold, #4)', 718.0, 4.12, '4815', '158', None, 'Young Cayleb Ahrmahk has accomplished things few people could even dream of. Not yet even thirty years old, he’s won the most crushing naval victorie ... (1537 characters truncated) ... s and a handful of extraordinary human beings stand in its path. The Church is about to discover just how potent the power of human freedom truly is.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23659059
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('360929', '0440220734', 'Area 51 (Area 51, #1)', None, 3.78, '2184', '174', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25067045
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22079262', None, 'Date Night on Union Station (EarthCent Ambassador #1)', None, 3.67, '3833', '303', None, 'Kelly Frank is EarthCent’s top diplomat on Union Station, but her job description has always been a bit vague. When she receives a gift subscription  ... (150 characters truncated) ...  her pride and give it a shot. But as her dates go from bad to worse, she can only hope that the supposedly omniscient AI is planning a happy ending.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12753230
In insert_book_data, IntegrityError Exception for book_id:  7843135
In insert_book_data, IntegrityError Exception for book_id:  16174363
In insert_book_data, IntegrityError Exception for book_id:  31541026
In insert_book_data, IntegrityError Exception for book_id:  1107543
In insert_book_data, IntegrityError Exception for book_id:  27414411
In insert_book_data, IntegrityError Exception for book_id:  23168784
In insert_book_data, IntegrityError Exception for book_id:  337943
In insert_book_data, IntegrityError Exception for book_id:  363362
In insert_book_data, IntegrityError Exception for book_id:  163653
In insert_book_data, IntegrityError Exception for book_id:  63818
In insert_book_data, IntegrityError Exception for book_id:  8866354
In insert_book_data, IntegrityError Exception for book_id:  427252
In insert_book_data, IntegrityError Exception for book_id:  7089
In insert_book_data, IntegrityError Exception for book_id:  23232459
In insert_book_data, IntegrityError Exception for book_id:  29623
In insert_book_data, IntegrityError Exception for book_id:  29624
In insert_book_data, IntegrityError Exception for book_id:  11990629
In insert_book_data, IntegrityError Exception for book_id:  18050080
In insert_book_data, IntegrityError Exception for book_id:  13702218
In insert_book_data, IntegrityError Exception for book_id:  61957
In insert_book_data, IntegrityError Exception for book_id:  26198812
In insert_book_data, IntegrityError Exception for book_id:  206857
In insert_book_data, IntegrityError Exception for book_id:  40384
In insert_book_data, IntegrityError Exception for book_id:  491076
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30524238', None, "Barbarian's Touch (Ice Planet Barbarians, #7)", 301.0, 4.15, '3692', '308', None, "When I wake up on the ice planet, I’m scared of everything: this place is cold, silent, and the locals look more like blue devils than aliens. To mak ... (410 characters truncated) ... il. He’s also fierce, protective, makes me purr... and thinks I'm perfect. <br /><br />But is what we have real or just a mating instinct?\xa0 <br />")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('172738', '1857238869', 'Legacy (The Way, #3)', 410.0, 3.77, '2625', '64', 'Orbit', "Set in the same universe as the author's bestselling Eon and Eternity, this novel tells the story of Olmy, well-known to readers of the earlier books. Investigating an illegal opening in the Milky Way, Olmy discovers a strange new world.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  4332905
In insert_book_data, IntegrityError Exception for book_id:  15986094
In insert_book_data, IntegrityError Exception for book_id:  26839798
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('186682', '0224017675', 'Re: Colonised Planet 5, Shikasta', 365.0, 3.71, '1413', '145', 'Jonathan Cape', 'This is the first volume in the series of novels Doris Lessing calls collectively <i>Canopus in Argos: Archives</i>. Presented as a compilation of do ... (633 characters truncated) ... hammat but notes with dismay the ever-growing chaos and destruction of Shikasta as its people hurl themselves towards World War III and annihilation.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363423', '0590109715', 'The Andalite Chronicles (Animorphs Chronicles, #1)', 326.0, 4.03, '4201', '148', 'Scholastic', 'Relates the story of Elfangor-Sirinial-Shamtul, the Andalite war-prince responsible for creating the human animorphs on Earth.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  21412023
In insert_book_data, IntegrityError Exception for book_id:  57014
In insert_book_data, IntegrityError Exception for book_id:  27417551
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30087347', None, 'Dark Planet Warriors: The Complete Serial (Dark Planet Warriors, #1)', 240.0, 4.06, '3132', '246', 'Anna Carven', "<b>***This book contains the first three Dark Planet Warriors books, Invasion, Taken and Escape (which were originally released as a three-part seria ... (2686 characters truncated) ... e I go insane <br /><br /><b>Warning: This book contains swearing, violence and steamy sex scenes. It's recommended for readers aged 18 and over.</b>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  153192
In insert_book_data, IntegrityError Exception for book_id:  1583121
In insert_book_data, IntegrityError Exception for book_id:  288771
In insert_book_data, IntegrityError Exception for book_id:  302546
In insert_book_data, IntegrityError Exception for book_id:  80955
In insert_book_data, IntegrityError Exception for book_id:  363388
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('31818909', None, "Barbarian's Taming (Ice Planet Barbarians, #8)", 243.0, 4.2, '3436', '292', None, "As a newcomer to the alien tribe, I've struggled to find my place. It might be because I'm a tad headstrong at times. And yes, I might have thrown a  ... (454 characters truncated) ... im, even as a mindless fling. <br /><br />Except... I'm not so good with the whole 'rules' thing. <br />And he's not so great with the 'fling' thing.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29778960', None, 'Alien Mate (Alien Mate, #1)', None, 3.59, '642', '45', None, 'Plump Diana is ironing her underwear when the hottest blue babe in all of the galaxy appears in her living room. Did she forget to mention he was nak ... (264 characters truncated) ... e pounding and his loins on fire. He might be an alien who doesn’t understand the meaning of love, but he sure knows what he feels is more than lust.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15746918
In insert_book_data, IntegrityError Exception for book_id:  338128
In insert_book_data, IntegrityError Exception for book_id:  25861677
In insert_book_data, IntegrityError Exception for book_id:  352781
In insert_book_data, IntegrityError Exception for book_id:  1246118
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('338325', '0743475283', 'The High Crusade', None, 3.9, '2622', '159', None, "In the year of grace 1345, as Sir Roger Baron de Tourneville is gathering an army to join King Edward III in the war against France, a most astonishi ... (884 characters truncated) ... t that knavish alien little understands the indomitable will and clever resourcefulness of Englishmen, no matter how great the odds against them. . .")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  42510024
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('932065', '0743275438', 'Metal Swarm (The Saga of Seven Suns, #6)', 684.0, 3.91, '3069', '62', 'Simon & Schuster', "The alien hydrogues have been defeated, driven back into the cores of their planets by an alliance of the Earth Defence Forces, the ancient Ildiran E ... (33 characters truncated) ...  elemental beings as well as gigantic living 'treeships'. But as the various factions try to pick up the pieces and recover, the wounds may be fatal.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('28475738', None, 'Jarek (Dragons of Preor, #1)', None, 3.88, '3091', '318', 'Summerhouse Publishing', '<b>What’s hotter than an alien with scales? An alien with wings and scales, not to mention a hot body.</b> <br /><br />At 457 Preor years old, Jarek  ... (997 characters truncated) ... weet Melissa’s lips? <br /><br />Related to the UJAL series: <br />The Ujal Volume One (Vados, Tave, Rhal) <br />Erun <br />Dashing Through the Stars')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  382161
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29869439', None, 'Close Remembrance (The Krinar Chronicles #3)', 400.0, 4.14, '819', '39', 'Mozaika', 'The stunning conclusion to the critically acclaimed series that has won thousands of fans!<br /><br />When a ruthless enemy finally strikes, Mia and  ... (240 characters truncated) ... the world\xa0.\xa0.\xa0.<br /><br />Warning: This book contains strong sexual content and explicit language and is not suitable for readers under 18.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  28766
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('352780', '0061020060', 'Deepsix (The Academy, #2)', 508.0, 3.86, '3508', '206', 'Eos', 'In the year 2204, tragedy and terror forced a scientific team to prematurely evacuate Maleiva Ill. Twenty-one years later, the opportunity for scient ... (1551 characters truncated) ... le apocalypse, they must find some way, any way to get off before Deepsix plunges like a pebble into the limitless depths of the rampaging gas giant.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  169002
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('370897', '0345419715', 'The Gods of Riverworld (Riverworld, #5)', None, 3.61, '2938', '60', None, "Thirty-five billion people from throughout Earth's history were resurrected along the great and winding waterways of Riverworld. Most began life anew ... (492 characters truncated) ... llenge lies ahead. For in the vast corridors and secret rooms of the tower stronghold, an unknown enemy watches and waits to usurp the usurpers . . .")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11861743
In insert_book_data, IntegrityError Exception for book_id:  20697444
In insert_book_data, IntegrityError Exception for book_id:  2310896
In insert_book_data, IntegrityError Exception for book_id:  20726481
In insert_book_data, IntegrityError Exception for book_id:  24915344
In insert_book_data, IntegrityError Exception for book_id:  815401
In insert_book_data, IntegrityError Exception for book_id:  7077917
In insert_book_data, IntegrityError Exception for book_id:  2305391
In insert_book_data, IntegrityError Exception for book_id:  20821265

In insert_book_data, IntegrityError Exception for book_id:  85653
In insert_book_data, IntegrityError Exception for book_id:  27247275
In insert_book_data, IntegrityError Exception for book_id:  184786
In insert_book_data, IntegrityError Exception for book_id:  11019965
In insert_book_data, IntegrityError Exception for book_id:  22875394
In insert_book_data, IntegrityError Exception for book_id:  13454648
In insert_book_data, IntegrityError Exception for book_id:  302537
In insert_book_data, IntegrityError Exception for book_id:  61998
In insert_book_data, IntegrityError Exception for book_id:  21522102
In insert_book_data, IntegrityError Exception for book_id:  13703312
In insert_book_data, IntegrityError Exception for book_id:  17255996
In insert_book_data, IntegrityError Exception for book_id:  209506
In insert_book_data, IntegrityError Exception for book_id:  24827
In insert_book_data, IntegrityError Exception for book_id:  130528
In insert_book_data, IntegrityError Exception for book_id:  8627906
In insert_book_data, IntegrityError Exception for book_id:  1054142
In insert_book_data, IntegrityError Exception for book_id:  18649394
In insert_book_data, IntegrityError Exception for book_id:  216445
In insert_book_data, IntegrityError Exception for book_id:  17345202
In insert_book_data, IntegrityError Exception for book_id:  13538863
In insert_book_data, IntegrityError Exception for book_id:  8657380
In insert_book_data, IntegrityError Exception for book_id:  105741
In insert_book_data, IntegrityError Exception for book_id:  16119725
In insert_book_data, IntegrityError Exception for book_id:  38242137
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('546454', '0532601467', 'The Voyage of the Space Beagle', 192.0, 3.86, '2678', '99', 'Macfadden-Bartell', None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  57015
In insert_book_data, IntegrityError Exception for book_id:  24969678
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1697363', '1852860693', 'Star Trek I: The Motion Picture (Star Trek: The Original Series #1; Movie Novelization #1)', 252.0, 3.77, '3133', '96', None, 'The historic five-year mission is over. But Kirk, McCoy, Scotty and the crew join forces again on the Enterprise to thwart an incredibly destructive power - a threat to earth and the human race. This novel is written by the creator of "Star Trek", Gene Roddenberry.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  29512334
In insert_book_data, IntegrityError Exception for book_id:  18453098
In insert_book_data, IntegrityError Exception for book_id:  28227834
In insert_book_data, IntegrityError Exception for book_id:  8420932
In insert_book_data, IntegrityError Exception for book_id:  6680441
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('357775', '5555661347', 'The Moment of the Magician (Spellsinger, #4)', 320.0, 3.87, '3697', '15', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  215954
In insert_book_data, IntegrityError Exception for book_id:  20718586
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25830594', None, 'The Ember War (The Ember War Saga, #1)', None, 3.93, '2563', '138', None, '<b> Earth is doomed. Humanity has a chance. </b> <br /><br />In the near future, an alien probe arrives on Earth with a pivotal mission—help humanity ... (238 characters truncated) ... daring gambit. To weather the coming storm, Ibarra must build a space fleet strong enough to face an implacable foe in a battle against annihilation.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1282266
In insert_book_data, IntegrityError Exception for book_id:  25397924
In insert_book_data, IntegrityError Exception for book_id:  218661
In insert_book_data, IntegrityError Exception for book_id:  18245746
In insert_book_data, IntegrityError Exception for book_id:  363392
In insert_book_data, IntegrityError Exception for book_id:  228337
In insert_book_data, IntegrityError Exception for book_id:  352726
In insert_book_data, IntegrityError Exception for book_id:  61922
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22457142', None, 'Regali (Walker Saga, #4)', None, 4.44, '2993', '110', None, 'A young adult paranormal romance series. <br />An epic journey. <br />If the Seventine are released, will anyone survive? <br /><br />Three of the Se ... (497 characters truncated) ... e might be the hardest to convince. <br /><br />Abigail has her best chance to save the worlds and her bond with Brace. But will she make it in time?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  24452990
In insert_book_data, IntegrityError Exception for book_id:  366783
In insert_book_data, IntegrityError Exception for book_id:  10648186
In insert_book_data, IntegrityError Exception for book_id:  217902
In insert_book_data, IntegrityError Exception for book_id:  18454480
In insert_book_data, IntegrityError Exception for book_id:  28110115
In insert_book_data, IntegrityError Exception for book_id:  826521
In insert_book_data, IntegrityError Exception for book_id:  192528
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('192525', '0553568922', "Conquerors' Pride (The Conquerors Saga, #1)", 389.0, 3.9, '2720', '91', 'Spectra Bantam Doubleday Dell', 'Four alien starships attack without provocation, destroy an 8-ship Peacemaker team in six savage minutes. Officially no survivors - Lord Stewart Cava ... (60 characters truncated) ... Pheylan Cavanaugh.\xa0Quinn assembles elite Copperheads like himself, minds united with ships, who will return home as heroes or traitors, if at all.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('32602258', None, "Barbarian's Heart (Ice Planet Barbarians, #9)", 222.0, 4.12, '2987', '266', None, 'I’ve never spent a day without my mate since arriving on the ice planet. I’m happy and in love, and we have a beautiful child together. All that chan ... (195 characters truncated) ...  everything between us. How can I love someone that doesn’t remember me? <br /><br />How can I not, when I know he’s still my mate underneath it all?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  264940
In insert_book_data, IntegrityError Exception for book_id:  2012
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('23349435', None, 'The Frozen Sky (Frozen Sky #1)', 348.0, 3.54, '313', '43', None, "BENEATH THE ICE<br /><br />Something is alive inside Jupiter's ice moon Europa. Robot probes find an ancient tunnel beneath the surface, its walls ca ... (218 characters truncated) ... on the award-winning short story, The Frozen Sky is a new full-length sci fi thriller novel from the international bestselling author of Plague Year.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6961355
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363391', '0590494236', 'The Unknown (Animorphs, #14)', 166.0, 3.63, '3199', '84', 'Scholastic Inc.', "There's a new rumor in town. Someone has discovered an item that proves life on other planets exists. And they've been hiding it on a base called Zon ... (225 characters truncated) ...  threaten their mission. So the Animorphs decide to pay Zone 91 and the Yeerks a little visit. But what they discover is not at all what they expect.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  80493
In insert_book_data, IntegrityError Exception for book_id:  834670
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('7892754', '0765324121', 'Out of the Dark', 381.0, 3.23, '2645', '417', None, '<div>\n  <div>\n    <p>The Galactic Hegemony has been around a long time, and it likes stability--the kind of stability that member species like the  ... (1211 characters truncated) ... ut it may well be that Shongairi and the Hegemony alike have underestimated the inhabitants of that strange planet called Earth</p>\n  </div>\n</div>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  28220629
In insert_book_data, IntegrityError Exception for book_id:  12438044
In insert_book_data, IntegrityError Exception for book_id:  16032329
In insert_book_data, IntegrityError Exception for book_id:  124841
In insert_book_data, IntegrityError Exception for book_id:  20320562
In insert_book_data, IntegrityError Exception for book_id:  20518786
In insert_book_data, IntegrityError Exception for book_id:  7704959
In insert_book_data, IntegrityError Exception for book_id:  21555970
In insert_book_data, IntegrityError Exception for book_id:  127262

In insert_book_data, IntegrityError Exception for book_id:  6047620
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('871555', '1416917055', 'Aliens Love Underpants', 32.0, 4.1, '3313', '213', None, 'This humorous tale describes how aliens, rather than visiting Earth to take over the planet, really visit to steal your pants.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17339290
In insert_book_data, IntegrityError Exception for book_id:  25861681
In insert_book_data, IntegrityError Exception for book_id:  13227798
In insert_book_data, IntegrityError Exception for book_id:  25361904
In insert_book_data, IntegrityError Exception for book_id:  17973716
In insert_book_data, IntegrityError Exception for book_id:  11251546
In insert_book_data, IntegrityError Exception for book_id:  662655
In insert_book_data, IntegrityError Exception for book_id:  395738
In insert_book_data, IntegrityError Exception for book_id:  15747451
In insert_book_data, IntegrityError Exception for book_id:  15744425
In insert_book_data, IntegrityError Exception for book_id:  64123
In insert_book_data, IntegrityError Exception for book_id:  36162
In insert_book_data, IntegrityError Exception for book_id:  11990677
In insert_book_data, IntegrityError Exception for book_id:  13012638
In insert_book_data, IntegrityError Exception for book_id:  24997064
In insert_book_data, IntegrityError Exception for book_id:  18600590
In insert_book_data, IntegrityError Exception for book_id:  13543136
In insert_book_data, IntegrityError Exception for book_id:  33951280
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('412816', '0552083445', 'Restoree', 223.0, 3.91, '3521', '120', 'Corgi', 'There was a sudden stench of a dead sea creature. There was the sudden horror of a huge black shape closing over her. There was nothing...<br /><br / ... (237 characters truncated) ... br />And when she awoke she found she was in a world that was not earth, and with a face and body that were not her own. She had become a Restoree...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23353578
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('468008', '0440023459', 'Emphyrio', 222.0, 3.88, '1719', '62', 'Dell', 'Far in the future, the craftsmen of the distant planet Halma create goods which are the wonder of the galaxy. But they know little of this. Their soc ... (260 characters truncated) ... son Ghyl rebels, and decides to bring down the system. To do so, he must first interpret the story of Emphyrio, an ancient hero of Halman legend.</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('8585830', '1595547533', 'Invasion (C.H.A.O.S., #1)', None, 3.69, '1276', '194', None, '<b> He didn\'t ask for the job, but now all that stands between us and chaos... is Colt</b><br /><br />Colt McAlister was having the summer of his li ... (1124 characters truncated) ... t blows past you en route to a total planetary take-over." -Frank Beddor, <i>New York Times</i> best-selling author of <i> The Looking Glass Wars</i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  29523636
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363355', '0590494244', 'The Escape (Animorphs, #15)', 163.0, 3.78, '3214', '85', 'Scholastic Inc.', "Almost nothing could be as bad as finding out your mother is Visser One. The most powerful of all Vissers. The leader of the Yeerk invasion of Earth. ... (280 characters truncated) ... e is overseeing a secret underwater project, they know they have to check it out. But Marco's not sure if this is a battle he'll be able to fight....")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  826525
In insert_book_data, IntegrityError Exception for book_id:  9969034
In insert_book_data, IntegrityError Exception for book_id:  21531232
In insert_book_data, IntegrityError Exception for book_id:  176410
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25812404', None, 'The Alion King (Paranormal Dating Agency, #6)', 186.0, 4.21, '2826', '238', None, 'Isabella Barca is great at organizing—not so great at keeping her nose out of trouble. When Bella goes to work as Mrs. Wilder’s assistant, the opport ... (943 characters truncated) ... aunchy sex with a sexy Alion King on one curvy sarcastic girl, then this is right up your alley. Enjoy!<br /><br /><i>Can be read as a standalone</i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1053783
In insert_book_data, IntegrityError Exception for book_id:  24664432
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('10533095', None, 'The Charmer (Darklands, #1)', 265.0, 3.8, '1875', '149', None, "Jasmine didn't realize her friend Wiley was special until they were drawn into another world. Here Wiley is betrothed to the ruler of the Haunt, a we ... (107 characters truncated) ... e'd never met a menace like the little brunette his princess calls friend. Will Jasmine find the portal home, or will she find a werewolf of her own?")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('845485', '0451044975', 'Downward to the Earth', 176.0, 3.8, '1655', '76', 'Roc', "Who knoweth the spirit of men that goeth upward, and the spirit of the beast that goeth downward to the earth? -Ecclesiastes 3:21<br /><br />Okay, th ... (463 characters truncated) ... cross the galaxy to settle old scores with the Nildoror. If he can even get them to acknowledge his existence. <br /><br />Cover Artist: Gene Szafran")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13077293
In insert_book_data, IntegrityError Exception for book_id:  668851
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363394', '0590494511', 'The Departure (Animorphs, #19)', 159.0, 3.85, '2969', '103', 'Scholastic Inc.', "Cassie's had it. After the last mission, she realizes she's getting tired of missions. Tired of battles. Tired of being an Animorph. She decides that she just can't do it anymore. So she quits.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  49842
In insert_book_data, IntegrityError Exception for book_id:  216361
In insert_book_data, IntegrityError Exception for book_id:  15763262
In insert_book_data, IntegrityError Exception for book_id:  22171697
In insert_book_data, IntegrityError Exception for book_id:  2247423
In insert_book_data, IntegrityError Exception for book_id:  352724
In insert_book_data, IntegrityError Exception for book_id:  238937
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('33014223', None, "Barbarian's Hope (Ice Planet Barbarians, #10)", 175.0, 4.11, '2653', '231', None, 'Seasons ago, I resonated to the quietest of tribesmates, a male content to love me from afar while I was the center of attention. We could have been  ... (173 characters truncated) ... is giving us a second chance, but…I’m afraid. What if what I have with my mate is too broken to be fixed? What if there’s no hope left for us at all?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  987217
In insert_book_data, IntegrityError Exception for book_id:  22459186
In insert_book_data, IntegrityError Exception for book_id:  237020

In insert_book_data, IntegrityError Exception for book_id:  504378
In insert_book_data, IntegrityError Exception for book_id:  9756310
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('64931', '0575072830', 'The Ophiuchi Hotline (Eight Worlds #1)', 180.0, 3.88, '2371', '81', 'Gollancz', 'After the effortless capture of Earth by vastly superior aliens, humanity is forced to fight for existence on the Moon and other lumps of airless roc ... (917 characters truncated) ... om Clancy<br /><br />"This is a novel rich in societies, settings, and technological wizardry. It\'s a tough-minded, yet a playful book."--Ian Watson')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  176544
In insert_book_data, IntegrityError Exception for book_id:  476496
In insert_book_data, IntegrityError Exception for book_id:  352727
In insert_book_data, IntegrityError Exception for book_id:  18738872
In insert_book_data, IntegrityError Exception for book_id:  6547184
In insert_book_data, IntegrityError Exception for book_id:  618194
In insert_book_data, IntegrityError Exception for book_id:  1786638
In insert_book_data, IntegrityError Exception for book_id:  352725
In insert_book_data, IntegrityError Exception for book_id:  25785775
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363405', '0590494309', 'The Warning (Animorphs, #16)', 146.0, 3.73, '3027', '81', 'Scholastic Inc.', "Jake has made an amazing discovery: a Web site about the Yeerks. Should the Animorphs investigate? If they do, they might walk right into a trap. And if they don't, they'll never know if they're fighting their enemies alone...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  77463
In insert_book_data, IntegrityError Exception for book_id:  668714
In insert_book_data, IntegrityError Exception for book_id:  28118847
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363406', '0590494414', 'The Decision (Animorphs, #18)', 161.0, 3.78, '2822', '70', 'Scholastic Inc.', "Ax and the Animorphs are about to have a huge problem. It starts when they decide to morph mosquitoes in order to slip by some unsuspecting Yeerks. I ... (151 characters truncated) ... cout ship finds them before it's too late. But now Ax is finally with his own people. And he doesn't know if he ever wants to go back to Earth...</p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  129019
In insert_book_data, IntegrityError Exception for book_id:  23978654
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('5597641', '1605042366', 'The Englor Affair (Sci-Regency #2)', 298.0, 4.13, '2831', '214', 'Samhain Publishing', "In hiding who he was, Payton found himself...and the man he would grow to love.<br /><br />After his brother is kidnapped, Prince Payton Townsend mas ... (512 characters truncated) ... as they learn more about their shared enemy, and about each other. What they learn could help them rise above to an enduring love or pull them apart.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  3076046
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363420', '0590496379', 'The Discovery (Animorphs, #20)', 153.0, 3.78, '2809', '82', 'Scholastic Inc.', 'The blue box Elfangor used to create the Animorphs has been found by a kid named David. David has no idea what he has -- or what it can do. But Marco does. And when he sees David with it, he knows the Animorphs have to get that box. At any cost.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  63960
In insert_book_data, IntegrityError Exception for book_id:  829807
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('16066215', None, 'Ambushing Ariel (Dragon Lords of Valdier, #4)', 248.0, 4.19, '2936', '97', None, 'Ariel Hamm has always had a tender heart. Her love for her sister, Carmen, and her best friend, Trisha, has always been a priority in her life. But a ... (1822 characters truncated) ... />Can Mandra convince the stubborn human female who has captured his heart their future together can be her new dream before she escapes him forever?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  550202
In insert_book_data, IntegrityError Exception for book_id:  25615831
In insert_book_data, IntegrityError Exception for book_id:  15702786
In insert_book_data, IntegrityError Exception for book_id:  13167780
In insert_book_data, IntegrityError Exception for book_id:  15808696
In insert_book_data, IntegrityError Exception for book_id:  101570
In insert_book_data, IntegrityError Exception for book_id:  816901
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('312612', '0575071141', 'Mindbridge', 186.0, 3.75, '1625', '61', 'Gollancz', '<div><b>The discovery of a remarkable alien technology light years from Earth could have devastating consequences for humanity in this science fictio ... (1001 characters truncated) ... , and hostile race of star travelers—an encounter that could prove to be the first step in humankind’s salvation . . . or its doom.<br /><br /></div>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13231241
In insert_book_data, IntegrityError Exception for book_id:  18333945
In insert_book_data, IntegrityError Exception for book_id:  22896269
In insert_book_data, IntegrityError Exception for book_id:  23604332
In insert_book_data, IntegrityError Exception for book_id:  2277310
In insert_book_data, IntegrityError Exception for book_id:  21643924
In insert_book_data, IntegrityError Exception for book_id:  7830973
In insert_book_data, IntegrityError Exception for book_id:  7948544
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('343177', '0590494368', 'The Underground (Animorphs, #17)', 164.0, 3.7, '2849', '72', 'Scholastic Inc.', "What's tasty, good for you, and only takes sixty seconds to make? Oatmeal. And it's making the Yeerks more than a little crazy. Now Rachel, the other Animorphs, and Ax have a new weapon against the Yeerks. Sounds good, right?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  32969235
In insert_book_data, IntegrityError Exception for book_id:  18075916

In insert_book_data, IntegrityError Exception for book_id:  1926061
In insert_book_data, IntegrityError Exception for book_id:  1428043
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24081930', None, 'Venomous (Alien Warrior, #1)', 690.0, 3.92, '4940', '529', None, '<i>"She is mine to protect, mine to shelter, mine to feed and mine to cover. When she is weak, I shall be her strength. She was stolen from her world ... (1653 characters truncated) ... eat from within the warrior’s own kindred. <br /><br /><i>\n  <b>Warning: violence, profanity and sexual situations with multiple partners.</b>\n</i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12454226
In insert_book_data, IntegrityError Exception for book_id:  756108
In insert_book_data, IntegrityError Exception for book_id:  13238856
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('101528', '0345412087', 'Striking the Balance (Worldwar, #4)', 547.0, 3.82, '3444', '48', 'Del Rey', "At the bloody height of World War II, the deadliest enemies in all of human history were forced to put aside their hatreds and unite against an even  ... (1168 characters truncated) ... allies desperately seek a way out of a no-win, no-survival situation: a way to live free in a world that may soon be bombed into atomic oblivion.</p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  664642
In insert_book_data, IntegrityError Exception for book_id:  279524
In insert_book_data, IntegrityError Exception for book_id:  6344943
In insert_book_data, IntegrityError Exception for book_id:  24612531
In insert_book_data, IntegrityError Exception for book_id:  15556460
In insert_book_data, IntegrityError Exception for book_id:  22557743
In insert_book_data, IntegrityError Exception for book_id:  16069783
In insert_book_data, IntegrityError Exception for book_id:  28383013
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363421', '0590636758', 'The Pretender (Animorphs, #23)', 154.0, 3.91, '2575', '73', 'Scholastic Inc.', 'Someone\'s looking for Tobias. Someone who says she\'s his long-lost cousin. Tobias isn\'t sure the person is telling the truth. But she\'s really ni ... (315 characters truncated) ... obias, the other Animorphs, and Ax decide to do a little checking on this "cousin". And what they discover will change the rest of Tobias\'s life....')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('20769116', None, 'The Enemy Within (Omega Force, #4)', None, 4.27, '2815', '49', None, 'The quadrant is burning. <br /><br />Violent, deadly uprisings are breaking out, seemingly at random, all across the Confederation’s sphere of influe ... (616 characters truncated) ... orce Series: <br /><br />Omega Rising <br />Omega Force: Soldiers of Fortune <br />Omega Force: Savage Homecoming <br />Omega Force: The Enemy Within')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17336133
In insert_book_data, IntegrityError Exception for book_id:  2916555
In insert_book_data, IntegrityError Exception for book_id:  6399408
In insert_book_data, IntegrityError Exception for book_id:  48623
In insert_book_data, IntegrityError Exception for book_id:  6941225
In insert_book_data, IntegrityError Exception for book_id:  35805990
In insert_book_data, IntegrityError Exception for book_id:  13702224
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('366790', '0590762559', 'The Solution (Animorphs, #22)', 152.0, 3.92, '2685', '81', 'Scholastic Paperbacks', 'David, the newest Animorph, is not what he appears. His need to control the other Animorphs and Ax is all he thinks about. And the things he does are starting to break up the group.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('218463', '1857239970', 'The World Of Ptavvs (Known Space)', 188.0, 3.85, '2499', '47', 'Orbit', 'Larry Greenberg\'s telepathic tendencies had been trained and developed to a critical level. The trouble was that if these psychic interchanges were  ... (181 characters truncated) ... disaster that threatens all mankind...<br /><br /><i>"Snappy, ingenious, and upbeat."</i> - Galaxy<br /><br />Made the 1st ballot for the 1967 Nebula')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13634835
In insert_book_data, IntegrityError Exception for book_id:  288756
In insert_book_data, IntegrityError Exception for book_id:  8400986
In insert_book_data, IntegrityError Exception for book_id:  55749
In insert_book_data, IntegrityError Exception for book_id:  22401661
In insert_book_data, IntegrityError Exception for book_id:  267334
In insert_book_data, IntegrityError Exception for book_id:  7644545
In insert_book_data, IntegrityError Exception for book_id:  19167803
In insert_book_data, IntegrityError Exception for book_id:  100208
In insert_book_data, IntegrityError Exception for book_id:  614866
In insert_book_data, IntegrityError Exception for book_id:  22500624
In insert_book_data, IntegrityError Exception for book_id:  24899
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363361', '0590762540', 'The Threat (Animorphs, #21)', 158.0, 3.83, '2542', '73', 'Scholastic Inc.', '"The Threat" is a new Animorph named David. At first he\'s a valuable warrior. But as crucial battle plans unfold, the Animorphs realize they\'ve made a terrible mistake.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8151462
In insert_book_data, IntegrityError Exception for book_id:  38617807
In insert_book_data, IntegrityError Exception for book_id:  18394129
In insert_book_data, IntegrityError Exception for book_id:  19286650
In insert_book_data, IntegrityError Exception for book_id:  206855
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30338514', None, 'Starseers (Fallen Empire, #3)', 227.0, 4.17, '2704', '143', None, "The mysterious and powerful Starseers have Captain Alisa Marchenko's daughter, and she will do whatever she must to get her back, even if it means tr ... (203 characters truncated) ... ng each other. It doesn’t help that Leonidas and Dr. Dominguez have a mission of their own, one that could jeopardize all that Alisa is fighting for.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('5306171', None, 'The Rookie (Galactic Football League #1)', 1.0, 4.29, '2697', '186', 'Empty Set Entertainment', '<br />Set in a lethal pro football league 700 years in the future, THE ROOKIE is a story that combines the intense gridiron action of "Any Given Sund ... (508 characters truncated) ... se aliens. Quentin must deal with his racism and learn to lead, or he\'ll wind up just another stat in the column marked "killed on the field."<br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11099135

In insert_book_data, IntegrityError Exception for book_id:  12754048
In insert_book_data, IntegrityError Exception for book_id:  20706230
In insert_book_data, IntegrityError Exception for book_id:  599712
In insert_book_data, IntegrityError Exception for book_id:  22411825
In insert_book_data, IntegrityError Exception for book_id:  17934479
In insert_book_data, IntegrityError Exception for book_id:  6562329
In insert_book_data, IntegrityError Exception for book_id:  2407022
In insert_book_data, IntegrityError Exception for book_id:  2454413
In insert_book_data, IntegrityError Exception for book_id:  8734164
In insert_book_data, IntegrityError Exception for book_id:  335704
In insert_book_data, IntegrityError Exception for book_id:  16180353
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('23345291', None, 'Secret of the Phoenix (Omega Force, #6)', None, 4.36, '2555', '45', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6323609
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30745955', None, 'Relic of Sorrows (Fallen Empire, #4)', None, 4.27, '2626', '130', None, 'Captain Alisa Marchenko finally has a lead on finding her daughter, but her passengers want her to take them on their quest instead. Even though the  ... (467 characters truncated) ... nd a way to survive against impossible odds, knowing that if her passengers succeed, they will change the course of history—maybe not for the better.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30729634', None, 'Dark Planet Falling (Dark Planet Warriors, #2)', 205.0, 4.07, '740', '55', None, "<b>The Prince</b><br />Prince Xalikian Kazharan has a dilemma on his hands. Now that the Kordolians have landed on Earth, he somehow has to convince  ... (1528 characters truncated) ...  Warriors Series. It will probably make more sense if you've read the other three books first, although that's probably not absolutely essential.</i>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  21748444
In insert_book_data, IntegrityError Exception for book_id:  13539166
In insert_book_data, IntegrityError Exception for book_id:  18042870
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('125335', '0590762591', 'The Attack (Animorphs, #26)', 145.0, 3.91, '2372', '66', 'Scholastic Inc.', 'The Ellimist has helped the Animorphs many times. He is all-powerful and has only one enemy, the Crayak. In a cosmic showdown, the two enemies choose champions to represent them in a battle to end all battles. The Crayak chooses the dreaded Howlers. The Ellimist chooses the Animorphs.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  714616
In insert_book_data, IntegrityError Exception for book_id:  2958520
In insert_book_data, IntegrityError Exception for book_id:  19914
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18901409', None, 'Revelations (Extinction Point #3)', None, 3.81, '2495', '86', None, 'There is nowhere left to run. In the wake of the deadly plague that virtually annihilated the human race, a vast red jungle teeming with alien creatu ... (264 characters truncated) ... <br />The next volume in the thrilling Extinction Point series, Revelations takes a humanity on the brink of devastation…and throws it over the edge!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  491095
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22930598', None, 'The End is Now (The Apocalypse Triptych, #2)', None, 3.9, '1405', '113', None, 'Famine. Death. War. Pestilence. These are the harbingers of the biblical apocalypse, of the End of the World. In science fiction, the end is triggere ... (1679 characters truncated) ...  by Jamie Ford<br />TO WRESTLE NOT AGAINST FLESH AND BLOOD by Desirina Boskovich<br />IN THE MOUNTAIN by Hugh Howey<br />DEAR JOHN by Robin Wasserman')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  531150
In insert_book_data, IntegrityError Exception for book_id:  129581
In insert_book_data, IntegrityError Exception for book_id:  22716582
In insert_book_data, IntegrityError Exception for book_id:  17155959
In insert_book_data, IntegrityError Exception for book_id:  26030857
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363350', '0590762575', 'The Suspicion (Animorphs, #24)', 155.0, 3.62, '2340', '79', 'Scholastic Inc.', "The Yeerks are not the only invaders of Earth. Meet the new enemy: the Helmacrons. Cassie finds their miniature spaceship and donates it to a toy dri ... (146 characters truncated) ... il they get their spaceship back, they're taking hostages. The Animorphs must find a way to send these pests back into space -- before it's too late.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  544237
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13032249', '1408815664', 'Earthfall (Earthfall, #1)', 280.0, 3.9, '1153', '92', 'Bloomsbury', '<b>The battle for mankind is about to begin in this riveting story of Earth’s invasion from the author of the H.I.V.E. series.</b><br /><br />Sam awa ... (532 characters truncated) ...  didn’t.<br /><br />With his home planet feeling alien and the future unstable and unclear, Sam must navigate a new world in this gripping adventure.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  298472
In insert_book_data, IntegrityError Exception for book_id:  57065
In insert_book_data, IntegrityError Exception for book_id:  18626685
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('287498', '188296814X', 'Children of the Lens (Lensman, #6)', None, 3.94, '1961', '40', None, 'It was beginning to look as if no one could prevent the destruction of the Universe. For a strange intelligence was directing the destruction of all  ... (118 characters truncated) ... ear the end was. And in the last desperate plan to save all life, he knew he had to use his children as bait for the evil powers of the planet Ploor.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  35134
In insert_book_data, IntegrityError Exception for book_id:  1017597
In insert_book_data, IntegrityError Exception for book_id:  21947308
In insert_book_data, IntegrityError Exception for book_id:  18586584
In insert_book_data, IntegrityError Exception for book_id:  7796272
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('876268', '0413599906', 'All Flesh is Grass', 250.0, 3.87, '1465', '66', 'Methuen (London)', "A mysterious invisible barrier suddenly encloses a small, out-of-the-way American town. It's been put there by a galactic intelligence intent on imposing harmony and cooperation on the different peoples of the universe. But to the inhabitants, the barrier evokes stark terror.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  993916
In insert_book_data, IntegrityError Exception for book_id:  18298581
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('101942', '0020425716', 'The Tripods Trilogy (The Tripods, #1-3)', 224.0, 4.17, '2383', '115', None, 'Long ago the Tripods, gigantic three-legged machines, descended upon Earth and took control. They used "Caps," administered ceremoniously near each c ... (678 characters truncated) ... lling conclusion to the series that poses the question: Who would rule the world if it were freed from the aliens? (Ages 9 and older) --Bonnie Bouman')] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  6070124
In insert_book_data, IntegrityError Exception for book_id:  35124
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('125341', '0590762605', 'The Exposed (Animorphs, #27)', 154.0, 3.74, '2333', '69', 'Scholastic Paperbacks', 'To rescue their android friends, the Chee, the Animorphs must use a giant squid morph to get to the Chee ship deep in a trench beneath the ocean. And they must reach the ship before Visser Three does.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('412821', '1857231295', 'Crisis on Doona (Doona, #2)', 480.0, 3.82, '1881', '18', 'Little Brown and Company', 'The first humans to arrive on the beautiful, unspoiled planet of Doona drew up an intricate cohabitation contract with the alien, cat-like Hrrubans,  ... (1 characters truncated) ... ho had settled there first. Now, after 25 years, the contract is due for renewal. Anne McCaffrey is a past winner of both the Hugo and Nebula awards.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('44322815', None, 'Through Glass: The Dark (Through Glass, #1)', 322.0, 3.94, '5', '2', 'Imdalind Press', 'I just wanted to graduate high school. Fighting monsters to save the world was not part of my five-year plan.<br /><br />I had it all figured out. Gr ... (925 characters truncated) ... te everything is on track, and the next… well, it’s the end of the world. <br /><br />My name is Lex, and I guess I hunt monsters now. <br />Perfect.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  25255038
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('8094602', '0982857128', 'Snaring the Huntress', 25.0, 3.23, '1177', '107', 'Sylvia Day', '<i>This e-book can be downloaded from author\'s website here - <a href="http://www.sylviaday.com/books/snaring-the-huntress/" rel="nofollow">Snaring  ... (1067 characters truncated) ... by a man in heat, it’s passion that rules, not the law. Or does it? Roark still has his sentence, and his lover Star is judge, jury… and executioner.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363359', '0439051185', 'The Extreme (Animorphs, #25)', None, 3.72, '2219', '58', None, "It's time for the Animorphs to acquire some cold-weather morphs. The Yeerks are at it again, and they're causing trouble near one of the coldest places on earth: The North Pole.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16180357
In insert_book_data, IntegrityError Exception for book_id:  535315
In insert_book_data, IntegrityError Exception for book_id:  529838
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('76894', '0671733893', 'Q-In-Law (Star Trek: The Next Generation, #18)', 252.0, 3.85, '2618', '141', 'Pocket Books', "When two powerful rival families of the spacefaring merchant race called the Tizarin are to be joined through marriage, the U.S.S. <i>Enterprise</i>  ... (552 characters truncated) ... rmoil, the powerful Tizarin families are on the verge of war, and Lwaxana Troi is determined to teach Q a lesson in love that he will never forget...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16180355
In insert_book_data, IntegrityError Exception for book_id:  14290645
In insert_book_data, IntegrityError Exception for book_id:  29455
In insert_book_data, IntegrityError Exception for book_id:  16152916
In insert_book_data, IntegrityError Exception for book_id:  153058
In insert_book_data, IntegrityError Exception for book_id:  13326372
In insert_book_data, IntegrityError Exception for book_id:  28016727
In insert_book_data, IntegrityError Exception for book_id:  507932
In insert_book_data, IntegrityError Exception for book_id:  45246
In insert_book_data, IntegrityError Exception for book_id:  739986
In insert_book_data, IntegrityError Exception for book_id:  213649
In insert_book_data, IntegrityError Exception for book_id:  206856
In insert_book_data, IntegrityError Exception for book_id:  16180356
In insert_book_data, IntegrityError Exception for book_id:  15781608
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363422', '0590762621', 'The Sickness (Animorphs, #29)', 152.0, 3.87, '2269', '72', 'Scholastic Paperbacks', 'The Animorphs\' alien friend Ax is in trouble. He\'s come down with a virus called "yamphut", and it\'s making him very sick. The Animorphs discover the virus could be deadly--but they can\'t take an "alien" to the hospital. They need to come up with a plan--or lose their friend forever.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363363', '0590956159', 'In the Time of Dinosaurs (Megamorphs, #2)', 229.0, 3.83, '1986', '81', 'Apple', "We could blame everything that happened on Marco. He was the one who heard about the downed submarine. He was the one who thought we should check it  ... (291 characters truncated) ... our lives with every step we take. But that's not our biggest problem. Our biggest problem is we have no idea how to get back to our own time ...</p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  279525
In insert_book_data, IntegrityError Exception for book_id:  1103880
In insert_book_data, IntegrityError Exception for book_id:  7670154
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('286582', '0590762613', 'The Experiment (Animorphs, #28)', 139.0, 3.65, '2170', '66', 'Scholastic Paperbacks', "The Yeerks are ready to control humans where it counts -- in their DNA. They're working on a drug that saps humans of their free will. But the Animorphs show them that human free will runs deeper than any drug can reach,")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  743672
In insert_book_data, IntegrityError Exception for book_id:  1369202
In insert_book_data, IntegrityError Exception for book_id:  185826
In insert_book_data, IntegrityError Exception for book_id:  20906789
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363402', '059076263X', 'The Reunion (Animorphs, #30)', 156.0, 3.82, '2059', '55', 'Scholastic Paperbacks', 'Marco is faced with a difficult decision when his mother threatens to seize control over Visser One.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  129580
In insert_book_data, IntegrityError Exception for book_id:  20893397
In insert_book_data, IntegrityError Exception for book_id:  476542
In insert_book_data, IntegrityError Exception for book_id:  6953567
In insert_book_data, IntegrityError Exception for book_id:  20455682
In insert_book_data, IntegrityError Exception for book_id:  17325775
In insert_book_data, IntegrityError Exception for book_id:  18626777
In insert_book_data, IntegrityError Exception for book_id:  10295605
In insert_book_data, IntegrityError Exception for book_id:  17563213
In insert_book_data, IntegrityError Exception for book_id:  17446528
In insert_book_data, IntegrityError Exception for book_id:  6458645
In insert_book_data, IntegrityError Exception for book_id:  10390172
In insert_book_data, IntegrityError Exception for book_id:  1695570

In insert_book_data, IntegrityError Exception for book_id:  16180354
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('343187', '0439226775', 'Visser (Animorphs Chronicles, #3)', 208.0, 4.07, '2168', '62', None, 'In an hour or so, once I was out of sight of land, I would lower my sails and wait for a Bug fighter to come lift me off the deck. The engine backwas ... (355 characters truncated) ... est. I would stand alone atop the Yeerk military hierarchy.<br /><br />I was to become Visser One.<br /><br /><i>From the Hardcover edition</i><br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  662656
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('4445748', None, 'A Mere Formality', 26.0, 3.89, '2319', '195', 'Ilona Andrews', 'Warning: this story is one big dirty joke. There is no actual sex, but there is a lot discussion about it. It was written on a dare. Someone told us  ... (24 characters truncated) ...  short story around one particular phrase, and we did. So I recommend this for people 18+. Because you know, we wouldn’t want to corrupt your minors.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  3000862
In insert_book_data, IntegrityError Exception for book_id:  462225
In insert_book_data, IntegrityError Exception for book_id:  53292
In insert_book_data, IntegrityError Exception for book_id:  15753092
In insert_book_data, IntegrityError Exception for book_id:  17842932
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('125344', '0439115280', 'The Beginning (Animorphs, #54)', 159.0, 3.91, '1849', '116', 'Scholastic Paperbacks', "This is it! Yeerk ships are pouring in from all ends of the galaxy. An all-out war for the planet has finally begun. The winner will control Earth. T ... (208 characters truncated) ... laught of Yeerks? Rachel has always prepared for the final battle. But is she too eager? It's her moment...and this time there will be no compromise!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  32473266
In insert_book_data, IntegrityError Exception for book_id:  17165987
In insert_book_data, IntegrityError Exception for book_id:  18619542
In insert_book_data, IntegrityError Exception for book_id:  15992857
In insert_book_data, IntegrityError Exception for book_id:  17675048
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('666403', '1586088920', 'Genesis (Enslaved, #1)', None, 3.49, '2044', '86', None, "Bri's uncertain of whether she finds it more unnerving or thrilling that Kole, a warrior well over six feet in height and built like the hulk, watche ... (279 characters truncated) ... eem perfectly willing fight to the death to settle which of them gets to breed her. Rating: Contains graphic sex, graphic language, graphic violence.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363424', '0439070317', 'The Conspiracy (Animorphs, #31)', 139.0, 3.78, '2074', '63', 'Scholastic Paperbacks', "Jake's dad and brother Tom have left for a meeting of The Sharing, where Tom may force their dad into involuntary Yeerk infestation. Jake must save his father, but for the first time, his quick-thinking tactical mind freezes up ... with everything at stake.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('125340', '0439070325', 'The Separation (Animorphs, #32)', 158.0, 3.61, '2140', '65', 'Scholastic Paperbacks', 'Rachel is falling apart. Literally. Her newest morph the ability to regenerate its limbs, but when Rachel demorphs there\'s a lot more Rachel than wh ... (420 characters truncated) ... hel the super bold will try to single-handedly take him down. And twice the trouble may be twice as much as the other Animorphs and Ax can handle....')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24686619', None, 'Enslaved (Brides of the Kindred, #14)', None, 4.1, '1603', '105', None, 'Enslaved is book number 14 in the Brides of the Kindred series. It is a plus-length novel of around 168,000 words<br /><br />Anything for you Mistres ... (898 characters truncated) ... r differences threaten to tear them apart, Trin tries to grant Thrace his freedom. But she doesn’t realize that his heart has already been… Enslaved.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22896661
In insert_book_data, IntegrityError Exception for book_id:  22575681
In insert_book_data, IntegrityError Exception for book_id:  57166
In insert_book_data, IntegrityError Exception for book_id:  20575438
In insert_book_data, IntegrityError Exception for book_id:  18272934
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('302871', '0439070333', 'The Illusion (Animorphs, #33)', 156.0, 3.88, '2122', '60', 'Scholastic Paperbacks', 'The Yeerks possess a weapon that could be the biggest threat to the Animorphs yet. The anti-morphing ray transforms a person in morph back to natural form. Unless they find and destroy the top-secret ray, the Animorphs could be exposed for good.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16119716
In insert_book_data, IntegrityError Exception for book_id:  5815597
In insert_book_data, IntegrityError Exception for book_id:  18365306
In insert_book_data, IntegrityError Exception for book_id:  216847
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('28002882', None, 'Ice Planet Holiday (Ice Planet Barbarians, #4.5)', 136.0, 3.99, '3429', '258', None, "All this snow and no holidays? What's a stranded human to do? <br /><br />Create a new holiday, of course. Georgie and the other women decide to brin ... (216 characters truncated) ... r /><b>This 25,000 word novella is NOT intended as a stand-alone. Looking for a place to start? Try ICE PLANET BARBARIANS, Book #1 in the series.</b>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  57013
In insert_book_data, IntegrityError Exception for book_id:  519828
In insert_book_data, IntegrityError Exception for book_id:  11842134
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29225378', None, 'Assigned a Mate (Interstellar Brides, #1)', None, 3.8, '1566', '110', None, 'When a potential threat against her life forces Eva Daily to seek shelter on another world, she has only one option available to her. She must offer  ... (1498 characters truncated) ... hat includes spankings, sexual scenes, medical play, anal play, elements of BDSM, and more. If such material offends you, please don’t buy this book.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  528363
In insert_book_data, IntegrityError Exception for book_id:  6605730
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29371117', None, 'Taulan (Dragons of Preor, #2)', None, 4.09, '1927', '174', None, '<b>He wants to return to Preor and she wants a job, but you don’t always get what you want.</b> <br /><br />Lana Cooper is down to her last hundred d ... (1035 characters truncated) ...  will stop at nothing to drive a wedge between the races. Including murder. <br /><br />Part of the DRAGONS OF PREOR series: <br />Jarek <br />Taulan')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  445655
In insert_book_data, IntegrityError Exception for book_id:  746056
In insert_book_data, IntegrityError Exception for book_id:  12361693
In insert_book_data, IntegrityError Exception for book_id:  17788835
In insert_book_data, IntegrityError Exception for book_id:  15803179
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6359555', '1419917951', 'Broken Boundaries', 163.0, 3.86, '2261', '179', "Ellora's Cave", 'Chaz is the youngest recruit the Academy has ever seen. Godlike reflexes and hawk eyes make him a natural gunner assigned to fly the futuristic ship  ... (726 characters truncated) ... down his physical and emotional boundaries. The only thing that will keep them alive is their partnership—any space between them means certain death.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13515508
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('21947311', None, 'Return of the Jedi - Beware the Power of the Dark Side! (Star Wars: Episode VI)', 412.0, 4.08, '1001', '157', 'Disney', "Acclaimed, New York Times best-selling author Tom Angleberger delivers a captivating retelling of Star Wars: Return of the Jedi like you've never exp ... (84 characters truncated) ...  perspective and narrative style that will speak directly to today's young readers while enhancing the Star Wars experience for core fans of the saga")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  94702

In insert_book_data, IntegrityError Exception for book_id:  21494581
In insert_book_data, IntegrityError Exception for book_id:  11356936
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('25106480', None, 'Targeted (Brides of the Kindred, #15)', 478.0, 4.12, '863', '70', None, "A warrior sworn to kill or die trying… <br />A woman going through a deadly transformation… <br />Can they reach safety together? <br />Or have both  ... (1348 characters truncated) ... life. Can the fallen warrior guide and protect Emily to the place she truly belongs? Or will he die trying? You'll have to read Targeted to find out.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23018001
In insert_book_data, IntegrityError Exception for book_id:  19546477
In insert_book_data, IntegrityError Exception for book_id:  372000
In insert_book_data, IntegrityError Exception for book_id:  1624960
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22739456', None, 'Fall (Cold Mark Saga, #1)', 98.0, 3.77, '1510', '75', None, '<b>*The individual installments are no longer in publication. Please see <i>Cold Mark (Mark, #1) <a target="_blank" href="https://www.goodreads.com/b ... (1184 characters truncated) ... othing of, Braita must adapt to a dark life as a slave of the Mian society. Her existence depends on it...<i>and possibly, the fall of her heart</i>.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22067388
In insert_book_data, IntegrityError Exception for book_id:  939592
In insert_book_data, IntegrityError Exception for book_id:  176543
In insert_book_data, IntegrityError Exception for book_id:  26039093
In insert_book_data, IntegrityError Exception for book_id:  28118848
In insert_book_data, IntegrityError Exception for book_id:  24275900
In insert_book_data, IntegrityError Exception for book_id:  231921
In insert_book_data, IntegrityError Exception for book_id:  16119720
In insert_book_data, IntegrityError Exception for book_id:  12993856
In insert_book_data, IntegrityError Exception for book_id:  16152113
In insert_book_data, IntegrityError Exception for book_id:  23245994
In insert_book_data, IntegrityError Exception for book_id:  13346044
In insert_book_data, IntegrityError Exception for book_id:  993910
In insert_book_data, IntegrityError Exception for book_id:  18055987
In insert_book_data, IntegrityError Exception for book_id:  57012
In insert_book_data, IntegrityError Exception for book_id:  752749
In insert_book_data, IntegrityError Exception for book_id:  13547274
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('463090', '0441779468', 'Star of Danger (Darkover, #15)', 213.0, 3.73, '1518', '38', 'Ace', 'First published in 1965, Star of Danger is a work that stands as a foundation for the bestselling Darkover series, introducing many loyal fans to thi ... (5 characters truncated) ... derful, mysterious world. Two natives of Darkover are forced to combine Darkover matrix magic with Terran technology to stand against a shared enemy.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6697518
In insert_book_data, IntegrityError Exception for book_id:  18046079
In insert_book_data, IntegrityError Exception for book_id:  8714075
In insert_book_data, IntegrityError Exception for book_id:  113047
In insert_book_data, IntegrityError Exception for book_id:  18713456
In insert_book_data, IntegrityError Exception for book_id:  16180358
In insert_book_data, IntegrityError Exception for book_id:  218678
In insert_book_data, IntegrityError Exception for book_id:  17334535
In insert_book_data, IntegrityError Exception for book_id:  352778
In insert_book_data, IntegrityError Exception for book_id:  1229977
In insert_book_data, IntegrityError Exception for book_id:  1054581
In insert_book_data, IntegrityError Exception for book_id:  391849
In insert_book_data, IntegrityError Exception for book_id:  17262145
In insert_book_data, IntegrityError Exception for book_id:  15769793
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13552041', '1611601738', 'Shield (New World, #1)', 96.0, 3.58, '1928', '76', 'Whiskey Creek Press Torrid', "Earth is all but dead. With meteors exploding in their midst, the shuttle Grace boards takes flight in a last ditch effort to save human lives. With  ... (827 characters truncated) ... e beneath. Rask had thought his armor impenetrable. One touch from a slender hand and he realizes he is powerless against the tiny human he must have")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13316252
In insert_book_data, IntegrityError Exception for book_id:  8163859
In insert_book_data, IntegrityError Exception for book_id:  17451462
In insert_book_data, IntegrityError Exception for book_id:  12754082
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('23624798', '1503276090', 'Determined Prince (Captured by a Dragon-Shifter, #1)', 150.0, 3.52, '497', '68', 'CreateSpace Independent Publishing Platform', None)] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('125336', '0439106761', 'The Weakness (Animorphs, #37)', 129.0, 3.6, '1838', '57', 'Scholastic Paperbacks', "While Jake is away at an out-of-town wedding, Tobias discovers the place where Visser Three feeds. There is a unanimous decision to acquire cheetah morphs and run him down. But which Animorph will lead the mission in Jake's absence?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  288766
In insert_book_data, IntegrityError Exception for book_id:  11921067
In insert_book_data, IntegrityError Exception for book_id:  673023
In insert_book_data, IntegrityError Exception for book_id:  22067412
In insert_book_data, IntegrityError Exception for book_id:  10772954
In insert_book_data, IntegrityError Exception for book_id:  20628601
In insert_book_data, IntegrityError Exception for book_id:  12591987
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('15759883', None, 'Storm Surge (Destroyermen, #8)', None, 4.23, '1293', '65', None, 'In the Pacific, as USS Walker is repaired and updated after a previous battle and Matt Reddy is healing from his wounds, planning begins for a bold r ... (683 characters truncated) ... es have a few surprises, including new weaponry and new tactics… and a stunning geographic advantage that Reddy never suspected.</p><p>Until now.</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  5899622
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1204341', '1419950878', 'Brianna (Celestial Passions, #1)', 305.0, 3.87, '1697', '66', "Ellora's Cave", "Book 1 in the Celestial Passions series Brianna did what any other decent human being would do-rescue a pair of aliens her boss was about to dissect, ... (874 characters truncated) ...  is the norm and there are three sexes: male, female, and hermaphrodite. But Bakom wanted Brianna too, and is willing to do anything to get her back.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('821439', '0553277820', 'A Matter for Men (War Against the Chtorr #1)', 435.0, 4.09, '1429', '84', 'Bantam Spectra', 'With the human population ravaged by a series of devastating plagues, the alien Chtorr arrive to begin the final phase of their invasion. Even as many on Earth deny their existence, the giant wormlike carnivores prepare the world for the ultimate violation--the enslavement of humanity for food!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18306804
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('33302995', None, 'Black In White (Quentin Black Mystery, #1)', 280.0, 3.94, '206', '31', 'White Sun Press', 'ACE for ASIN: B01554ZHH6<br /><br />"My name is Black. Quentin Black."<br /><br />Gifted with an uncanny sense about people, psychologist Miri Fox wo ... (1894 characters truncated) ... stery #1)<br />Black As Night (Quentin Black Mystery #2)<br />Black On Black (Quentin Black Mystery #3)<br />Black Is Back (Quentin Black Mystery #4)')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30324800', None, 'Kozav (Dragons of Preor, #3)', None, 4.11, '1725', '162', None, '<b>Kozav found his mate and then he lost her. Now it’s time to hunt…</b> <br /><br />Grace Hall is a nurse, not a doctor. But when five Preor warrior ... (1398 characters truncated) ... t? For Grace’s sake, he hopes not. <br /><br />Part of the "DRAGONS OF PREOR" series: <br />Jarek <br />Taulan <br />Kozav <br />Rendan *coming soon*')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  36794521
In insert_book_data, IntegrityError Exception for book_id:  819060

In insert_book_data, IntegrityError Exception for book_id:  18457362
In insert_book_data, IntegrityError Exception for book_id:  22032770
In insert_book_data, IntegrityError Exception for book_id:  10245123
In insert_book_data, IntegrityError Exception for book_id:  288757
In insert_book_data, IntegrityError Exception for book_id:  1103881
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22050788', None, 'Dark Prince (Dragon Lords, #3)', None, 4.04, '623', '37', None, "The four Qurilixian Princes have no problem with commitment. In one night, using the power they were born with, they will meet and choose their life  ... (1142 characters truncated) ... his dark Prince's are, he is not willing to give up his bride without a fight. Rating: Contains graphic sexual content, adult language, and violence.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  989560
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('23603352', None, 'The X-Club (The Krinar Chronicles, #0.5)', None, 3.67, '927', '111', None, '<b>A young journalist. An alien sex club. A Krinar who won’t take no for an answer.</b> <br /><br />Amy Myers is tired of writing fluff. She wants to ... (456 characters truncated) ... e years before Mia &amp; Korum’s trilogy. It’s an erotic story, not a romance. It can be read as a standalone or after the Krinar Chronicles trilogy.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  36664826
In insert_book_data, IntegrityError Exception for book_id:  18870662
In insert_book_data, IntegrityError Exception for book_id:  11224175
In insert_book_data, IntegrityError Exception for book_id:  1587974
In insert_book_data, IntegrityError Exception for book_id:  18249939
In insert_book_data, IntegrityError Exception for book_id:  23374690
In insert_book_data, IntegrityError Exception for book_id:  25704026
In insert_book_data, IntegrityError Exception for book_id:  16094661
In insert_book_data, IntegrityError Exception for book_id:  13574657
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22379858', None, 'Critical Dawn (Critical, #1)', None, 3.54, '885', '48', None, '<b>Some mysteries should stay buried.</b> <br /><br />Archaeologists Pippa Quinn and Charlie Jackson find advanced technology in undisturbed 16th Cen ... (559 characters truncated) ... is an apocalyptic ride to the very edge of human existence. Factions will battle for control of the Earth—if they can avoid the threat of extinction.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17262142
In insert_book_data, IntegrityError Exception for book_id:  6642331
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30230346', None, 'Abducted (Alien Mate Index, #1)', None, 3.91, '2288', '286', None, "Abducted is Book 1 in my Alien Mate Index series. <br />It is a plus-sized novel--140,000 words long <br /><br />My name is Zoe McKinley. I have a bo ... (2464 characters truncated) ... s, you could be snatched at any time and turned into a massive warrior’s mate or concubine.<br /><br />So the real question is - who will choose you?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9127380
In insert_book_data, IntegrityError Exception for book_id:  2452326
In insert_book_data, IntegrityError Exception for book_id:  216633
In insert_book_data, IntegrityError Exception for book_id:  511228
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9630894', None, 'Blood Royal (Blood Destiny #5)', 228.0, 4.1, '1657', '57', None, '"Rene\', what will you do if I kick his ass?" I jerked my head toward Tony.<br /><br />"Nothing, as long as you do not inflict permanent harm," Rene\ ... (504 characters truncated) ... on a single night.<br /><br />Now, Xenides must regroup and looks to command the dregs of vampire rogues and human criminals to accomplish his goals.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  524866
In insert_book_data, IntegrityError Exception for book_id:  25790655
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363353', '0439106796', 'The Other (Animorphs, #40)', 130.0, 3.74, '1669', '43', 'Scholastic Paperbacks', 'Ax and the Animorphs find new hope when they learn that he is not the only non-infected Andalite on Earth.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17262142
In insert_book_data, IntegrityError Exception for book_id:  13360615
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('363390', '0439115256', 'The Absolute (Animorphs, #51)', 149.0, 3.84, '1502', '41', 'Scholastic', "The Yeerks have taken over units of the National Guard with plans to infest all of its officers and soldiers. The plan seems to be to step things up— ... (448 characters truncated) ...  walking right into enemy hands. If she's not, the Animorphs are finally going public with their secret. And no one knows which situation is worse...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6642331
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('76744', None, 'Star Trek 1', 136.0, 3.72, '1562', '68', None, "First of a series in which Blish adapted the scripts from the<br />original Star Trek series into novelette format. <br /><br />Included in this volu ... (3 characters truncated) ...  Charlie's Law (Charlie X), Dagger of the Mind, The Unreal McCoy (The Man Trap), Balance of Terror, The Naked Time, Miri, The Conscience of the King.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  20898014
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('343437', '0439115175', 'The Test (Animorphs, #43)', 144.0, 3.8, '1617', '44', 'Scholastic Paperbacks', "Tobias, the other Animorphs, and Ax have seen things so bizarre that no sane person would believe their story. No one would believe that aliens have  ... (392 characters truncated) ... s a favor. Tobias isn't sure what to believe, but he knows that if the Animorphs and Ax don't find him soon, what he believes won't matter anymore...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10679911
In insert_book_data, IntegrityError Exception for book_id:  3474905
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30230346', None, 'Abducted (Alien Mate Index, #1)', None, 3.91, '2288', '286', None, "Abducted is Book 1 in my Alien Mate Index series. <br />It is a plus-sized novel--140,000 words long <br /><br />My name is Zoe McKinley. I have a bo ... (2464 characters truncated) ... s, you could be snatched at any time and turned into a massive warrior’s mate or concubine.<br /><br />So the real question is - who will choose you?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  432119
In insert_book_data, IntegrityError Exception for book_id:  9127380
In insert_book_data, IntegrityError Exception for book_id:  2452326
In insert_book_data, IntegrityError Exception for book_id:  7670616
In insert_book_data, IntegrityError Exception for book_id:  3
In insert_book_data, IntegrityError Exception for book_id:  5907
In insert_book_data, IntegrityError Exception for book_id:  5
In insert_book_data, IntegrityError Exception for book_id:  15881
In insert_book_data, IntegrityError Exception for book_id:  6
In insert_book_data, IntegrityError Exception for book_id:  34
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13496', '0553588486', 'A Game of Thrones (A Song of Ice and Fire, #1)', 848.0, 4.45, '1585801', '37114', 'Bantam', 'Here is the first volume in George R. R. Martin’s magnificent cycle of novels that includes A Clash of Kings and A Storm of Swords. As a whole, this  ... (1491 characters truncated) ... ies hangs perilously in the balance, as each endeavors to win that deadliest of conflicts: the game of thrones.<br /><br />source: georgerrmartin.com')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2
In insert_book_data, IntegrityError Exception for book_id:  1
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('100915', None, 'The Lion, the Witch and the Wardrobe (Chronicles of Narnia, #1)', 206.0, 4.21, '1812094', '13824', 'HarperCollins Publishers', 'There are a thousand stories in the land of Narnia, and the first is about to be told in an extraordinary motion picture, The Chronicles of Narnia: T ... (918 characters truncated) ... ite Witch. But when almost all hope is lost, the return of the Great Lion, Aslan, signals a great change ... and a great sacrifice.<br />(back cover)')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  28187
In insert_book_data, IntegrityError Exception for book_id:  256683
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('113436', '0375826696', 'Eragon (The Inheritance Cycle, #1)', 503.0, 3.88, '1256705', '18128', 'Alfred A. Knopf', 'One boy...<br />One dragon...<br />A world of adventure.<br /><br /> When Eragon finds a polished blue stone in the forest, he thinks it is the lucky ... (531 characters truncated) ... g whose evil knows no bounds.<br /><br /> Can Eragon take up the mantle of the legendary Dragon Riders? The fate of the Empire may rest in his hands.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  49041
In insert_book_data, IntegrityError Exception for book_id:  428263
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9460487', None, "Miss Peregrine's Home for Peculiar Children (Miss Peregrine's Peculiar Children, #1)", 352.0, 3.91, '771836', '49537', 'Quirk', 'Alternate Cover edition for ISBN <a href="https://www.goodreads.com/book/show/25879546-miss-peregrine-s-home-for-peculiar-children" rel="nofollow">97 ... (841 characters truncated) ... ng vintage photography, Miss Peregrine\'s Home for Peculiar Children will delight adults, teens, and anyone who relishes an adventure in the shadows.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1162543
In insert_book_data, IntegrityError Exception for book_id:  119322

In insert_book_data, IntegrityError Exception for book_id:  21787
In insert_book_data, IntegrityError Exception for book_id:  10964
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('36381037', None, 'Cinder (The Lunar Chronicles, #1)', 400.0, 4.15, '97784', '4861', 'Feiwel & Friends', "<b>A forbidden romance.</b><br /><br /><b>A deadly plague.</b><br /><br /><b>Earth's fate hinges on one girl . . .</b><br /><br /><b>CINDER</b>, a gi ... (422 characters truncated) ... bout her mysterious past in order to protect Earth's future.<br /><br /><b>This is not the fairytale you remember. But it's one you won't forget.</b>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  30165203
In insert_book_data, IntegrityError Exception for book_id:  9361589
In insert_book_data, IntegrityError Exception for book_id:  7171637
In insert_book_data, IntegrityError Exception for book_id:  3777732
In insert_book_data, IntegrityError Exception for book_id:  10572
In insert_book_data, IntegrityError Exception for book_id:  29056083
In insert_book_data, IntegrityError Exception for book_id:  1582996
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('186074', '075640407X', 'The Name of the Wind (The Kingkiller Chronicle, #1)', 662.0, 4.55, '515009', '27526', 'Penguin Group DAW', "Told in Kvothe's own voice, this is the tale of the magically gifted young man who grows to be the most notorious wizard his world has ever seen. <br ... (364 characters truncated) ... action story written with a poet's hand, <i>The Name of the Wind</i> is a masterpiece that will transport readers into the body and mind of a wizard.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22328546
In insert_book_data, IntegrityError Exception for book_id:  7896527
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('15241', '0618346260', 'The Two Towers (The Lord of the Rings, #2)', 322.0, 4.44, '550173', '5413', 'Houghton Mifflin', 'The Fellowship was scattered. Some were bracing hopelessly for war against the ancient evil of Sauron. Some were contending with the treachery of the ... (253 characters truncated) ... the magnificent, bestselling tale of adventure begun in The Fellowship of the Ring, which reaches its soul-stirring climax in The Return of the King.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  62291
In insert_book_data, IntegrityError Exception for book_id:  28186
In insert_book_data, IntegrityError Exception for book_id:  6339664
In insert_book_data, IntegrityError Exception for book_id:  6304335
In insert_book_data, IntegrityError Exception for book_id:  2120932
In insert_book_data, IntegrityError Exception for book_id:  345627
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13497', '055358202X', 'A Feast for Crows (A Song of Ice and Fire, #4)', 1061.0, 4.13, '488364', '16535', 'Bantam Books', "<i>Crows will fight over a dead man's flesh, and kill each other for his eyes</i>.<br /><br />Bloodthirsty, treacherous and cunning, the Lannisters a ... (548 characters truncated) ...  a backdrop of incest and fratricide, alchemy and murder, victory will go to the men and women possessed of the coldest steel and the coldest hearts.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18512', '0345339738', 'The Return of the King (The Lord of the Rings, #3)', 490.0, 4.52, '529738', '5300', 'Del Rey', 'Alternate cover edition <a href="https://www.goodreads.com/book/show/13573878-the-return-of-the-king" rel="nofollow">here</a>.<br /><br />The Compani ... (920 characters truncated) ... c and diabolic, the narrative moves through countless changes of scene and character in an imaginary world which is totally convincing in its detail.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7736182
In insert_book_data, IntegrityError Exception for book_id:  561456
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('37442', '0060987103', 'Wicked: The Life and Times of the Wicked Witch of the West (The Wicked Years, #1)', 406.0, 3.53, '525075', '20971', 'William Morrow Paperbacks', "When Dorothy triumphed over the Wicked Witch of the West in L. Frank Baum's classic tale we heard only her side of the story. But what about her arch ... (941 characters truncated) ... oric world rich with imagination and allegory, Gregory Maguire just might change the reputation of one of the most sinister characters in literature.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15783514
In insert_book_data, IntegrityError Exception for book_id:  10664113
In insert_book_data, IntegrityError Exception for book_id:  6487308
In insert_book_data, IntegrityError Exception for book_id:  4556058
In insert_book_data, IntegrityError Exception for book_id:  6310
In insert_book_data, IntegrityError Exception for book_id:  33
In insert_book_data, IntegrityError Exception for book_id:  17061
In insert_book_data, IntegrityError Exception for book_id:  6068551
In insert_book_data, IntegrityError Exception for book_id:  12067
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('43615', None, 'The Gunslinger (The Dark Tower, #1)', 231.0, 3.96, '404801', '11962', 'Plume', 'In the first book of this brilliant series, Stephen King introduces readers to one of his most enigmatic heroes, Roland of Gilead, The Last Gunslinge ... (265 characters truncated) ... called Jake. Both grippingly realistic and eerily dreamlike, The Gunslinger leaves readers eagerly awaiting the next chapter.<br /><br />(back cover)')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  14497
In insert_book_data, IntegrityError Exception for book_id:  2213661
In insert_book_data, IntegrityError Exception for book_id:  11127
In insert_book_data, IntegrityError Exception for book_id:  6752378
In insert_book_data, IntegrityError Exception for book_id:  3236307
In insert_book_data, IntegrityError Exception for book_id:  249747
In insert_book_data, IntegrityError Exception for book_id:  8755776
In insert_book_data, IntegrityError Exception for book_id:  10025305
In insert_book_data, IntegrityError Exception for book_id:  301082
In insert_book_data, IntegrityError Exception for book_id:  24213
In insert_book_data, IntegrityError Exception for book_id:  13023
In insert_book_data, IntegrityError Exception for book_id:  43763
In insert_book_data, IntegrityError Exception for book_id:  16096824
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('8667848', '0670022411', 'A Discovery of Witches (All Souls Trilogy, #1)', 579.0, 4.0, '268357', '25865', 'Viking Penguin', "Deep in the stacks of Oxford's Bodleian Library, young scholar Diana Bishop unwittingly calls up a bewitched alchemical manuscript in the course of h ... (292 characters truncated) ... s soon descends upon the library. Diana has stumbled upon a coveted treasure lost for centuries-and she is the only creature who can break its spell.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8490112
In insert_book_data, IntegrityError Exception for book_id:  68428
In insert_book_data, IntegrityError Exception for book_id:  3950967
In insert_book_data, IntegrityError Exception for book_id:  30183
In insert_book_data, IntegrityError Exception for book_id:  12127750
In insert_book_data, IntegrityError Exception for book_id:  23437156
In insert_book_data, IntegrityError Exception for book_id:  9520360
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('236093', '0140621679', 'The Wonderful Wizard of Oz (Oz, #1)', 154.0, 3.99, '281089', '6774', 'Penguin', 'When Dorothy and her little dog Toto are caught in a tornado, they and their Kansas farmhouse are suddenly transported to Oz, where Munchkins live, m ... (371 characters truncated) ...  may hold the power to grant their every wish.<br /><br />Just as captivating as it was a hundred years ago, this is a story that all ages will love.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18335634
In insert_book_data, IntegrityError Exception for book_id:  228665
In insert_book_data, IntegrityError Exception for book_id:  17675462
In insert_book_data, IntegrityError Exception for book_id:  8755785
In insert_book_data, IntegrityError Exception for book_id:  1215032
In insert_book_data, IntegrityError Exception for book_id:  65605
In insert_book_data, IntegrityError Exception for book_id:  10194157

In insert_book_data, IntegrityError Exception for book_id:  24337
In insert_book_data, IntegrityError Exception for book_id:  28194
In insert_book_data, IntegrityError Exception for book_id:  7747374
In insert_book_data, IntegrityError Exception for book_id:  6689
In insert_book_data, IntegrityError Exception for book_id:  41899
In insert_book_data, IntegrityError Exception for book_id:  15839976
In insert_book_data, IntegrityError Exception for book_id:  140225
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6319', '0141311371', 'The BFG', 199.0, 4.22, '290617', '7050', 'Puffin Books', "Captured by a giant! The BFG is no ordinary bone-crunching giant. He is far too nice and jumbly. It's lucky for Sophie that he is. Had she been carri ... (225 characters truncated) ... sh-bunking off in England to swollomp a few nice little chiddlers, she decides she must stop them once and for all. And the BFG is going to help her!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13206760
In insert_book_data, IntegrityError Exception for book_id:  34497
In insert_book_data, IntegrityError Exception for book_id:  7235533
In insert_book_data, IntegrityError Exception for book_id:  7090447
In insert_book_data, IntegrityError Exception for book_id:  121749
In insert_book_data, IntegrityError Exception for book_id:  22055262
In insert_book_data, IntegrityError Exception for book_id:  20758104
In insert_book_data, IntegrityError Exception for book_id:  45978
In insert_book_data, IntegrityError Exception for book_id:  2802316
In insert_book_data, IntegrityError Exception for book_id:  34268
In insert_book_data, IntegrityError Exception for book_id:  17167166
In insert_book_data, IntegrityError Exception for book_id:  12578077
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6327', '0590032496', 'The Witches', 208.0, 4.17, '254574', '4874', 'Scholastic Inc.', "This is not a fairy-tale. This is about <i>real witches</i>. Real witches don't ride around on broomsticks. They don't even wear black cloaks and hat ... (195 characters truncated) ... ind out quickly-because there's nothing a witch loathes quite as much as children and she'll wield all kinds of terrifying powers to get rid of them.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13206828
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('41637836', None, 'The Subtle Knife (His Dark Materials, #2)', 370.0, 4.12, '11745', '263', 'RHCP Digital', 'ASIN moved from <a href="https://www.goodreads.com/book/show/24963098-the-subtle-knife" rel="nofollow"> this edition</a><br />The second instalment i ... (744 characters truncated) ... ry and devastating power.<br /><br />And with every step, they move closer to an even greater threat – and the shattering truth of their own destiny.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2282133
In insert_book_data, IntegrityError Exception for book_id:  29588376
In insert_book_data, IntegrityError Exception for book_id:  3975774
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('47212', '0451457811', 'Storm Front (The Dresden Files, #1)', 322.0, 4.02, '230719', '11310', 'Penguin ROC', '<b>HARRY DRESDEN — WIZARD</b><br /><br /><i>Lost Items Found. Paranormal Investigations. Consulting. Advice. Reasonable Rates. No Love Potions, Endle ... (698 characters truncated) ...  mage behind it. And now that mage knows Harry\'s name. And that\'s when things start to get interesting.<br /><br />Magic - it can get a guy killed.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6101718
In insert_book_data, IntegrityError Exception for book_id:  5364
In insert_book_data, IntegrityError Exception for book_id:  15863832
In insert_book_data, IntegrityError Exception for book_id:  37903770
In insert_book_data, IntegrityError Exception for book_id:  17927395
In insert_book_data, IntegrityError Exception for book_id:  3682
In insert_book_data, IntegrityError Exception for book_id:  25480342
In insert_book_data, IntegrityError Exception for book_id:  11408650
In insert_book_data, IntegrityError Exception for book_id:  2248573
In insert_book_data, IntegrityError Exception for book_id:  27774758
In insert_book_data, IntegrityError Exception for book_id:  30236962
In insert_book_data, IntegrityError Exception for book_id:  12127810
In insert_book_data, IntegrityError Exception for book_id:  13262783
In insert_book_data, IntegrityError Exception for book_id:  5996153
In insert_book_data, IntegrityError Exception for book_id:  7791997
In insert_book_data, IntegrityError Exception for book_id:  77197
In insert_book_data, IntegrityError Exception for book_id:  7733
In insert_book_data, IntegrityError Exception for book_id:  23164983
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('307791', '0375822747', 'The City of Ember', 270.0, 3.86, '217040', '9814', 'Yearling Books', '<i>An alternate cover edition can be found <a href="https://www.goodreads.com/book/show/33865597-the-city-of-ember" rel="nofollow">here</a>.</i><br / ... (452 characters truncated) ... e could be a way out of Ember. Can they decipher the words from long ago and find a new future for everyone? Will the people of Ember listen to them?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  20613470
In insert_book_data, IntegrityError Exception for book_id:  6479259
In insert_book_data, IntegrityError Exception for book_id:  6527740
In insert_book_data, IntegrityError Exception for book_id:  10576365
In insert_book_data, IntegrityError Exception for book_id:  10637766
In insert_book_data, IntegrityError Exception for book_id:  14201
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('84119', '0439861365', 'The Horse and His Boy (Chronicles of Narnia, #5)', 224.0, 3.91, '214371', '4246', 'Scholastic Inc', '<i>The Horse and his Boy</i> is a stirring and dramatic fantasy story that finds a young boy named Shasta on the run from his homeland with the talki ... (63 characters truncated) ... ormen people to conquer the land of Narnia, the race is on to warn the inhabitants of the impending danger and to rescue them all from certain death.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10987
In insert_book_data, IntegrityError Exception for book_id:  7332
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13642', '0553383043', 'A Wizard of Earthsea (Earthsea Cycle, #1)', 183.0, 4.0, '180987', '5367', 'Bantam Spectra', "Ged, the greatest sorcerer in all Earthsea, was called Sparrowhawk in his reckless youth. <br /><br />Hungry for power and knowledge, Sparrowhawk tam ... (79 characters truncated) ... is the tale of his testing, how he mastered the mighty words of power, tamed an ancient dragon, and crossed death's threshold to restore the balance.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  18122
In insert_book_data, IntegrityError Exception for book_id:  18006496
In insert_book_data, IntegrityError Exception for book_id:  13206900
In insert_book_data, IntegrityError Exception for book_id:  6690798
In insert_book_data, IntegrityError Exception for book_id:  52357
In insert_book_data, IntegrityError Exception for book_id:  32768522
In insert_book_data, IntegrityError Exception for book_id:  23174274
In insert_book_data, IntegrityError Exception for book_id:  15704307
In insert_book_data, IntegrityError Exception for book_id:  68429

In insert_book_data, IntegrityError Exception for book_id:  862041
In insert_book_data, IntegrityError Exception for book_id:  7488244
In insert_book_data, IntegrityError Exception for book_id:  8709527
In insert_book_data, IntegrityError Exception for book_id:  23766634
In insert_book_data, IntegrityError Exception for book_id:  23754
In insert_book_data, IntegrityError Exception for book_id:  65641
In insert_book_data, IntegrityError Exception for book_id:  7740152
In insert_book_data, IntegrityError Exception for book_id:  676924
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('378', '0394820371', 'The Phantom Tollbooth', 256.0, 4.21, '205906', '8274', 'Random House Bullseye Books', '<i>Librarian\'s Note: For an alternate cover edition of the same ISBN, click <a href="https://www.goodreads.com/book/show/33555595-the-phantom-tollbo ... (635 characters truncated) ...  Reason! Somewhere along the way, Milo realizes something astonishing. Life is far from dull. In fact, it’s exciting beyond his wildest dreams. . . .')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6294
In insert_book_data, IntegrityError Exception for book_id:  13152
In insert_book_data, IntegrityError Exception for book_id:  18705209
In insert_book_data, IntegrityError Exception for book_id:  140077
In insert_book_data, IntegrityError Exception for book_id:  13538873
In insert_book_data, IntegrityError Exception for book_id:  43889
In insert_book_data, IntegrityError Exception for book_id:  2767793
In insert_book_data, IntegrityError Exception for book_id:  84981
In insert_book_data, IntegrityError Exception for book_id:  84369
In insert_book_data, IntegrityError Exception for book_id:  40605251
In insert_book_data, IntegrityError Exception for book_id:  11250317
In insert_book_data, IntegrityError Exception for book_id:  1326258
In insert_book_data, IntegrityError Exception for book_id:  40909452
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2744', '0060515198', 'Anansi Boys', 387.0, 4.02, '153296', '6971', 'HarperCollins HarperTorch', "<strong>God is dead. Meet the kids.</strong><br /><br />Fat Charlie Nancy's normal life ended the moment his father dropped dead on a Florida karaoke ... (64 characters truncated) ...  he had a brother. <br /><br />Now brother Spider's on his doorstep -- about to make Fat Charlie's life more interesting... and a lot more dangerous.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  110494
In insert_book_data, IntegrityError Exception for book_id:  22544764
In insert_book_data, IntegrityError Exception for book_id:  8695
In insert_book_data, IntegrityError Exception for book_id:  5287473
In insert_book_data, IntegrityError Exception for book_id:  2866718
In insert_book_data, IntegrityError Exception for book_id:  518848
In insert_book_data, IntegrityError Exception for book_id:  5659
In insert_book_data, IntegrityError Exception for book_id:  5094
In insert_book_data, IntegrityError Exception for book_id:  28260587
In insert_book_data, IntegrityError Exception for book_id:  27883214
In insert_book_data, IntegrityError Exception for book_id:  15724396
In insert_book_data, IntegrityError Exception for book_id:  140082
In insert_book_data, IntegrityError Exception for book_id:  544891
In insert_book_data, IntegrityError Exception for book_id:  11594257
In insert_book_data, IntegrityError Exception for book_id:  2800905
In insert_book_data, IntegrityError Exception for book_id:  60510
In insert_book_data, IntegrityError Exception for book_id:  22917
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('944073', '0575079797', 'The Blade Itself (The First Law, #1)', 515.0, 4.15, '119515', '5490', 'Gollancz', "Logen Ninefingers, infamous barbarian, has finally run out of luck. Caught in one feud too many, he’s on the verge of becoming a dead barbarian – lea ... (1064 characters truncated) ... onspiracies rise to the surface, old scores are ready to be settled, and the line between hero and villain is sharp enough to draw blood.<br /><br />")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  29363501
In insert_book_data, IntegrityError Exception for book_id:  233649
In insert_book_data, IntegrityError Exception for book_id:  305234
In insert_book_data, IntegrityError Exception for book_id:  10967
In insert_book_data, IntegrityError Exception for book_id:  170210
In insert_book_data, IntegrityError Exception for book_id:  19161852
In insert_book_data, IntegrityError Exception for book_id:  17402605
In insert_book_data, IntegrityError Exception for book_id:  6137154
In insert_book_data, IntegrityError Exception for book_id:  25489134
In insert_book_data, IntegrityError Exception for book_id:  9378297
In insert_book_data, IntegrityError Exception for book_id:  3227063
In insert_book_data, IntegrityError Exception for book_id:  26032825
In insert_book_data, IntegrityError Exception for book_id:  22299763
In insert_book_data, IntegrityError Exception for book_id:  20821111
In insert_book_data, IntegrityError Exception for book_id:  112750
In insert_book_data, IntegrityError Exception for book_id:  7937462
In insert_book_data, IntegrityError Exception for book_id:  71811
In insert_book_data, IntegrityError Exception for book_id:  140075
In insert_book_data, IntegrityError Exception for book_id:  17182126
In insert_book_data, IntegrityError Exception for book_id:  140079
In insert_book_data, IntegrityError Exception for book_id:  34897
In insert_book_data, IntegrityError Exception for book_id:  34084
In insert_book_data, IntegrityError Exception for book_id:  4502877
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('33597976', None, 'The Snow Child', 404.0, 3.97, '6208', '664', None, "Alaska, 1920: a brutal place to homestead, and especially tough for recent arrivals Jack and Mabel. Childless, they are drifting apart--he breaking u ... (631 characters truncated) ... ughter. But in this beautiful, violent place things are rarely as they appear, and what they eventually learn about Faina will transform all of them.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  386372
In insert_book_data, IntegrityError Exception for book_id:  78418
In insert_book_data, IntegrityError Exception for book_id:  68427
In insert_book_data, IntegrityError Exception for book_id:  18798983
In insert_book_data, IntegrityError Exception for book_id:  9067850
In insert_book_data, IntegrityError Exception for book_id:  5899779
In insert_book_data, IntegrityError Exception for book_id:  14061955
In insert_book_data, IntegrityError Exception for book_id:  11559200
In insert_book_data, IntegrityError Exception for book_id:  16069030
In insert_book_data, IntegrityError Exception for book_id:  6654313
In insert_book_data, IntegrityError Exception for book_id:  41044147
In insert_book_data, IntegrityError Exception for book_id:  2233407
In insert_book_data, IntegrityError Exception for book_id:  43814
In insert_book_data, IntegrityError Exception for book_id:  18966819
In insert_book_data, IntegrityError Exception for book_id:  5161066
In insert_book_data, IntegrityError Exception for book_id:  28449207
In insert_book_data, IntegrityError Exception for book_id:  30226723
In insert_book_data, IntegrityError Exception for book_id:  9369720
In insert_book_data, IntegrityError Exception for book_id:  17332218
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('27712', '0525457585', 'The Neverending Story', 396.0, 4.18, '119996', '3431', "Dutton Children's Books", "This epic work of the imagination has captured the hearts of millions of readers worldwide since it was first published more than a decade ago. Its s ... (697 characters truncated) ... n heart. <br /><br />Readers, too, can travel to the wondrous, unforgettable world of Fantastica if they will just turn the page...<br />--front flap")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9565548
In insert_book_data, IntegrityError Exception for book_id:  12751687
In insert_book_data, IntegrityError Exception for book_id:  4134071

In insert_book_data, IntegrityError Exception for book_id:  10965
In insert_book_data, IntegrityError Exception for book_id:  872333
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('5096', '0340829788', 'Wizard and Glass (The Dark Tower, #4)', 845.0, 4.25, '122610', '3390', 'New English Library', 'Roland, Eddie, Susannah, Jake, and Jake’s pet bumbler survive Blaine the Mono’s final crash, only to find themselves stranded in an alternate version ... (644 characters truncated) ... battled the forces of John Farson, the harrier who—with a little help from a seeing sphere called Maerlyn’s Grapefruit—ignited Mid-World’s final war.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  35729
In insert_book_data, IntegrityError Exception for book_id:  7108001
In insert_book_data, IntegrityError Exception for book_id:  12812550
In insert_book_data, IntegrityError Exception for book_id:  9680718
In insert_book_data, IntegrityError Exception for book_id:  18584855
In insert_book_data, IntegrityError Exception for book_id:  1421990
In insert_book_data, IntegrityError Exception for book_id:  13188676
In insert_book_data, IntegrityError Exception for book_id:  40874032
In insert_book_data, IntegrityError Exception for book_id:  6262365
In insert_book_data, IntegrityError Exception for book_id:  16054217
In insert_book_data, IntegrityError Exception for book_id:  438492
In insert_book_data, IntegrityError Exception for book_id:  6050678
In insert_book_data, IntegrityError Exception for book_id:  18423
In insert_book_data, IntegrityError Exception for book_id:  17347389
In insert_book_data, IntegrityError Exception for book_id:  7728889
In insert_book_data, IntegrityError Exception for book_id:  4978
In insert_book_data, IntegrityError Exception for book_id:  33590260
In insert_book_data, IntegrityError Exception for book_id:  111450
In insert_book_data, IntegrityError Exception for book_id:  7091488
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('64216', '0061020648', 'Guards! Guards! (Discworld, #8; City Watch #1)', 376.0, 4.33, '127269', '2412', 'HarperTorch', 'Here there be dragons . . . and the denizens of Ankh-Morpork wish one huge firebreather would return from whence it came. Long believed extinct, a su ... (651 characters truncated) ... o dethrone the flying monarch and restore order to Ankh-Morpork (before it\'s burned to a crisp). A rare tale, well done as only Terry Pratchett can.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16429619
In insert_book_data, IntegrityError Exception for book_id:  44652
In insert_book_data, IntegrityError Exception for book_id:  37190
In insert_book_data, IntegrityError Exception for book_id:  7842288
In insert_book_data, IntegrityError Exception for book_id:  9822
In insert_book_data, IntegrityError Exception for book_id:  15819028
In insert_book_data, IntegrityError Exception for book_id:  9539
In insert_book_data, IntegrityError Exception for book_id:  14061957
In insert_book_data, IntegrityError Exception for book_id:  21326
In insert_book_data, IntegrityError Exception for book_id:  10429092
In insert_book_data, IntegrityError Exception for book_id:  6325285
In insert_book_data, IntegrityError Exception for book_id:  2832909
In insert_book_data, IntegrityError Exception for book_id:  5091
In insert_book_data, IntegrityError Exception for book_id:  22864842
In insert_book_data, IntegrityError Exception for book_id:  20819685
In insert_book_data, IntegrityError Exception for book_id:  26252859
In insert_book_data, IntegrityError Exception for book_id:  7719245
In insert_book_data, IntegrityError Exception for book_id:  13047090
In insert_book_data, IntegrityError Exception for book_id:  18966806
In insert_book_data, IntegrityError Exception for book_id:  18243700
In insert_book_data, IntegrityError Exception for book_id:  21535271
In insert_book_data, IntegrityError Exception for book_id:  152380
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('46306', '0517092913', 'The Complete Fairy Tales', 803.0, 4.28, '95689', '435', 'Gramercy Books', None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13138635
In insert_book_data, IntegrityError Exception for book_id:  6091075
In insert_book_data, IntegrityError Exception for book_id:  33574273
In insert_book_data, IntegrityError Exception for book_id:  30281
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('29127', '0451450523', 'The Last Unicorn (The Last Unicorn, #1)', 294.0, 4.18, '82533', '3021', 'Penguin Roc', 'She was magical, beautiful beyond belief -- and completely alone...<br /><br />The unicorn had lived since before memory in a forest where death coul ... (361 characters truncated) ...  even her immortal wisdom meant nothing in a world where a mad king\'s curse and terror incarnate lived only to stalk the last unicorn to her doom...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10215349
In insert_book_data, IntegrityError Exception for book_id:  28954189
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('19549841', None, 'Seraphina (Seraphina, #1)', 499.0, 3.97, '41599', '2912', 'Random House Books for Young Readers', '<i>Librarian Note: Alternate cover edition for ISBN <a href="https://www.goodreads.com/book/show/12394100-seraphina" rel="nofollow">9780375866562</a> ... (981 characters truncated) ... eace, Seraphina struggles to protect her own secret, the secret behind her musical gift, one so terrible that its discovery could mean her very life.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6381205
In insert_book_data, IntegrityError Exception for book_id:  12930
In insert_book_data, IntegrityError Exception for book_id:  12893742
In insert_book_data, IntegrityError Exception for book_id:  30312891
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('55399', '0765348780', 'Gardens of the Moon (Malazan Book of the Fallen, #1)', 666.0, 3.88, '67470', '3680', 'Tor Books', "The Malazan Empire simmers with discontent, bled dry by interminable warfare, bitter infighting and bloody confrontations with the formidable Anomand ... (786 characters truncated) ... ritten on a panoramic scale, <em>Gardens of the Moon</em> is epic fantasy of the highest order--an enthralling adventure by an outstanding new voice.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  448873
In insert_book_data, IntegrityError Exception for book_id:  10803121
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2548866', None, "James Potter and the Hall of Elders' Crossing (James Potter, #1)", 391.0, 3.78, '21800', '2484', 'G. Norman Lippert', 'What’s it like to be the son of the most famous wizard of all time?<br /><br />James Potter thinks he knows, but as he begins his own adventure at Ho ... (516 characters truncated) ... st race to stop a war that could change the world forever. His only hope is to learn the difference between being a hero and being the son of a hero.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  659469
In insert_book_data, IntegrityError Exception for book_id:  9409458
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('10374', None, 'Hard-Boiled Wonderland and the End of the World', 400.0, 4.15, '74281', '3523', 'Vintage', "'A narrative particle accelerator that zooms between Wild Turkey Whiskey and Bob Dylan, unicorn skulls and voracious librarians, John Coltrane and <i ... (277 characters truncated) ...  the Kafkaesque underworld of contemporary Tokyo, Murakami unites East and West, tragedy and farce, compassion and detachment, slang and philosophy.'")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  38619
In insert_book_data, IntegrityError Exception for book_id:  43545
In insert_book_data, IntegrityError Exception for book_id:  61975
In insert_book_data, IntegrityError Exception for book_id:  22489107
In insert_book_data, IntegrityError Exception for book_id:  43758
In insert_book_data, IntegrityError Exception for book_id:  8659601
In insert_book_data, IntegrityError Exception for book_id:  60400
In insert_book_data, IntegrityError Exception for book_id:  28374007
In insert_book_data, IntegrityError Exception for book_id:  5093
In insert_book_data, IntegrityError Exception for book_id:  6342491
In insert_book_data, IntegrityError Exception for book_id:  8705784
In insert_book_data, IntegrityError Exception for book_id:  27003
In insert_book_data, IntegrityError Exception for book_id:  30117284
In insert_book_data, IntegrityError Exception for book_id:  20764879
In insert_book_data, IntegrityError Exception for book_id:  9579634
In insert_book_data, IntegrityError Exception for book_id:  91477
In insert_book_data, IntegrityError Exception for book_id:  25300956
In insert_book_data, IntegrityError Exception for book_id:  40603587
In insert_book_data, IntegrityError Exception for book_id:  11808950
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3432478', '0575090855', 'The Forest of Hands and Teeth (The Forest of Hands and Teeth, #1)', 310.0, 3.59, '67411', '6223', 'Gollancz', "In Mary's world there are simple truths. The Sisterhood always knows best. The Guardians will protect and serve. The Unconsecrated will never relent. ... (501 characters truncated) ...  one who loves her. And she must face the truth about the Forest of Hands and Teeth. Could there be life outside a world surrounded by so much death?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  31450852

In insert_book_data, IntegrityError Exception for book_id:  34507
In insert_book_data, IntegrityError Exception for book_id:  248596
In insert_book_data, IntegrityError Exception for book_id:  13362536
In insert_book_data, IntegrityError Exception for book_id:  7747064
In insert_book_data, IntegrityError Exception for book_id:  3428935
In insert_book_data, IntegrityError Exception for book_id:  13831
In insert_book_data, IntegrityError Exception for book_id:  769483
In insert_book_data, IntegrityError Exception for book_id:  10626594
In insert_book_data, IntegrityError Exception for book_id:  60931
In insert_book_data, IntegrityError Exception for book_id:  12680907
In insert_book_data, IntegrityError Exception for book_id:  11607446
In insert_book_data, IntegrityError Exception for book_id:  114955
In insert_book_data, IntegrityError Exception for book_id:  7402393
In insert_book_data, IntegrityError Exception for book_id:  6587879
In insert_book_data, IntegrityError Exception for book_id:  34002132
In insert_book_data, IntegrityError Exception for book_id:  22522808
In insert_book_data, IntegrityError Exception for book_id:  7981206
In insert_book_data, IntegrityError Exception for book_id:  13895
In insert_book_data, IntegrityError Exception for book_id:  17378508
In insert_book_data, IntegrityError Exception for book_id:  334123
In insert_book_data, IntegrityError Exception for book_id:  179064
In insert_book_data, IntegrityError Exception for book_id:  30264
In insert_book_data, IntegrityError Exception for book_id:  7165300
In insert_book_data, IntegrityError Exception for book_id:  33456
In insert_book_data, IntegrityError Exception for book_id:  12954620
In insert_book_data, IntegrityError Exception for book_id:  10757833
In insert_book_data, IntegrityError Exception for book_id:  8709523
In insert_book_data, IntegrityError Exception for book_id:  19351043
In insert_book_data, IntegrityError Exception for book_id:  11901
In insert_book_data, IntegrityError Exception for book_id:  27266
In insert_book_data, IntegrityError Exception for book_id:  17399160
In insert_book_data, IntegrityError Exception for book_id:  15839984
In insert_book_data, IntegrityError Exception for book_id:  15729539
In insert_book_data, IntegrityError Exception for book_id:  17378527
In insert_book_data, IntegrityError Exception for book_id:  91476
In insert_book_data, IntegrityError Exception for book_id:  12180581
In insert_book_data, IntegrityError Exception for book_id:  35231
In insert_book_data, IntegrityError Exception for book_id:  24934065
In insert_book_data, IntegrityError Exception for book_id:  16303287
In insert_book_data, IntegrityError Exception for book_id:  59219
In insert_book_data, IntegrityError Exception for book_id:  13139
In insert_book_data, IntegrityError Exception for book_id:  5391115
In insert_book_data, IntegrityError Exception for book_id:  8253920
In insert_book_data, IntegrityError Exception for book_id:  6468666
In insert_book_data, IntegrityError Exception for book_id:  40642172
In insert_book_data, IntegrityError Exception for book_id:  42898
In insert_book_data, IntegrityError Exception for book_id:  13618440
In insert_book_data, IntegrityError Exception for book_id:  29396
In insert_book_data, IntegrityError Exception for book_id:  304027
In insert_book_data, IntegrityError Exception for book_id:  150739
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18130', None, 'A Wind in the Door (Time Quintet, #2)', 203.0, 4.04, '96156', '2295', 'Dell Laurel-Leaf', "<b>Every time a star goes out, another Echthros has won a battle.</b><br /><br />Just before Meg Murry's little brother, Charles Wallace, falls death ... (287 characters truncated) ... s Wallace to attempt to defeat the Echthroi—those who hate—and restore brilliant harmony and joy to the rhythm of creation, the song of the universe.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13324841
In insert_book_data, IntegrityError Exception for book_id:  8685612
In insert_book_data, IntegrityError Exception for book_id:  13890
In insert_book_data, IntegrityError Exception for book_id:  227865
In insert_book_data, IntegrityError Exception for book_id:  25558608
In insert_book_data, IntegrityError Exception for book_id:  28195
In insert_book_data, IntegrityError Exception for book_id:  106
In insert_book_data, IntegrityError Exception for book_id:  12971616
In insert_book_data, IntegrityError Exception for book_id:  29939230
In insert_book_data, IntegrityError Exception for book_id:  21414439
In insert_book_data, IntegrityError Exception for book_id:  91478
In insert_book_data, IntegrityError Exception for book_id:  85990
In insert_book_data, IntegrityError Exception for book_id:  259836
In insert_book_data, IntegrityError Exception for book_id:  569429
In insert_book_data, IntegrityError Exception for book_id:  34506
In insert_book_data, IntegrityError Exception for book_id:  13643567
In insert_book_data, IntegrityError Exception for book_id:  27188596
In insert_book_data, IntegrityError Exception for book_id:  17234658
In insert_book_data, IntegrityError Exception for book_id:  4932435
In insert_book_data, IntegrityError Exception for book_id:  11918
In insert_book_data, IntegrityError Exception for book_id:  162898
In insert_book_data, IntegrityError Exception for book_id:  51428
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('76620', '038039586X', 'Watership Down (Watership Down, #1)', 478.0, 4.06, '338721', '9551', 'Avon Books', '<i>Librarian\'s note: See alternate cover edition of ISBN13 9780380395866 <a href="https://www.goodreads.com/book/show/9514847-watership-down" rel="n ... (338 characters truncated) ... r native Sandleford Warren through the harrowing trials posed by predators and adversaries, to a mysterious promised land and a more perfect society.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7996
In insert_book_data, IntegrityError Exception for book_id:  20578940
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22522805', '030727103X', 'The Buried Giant', 317.0, 3.48, '43587', '6292', 'Knopf', '"You\'ve long set your heart against it, Axl, I know. But it\'s time now to think on it anew. There\'s a journey we must go on, and no more delay..." ... (161 characters truncated) ... br /><br />Sometimes savage, often intensely moving, Kazuo Ishiguro\'s first novel in nearly a decade is about lost memories, love, revenge, and war.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17199504
In insert_book_data, IntegrityError Exception for book_id:  9462795
In insert_book_data, IntegrityError Exception for book_id:  6693
In insert_book_data, IntegrityError Exception for book_id:  25526296
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('21032488', '0575081449', 'Doors of Stone (The Kingkiller Chronicle, #3)', 896.0, 3.88, '2763', '423', None, 'The eagerly awaited third book of The Kingkiller Chronicle.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10407279
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('15575', '1857231511', 'The Sword of Shannara (The Original Shannara Trilogy, #1)', 726.0, 3.76, '66738', '2714', 'Orbit', 'Living in peaceful Shady Vale, Shea Ohmsford knew little of the troubles that plagued the rest of the world. Then the giant, forbidding Allanon reval ... (274 characters truncated) ...  Skull Bearer, dread minion of Evil, flew into the Vale, seeking to destroy Shea. To save the Vale, Shea fled, drawing the Skull Bearer after him....')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  27190613
In insert_book_data, IntegrityError Exception for book_id:  9917938
In insert_book_data, IntegrityError Exception for book_id:  262430
In insert_book_data, IntegrityError Exception for book_id:  5098079
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('10611', '0751504572', 'The Eyes of the Dragon', 427.0, 3.93, '80245', '2527', 'Time Warner Paperbacks', "Once upon a time, in the Kingdom of Delain, King Roland is murdered and his son and heir, Peter, is framed for the crime. Peter and his loyal friends ... (122 characters truncated) ...  escape plan that will take him years to execute before taking on Flagg, the powerful sorcerer who has masterminded this coup.<br />(StephenKing.com)")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8428064

In insert_book_data, IntegrityError Exception for book_id:  7046495
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1268479', None, 'Warbreaker (Warbreaker, #1)', 688.0, 4.25, '73328', '4476', 'Self-published', "This is the story of two sisters, who happen to be princesses. Theirs is a world in which those who die in glory return as gods to live confined to a ... (33 characters truncated) ...  city. A world transformed by a power based on an essence known as breath. Using magic is arduous as breath can only be collected one unit at a time.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  784911
In insert_book_data, IntegrityError Exception for book_id:  12432220
In insert_book_data, IntegrityError Exception for book_id:  1240662
In insert_book_data, IntegrityError Exception for book_id:  30
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35066358', None, 'The First Fifteen Lives of Harry August', 417.0, 4.04, '6658', '709', None, 'Some stories cannot be told in just one lifetime. Harry August is on his deathbed. Again. No matter what he does or the decisions he makes, when deat ... (321 characters truncated) ... e." This is the story of what Harry does next, and what he did before, and how he tries to save a past he cannot change and a future he cannot allow.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  140974
In insert_book_data, IntegrityError Exception for book_id:  476543
In insert_book_data, IntegrityError Exception for book_id:  9462812
In insert_book_data, IntegrityError Exception for book_id:  33396914
In insert_book_data, IntegrityError Exception for book_id:  8709526
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1158967', '0553805487', 'Garden Spells (Waverley Family, #1)', None, 4.07, '70742', '8310', None, "The women of the Waverley family -- whether they like it or not -- are heirs to an unusual legacy, one that grows in a fenced plot behind their Queen ... (1548 characters truncated) ... ousin Evanelle, endowed with her own uncanny skills, the Waverley women redeem the past, embrace the present, and take a joyful leap into the future.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('46777', '0689867042', 'Tithe: A Modern Faerie Tale (Modern Faerie Tales, #1)', 332.0, 3.73, '62328', '3169', 'Simon Pulse', "<b>Welcome to the realm of very scary faeries!</b><br /><br />Sixteen-year-old Kaye is a modern nomad. Fierce and independent, she travels from city  ... (166 characters truncated) ... soon finds herself an unwilling pawn in an ancient power struggle between two rival faerie kingdoms - a struggle that could very well mean her death.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16150830
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('77276', '0440401585', 'A Swiftly Tilting Planet (Time Quintet, #3)', 278.0, 4.12, '88171', '1532', 'Dell Publishing Co., Inc.', '<b>Wind, unicorn, and boy merged into a single swiftness.</b><br /><br />When fifteen-year-old Charles Wallace Murry shouts out an ancient rune meant ... (231 characters truncated) ... he past when the entire course of events leading to the present can be changed, and the future of Earth - this small, swiftly tilting planet - saved.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13281368
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3090465', '0739352350', 'The Twilight Saga (Twilight, #1-4)', 65.0, 3.89, '95006', '3459', None, None)] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7778981
In insert_book_data, IntegrityError Exception for book_id:  7743175
In insert_book_data, IntegrityError Exception for book_id:  91479
In insert_book_data, IntegrityError Exception for book_id:  69136
In insert_book_data, IntegrityError Exception for book_id:  7304203
In insert_book_data, IntegrityError Exception for book_id:  20983362
In insert_book_data, IntegrityError Exception for book_id:  12558285
In insert_book_data, IntegrityError Exception for book_id:  9317452
In insert_book_data, IntegrityError Exception for book_id:  25100
In insert_book_data, IntegrityError Exception for book_id:  28421168
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3217221', '1600102379', 'Welcome to Lovecraft (Locke & Key, #1)', 168.0, 4.14, '59480', '3211', 'IDW Publishing', 'Locke &amp; Key tells of Keyhouse, an unlikely New England mansion, with fantastic doors that transform all who dare to walk through them. Home to a hate-filled and relentless creature that will not rest until it forces open the most terrible door of them all...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13891
In insert_book_data, IntegrityError Exception for book_id:  9284655
In insert_book_data, IntegrityError Exception for book_id:  7933617
In insert_book_data, IntegrityError Exception for book_id:  9659607
In insert_book_data, IntegrityError Exception for book_id:  64222
In insert_book_data, IntegrityError Exception for book_id:  112
In insert_book_data, IntegrityError Exception for book_id:  20727654
In insert_book_data, IntegrityError Exception for book_id:  13541056
In insert_book_data, IntegrityError Exception for book_id:  6202342
In insert_book_data, IntegrityError Exception for book_id:  13644052
In insert_book_data, IntegrityError Exception for book_id:  10079321
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13888', '0812577566', 'Knife of Dreams (Wheel of Time, #11)', 860.0, 4.14, '79789', '1414', 'Tom Doherty Associates', "The dead are walking, men die impossible deaths, and it seems as though reality itself has become unstable: All are signs of the imminence of Tarmon  ... (738 characters truncated) ... e of safety. Now Rand, Perrin and Mat, Egwene and Elayne, Nynaeve and Lan, and even Loial, must ride those storm winds, or the Dark One will triumph.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  28876
In insert_book_data, IntegrityError Exception for book_id:  8788554
In insert_book_data, IntegrityError Exception for book_id:  99383
In insert_book_data, IntegrityError Exception for book_id:  6687
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('34494', '0060012382', 'The Wee Free Men (Discworld, #30; Tiffany Aching, #1)', 390.0, 4.27, '72641', '2686', 'HarperTrophy', '<i>"Another world is colliding with this one," said the toad. "All the monsters are coming back."<br /><br />"Why?" said Tiffany.<br /><br />"There\' ... (1028 characters truncated) ... ie Medalist Terry Pratchett returns to his internationally popular Discworld with a breathtaking tale certain to leave fans, new and old, enthralled.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7930335
In insert_book_data, IntegrityError Exception for book_id:  47624
In insert_book_data, IntegrityError Exception for book_id:  25689074
In insert_book_data, IntegrityError Exception for book_id:  2402971
In insert_book_data, IntegrityError Exception for book_id:  348573
In insert_book_data, IntegrityError Exception for book_id:  40604556
In insert_book_data, IntegrityError Exception for book_id:  9615347
In insert_book_data, IntegrityError Exception for book_id:  84136
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('44659', '0345468643', 'Pawn of Prophecy (The Belgariad, #1)', None, 4.16, '75763', '1955', None, "A magnificent epic set against a history of seven thousand years of the struggles of Gods and Kings and men - of strange lands and events - of fate a ... (690 characters truncated) ... hile his dreams of innocence were safe, untroubled by knowledge of his strange heritage. For a little while... THUS BEGINS BOOK ONE OF THE BELGARIAD'")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  285205
In insert_book_data, IntegrityError Exception for book_id:  2722413
In insert_book_data, IntegrityError Exception for book_id:  6134826
In insert_book_data, IntegrityError Exception for book_id:  2355575
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24830', '000712774X', 'The Illustrated Man', 186.0, 4.14, '56528', '1933', 'Voyager Classics / Harper Collins', 'That <i>The Illustrated Man</i> has remained in print since being published in 1951 is fair testimony to the universal appeal of Ray Bradbury\'s work ... (2146 characters truncated) ...  <br />· Zero Hour · ss Planet Stories Fll ’47 <br />· The Rocket [“Outcast of the Stars”] · ss Super Science Stories Mar ’50 <br />· Epilogue · aw *')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  902715
In insert_book_data, IntegrityError Exception for book_id:  22910900
In insert_book_data, IntegrityError Exception for book_id:  6261522
In insert_book_data, IntegrityError Exception for book_id:  33676
In insert_book_data, IntegrityError Exception for book_id:  5056084
In insert_book_data, IntegrityError Exception for book_id:  91475
In insert_book_data, IntegrityError Exception for book_id:  27904311
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('47989', '055215430X', 'Night Watch (Discworld, #29; City Watch, #6)', None, 4.49, '77654', '1358', None, "<i>'Don't put your trust in revolutions. They always come round again. That's why they're called revolutions. People die, and nothing changes.'</i><b ... (273 characters truncated) ... rising...And the question for a policeman, an officer of the law, a defender of the peace, is:<br /><br />Are you with them, or are you against them?")] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  234184
In insert_book_data, IntegrityError Exception for book_id:  42080479
In insert_book_data, IntegrityError Exception for book_id:  444304
In insert_book_data, IntegrityError Exception for book_id:  9533378
In insert_book_data, IntegrityError Exception for book_id:  3819326
In insert_book_data, IntegrityError Exception for book_id:  18659623
In insert_book_data, IntegrityError Exception for book_id:  24780
In insert_book_data, IntegrityError Exception for book_id:  106085
In insert_book_data, IntegrityError Exception for book_id:  15985348
In insert_book_data, IntegrityError Exception for book_id:  34128219
In insert_book_data, IntegrityError Exception for book_id:  334643
In insert_book_data, IntegrityError Exception for book_id:  17683
In insert_book_data, IntegrityError Exception for book_id:  13569581
In insert_book_data, IntegrityError Exception for book_id:  13595639
In insert_book_data, IntegrityError Exception for book_id:  13667
In insert_book_data, IntegrityError Exception for book_id:  144349
In insert_book_data, IntegrityError Exception for book_id:  83346
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('125404', '0007148984', 'The Indian in the Cupboard', 192.0, 3.9, '83399', '1622', 'Collins', "At first, Omri is unimpressed with the plastic Indian toy he is given for his birthday. But when he puts it in his old cupboard and turns the key, something extraordinary happens that will change Omri's life for ever. <br />For Little Bear, the Iroquois Indian brave, comes to life...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1412138
In insert_book_data, IntegrityError Exception for book_id:  9681214
In insert_book_data, IntegrityError Exception for book_id:  8492319
In insert_book_data, IntegrityError Exception for book_id:  16065004
In insert_book_data, IntegrityError Exception for book_id:  597790
In insert_book_data, IntegrityError Exception for book_id:  12341557
In insert_book_data, IntegrityError Exception for book_id:  12813630
In insert_book_data, IntegrityError Exception for book_id:  113435
In insert_book_data, IntegrityError Exception for book_id:  344262
In insert_book_data, IntegrityError Exception for book_id:  3992598
In insert_book_data, IntegrityError Exception for book_id:  6581511
In insert_book_data, IntegrityError Exception for book_id:  9591398
In insert_book_data, IntegrityError Exception for book_id:  6448470
In insert_book_data, IntegrityError Exception for book_id:  13812
In insert_book_data, IntegrityError Exception for book_id:  944076
In insert_book_data, IntegrityError Exception for book_id:  10929432
In insert_book_data, IntegrityError Exception for book_id:  927979
In insert_book_data, IntegrityError Exception for book_id:  6437061
In insert_book_data, IntegrityError Exception for book_id:  11563110
In insert_book_data, IntegrityError Exception for book_id:  20958632
In insert_book_data, IntegrityError Exception for book_id:  25350
In insert_book_data, IntegrityError Exception for book_id:  20758103
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3128411', '1841496863', 'Bone Crossed (Mercy Thompson, #4)', 300.0, 4.34, '75779', '1715', 'Orbit', "By day, Mercy is a car mechanic in the sprawling Tri-Cities of Eastern Washington. By night, she explores her preternatural side. As a shapeshifter w ... (371 characters truncated) ... by the werewolf pack (and her close relationship with its sexy Alpha), it won't be Mercy's blood Marsilia is after.<br /><br />It'll be her friends'.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  91474
In insert_book_data, IntegrityError Exception for book_id:  1857440
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('12111823', '0002247410', 'The Winds of Winter (A Song of Ice and Fire, #6)', None, 4.41, '6354', '381', 'HarperVoyager', '<i>The Winds of Winter</i> is the forthcoming sixth novel in the epic fantasy series <i>A Song of Ice and Fire</i> by George R.R. Martin.<br /><br /> ... (335 characters truncated) ... two big battles that I was building up to, the battle in the ice and the battle at Meereen—the battle of Slaver\'s Bay. And then take it from there."')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7896345
In insert_book_data, IntegrityError Exception for book_id:  34504
In insert_book_data, IntegrityError Exception for book_id:  2168860
In insert_book_data, IntegrityError Exception for book_id:  2702704
In insert_book_data, IntegrityError Exception for book_id:  22896
In insert_book_data, IntegrityError Exception for book_id:  13253276
In insert_book_data, IntegrityError Exception for book_id:  12425532
In insert_book_data, IntegrityError Exception for book_id:  13223520
In insert_book_data, IntegrityError Exception for book_id:  153008
In insert_book_data, IntegrityError Exception for book_id:  2325825
In insert_book_data, IntegrityError Exception for book_id:  395871
In insert_book_data, IntegrityError Exception for book_id:  6587387
In insert_book_data, IntegrityError Exception for book_id:  6618272
In insert_book_data, IntegrityError Exception for book_id:  23308087
In insert_book_data, IntegrityError Exception for book_id:  2845024
In insert_book_data, IntegrityError Exception for book_id:  113304
In insert_book_data, IntegrityError Exception for book_id:  4447622
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('31336', '0345419634', 'The Tale of the Body Thief (The Vampire Chronicles, #4)', 468.0, 3.72, '71108', '995', 'Ballantine Books', 'In a gripping feat of storytelling, Anne Rice continues the extraordinary Vampire Chronicles that began with the now-classic <i>Interview with the Va ... (919 characters truncated) ... onstitution</i></b><br /><i>\xa0</i><br /> “Hypnotic . . . masterful.”<b>—<i>Cosmopolitan</i></b><br /><br /><br /><i>From the Paperback edition.</i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('4070493', '1599903385', 'Need (Need, #1)', 306.0, 3.71, '56351', '3384', 'Bloomsbury', "<i>Pain shoots through my head. Fireworks. Explosions. All inside my brain. The white world goes dark and I know what's about to happen.</i><br /><br ... (670 characters truncated) ... .<br /><br />In this creepy, compelling breakout novel, Carrie Jones delivers romance, suspense, and a creature you never thought you'd have to fear.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9413044
In insert_book_data, IntegrityError Exception for book_id:  6944032
In insert_book_data, IntegrityError Exception for book_id:  26032887
In insert_book_data, IntegrityError Exception for book_id:  6050298
In insert_book_data, IntegrityError Exception for book_id:  41424
In insert_book_data, IntegrityError Exception for book_id:  15704459
In insert_book_data, IntegrityError Exception for book_id:  13623150
In insert_book_data, IntegrityError Exception for book_id:  13644055
In insert_book_data, IntegrityError Exception for book_id:  18739426
In insert_book_data, IntegrityError Exception for book_id:  30274
In insert_book_data, IntegrityError Exception for book_id:  16790
In insert_book_data, IntegrityError Exception for book_id:  34262
In insert_book_data, IntegrityError Exception for book_id:  9833184
In insert_book_data, IntegrityError Exception for book_id:  10993282
In insert_book_data, IntegrityError Exception for book_id:  3475161
In insert_book_data, IntegrityError Exception for book_id:  6585201
In insert_book_data, IntegrityError Exception for book_id:  18079804
In insert_book_data, IntegrityError Exception for book_id:  187065
In insert_book_data, IntegrityError Exception for book_id:  2179276
In insert_book_data, IntegrityError Exception for book_id:  13928
In insert_book_data, IntegrityError Exception for book_id:  20758105
In insert_book_data, IntegrityError Exception for book_id:  2753843
In insert_book_data, IntegrityError Exception for book_id:  147915
In insert_book_data, IntegrityError Exception for book_id:  7933615
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('31338', '096319254X', 'Memnoch the Devil (The Vampire Chronicles, #5)', 354.0, 3.74, '66505', '1185', 'B E Trice Pub', 'In the fifth Vampire Chronicle, Lestat is searching for Dora, the beautiful and charismatic mortal daughter of a drug lord. Dora has moved Lestat lik ... (480 characters truncated) ... om does he believe in? Who does he serve? What are the element of religious belief? Lestat finds himself caught in a whirlpool of the ultimate choice')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2890090
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('68494', '0345459407', 'Perdido Street Station (New Crobuzon, #1)', 623.0, 3.97, '45703', '3588', 'Ballantine Del Rey', "Beneath the towering bleached ribs of a dead, ancient beast lies the city of New Crobuzon, where the unsavory deal is stranger to no one--not even to ... (424 characters truncated) ... rphosis will occur that will permeate every fiber of New Crobuzon--and not even the Ambassador of Hell will challenge the malignant terror it evokes.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6315602
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('91981', '0756402697', 'The Dragonbone Chair (Memory, Sorrow, and Thorn, #1)', 672.0, 3.96, '51069', '1252', 'DAW', 'A war fueled by the powers of dark sorcery is about to engulf the peaceful land of Osten Ard—for Prester John, the High King, lies dying. And with hi ... (880 characters truncated) ... ovel, <i>The Heart of What Was Lost</i>. Then don’t miss the upcoming trilogy, The Last King of Osten Ard, beginning with <i>The Witchwood Crown</i>!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2986865
In insert_book_data, IntegrityError Exception for book_id:  332775
In insert_book_data, IntegrityError Exception for book_id:  213647
In insert_book_data, IntegrityError Exception for book_id:  18310944

In insert_book_data, IntegrityError Exception for book_id:  3754026
In insert_book_data, IntegrityError Exception for book_id:  28249
In insert_book_data, IntegrityError Exception for book_id:  4588949
In insert_book_data, IntegrityError Exception for book_id:  342445
In insert_book_data, IntegrityError Exception for book_id:  23846013
In insert_book_data, IntegrityError Exception for book_id:  59263
In insert_book_data, IntegrityError Exception for book_id:  25372801
In insert_book_data, IntegrityError Exception for book_id:  3393124
In insert_book_data, IntegrityError Exception for book_id:  3754016
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9809', '0156453800', 'Invisible Cities', 165.0, 4.17, '38849', '2465', 'Harcourt', '"Kublai Khan does not necessarily believe everything Marco Polo says when he describes the cities visited on his expeditions, but the emperor of the  ... (570 characters truncated) ... eating fine details of his native Venice over and over again, or perhaps he is simply recounting some of the myriad possible forms a city might take.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  24763621
In insert_book_data, IntegrityError Exception for book_id:  100464
In insert_book_data, IntegrityError Exception for book_id:  13570854
In insert_book_data, IntegrityError Exception for book_id:  25099
In insert_book_data, IntegrityError Exception for book_id:  34517
In insert_book_data, IntegrityError Exception for book_id:  106134
In insert_book_data, IntegrityError Exception for book_id:  26114463
In insert_book_data, IntegrityError Exception for book_id:  743599
In insert_book_data, IntegrityError Exception for book_id:  15719
In insert_book_data, IntegrityError Exception for book_id:  19103097
In insert_book_data, IntegrityError Exception for book_id:  17131869
In insert_book_data, IntegrityError Exception for book_id:  357
In insert_book_data, IntegrityError Exception for book_id:  8475505
In insert_book_data, IntegrityError Exception for book_id:  16788
In insert_book_data, IntegrityError Exception for book_id:  13829
In insert_book_data, IntegrityError Exception for book_id:  400354
In insert_book_data, IntegrityError Exception for book_id:  111332
In insert_book_data, IntegrityError Exception for book_id:  22554204
In insert_book_data, IntegrityError Exception for book_id:  37186
In insert_book_data, IntegrityError Exception for book_id:  8058301
In insert_book_data, IntegrityError Exception for book_id:  15861491
In insert_book_data, IntegrityError Exception for book_id:  23308084
In insert_book_data, IntegrityError Exception for book_id:  25895524
In insert_book_data, IntegrityError Exception for book_id:  16150831
In insert_book_data, IntegrityError Exception for book_id:  15768409
In insert_book_data, IntegrityError Exception for book_id:  12216302
In insert_book_data, IntegrityError Exception for book_id:  1829709
In insert_book_data, IntegrityError Exception for book_id:  26856502
In insert_book_data, IntegrityError Exception for book_id:  13836
In insert_book_data, IntegrityError Exception for book_id:  30145666
In insert_book_data, IntegrityError Exception for book_id:  18500665
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('68488', '0006486010', "Fool's Errand (Tawny Man, #1)", 661.0, 4.31, '58065', '1164', None, 'Fifteen years have passed since the end of the Red Ship War with the terrifying Outislanders. Since then, Fitz has wandered the world accompanied onl ... (454 characters truncated) ... ry much like a fool’s errand, but the dangers ahead could signal the end of the Farseer reign.<br /><br />Cover illustration by John Howe<br /><br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13835
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('34499', '0061020672', 'Sourcery (Discworld, #5; Rincewind #3)', 276.0, 3.89, '57833', '1150', 'Harper', "When last seen, the singularly inept wizard Rincewind had fallen off the edge of the world. Now magically, he's turned up again, and this time he's b ... (209 characters truncated) ... had seven sons. And then he had an eighth son -- a wizard squared (that's all the math, really). Who of course, was a source of magic -- a sourcerer.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('74532', '0224064908', "George's Marvellous Medicine", 120.0, 4.03, '56104', '1223', 'Jonathan Cape', "George's Grandma is a grizzly, grumpy, selfish old woman with pale brown teeth and a small puckered up mouth like a dog's bottom. Four times a day sh ... (86 characters truncated) ... ways just as poisonous after she's taken it as she was before. When George is left to look after her one morning, it's just the chance he needs . . .")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  3570231
In insert_book_data, IntegrityError Exception for book_id:  136251
In insert_book_data, IntegrityError Exception for book_id:  59264
In insert_book_data, IntegrityError Exception for book_id:  6087756
In insert_book_data, IntegrityError Exception for book_id:  15711341
In insert_book_data, IntegrityError Exception for book_id:  18166936
In insert_book_data, IntegrityError Exception for book_id:  2146957
In insert_book_data, IntegrityError Exception for book_id:  34532
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('50033', '0671037706', 'Dandelion Wine', 239.0, 4.09, '37821', '2656', 'Earthlight (UK)', "The summer of '28 was a vintage season for a growing boy. A summer of green apple trees, mowed lawns, and new sneakers. Of half-burnt firecrackers, o ... (111 characters truncated) ... ed bees. A magical, timeless summer in the life of a twelve-year-old boy named Douglas Spaulding—remembered forever by the incomparable Ray Bradbury.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  50027
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('44687', '0345300785', "Enchanters' End Game (The Belgariad, #5)", None, 4.18, '75089', '606', None, "THE DRIVE OF PROPHECY<br /><br />The quest was over. The Orb of Aldur was restored. And once again, with the crowning of Garion, there was a descenda ... (598 characters truncated) ...  man she loved.<br /><br />The Prophecy drove Garion on. But it gave no answer to the question that haunted him: How does a man kill an immortal God?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11300302
In insert_book_data, IntegrityError Exception for book_id:  5604848
In insert_book_data, IntegrityError Exception for book_id:  704043
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('44688', '0345335457', "Magician's Gambit (The Belgariad, #3)", 305.0, 4.14, '74111', '686', 'Del Rey', "Ce'Nedra, Imperial Princess of Tolnedra, is confused. Everyone knows the tales of the Orb protecting the West from the evil god Torak are just silly  ... (582 characters truncated) ... an, and she can't be there to watch over him. She may never see him again!<br /><br />Thus continues The Belgariad, an epic prophecy still unfolding.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  127459
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('187811', '0060725117', 'Shadowland (The Mediator, #1)', 287.0, 4.04, '54711', '1980', 'Avon Books', "Suze is a mediator -- a liaison between the living and the dead. In other words, she sees dead people. And they won't leave her alone until she helps ... (338 characters truncated) ... e very first day at her new school, Suze realizes it's not that easy. There's a ghost with revenge on her mind ... and Suze happens to be in the way.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2679633
In insert_book_data, IntegrityError Exception for book_id:  10836728

In insert_book_data, IntegrityError Exception for book_id:  13521
In insert_book_data, IntegrityError Exception for book_id:  6388558
In insert_book_data, IntegrityError Exception for book_id:  13147230
In insert_book_data, IntegrityError Exception for book_id:  17343
In insert_book_data, IntegrityError Exception for book_id:  176327
In insert_book_data, IntegrityError Exception for book_id:  46202
In insert_book_data, IntegrityError Exception for book_id:  178476
In insert_book_data, IntegrityError Exception for book_id:  26228034
In insert_book_data, IntegrityError Exception for book_id:  7198988
In insert_book_data, IntegrityError Exception for book_id:  20443207
In insert_book_data, IntegrityError Exception for book_id:  11966216
In insert_book_data, IntegrityError Exception for book_id:  31332
In insert_book_data, IntegrityError Exception for book_id:  40611069
In insert_book_data, IntegrityError Exception for book_id:  8709524
In insert_book_data, IntegrityError Exception for book_id:  768889
In insert_book_data, IntegrityError Exception for book_id:  10866624
In insert_book_data, IntegrityError Exception for book_id:  33257757
In insert_book_data, IntegrityError Exception for book_id:  22840421
In insert_book_data, IntegrityError Exception for book_id:  6919272
In insert_book_data, IntegrityError Exception for book_id:  28110852
In insert_book_data, IntegrityError Exception for book_id:  395922
In insert_book_data, IntegrityError Exception for book_id:  6267237
In insert_book_data, IntegrityError Exception for book_id:  28006120
In insert_book_data, IntegrityError Exception for book_id:  223380
In insert_book_data, IntegrityError Exception for book_id:  11454587
In insert_book_data, IntegrityError Exception for book_id:  2442
In insert_book_data, IntegrityError Exception for book_id:  37586799
In insert_book_data, IntegrityError Exception for book_id:  235718
In insert_book_data, IntegrityError Exception for book_id:  6736971
In insert_book_data, IntegrityError Exception for book_id:  7243142
In insert_book_data, IntegrityError Exception for book_id:  920607
In insert_book_data, IntegrityError Exception for book_id:  10874177
In insert_book_data, IntegrityError Exception for book_id:  8087906
In insert_book_data, IntegrityError Exception for book_id:  9761771
In insert_book_data, IntegrityError Exception for book_id:  8573642
In insert_book_data, IntegrityError Exception for book_id:  10790290
In insert_book_data, IntegrityError Exception for book_id:  7039218
In insert_book_data, IntegrityError Exception for book_id:  18943
In insert_book_data, IntegrityError Exception for book_id:  5217282
In insert_book_data, IntegrityError Exception for book_id:  180617
In insert_book_data, IntegrityError Exception for book_id:  30273
In insert_book_data, IntegrityError Exception for book_id:  6431790
In insert_book_data, IntegrityError Exception for book_id:  6380822
In insert_book_data, IntegrityError Exception for book_id:  19486421
In insert_book_data, IntegrityError Exception for book_id:  7048800
In insert_book_data, IntegrityError Exception for book_id:  20759393
In insert_book_data, IntegrityError Exception for book_id:  9305362
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('22443261', None, 'The Rithmatist (The Rithmatist, #1)', None, 4.26, '21951', '2009', None, "<i>The Rithmatist, </i>Brandon Sanderson's <i>New York Times</i> bestselling epic teen adventure is now available in paperback.<br /><br />More than  ... (710 characters truncated) ... ted discovery—one that will change Rithmatics—and their world—forever.<br /><br />A <i>New York Times Book Review </i>Notable Children's Book of 2013")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23093359
In insert_book_data, IntegrityError Exception for book_id:  10445208
In insert_book_data, IntegrityError Exception for book_id:  26891429
In insert_book_data, IntegrityError Exception for book_id:  287861
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45100', '000649885X', 'Ship of Magic (Liveship Traders, #1)', 880.0, 4.15, '43996', '1439', 'Voyager', 'Wizardwood, a sentient wood.<br />The most precious commodity in the world.<br />Like many other legendary wares, it comes only from the Rain River W ... (839 characters truncated) ... t greedy men have designs to restore him, to sail the waters of the Rain Wild River once more.<br /><br />Cover illustration by John Howe<br /><br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  5126859
In insert_book_data, IntegrityError Exception for book_id:  16158558
In insert_book_data, IntegrityError Exception for book_id:  15704486
In insert_book_data, IntegrityError Exception for book_id:  6693332
In insert_book_data, IntegrityError Exception for book_id:  25203675
In insert_book_data, IntegrityError Exception for book_id:  33454
In insert_book_data, IntegrityError Exception for book_id:  253058
In insert_book_data, IntegrityError Exception for book_id:  40493
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('189783', '0736693416', 'The Elfstones of Shannara  (The Original Shannara Trilogy, #2)', 23.0, 3.97, '54901', '977', 'Books on Tape', 'Ancient Evil threatens the Elves: The ancient tree created by long-lost Elven magic, is dying. When Wil Ohmsford is summoned to guard the Amberle on  ... (108 characters truncated) ... Demons. And Wil is without power to control them....<br /><br />Read by Scott Brick.<br />15 audiocassettes (90 min. each) : analog, Dolby processed.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  19358975
In insert_book_data, IntegrityError Exception for book_id:  355917
In insert_book_data, IntegrityError Exception for book_id:  7544603
In insert_book_data, IntegrityError Exception for book_id:  58077
In insert_book_data, IntegrityError Exception for book_id:  22698568
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6387565', None, 'Witch & Wizard (Witch & Wizard, #1)', 314.0, 3.56, '30839', '2351', None, 'The world is changing-the government has seized control of every aspect of society, and now kids are disappearing. For fifteen-year-old Wisty and her ... (489 characters truncated) ... hey were singled out. Can this newly discovered witch and a wizard master their skills in time to save themselves, their parents-and maybe the world?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  59924
In insert_book_data, IntegrityError Exception for book_id:  29749085
In insert_book_data, IntegrityError Exception for book_id:  4703581
In insert_book_data, IntegrityError Exception for book_id:  12291438
In insert_book_data, IntegrityError Exception for book_id:  23129410
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('64217', '0061020656', 'Pyramids (Discworld, #7)', 341.0, 3.9, '51182', '1067', 'Harper', "It's bad enough being new on the job, but Teppic hasn't a clue as to what a pharaoh is supposed to do. After all, he's been trained at Ankh-Morpork's ... (301 characters truncated) ... mmies. And to top it all off, the adolescent pharaoh discovers deceit, betrayal - not to mention a headstrong handmaiden - at the heart of his realm.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17455585
In insert_book_data, IntegrityError Exception for book_id:  3099787
In insert_book_data, IntegrityError Exception for book_id:  11947829
In insert_book_data, IntegrityError Exception for book_id:  10155
In insert_book_data, IntegrityError Exception for book_id:  263147
In insert_book_data, IntegrityError Exception for book_id:  34510
In insert_book_data, IntegrityError Exception for book_id:  30241
In insert_book_data, IntegrityError Exception for book_id:  26863057
In insert_book_data, IntegrityError Exception for book_id:  30244
In insert_book_data, IntegrityError Exception for book_id:  30809786
In insert_book_data, IntegrityError Exception for book_id:  34527
In insert_book_data, IntegrityError Exception for book_id:  23522
In insert_book_data, IntegrityError Exception for book_id:  21416690
In insert_book_data, IntegrityError Exception for book_id:  12499290

In insert_book_data, IntegrityError Exception for book_id:  12588363
In insert_book_data, IntegrityError Exception for book_id:  421129
In insert_book_data, IntegrityError Exception for book_id:  18635622
In insert_book_data, IntegrityError Exception for book_id:  15790883
In insert_book_data, IntegrityError Exception for book_id:  11410430
In insert_book_data, IntegrityError Exception for book_id:  34529
In insert_book_data, IntegrityError Exception for book_id:  13837
In insert_book_data, IntegrityError Exception for book_id:  10607
In insert_book_data, IntegrityError Exception for book_id:  10637748
In insert_book_data, IntegrityError Exception for book_id:  29396738
In insert_book_data, IntegrityError Exception for book_id:  21569527
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24983', '0553562738', 'Doomsday Book (Oxford Time Travel, #1)', 578.0, 4.03, '37860', '3792', 'Bantam Spectra', "For Kivrin, preparing an on-site study of one of the deadliest eras in humanity's history was as simple as receiving inoculations against the disease ... (571 characters truncated) ... r understanding of the universalities of human nature to explore the ageless issues of evil, suffering, and the indomitable will of the human spirit.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  14384
In insert_book_data, IntegrityError Exception for book_id:  747746
In insert_book_data, IntegrityError Exception for book_id:  42432
In insert_book_data, IntegrityError Exception for book_id:  40395
In insert_book_data, IntegrityError Exception for book_id:  35534230
In insert_book_data, IntegrityError Exception for book_id:  183656
In insert_book_data, IntegrityError Exception for book_id:  7739934
In insert_book_data, IntegrityError Exception for book_id:  2321296
In insert_book_data, IntegrityError Exception for book_id:  359410
In insert_book_data, IntegrityError Exception for book_id:  34197014
In insert_book_data, IntegrityError Exception for book_id:  12283261
In insert_book_data, IntegrityError Exception for book_id:  104089
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('34502', '057506689X', 'Soul Music (Discworld, #16; Death, #3)', 424.0, 4.04, '48858', '910', 'Gollancz', "Other children get given xylophones. Susan just had to ask her grandfather to take his vest off. <br />Yes. There's a Death in the family.<br /><br / ... (376 characters truncated) ... >Music With Rocks In</b>.<br /><br />It's got a beat and you can dance to it, but...<br /><br />It's <b>alive</b>.<br /><br />And it won't fade away.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  33643994
In insert_book_data, IntegrityError Exception for book_id:  34501
In insert_book_data, IntegrityError Exception for book_id:  284440
In insert_book_data, IntegrityError Exception for book_id:  23014670
In insert_book_data, IntegrityError Exception for book_id:  11988046
In insert_book_data, IntegrityError Exception for book_id:  30242
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13830', '0689878583', 'The Woman Who Rides Like a Man (Song of the Lioness, #3)', 284.0, 4.21, '58420', '1089', None, '<p>"Let her prove herself worthy as a man."</p> <p> Newly knighted, Alanna of Trebond seeks adventure in the vast desert of Tortall. Captured by fier ... (374 characters truncated) ...  change the ancient tribal customs of the desert tribes -- for their sake and for the sake of all Tortall.</p> <p> Alanna\'s journey continues...</p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12925063
In insert_book_data, IntegrityError Exception for book_id:  10800916
In insert_book_data, IntegrityError Exception for book_id:  40882262
In insert_book_data, IntegrityError Exception for book_id:  13578175
In insert_book_data, IntegrityError Exception for book_id:  297627
In insert_book_data, IntegrityError Exception for book_id:  13049981
In insert_book_data, IntegrityError Exception for book_id:  25101
In insert_book_data, IntegrityError Exception for book_id:  25903764
In insert_book_data, IntegrityError Exception for book_id:  544257
In insert_book_data, IntegrityError Exception for book_id:  18108281
In insert_book_data, IntegrityError Exception for book_id:  17349203
In insert_book_data, IntegrityError Exception for book_id:  62530
In insert_book_data, IntegrityError Exception for book_id:  121127
In insert_book_data, IntegrityError Exception for book_id:  127823
In insert_book_data, IntegrityError Exception for book_id:  1895792
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1811543', '0441015832', 'Magic Burns (Kate Daniels, #2)', 260.0, 4.33, '59191', '2709', 'Berkley Publishing Group', 'Down in Atlanta, tempers – and temperatures – are about to flare…<br /><br />As a mercenary who cleans up after magic gone wrong, Kate Daniels has se ... (540 characters truncated) ...  opening gambit in an epic tug-of-war between two gods hoping for rebirth. And if Kate can’t stop the cataclysmic showdown, the city may not survive…')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7201913
In insert_book_data, IntegrityError Exception for book_id:  8635145
In insert_book_data, IntegrityError Exception for book_id:  6479550
In insert_book_data, IntegrityError Exception for book_id:  9307674
In insert_book_data, IntegrityError Exception for book_id:  2315892
In insert_book_data, IntegrityError Exception for book_id:  28954137
In insert_book_data, IntegrityError Exception for book_id:  63720
In insert_book_data, IntegrityError Exception for book_id:  13413589
In insert_book_data, IntegrityError Exception for book_id:  30263
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('26582', None, 'The Claiming of Sleeping Beauty', 253.0, 3.28, '40970', '3426', 'Plume', 'In the traditional folktale of "Sleeping Beauty," the spell cast upon the lovely young princess and everyone in her castle can only be broken by the  ... (484 characters truncated) ... e Rice explores the world of erotic yearning and fantasy in a classic that becomes, with her skillful pen, a compelling experience.<br />(back cover)')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('48002', '0061031321', 'Thief of Time (Discworld, #26; Death, #5)', 378.0, 4.27, '46732', '974', 'HarperTorch', "Time is a resource. Everyone knows it has to be managed.<br />And on Discworld that is the job of the Monks of History, who store it and pump it from ... (418 characters truncated) ... supporting cast of heroes and villains, yetis, martial artists and Ronnie, the fifth Horseman of the Apocalypse (who left before they became famous).")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8709528
In insert_book_data, IntegrityError Exception for book_id:  407813
In insert_book_data, IntegrityError Exception for book_id:  9395215
In insert_book_data, IntegrityError Exception for book_id:  20443235

In insert_book_data, IntegrityError Exception for book_id:  84145
In insert_book_data, IntegrityError Exception for book_id:  44170
In insert_book_data, IntegrityError Exception for book_id:  190361
In insert_book_data, IntegrityError Exception for book_id:  3054684
In insert_book_data, IntegrityError Exception for book_id:  4345498
In insert_book_data, IntegrityError Exception for book_id:  25446343
In insert_book_data, IntegrityError Exception for book_id:  201341
In insert_book_data, IntegrityError Exception for book_id:  189802
In insert_book_data, IntegrityError Exception for book_id:  8458018
In insert_book_data, IntegrityError Exception for book_id:  8428195
In insert_book_data, IntegrityError Exception for book_id:  34511
In insert_book_data, IntegrityError Exception for book_id:  24485589
In insert_book_data, IntegrityError Exception for book_id:  30246
In insert_book_data, IntegrityError Exception for book_id:  18077769
In insert_book_data, IntegrityError Exception for book_id:  7129598
In insert_book_data, IntegrityError Exception for book_id:  93261
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('645023', '0345335708', 'Castle of Wizardry (The Belgariad, #4)', 375.0, 4.17, '59102', '561', 'Del Rey', "A magnificent epic set against a history of seven thousand years of the struggles of Gods and Kings and men - of strange lands and events - of fate a ... (931 characters truncated) ... >But the Prophecy still held future surprises for Garion - and for the little Princess Ce'Nedra!<br /><br />THUS CONTINUES BOOK FOUR OF THE BELGARIAD")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9761778
In insert_book_data, IntegrityError Exception for book_id:  27272506
In insert_book_data, IntegrityError Exception for book_id:  17910124
In insert_book_data, IntegrityError Exception for book_id:  23093367
In insert_book_data, IntegrityError Exception for book_id:  1099301
In insert_book_data, IntegrityError Exception for book_id:  14288998
In insert_book_data, IntegrityError Exception for book_id:  93101
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45109', '0553582453', 'Golden Fool (Tawny Man, #2)', 709.0, 4.34, '50825', '785', 'Spectra', 'The acclaimed <i>Farseer</i> and <i>Liveship Traders</i> trilogies established Robin Hobb as one of the most splendidly imaginative practitioners of  ... (1982 characters truncated) ... allenge may be simply to survive the inescapable and violent path that fate has laid out for him.<br /><br /><br /><i>From the Hardcover edition.</i>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11312
In insert_book_data, IntegrityError Exception for book_id:  248484
In insert_book_data, IntegrityError Exception for book_id:  281235
In insert_book_data, IntegrityError Exception for book_id:  45108
In insert_book_data, IntegrityError Exception for book_id:  6472451
In insert_book_data, IntegrityError Exception for book_id:  31340
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('92121', '0380014300', 'Nine Princes in Amber (The Chronicles of Amber #1)', None, 4.1, '42361', '1360', 'Avon', "Amber, the one real world, wherein all others, including our own Earth, are but Shadows. Amber burns in Corwin's blood. Exiled on Shadow Earth for ce ... (567 characters truncated) ...  from, Corwin is amazed to learn that he is one of the sons of Oberon, King of Amber, and is the rightful successor to the crown in a parallel world.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13568619
In insert_book_data, IntegrityError Exception for book_id:  20643052
In insert_book_data, IntegrityError Exception for book_id:  6289920
In insert_book_data, IntegrityError Exception for book_id:  7005865
In insert_book_data, IntegrityError Exception for book_id:  14975
In insert_book_data, IntegrityError Exception for book_id:  120253
In insert_book_data, IntegrityError Exception for book_id:  12959086
In insert_book_data, IntegrityError Exception for book_id:  7263429
In insert_book_data, IntegrityError Exception for book_id:  12891107
In insert_book_data, IntegrityError Exception for book_id:  116296
In insert_book_data, IntegrityError Exception for book_id:  6043781
In insert_book_data, IntegrityError Exception for book_id:  3934321
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('64218', '0380821214', 'Eric (Discworld, #9; Rincewind #4)', 217.0, 3.75, '43260', '996', 'Harper', "Discworld's only demonology hacker, Eric, is about to make life very difficult for the rest of Ankh-Morpork's denizens. This would-be Faust is very b ... (373 characters truncated) ...  travel accessory the Luggage has arrived, too. Accompanied by his best friends, there's only one thing Eric wishes now -- that he'd never been born!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  28588345
In insert_book_data, IntegrityError Exception for book_id:  26892110
In insert_book_data, IntegrityError Exception for book_id:  183660
In insert_book_data, IntegrityError Exception for book_id:  17331828
In insert_book_data, IntegrityError Exception for book_id:  1966969
In insert_book_data, IntegrityError Exception for book_id:  49824
In insert_book_data, IntegrityError Exception for book_id:  3657138
In insert_book_data, IntegrityError Exception for book_id:  41021196
In insert_book_data, IntegrityError Exception for book_id:  30262
In insert_book_data, IntegrityError Exception for book_id:  11648261
In insert_book_data, IntegrityError Exception for book_id:  6696602
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('761732', '0812551494', 'Soul of the Fire (Sword of Truth, #5)', 788.0, 3.87, '52552', '707', 'Tor Books', "Richard Rahl has traveled far from his roots as a simple woods guide. Emperor of the D'Haran Empire, war wizard, the Seeker of Truth—none of these ro ... (501 characters truncated) ... part forever. For their fate has become inextricably entwined with that of the Midlands—and there's no place so dangerous as a world without magic...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  2299110
In insert_book_data, IntegrityError Exception for book_id:  6547187
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('587582', '0345335651', 'Queen of Sorcery (The Belgariad, #2)', 326.0, 4.14, '54095', '809', 'Del Rey', '<b>The Trail of Prophecy...</b><br /><br />Legends told of how the evil God Torak had coveted the power of the Orb of Aldur, until defeated in a fina ... (734 characters truncated) ... nst a background of a war of men, Kings, and Gods that had spanned seven thousand years - a novel of strange fate and a prophecy that must come true!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  24784
In insert_book_data, IntegrityError Exception for book_id:  32075662
In insert_book_data, IntegrityError Exception for book_id:  6567284
In insert_book_data, IntegrityError Exception for book_id:  8962
In insert_book_data, IntegrityError Exception for book_id:  6871617
In insert_book_data, IntegrityError Exception for book_id:  34499221
In insert_book_data, IntegrityError Exception for book_id:  28866
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3467', '0375828257', 'The People of Sparks', 338.0, 3.66, '44703', '3111', 'Yearling', '<i>An alternate cover can be found <a href="https://www.goodreads.com/book/show/34915830-the-people-of-sparks" rel="nofollow">here</a>.</i><br /><br  ... (160 characters truncated) ... w world above. When anonymous acts of vandalism push them toward violence, it\'s up to Lina and Doon to discover who\'s behind the vandalism and why.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13810', '0553564935', 'Magician: Master (The Riftwar Saga #2)', 499.0, 4.26, '57611', '535', 'Spectra Books', 'He held the fate of two worlds in his hands... <br /><br />Once he was an orphan called Pug, apprenticed to a sorcerer of the enchanted land of Midke ... (200 characters truncated) ... arned to tame the unnimagined powers that lay withing him. And he took his place in an ancient struggle against an evil Enemy older than time itself.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  19346451
In insert_book_data, IntegrityError Exception for book_id:  140671
In insert_book_data, IntegrityError Exception for book_id:  77366
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('49011', '014017821X', 'The Bloody Chamber and Other Stories', 128.0, 3.99, '25224', '1811', 'Penguin Books', 'Angela Carter was a storytelling sorceress, the literary godmother of such contemporary masters of supernatural fiction as Neil Gaiman, David Mitchel ... (451 characters truncated) ...  "Puss in Boots," and "Beauty and the Beast," giving them exhilarating new life in a style steeped in the romantic trappings of the gothic tradition.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11112619
In insert_book_data, IntegrityError Exception for book_id:  3684856
In insert_book_data, IntegrityError Exception for book_id:  8559047
In insert_book_data, IntegrityError Exception for book_id:  34498
In insert_book_data, IntegrityError Exception for book_id:  18693743
In insert_book_data, IntegrityError Exception for book_id:  48037
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('43916', '0586217835', 'Magician (The Riftwar Saga, #1-2)', 681.0, 4.33, '49232', '966', 'HarperCollins', "<b>Raymond E. Feist's classic fantasy epic, Magician, has enchanted readers for over twenty years. The revised edition was prepared to celebrate the  ... (788 characters truncated) ... <b>'Epic scope… fast moving action…vivid imagination'</b><br />WASHINGTON POST<br /><br /><b>'tons of intrigue and action'</b><br />PUBLISHERS WEEKLY")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  10816908

In insert_book_data, IntegrityError Exception for book_id:  23398606
In insert_book_data, IntegrityError Exception for book_id:  7991200
In insert_book_data, IntegrityError Exception for book_id:  261122
In insert_book_data, IntegrityError Exception for book_id:  26046
In insert_book_data, IntegrityError Exception for book_id:  298567
In insert_book_data, IntegrityError Exception for book_id:  25667918
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2595138', '0385524943', 'The Gargoyle', 465.0, 3.96, '35624', '4408', None, "An extraordinary debut novel of love that survives the fires of hell and transcends the boundaries of time.<br /><br />The narrator of The Gargoyle i ... (1453 characters truncated) ... shed. <br /><br />Already an international literary sensation, the Gargoyle is an Inferno for our time. It will have you believing in the impossible.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8205669
In insert_book_data, IntegrityError Exception for book_id:  23301545
In insert_book_data, IntegrityError Exception for book_id:  29774026
In insert_book_data, IntegrityError Exception for book_id:  24876258
In insert_book_data, IntegrityError Exception for book_id:  30248
In insert_book_data, IntegrityError Exception for book_id:  20174424
In insert_book_data, IntegrityError Exception for book_id:  3112850
In insert_book_data, IntegrityError Exception for book_id:  688191
In insert_book_data, IntegrityError Exception for book_id:  17926775
In insert_book_data, IntegrityError Exception for book_id:  160149
In insert_book_data, IntegrityError Exception for book_id:  34492
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('833710', '0743437314', 'The Merchant of Death (Pendragon, #1)', 375.0, 3.94, '42849', '1731', 'Aladdin Paperbacks', "<b>DENDURON</b><br /><br />BOBBY PENDRAGON is a seemingly normal fourteen-year-old boy. He has a family, a home, and even Marley, his beloved dog. Bu ... (474 characters truncated) ... e's going to have to accept his role as savior, and accept it wholeheartedly. Because, as he is about to discover, Denduron is only the beginning....")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('8694522', '031262168X', "The Witch's Daughter (The Witch's Daughter, #1)", 305.0, 3.57, '20821', '2237', None, "<i>My name is Elizabeth Anne Hawksmith, and my age is three hundred and eighty-four years. Each new settlement asks for a new journal, and so this Bo ... (1241 characters truncated) ... oine who survives plagues, wars, and the heartbreak that comes with immortality to remain true to herself, and protect the protégé she comes to love.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  1524173
In insert_book_data, IntegrityError Exception for book_id:  12444166
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3049', '0451528182', 'Sir Gawain and the Green Knight', 144.0, 3.69, '39907', '687', 'Signet Classics', 'Written by an anonymous 14th-century poet, this epic poem is recognized as an equal of Chaucer\'s masterworks and of the great Old English poems, including "Beowulf." This edition includes a Preface by Raffel and a new Introduction. Revised reissue.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  139417
In insert_book_data, IntegrityError Exception for book_id:  151370
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('133664', '0441013406', "Academ's Fury (Codex Alera, #2)", 702.0, 4.28, '50718', '1308', 'Ace', "For centuries, the people of Alera have relied on the power of the furies to protect them from outside invaders. But the gravest threat might be clos ... (577 characters truncated) ... arfed by an ancient menace. And Tavi must learn to harness the furies if he has any chance of fighting the greatest threat Alera has ever known . . .")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  82192
In insert_book_data, IntegrityError Exception for book_id:  55401
In insert_book_data, IntegrityError Exception for book_id:  28006096
In insert_book_data, IntegrityError Exception for book_id:  3389671
In insert_book_data, IntegrityError Exception for book_id:  13533650
In insert_book_data, IntegrityError Exception for book_id:  23299513
In insert_book_data, IntegrityError Exception for book_id:  2498983
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('68811', '3522168577', 'Momo', None, 4.31, '35626', '1391', None, 'Eine gespenstische Gesellschaft "grauer Herren" ist am Werk und veranlasst immer mehr Menschen, Zeit zu sparen. Aber in Wirklichkeit betrügen sie die ... (322 characters truncated) ... schichte, kämpft ganz allein, mit nichts als einer Blume in der Hand und einer Schildkröte unter dem Arm, gegen das riesige Heer der "grauen Herren".')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('149302', '0586064176', 'Silverthorn (The Riftwar Saga, #3)', 432.0, 4.08, '46507', '512', 'Grafton Books', 'A poisoned bolt has struck down the Princess\xa0Anita on the day of her wedding to Prince Arutha of\xa0Krondor.<br /><br />To save his beloved,\xa0Ar ... (191 characters truncated) ... and a clever\xa0young thief, he will confront an ancient evil and do\xa0battle with the dark powers that threaten the\xa0enchanted realm of Midkemia.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  34541
In insert_book_data, IntegrityError Exception for book_id:  7801229
In insert_book_data, IntegrityError Exception for book_id:  2295829
In insert_book_data, IntegrityError Exception for book_id:  153784
In insert_book_data, IntegrityError Exception for book_id:  9943270
In insert_book_data, IntegrityError Exception for book_id:  84151
In insert_book_data, IntegrityError Exception for book_id:  5152561
In insert_book_data, IntegrityError Exception for book_id:  210329
In insert_book_data, IntegrityError Exception for book_id:  7619292
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('5038', '0765340747', 'The Pillars of Creation (Sword of Truth, #7)', 725.0, 3.68, '46753', '744', 'Tor Books', 'Sequel to the New York Times bestselling <i>Faith of the Fallen</i><br /><br />New York Times bestselling author Terry Goodkind has created his most  ... (1083 characters truncated) ... athtaking adventure and true nobility of spirit. Find out why millions of readers the world over have elevated Terry Goodkind to the ranks of legend.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('13813', '0586066888', 'A Darkness At Sethanon (The Riftwar Saga, #4)', 527.0, 4.19, '49727', '414', 'Grafton Books', "A Darkness at Sethanon is the stunning climax to Raymond E. Feist's brilliant epic fantasy trilogy, the Riftwar Saga. <br /><br />Here be dragons and ... (359 characters truncated) ... thanon is heroic fantasy of the highest excitement and on the grandest scale, a magnificent conclusion to one of the great fantasy sagas of our time.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  9637479
In insert_book_data, IntegrityError Exception for book_id:  13581990
In insert_book_data, IntegrityError Exception for book_id:  8306761
In insert_book_data, IntegrityError Exception for book_id:  17332556
In insert_book_data, IntegrityError Exception for book_id:  34197390
In insert_book_data, IntegrityError Exception for book_id:  9397967
In insert_book_data, IntegrityError Exception for book_id:  17562900
In insert_book_data, IntegrityError Exception for book_id:  1137215
In insert_book_data, IntegrityError Exception for book_id:  22698569
In insert_book_data, IntegrityError Exception for book_id:  30259
In insert_book_data, IntegrityError Exception for book_id:  9897164
In insert_book_data, IntegrityError Exception for book_id:  45102
In insert_book_data, IntegrityError Exception for book_id:  3697927
In insert_book_data, IntegrityError Exception for book_id:  7514925
In insert_book_data, IntegrityError Exception for book_id:  9268487
In insert_book_data, IntegrityError Exception for book_id:  18630542
In insert_book_data, IntegrityError Exception for book_id:  25102
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('78876', '0575058080', 'Maskerade (Discworld, #18; Witches #5)', 285.0, 4.08, '38281', '701', 'Gollancz', "Granny Weatherwax and Nanny Ogg, the Discworld's greatest witches, are back for an innocent night at the opera. Naturally there's going to be trouble, but at the same time there'll be a good evening's entertainment with murders that you can really hum to.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  793399
In insert_book_data, IntegrityError Exception for book_id:  13833

In insert_book_data, IntegrityError Exception for book_id:  12614410
In insert_book_data, IntegrityError Exception for book_id:  359375
In insert_book_data, IntegrityError Exception for book_id:  24781
In insert_book_data, IntegrityError Exception for book_id:  9804779
In insert_book_data, IntegrityError Exception for book_id:  9595650
In insert_book_data, IntegrityError Exception for book_id:  1225621
In insert_book_data, IntegrityError Exception for book_id:  9409469
In insert_book_data, IntegrityError Exception for book_id:  7879278
In insert_book_data, IntegrityError Exception for book_id:  21853633
In insert_book_data, IntegrityError Exception for book_id:  6457229
In insert_book_data, IntegrityError Exception for book_id:  1375896
In insert_book_data, IntegrityError Exception for book_id:  14383
In insert_book_data, IntegrityError Exception for book_id:  23507745
In insert_book_data, IntegrityError Exception for book_id:  6905534
In insert_book_data, IntegrityError Exception for book_id:  17331518
In insert_book_data, IntegrityError Exception for book_id:  66695
In insert_book_data, IntegrityError Exception for book_id:  25105
In insert_book_data, IntegrityError Exception for book_id:  29103028
In insert_book_data, IntegrityError Exception for book_id:  16791
In insert_book_data, IntegrityError Exception for book_id:  672875
In insert_book_data, IntegrityError Exception for book_id:  355916
In insert_book_data, IntegrityError Exception for book_id:  8785374
In insert_book_data, IntegrityError Exception for book_id:  1814843
In insert_book_data, IntegrityError Exception for book_id:  20299683
In insert_book_data, IntegrityError Exception for book_id:  27000
In insert_book_data, IntegrityError Exception for book_id:  25944381
In insert_book_data, IntegrityError Exception for book_id:  30260
In insert_book_data, IntegrityError Exception for book_id:  7576115
In insert_book_data, IntegrityError Exception for book_id:  25106
In insert_book_data, IntegrityError Exception for book_id:  12995284
In insert_book_data, IntegrityError Exception for book_id:  7747263
In insert_book_data, IntegrityError Exception for book_id:  9439989
In insert_book_data, IntegrityError Exception for book_id:  8581936
In insert_book_data, IntegrityError Exception for book_id:  16248223
In insert_book_data, IntegrityError Exception for book_id:  2903736
In insert_book_data, IntegrityError Exception for book_id:  6316821
In insert_book_data, IntegrityError Exception for book_id:  7060582
In insert_book_data, IntegrityError Exception for book_id:  11947156
In insert_book_data, IntegrityError Exception for book_id:  8933944
In insert_book_data, IntegrityError Exception for book_id:  6421588
In insert_book_data, IntegrityError Exception for book_id:  47994
In insert_book_data, IntegrityError Exception for book_id:  16096873
In insert_book_data, IntegrityError Exception for book_id:  74389
In insert_book_data, IntegrityError Exception for book_id:  30245
In insert_book_data, IntegrityError Exception for book_id:  11946245
In insert_book_data, IntegrityError Exception for book_id:  11983940
In insert_book_data, IntegrityError Exception for book_id:  17645
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('45685', '0744549515', 'The Canterville Ghost', 126.0, 3.89, '26063', '1157', 'Walker Books', "This is Oscar Wilde's tale of the American family moved into a British mansion, Canterville Chase, much to the annoyance of its tired ghost. The fami ... (77 characters truncated) ... e British nobility of the day -- and on the Americans, too. The tale, like many of Wilde's, is rich with allusion, but ends as sentimental romance...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  99085
In insert_book_data, IntegrityError Exception for book_id:  74731
In insert_book_data, IntegrityError Exception for book_id:  18652002
In insert_book_data, IntegrityError Exception for book_id:  8519822
In insert_book_data, IntegrityError Exception for book_id:  15985373
In insert_book_data, IntegrityError Exception for book_id:  6368610
In insert_book_data, IntegrityError Exception for book_id:  13555073
In insert_book_data, IntegrityError Exception for book_id:  6368611
In insert_book_data, IntegrityError Exception for book_id:  500743
In insert_book_data, IntegrityError Exception for book_id:  43893
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('3558003', '0451225724', 'Lord of Misrule (The Morganville Vampires, #5)', 246.0, 4.17, '40419', '940', 'New American Library', "In the college town of Morganville, vampires and humans coexist in (relatively) bloodless harmony. Then comes Bishop, the master vampire who threaten ... (174 characters truncated) ... storm of devastating proportions as student Claire Danvers and her friends prepare to defend Morganville against elements both natural and unnatural.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  823
In insert_book_data, IntegrityError Exception for book_id:  13183957
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('2113260', '0670019631', 'Shades of Grey (Shades of Grey, #1)', 400.0, 4.14, '25076', '3186', 'Penguin Group Viking Adult', "<b>From the bestselling author of <i>Thursday Next</i> — a brilliant new novel about a world where social order and destiny are dictated by the color ... (1415 characters truncated) ... nt to be transported somewhere equally wild, only darker; a world where the black and white of moral standpoints have been reduced to shades of grey.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13415554
In insert_book_data, IntegrityError Exception for book_id:  26156203
In insert_book_data, IntegrityError Exception for book_id:  346087
In insert_book_data, IntegrityError Exception for book_id:  16070143
In insert_book_data, IntegrityError Exception for book_id:  30271
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('43887', '0765344319', 'Chainfire (Sword of Truth, #9)', 756.0, 3.96, '41658', '539', 'Tor Fantasy', "With <i>Wizard's First Rule</i> and seven subsequent masterpieces, Terry Goodkind has thrilled readers worldwide with the unique sweep of his storyte ... (398 characters truncated) ...  ever married. Alone as never before, he must find the woman he loves more than life itself....if she is even still alive. If she was ever even real.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  66678
In insert_book_data, IntegrityError Exception for book_id:  22297138
In insert_book_data, IntegrityError Exception for book_id:  7992995
In insert_book_data, IntegrityError Exception for book_id:  16052012
In insert_book_data, IntegrityError Exception for book_id:  29394
In insert_book_data, IntegrityError Exception for book_id:  47520
In insert_book_data, IntegrityError Exception for book_id:  13834
In insert_book_data, IntegrityError Exception for book_id:  29358487
In insert_book_data, IntegrityError Exception for book_id:  9666812
In insert_book_data, IntegrityError Exception for book_id:  21979832
In insert_book_data, IntegrityError Exception for book_id:  25944798
In insert_book_data, IntegrityError Exception for book_id:  6250169
In insert_book_data, IntegrityError Exception for book_id:  6600137
In insert_book_data, IntegrityError Exception for book_id:  161887
In insert_book_data, IntegrityError Exception for book_id:  6202318
In insert_book_data, IntegrityError Exception for book_id:  15791085
In insert_book_data, IntegrityError Exception for book_id:  187812
In insert_book_data, IntegrityError Exception for book_id:  604803
In insert_book_data, IntegrityError Exception for book_id:  6357708
In insert_book_data, IntegrityError Exception for book_id:  25451555
In insert_book_data, IntegrityError Exception for book_id:  8306745

In insert_book_data, IntegrityError Exception for book_id:  68520
In insert_book_data, IntegrityError Exception for book_id:  28541
In insert_book_data, IntegrityError Exception for book_id:  21849362
In insert_book_data, IntegrityError Exception for book_id:  17334079
In insert_book_data, IntegrityError Exception for book_id:  435045
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1128437', '8370540376', 'Miecz przeznaczenia (Saga o Wiedźminie, #2)', 362.0, 4.38, '16274', '156', 'SuperNOWA', '„Miecz przeznaczenia” jest zbiorem opowiadań stanowiących swoistą kontynuację przygód Geralta ze zbioru „Ostatnie życzenie”, a zarazem poprzedza hist ... (471 characters truncated) ...  kartach opowiadań widzimy miłość, poświęcenie, honor, determinację spowodowaną zamiarem udzielenia pomocy ukochanemu, przywiązanie do własnej ziemi.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6382055', None, 'A Dream of Spring (A Song of Ice and Fire, #7)', None, 4.39, '1305', '66', 'Harper Voyager', "Originally titled A Time For Wolves. The seventh and apparent final book of George R. R. Martin's acclaimed series, A Song of Ice and Fire.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  21393526
In insert_book_data, IntegrityError Exception for book_id:  18077752
In insert_book_data, IntegrityError Exception for book_id:  23203252
In insert_book_data, IntegrityError Exception for book_id:  2133795
In insert_book_data, IntegrityError Exception for book_id:  2712967
In insert_book_data, IntegrityError Exception for book_id:  352262
In insert_book_data, IntegrityError Exception for book_id:  6512140
In insert_book_data, IntegrityError Exception for book_id:  6294549
In insert_book_data, IntegrityError Exception for book_id:  68378
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('43782', '009947137X', 'The Mummy (Ramses the Damned #1)', 480.0, 3.83, '36853', '700', 'Arrow', 'Ramses the Great has reawakened in opulent Edwardian London. Having drunk the elixir of life, he is now Ramses the Damned, doomed forever to wander t ... (318 characters truncated) ...  intense longing for her, undiminished over the centuries, will force him to commit an act that will place everyone around him in the gravest danger.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  33457
In insert_book_data, IntegrityError Exception for book_id:  17564519
In insert_book_data, IntegrityError Exception for book_id:  5292853
In insert_book_data, IntegrityError Exception for book_id:  29008738
In insert_book_data, IntegrityError Exception for book_id:  2836109
In insert_book_data, IntegrityError Exception for book_id:  33453
In insert_book_data, IntegrityError Exception for book_id:  28251
In insert_book_data, IntegrityError Exception for book_id:  43884
In insert_book_data, IntegrityError Exception for book_id:  7954556
In insert_book_data, IntegrityError Exception for book_id:  2029927
In insert_book_data, IntegrityError Exception for book_id:  24094
In insert_book_data, IntegrityError Exception for book_id:  10431447
In insert_book_data, IntegrityError Exception for book_id:  240130
In insert_book_data, IntegrityError Exception for book_id:  8069828
In insert_book_data, IntegrityError Exception for book_id:  25776210
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('84154', '0739448471', 'Seize the Night (Dark-Hunter, #6)', 289.0, 4.36, '2245', '91', "St. Martin's Press", "Dark-Hunter: an immortal warrior who has traded his soul to Artemis for one moment of vengeance on his enemies. In return, they swear to spend eterni ... (809 characters truncated) ... n against evil, Val will have to loosen up, learn to trust, and put everything on the line to protect a man he hates and a woman who drives him nuts.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  121927
In insert_book_data, IntegrityError Exception for book_id:  71252
In insert_book_data, IntegrityError Exception for book_id:  9565045
In insert_book_data, IntegrityError Exception for book_id:  30225
In insert_book_data, IntegrityError Exception for book_id:  45101
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('219205', '0345348656', "Lord Foul's Bane (The Chronicles of Thomas Covenant the Unbeliever, #1)", 480.0, 3.73, '35338', '1162', 'Del Rey / Ballantine', "He called himself Thomas Covenant the Unbeliever because he dared not believe in the strange alternate world in which he suddenly found himself.<br / ... (376 characters truncated) ... rd Foul. Only...Covenant had no idea of how the power could be used!<br /><br />Thus begins one of the most remarkable epic fantasies ever written...")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('9814682', '0345529057', 'A Song of Ice and Fire (A Song of Ice and Fire, #1-4)', 4081.0, 4.63, '30525', '789', None, 'George R. R. Martin\'s A Song of Ice and Fire series has become, in many ways, the gold standard for modern epic fantasy. Martin—dubbed the "American ... (416 characters truncated) ... <br /><br />This bundle includes the following novels:<br /> A GAME OF THRONES<br /> A CLASH OF KINGS<br /> A STORM OF SWORDS<br /> A FEAST FOR CROWS')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12974372
In insert_book_data, IntegrityError Exception for book_id:  7779059
In insert_book_data, IntegrityError Exception for book_id:  6801582
In insert_book_data, IntegrityError Exception for book_id:  6319978
In insert_book_data, IntegrityError Exception for book_id:  25103
In insert_book_data, IntegrityError Exception for book_id:  30025336
In insert_book_data, IntegrityError Exception for book_id:  25104
In insert_book_data, IntegrityError Exception for book_id:  6582637
In insert_book_data, IntegrityError Exception for book_id:  47956
In insert_book_data, IntegrityError Exception for book_id:  77773
In insert_book_data, IntegrityError Exception for book_id:  23128304
In insert_book_data, IntegrityError Exception for book_id:  58889
In insert_book_data, IntegrityError Exception for book_id:  7234828
In insert_book_data, IntegrityError Exception for book_id:  6631792
In insert_book_data, IntegrityError Exception for book_id:  11431896
In insert_book_data, IntegrityError Exception for book_id:  7823038
In insert_book_data, IntegrityError Exception for book_id:  18081228
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6138606', None, 'The Seeker (The Host, #2)', None, 4.11, '1717', '342', None, 'When an unseen enemy threatens mankind by taking over their bodies and erasing their memories, Melanie Stryder will risk everything to protect the people she cares most about — Jared, Ian, her brother Jamie and her Uncle Jeb, proving that love can conquer all in a dangerous new world.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  11922
In insert_book_data, IntegrityError Exception for book_id:  84132
In insert_book_data, IntegrityError Exception for book_id:  25785357
In insert_book_data, IntegrityError Exception for book_id:  28250
In insert_book_data, IntegrityError Exception for book_id:  12652457
In insert_book_data, IntegrityError Exception for book_id:  3475268
In insert_book_data, IntegrityError Exception for book_id:  6780439
In insert_book_data, IntegrityError Exception for book_id:  15993203

In insert_book_data, IntegrityError Exception for book_id:  18602341
In insert_book_data, IntegrityError Exception for book_id:  9182478
In insert_book_data, IntegrityError Exception for book_id:  16158596
In insert_book_data, IntegrityError Exception for book_id:  13929
In insert_book_data, IntegrityError Exception for book_id:  6441509
In insert_book_data, IntegrityError Exception for book_id:  28110143
In insert_book_data, IntegrityError Exception for book_id:  7942786
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('26877697', None, 'Twilight / Life and Death (Twilight, #1, 1.75)', 752.0, 3.4, '1544', '196', None, 'Celebrate the tenth anniversary of <i>Twilight</i>! This special double-feature book includes the classic novel, <i>Twilight</i>, and a bold and surp ... (959 characters truncated) ... n Eclipse Novella</i>, and <i>The Twilight Saga: The Official Illustrated Guide</i>, has sold nearly 155 million copies worldwide. <br /><br /><br />')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  30228
In insert_book_data, IntegrityError Exception for book_id:  175983
In insert_book_data, IntegrityError Exception for book_id:  11544421
In insert_book_data, IntegrityError Exception for book_id:  884288
In insert_book_data, IntegrityError Exception for book_id:  100924
In insert_book_data, IntegrityError Exception for book_id:  8138071
In insert_book_data, IntegrityError Exception for book_id:  7091713
In insert_book_data, IntegrityError Exception for book_id:  16000044
In insert_book_data, IntegrityError Exception for book_id:  283494
In insert_book_data, IntegrityError Exception for book_id:  21570318
In insert_book_data, IntegrityError Exception for book_id:  18806240
In insert_book_data, IntegrityError Exception for book_id:  22428828
In insert_book_data, IntegrityError Exception for book_id:  40409748
In insert_book_data, IntegrityError Exception for book_id:  40425
In insert_book_data, IntegrityError Exception for book_id:  2866413
In insert_book_data, IntegrityError Exception for book_id:  12444297
In insert_book_data, IntegrityError Exception for book_id:  9300768
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('153800', None, 'Lady Knight (Protector of the Small, #4)', 416.0, 4.32, '40788', '633', 'Random House Inc', 'In the final thrilling installment of Tamora Pierce\'s Protector of the Small series (<i> First Test</i>, <i>Page</i>, and <i>Squire</i>), our sturdy ... (1140 characters truncated) ... sy to make war appear black and white, a matter of good versus evil. Pierce finds the shades of gray. (Ages 12 and older) <i>--Emilie Coulter</i></p>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  33897359
In insert_book_data, IntegrityError Exception for book_id:  18107951
In insert_book_data, IntegrityError Exception for book_id:  184419
In insert_book_data, IntegrityError Exception for book_id:  7592279
In insert_book_data, IntegrityError Exception for book_id:  7135858
In insert_book_data, IntegrityError Exception for book_id:  1611656
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('673657', '0345352661', 'Guardians of the West (The Malloreon, #1)', 438.0, 4.1, '41535', '408', 'Del Rey Books', 'Garion has slain the evil God Torak and been crowned King of Riva. The Prophecy was fulfilled—or so it seemed. While the strange child Errand was gro ... (596 characters truncated) ... ng in the East. And again, Garion found himself a pawn, caught between the two ancient Prophecies, with the fate of the world somehow resting on him.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  153795
In insert_book_data, IntegrityError Exception for book_id:  444381
In insert_book_data, IntegrityError Exception for book_id:  5201089
In insert_book_data, IntegrityError Exception for book_id:  17345242
In insert_book_data, IntegrityError Exception for book_id:  31341
In insert_book_data, IntegrityError Exception for book_id:  25740412
In insert_book_data, IntegrityError Exception for book_id:  275000
In insert_book_data, IntegrityError Exception for book_id:  6289938
In insert_book_data, IntegrityError Exception for book_id:  61886
In insert_book_data, IntegrityError Exception for book_id:  20312462
In insert_book_data, IntegrityError Exception for book_id:  16043804
In insert_book_data, IntegrityError Exception for book_id:  12507214
In insert_book_data, IntegrityError Exception for book_id:  5509920
In insert_book_data, IntegrityError Exception for book_id:  23197837
In insert_book_data, IntegrityError Exception for book_id:  22749539
In insert_book_data, IntegrityError Exception for book_id:  5776788
In insert_book_data, IntegrityError Exception for book_id:  7098304
In insert_book_data, IntegrityError Exception for book_id:  66693
In insert_book_data, IntegrityError Exception for book_id:  7826116
In insert_book_data, IntegrityError Exception for book_id:  11715276
In insert_book_data, IntegrityError Exception for book_id:  6604209
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('24488476', None, 'The Fate of Ten (Lorien Legacies, #6)', None, 4.32, '22335', '1826', None, "The sixth book in the thrilling, action-packed, <em>New York Times</em> bestselling I Am Number Four series! For years the Garde have fought the Moga ... (502 characters truncated) ... r that had been hidden within our planet for generations. Now this power can save the world . . . or destroy it. It will all depend on who wields it.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  27827203
In insert_book_data, IntegrityError Exception for book_id:  15944406
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('7600922', '0451231619', 'Ghost Town (The Morganville Vampires, #9)', 335.0, 4.26, '32369', '970', 'New American Library', '<b>Deep in the heart of Texas, Morganville is a small college town full of laid-back students and eccentric townies, not to mention the sort of creat ... (796 characters truncated) ... stranger, Claire realizes she has to figure out a way to pull the plug on her experiment - before she forgets how to save herself... and Morganville.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17332310
In insert_book_data, IntegrityError Exception for book_id:  385706
In insert_book_data, IntegrityError Exception for book_id:  4703450
In insert_book_data, IntegrityError Exception for book_id:  46544
In insert_book_data, IntegrityError Exception for book_id:  6547188
In insert_book_data, IntegrityError Exception for book_id:  9595620
In insert_book_data, IntegrityError Exception for book_id:  99298
In insert_book_data, IntegrityError Exception for book_id:  67513
In insert_book_data, IntegrityError Exception for book_id:  13605723
In insert_book_data, IntegrityError Exception for book_id:  11043618
In insert_book_data, IntegrityError Exception for book_id:  3124249
In insert_book_data, IntegrityError Exception for book_id:  8073
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('76664', '034525855X', 'A Spell for Chameleon (Xanth #1)', 344.0, 3.94, '33632', '1236', 'Del Rey', "Xanth was the enchanted land where magic ruled - where every citizen had a special spell only he could cast. It was a land of centaurs and dragons an ... (514 characters truncated) ... d fathom the nature of Bink's very special magic. Bink was in despair. This was even worse than having no magic at all..and he would still be exiled!")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  675614
In insert_book_data, IntegrityError Exception for book_id:  10852343
In insert_book_data, IntegrityError Exception for book_id:  17722973
In insert_book_data, IntegrityError Exception for book_id:  9662386
In insert_book_data, IntegrityError Exception for book_id:  13416236
In insert_book_data, IntegrityError Exception for book_id:  325421
In insert_book_data, IntegrityError Exception for book_id:  24807186
In insert_book_data, IntegrityError Exception for book_id:  15730101
In insert_book_data, IntegrityError Exception for book_id:  6611038
In insert_book_data, IntegrityError Exception for book_id:  19536001
In insert_book_data, IntegrityError Exception for book_id:  8088
In insert_book_data, IntegrityError Exception for book_id:  112754
In insert_book_data, IntegrityError Exception for book_id:  21524446
In insert_book_data, IntegrityError Exception for book_id:  20705702
In insert_book_data, IntegrityError Exception for book_id:  10188580
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('244572', '000710653X', 'Charmed Life (Chrestomanci, #1)', 252.0, 3.96, '24686', '726', "HarperCollins Children's Books", "Cat doesn't mind living in the shadow of his sister, Gwendolen, the most promising young witch ever seen on Coven Street. But trouble starts brewing  ... (74 characters truncated) ... ustrated that the witches of the castle refuse to acknowledge her talents, Gwendolen conjures up a scheme that could throw whole worlds out of whack.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  26836910
In insert_book_data, IntegrityError Exception for book_id:  537070
In insert_book_data, IntegrityError Exception for book_id:  341735
In insert_book_data, IntegrityError Exception for book_id:  1675216
In insert_book_data, IntegrityError Exception for book_id:  2003625
In insert_book_data, IntegrityError Exception for book_id:  84139
In insert_book_data, IntegrityError Exception for book_id:  23592175
In insert_book_data, IntegrityError Exception for book_id:  8694389
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('19351490', None, "Grimm's Fairy Tales", None, 4.12, '6876', '132', None, 'The Grimm brothers were early 19th-century writers best known for their fairy tales coming from Scandinavian, Icelandic and Germanic origins. By 1807 ... (637 characters truncated) ... to read and will rekindle up many childhood memories as they are reread. Presented here in this edition is the faithful translation of Margaret Hunt.')] (Background on this error at: http://sqlalche.me/e/gkpj)

In insert_book_data, IntegrityError Exception for book_id:  17404295
In insert_book_data, IntegrityError Exception for book_id:  9859436
In insert_book_data, IntegrityError Exception for book_id:  2754510
In insert_book_data, IntegrityError Exception for book_id:  6933876
In insert_book_data, IntegrityError Exception for book_id:  34534
In insert_book_data, IntegrityError Exception for book_id:  16136599
In insert_book_data, IntegrityError Exception for book_id:  10790516
In insert_book_data, IntegrityError Exception for book_id:  29772863
In insert_book_data, IntegrityError Exception for book_id:  12637490
In insert_book_data, IntegrityError Exception for book_id:  12119529
In insert_book_data, IntegrityError Exception for book_id:  13323842
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('5983694', '0316114278', 'Where the Mountain Meets the Moon', 282.0, 4.27, '29215', '3703', 'Little, Brown and Company Books for Young Readers', "In the valley of Fruitless Mountain, a young girl named Minli spends her days working hard in the fields and her nights listening to her father spin  ... (343 characters truncated) ... assorted cast of characters and magical creatures along the way, including a dragon who accompanies her on her quest. <br /><br />Source: Jacket flap")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6329547', '0441017800', 'On the Edge (The Edge, #1)', 309.0, 4.03, '29967', '2103', 'Ace', 'Rose Drayton lives on the Edge, between the world of the Broken (where people drive cars, shop at Wal-Mart, and magic is a fairy tale) and the Weird  ... (645 characters truncated) ... m the Weird, a flood of creatures hungry for magic, Declan and Rose must work together to destroy them—or they’ll devour the Edge and everyone in it.')] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('127586', '0345341678', 'The White Dragon (Pern, #3)', 423.0, 4.18, '35876', '625', 'Del Rey/Ballantine Books', "Jaxom, a rebellious young aristocrat, and Ruth, his white dragon, fly into another time to retrieve the queen's stolen egg, thereby averting a dragonrider war, and find their planet threatened once again by a Threadfall.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('266607', '0689868235', 'Valiant: A Modern Tale Of Faerie', 314.0, 3.91, '29448', '1280', 'Simon Pulse', "When seventeen-year-old Valerie runs away to New York City, she's trying to escape a life that has utterly betrayed her. Sporting a new identity, she ... (251 characters truncated) ... y are all involved, Val finds herself torn between her newfound affection for an honorable monster and her fear of what her new friends are becoming.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13565676
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('31337', '0099446723', 'Blackwood Farm (The Vampire Chronicles, #9)', 774.0, 3.86, '26104', '499', 'arrow books', "Lestat is back, saviour and demon, presiding over a gothic story of family greed and hatred through generations, a terrifying drama of blood lust and ... (831 characters truncated) ...  vampires and witches, men and women, demons and a doppelganger, caught up in a maelstrom of death and destruction, blood and fire, cruelty and fate.")] (Background on this error at: http://sqlalche.me/e/gkpj)
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('4516', '8423648990', 'Marina', 238.0, 4.01, '24072', '1281', 'Edebe', 'Quince años mas tarde, la memoria de aquel dia ha vuelto a mi. He visto a aquel muchacho vagando entre las brumas de la estacion de Francia y el nomb ... (478 characters truncated) ... uerra se propuso el mayor desafio imaginable, pero su ambicion lo arrastro por sendas siniestras cucyas consecuencias debe pagar alguien todavia hoy.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6337006
In insert_book_data, IntegrityError Exception for book_id:  13570
In insert_book_data, IntegrityError Exception for book_id:  2149535
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('68453', '8370540910', 'Czas pogardy (Saga o Wiedźminie, #4)', 319.0, 4.29, '14810', '74', 'superNOWA', 'Czas pogardy - tom drugi sagi o wiedźminie. Nastał czas pogardy, czas miecza i topora, czas wilczej zamieci. Wśród wojennej zawieruchy znaleźli się Geralt, Yennefer i Ciri, ale każde z nich gdzie indziej. Ciri czuje się porzucona, zapomniana, musi sama borykać się z trudami wędrówki...')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  21412673
In insert_book_data, IntegrityError Exception for book_id:  13419891
In insert_book_data, IntegrityError Exception for book_id:  29749098
In insert_book_data, IntegrityError Exception for book_id:  5215879
In insert_book_data, IntegrityError Exception for book_id:  23454
In insert_book_data, IntegrityError Exception for book_id:  11765920
In insert_book_data, IntegrityError Exception for book_id:  9475
In insert_book_data, IntegrityError Exception for book_id:  153785
In insert_book_data, IntegrityError Exception for book_id:  22639095
In insert_book_data, IntegrityError Exception for book_id:  33441
In insert_book_data, IntegrityError Exception for book_id:  9436632
In insert_book_data, IntegrityError Exception for book_id:  30095464
In insert_book_data, IntegrityError Exception for book_id:  23349901
In insert_book_data, IntegrityError Exception for book_id:  17699853
In insert_book_data, IntegrityError Exception for book_id:  831194
In insert_book_data, IntegrityError Exception for book_id:  12043770
In insert_book_data, IntegrityError Exception for book_id:  385742
In insert_book_data, IntegrityError Exception for book_id:  9792287
In insert_book_data, IntegrityError Exception for book_id:  6555517
In insert_book_data, IntegrityError Exception for book_id:  35820633
In insert_book_data, IntegrityError Exception for book_id:  6758331
In insert_book_data, IntegrityError Exception for book_id:  17910048
In insert_book_data, IntegrityError Exception for book_id:  10586539
In insert_book_data, IntegrityError Exception for book_id:  9578590
In insert_book_data, IntegrityError Exception for book_id:  11337912
In insert_book_data, IntegrityError Exception for book_id:  1270615
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('18116', '0440238609', 'His Dark Materials (His Dark Materials #1-3)', 1088.0, 4.26, '100595', '3755', None, 'The Golden Compass, The Subtle Knife, and The Amber Spyglass are available together in one volume perfect for any fan or newcomer to this modern fant ... (443 characters truncated) ... rs and won acclaim at every turn. It will have you questioning everything you know about your world and wondering what really lies just out of reach.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12908877
In insert_book_data, IntegrityError Exception for book_id:  40158
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('34919', '1857239016', 'The Talismans of Shannara (Heritage of Shannara, #4)', 440.0, 4.02, '34421', '126', 'Orbit', 'Although some of the goals to keep Shannara safe had been met, the work of Walker Boh, Wren, and Par was not yet done. For The Shadowen still swarmed ... (63 characters truncated) ...  Shannaran had a special death waiting for him- at the hands of The Shadowen-unless Par could find a way to free them all with the Sword of Shannara.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7849034
In insert_book_data, IntegrityError Exception for book_id:  201345
In insert_book_data, IntegrityError Exception for book_id:  22929563
In insert_book_data, IntegrityError Exception for book_id:  127584
In insert_book_data, IntegrityError Exception for book_id:  172764
In insert_book_data, IntegrityError Exception for book_id:  10381195
In insert_book_data, IntegrityError Exception for book_id:  8069535
In insert_book_data, IntegrityError Exception for book_id:  12880428
In insert_book_data, IntegrityError Exception for book_id:  18108877
In insert_book_data, IntegrityError Exception for book_id:  47613
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('93724', '0060724692', 'Twilight (The Mediator, #6)', 312.0, 4.25, '34178', '922', 'Avon', "<i>This time it's life or death.</i><br /><br />Suze has gotten used to ghosts. She's a mediator, after all, and communicating with the dead is all i ... (296 characters truncated) ... 's murder, keeping him from ever becoming a ghost - and from ever meeting Suze.<br /><br />Will Jesse choose to live without her, or die to love her?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13254289
In insert_book_data, IntegrityError Exception for book_id:  13612962
In insert_book_data, IntegrityError Exception for book_id:  25164304

In insert_book_data, IntegrityError Exception for book_id:  395851
In insert_book_data, IntegrityError Exception for book_id:  18138189
In insert_book_data, IntegrityError Exception for book_id:  36502054
In insert_book_data, IntegrityError Exception for book_id:  530848
In insert_book_data, IntegrityError Exception for book_id:  8965
In insert_book_data, IntegrityError Exception for book_id:  77160
In insert_book_data, IntegrityError Exception for book_id:  19090384
In insert_book_data, IntegrityError Exception for book_id:  15703770
In insert_book_data, IntegrityError Exception for book_id:  6723348
In insert_book_data, IntegrityError Exception for book_id:  11556960
In insert_book_data, IntegrityError Exception for book_id:  15858
In insert_book_data, IntegrityError Exception for book_id:  6344423
In insert_book_data, IntegrityError Exception for book_id:  715791
In insert_book_data, IntegrityError Exception for book_id:  20168816
In insert_book_data, IntegrityError Exception for book_id:  13630171
In insert_book_data, IntegrityError Exception for book_id:  84133
In insert_book_data, IntegrityError Exception for book_id:  20613491
In insert_book_data, IntegrityError Exception for book_id:  13125234
In insert_book_data, IntegrityError Exception for book_id:  13536649
In insert_book_data, IntegrityError Exception for book_id:  27161189
In insert_book_data, IntegrityError Exception for book_id:  8706185
In insert_book_data, IntegrityError Exception for book_id:  29467232
In insert_book_data, IntegrityError Exception for book_id:  11051889
In insert_book_data, IntegrityError Exception for book_id:  248482
In insert_book_data, IntegrityError Exception for book_id:  12444298
In insert_book_data, IntegrityError Exception for book_id:  76658
In insert_book_data, IntegrityError Exception for book_id:  28689
In insert_book_data, IntegrityError Exception for book_id:  393146
In insert_book_data, IntegrityError Exception for book_id:  17342700
In insert_book_data, IntegrityError Exception for book_id:  6871616
In insert_book_data, IntegrityError Exception for book_id:  3585344
In insert_book_data, IntegrityError Exception for book_id:  16060716
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('30324', '0440226686', 'Blood and Chocolate', 264.0, 3.77, '35020', '1980', None, 'Vivian Gandillon relishes the change, the sweet, fierce ache that carries her from girl to wolf. At sixteen, she is beautiful and strong, and all the ... (654 characters truncated) ... e pack. Moving between two worlds, she does not seem to belong in either. What is she really—human or beast? Which tastes sweeter—blood or chocolate?')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  6918909
In insert_book_data, IntegrityError Exception for book_id:  371787
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('55398', '0765348810', 'House of Chains (Malazan Book of the Fallen, #4)', 1021.0, 4.33, '29118', '710', 'Tor Fantasy', "In Northern Genabackis, tribal mountain warriors raid southern flatlands. Years later, Tavore, Adjunct to the Empress, enters the last Malazan strong ... (43 characters truncated) ... recruits to resist the Whirlwind of her sister Sha in the Holy Desert. The power struggle of the seer's warlords threatens the soul of the rebellion.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  15745371
In insert_book_data, IntegrityError Exception for book_id:  7507908
In insert_book_data, IntegrityError Exception for book_id:  28547
In insert_book_data, IntegrityError Exception for book_id:  22341276
In insert_book_data, IntegrityError Exception for book_id:  21793182
In insert_book_data, IntegrityError Exception for book_id:  18616975
In insert_book_data, IntegrityError Exception for book_id:  295086
In insert_book_data, IntegrityError Exception for book_id:  7849341
In insert_book_data, IntegrityError Exception for book_id:  2173611
In insert_book_data, IntegrityError Exception for book_id:  189811
In insert_book_data, IntegrityError Exception for book_id:  23485372
In insert_book_data, IntegrityError Exception for book_id:  24611454
In insert_book_data, IntegrityError Exception for book_id:  12275680
In insert_book_data, IntegrityError Exception for book_id:  10357792
In insert_book_data, IntegrityError Exception for book_id:  15062217
In insert_book_data, IntegrityError Exception for book_id:  9265453
In insert_book_data, IntegrityError Exception for book_id:  13546173
In insert_book_data, IntegrityError Exception for book_id:  32767
In insert_book_data, IntegrityError Exception for book_id:  18367581
In insert_book_data, IntegrityError Exception for book_id:  100933
In insert_book_data, IntegrityError Exception for book_id:  28862528
In insert_book_data, IntegrityError Exception for book_id:  7673
In insert_book_data, IntegrityError Exception for book_id:  24885533
In insert_book_data, IntegrityError Exception for book_id:  7767021
In insert_book_data, IntegrityError Exception for book_id:  6648020
In insert_book_data, IntegrityError Exception for book_id:  14060046
In insert_book_data, IntegrityError Exception for book_id:  7307503
In insert_book_data, IntegrityError Exception for book_id:  13821
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('40290', '076534775X', 'Seventh Son (Tales of Alvin Maker, #1)', 241.0, 3.86, '28742', '1162', 'Tom Doherty Associates, LLC', 'In an alternate version of frontier America, young Alvin is the seventh son of a seventh son, and such a birth is powerful magic. Yet even in the loving safety of his home, dark forces reach out to destroy him.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13573795
In insert_book_data, IntegrityError Exception for book_id:  84135
In insert_book_data, IntegrityError Exception for book_id:  26074185
In insert_book_data, IntegrityError Exception for book_id:  9917879
In insert_book_data, IntegrityError Exception for book_id:  32628
In insert_book_data, IntegrityError Exception for book_id:  13477883
In insert_book_data, IntegrityError Exception for book_id:  116563
In insert_book_data, IntegrityError Exception for book_id:  84146
In insert_book_data, IntegrityError Exception for book_id:  4701550
In insert_book_data, IntegrityError Exception for book_id:  16075962
In insert_book_data, IntegrityError Exception for book_id:  12568505
In insert_book_data, IntegrityError Exception for book_id:  8534799
In insert_book_data, IntegrityError Exception for book_id:  2855034
In insert_book_data, IntegrityError Exception for book_id:  8109130
In insert_book_data, IntegrityError Exception for book_id:  9918083
In insert_book_data, IntegrityError Exception for book_id:  34503
In insert_book_data, IntegrityError Exception for book_id:  6931246
In insert_book_data, IntegrityError Exception for book_id:  16007855
In insert_book_data, IntegrityError Exception for book_id:  13138734
In insert_book_data, IntegrityError Exception for book_id:  21936988
In insert_book_data, IntegrityError Exception for book_id:  125926
In insert_book_data, IntegrityError Exception for book_id:  12446825
In insert_book_data, IntegrityError Exception for book_id:  24751478
In insert_book_data, IntegrityError Exception for book_id:  17234659
In insert_book_data, IntegrityError Exception for book_id:  359
In insert_book_data, IntegrityError Exception for book_id:  6609758
In insert_book_data, IntegrityError Exception for book_id:  112752
In insert_book_data, IntegrityError Exception for book_id:  6080889
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('207034', '0440421241', 'The Prophet of Yonwood', 289.0, 3.27, '24239', '2133', 'Yearling Books', '<i>An alternate cover for this ISBN can be found <a href="https://www.goodreads.com/book/show/35021547-the-prophet-of-yonwood" rel="nofollow">here</a ... (1798 characters truncated) ... VOYA, </i> Starred<br /><br />"A harrowing journey into the unknown, and cryptic messages for readers to decipher." --<i>Kirkus Reviews, </i> Starred')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  17333171

In insert_book_data, IntegrityError Exception for book_id:  68497
In insert_book_data, IntegrityError Exception for book_id:  17563080
In insert_book_data, IntegrityError Exception for book_id:  140097
In insert_book_data, IntegrityError Exception for book_id:  60211
In insert_book_data, IntegrityError Exception for book_id:  7519472
In insert_book_data, IntegrityError Exception for book_id:  17901125
In insert_book_data, IntegrityError Exception for book_id:  12027429
In insert_book_data, IntegrityError Exception for book_id:  11882171
In insert_book_data, IntegrityError Exception for book_id:  30226
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('16130758', None, 'Shadow Study (Soulfinders #1; Study, #4)', 384.0, 4.08, '9688', '955', 'Mira', '<i>Librarian\'s Note: This is an alternate-cover edition for <a href="https://www.goodreads.com/book/show/22929080-shadow-study" rel="nofollow"> ISBN ... (508 characters truncated) ... e: her magic is blocked.And now she must find a way to keep not only herself but all that she holds dear alive.<br /><br />A CHRONICLES OF IXIA NOVEL')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  29739361
In insert_book_data, IntegrityError Exception for book_id:  18966322
In insert_book_data, IntegrityError Exception for book_id:  8038219
In insert_book_data, IntegrityError Exception for book_id:  4497978
In insert_book_data, IntegrityError Exception for book_id:  17406847
In insert_book_data, IntegrityError Exception for book_id:  29939048
In insert_book_data, IntegrityError Exception for book_id:  2992061
In insert_book_data, IntegrityError Exception for book_id:  112756
In insert_book_data, IntegrityError Exception for book_id:  13445306
In insert_book_data, IntegrityError Exception for book_id:  20983366
In insert_book_data, IntegrityError Exception for book_id:  30269126
In insert_book_data, IntegrityError Exception for book_id:  319644
In insert_book_data, IntegrityError Exception for book_id:  17342701
In insert_book_data, IntegrityError Exception for book_id:  12924261
In insert_book_data, IntegrityError Exception for book_id:  35271523
In insert_book_data, IntegrityError Exception for book_id:  187124
In insert_book_data, IntegrityError Exception for book_id:  36505403
In insert_book_data, IntegrityError Exception for book_id:  153193
In insert_book_data, IntegrityError Exception for book_id:  26999
In insert_book_data, IntegrityError Exception for book_id:  30224
In insert_book_data, IntegrityError Exception for book_id:  3973
In insert_book_data, IntegrityError Exception for book_id:  13601681
In insert_book_data, IntegrityError Exception for book_id:  112755
In insert_book_data, IntegrityError Exception for book_id:  24761
In insert_book_data, IntegrityError Exception for book_id:  25362018
In insert_book_data, IntegrityError Exception for book_id:  25467698
In insert_book_data, IntegrityError Exception for book_id:  12390650
In insert_book_data, IntegrityError Exception for book_id:  125956
In insert_book_data, IntegrityError Exception for book_id:  2493973
In insert_book_data, IntegrityError Exception for book_id:  7828882
In insert_book_data, IntegrityError Exception for book_id:  9394010
In insert_book_data, IntegrityError Exception for book_id:  25005214
In insert_book_data, IntegrityError Exception for book_id:  6945530
In insert_book_data, IntegrityError Exception for book_id:  28553
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6058042', '0312369492', 'Bad Moon Rising (Dark-Hunter, #17; Were-Hunter, #4; Hellchaser, #1)', None, 4.29, '10126', '338', None, "<i>\n  <i>A stunning and suspenseful new landscape emerges in the thrilling Dark-Hunter world—a world where nothing will ever be the same again. . .< ... (518 characters truncated) ... could very well spell the end of both their races and change their world forever.<br /><br />\xa0<br /><br />The war is on and time is running out...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12924275
In insert_book_data, IntegrityError Exception for book_id:  301538
In insert_book_data, IntegrityError Exception for book_id:  25064648
In insert_book_data, IntegrityError Exception for book_id:  10860399
In insert_book_data, IntegrityError Exception for book_id:  6308379
In insert_book_data, IntegrityError Exception for book_id:  17333174
In insert_book_data, IntegrityError Exception for book_id:  1746470
In insert_book_data, IntegrityError Exception for book_id:  21457243
In insert_book_data, IntegrityError Exception for book_id:  215643
In insert_book_data, IntegrityError Exception for book_id:  8100267
In insert_book_data, IntegrityError Exception for book_id:  12872080
In insert_book_data, IntegrityError Exception for book_id:  6559316
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('189147', '0345419677', 'To Your Scattered Bodies Go (Riverworld, #1)', 220.0, 3.95, '24917', '623', None, "<i>To Your Scattered Bodies Go</i> is the Hugo Award-winning beginning to the story of Riverworld, Philip José Farmer's unequaled tale about life aft ... (1135 characters truncated) ... s the Stranger has selected, to help stop an evil experiment at the end of which humanity will simply be allowed to die. <i>--Craig E. Engler</i></p>")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  12288282
In insert_book_data, IntegrityError Exception for book_id:  17883441
In insert_book_data, IntegrityError Exception for book_id:  3122173
In insert_book_data, IntegrityError Exception for book_id:  341027
In insert_book_data, IntegrityError Exception for book_id:  20821306
In insert_book_data, IntegrityError Exception for book_id:  20814989
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('186103', '1595140838', 'Peeps (Peeps, #1)', 312.0, 3.77, '21485', '1652', 'Penguin', 'Last year as college freshman, narrator Cal was infected by exotic goth Morgan with a parasite that caused following girlfriends to become vampire-li ... (299 characters truncated) ... red-eyed cats, and monstrous worms that threaten all. Morgan has the secret to a centuries-old conspiracy and upcoming battle to save the human race.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8843801
In insert_book_data, IntegrityError Exception for book_id:  125955
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6138594', None, 'The Soul (The Host, #3)', None, 4.14, '982', '64', None, 'Stephenie Meyer confirmed that there will be two Host sequels!')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  23017947
In insert_book_data, IntegrityError Exception for book_id:  22303684
In insert_book_data, IntegrityError Exception for book_id:  13239822
In insert_book_data, IntegrityError Exception for book_id:  1251032
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('15723286', None, 'Curtsies & Conspiracies (Finishing School, #2)', 310.0, 4.12, '17774', '1885', 'Hachette Little, Brown & Co', "<i>Does one need four fully grown foxgloves for decorating a dinner table for six guests? Or is it six foxgloves to kill four fully grown guests?</i> ... (984 characters truncated) ... oison, tea trays and treason. Gail's distinctive voice, signature humor, and lush steampunk setting are sure to be the height of fashion this season.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7011403
In insert_book_data, IntegrityError Exception for book_id:  45432
In insert_book_data, IntegrityError Exception for book_id:  17333180
In insert_book_data, IntegrityError Exception for book_id:  17285883
In insert_book_data, IntegrityError Exception for book_id:  19208103
In insert_book_data, IntegrityError Exception for book_id:  4499214
In insert_book_data, IntegrityError Exception for book_id:  490403
In insert_book_data, IntegrityError Exception for book_id:  6294553
In insert_book_data, IntegrityError Exception for book_id:  815150
In insert_book_data, IntegrityError Exception for book_id:  12985143
In insert_book_data, IntegrityError Exception for book_id:  7717482
In insert_book_data, IntegrityError Exception for book_id:  8074967

In insert_book_data, IntegrityError Exception for book_id:  18602406
In insert_book_data, IntegrityError Exception for book_id:  28512486
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('841628', '0330316117', "The Hitchhiker's Guide to the Galaxy: A Trilogy in Four Parts", 590.0, 4.51, '30702', '375', 'Pan Books', '<i>Charting the whole of Arthur Dent\'s odyssey through space are:</i><br /><br />THE HITCHHIKER\'S GUIDE TO THE GALAXY.<br />One Thursday lunchtime  ... (1387 characters truncated) ... people will find oddly familiar. They go in search of God\'s Final Message to His Creation and, in a dramatic break with tradition, actually find it.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  8535273
In insert_book_data, IntegrityError Exception for book_id:  24397040
In insert_book_data, IntegrityError Exception for book_id:  17236366
In insert_book_data, IntegrityError Exception for book_id:  215543
In insert_book_data, IntegrityError Exception for book_id:  458034
In insert_book_data, IntegrityError Exception for book_id:  17455817
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('35534215', None, 'Accordance (Significance, #2)', 314.0, 4.27, '1519', '41', 'Kiss Me Publications, LLC', "In the sequel, Maggie learns much more about all the strange things that happened to her, and has to face new ones. She rebels against it, but ultima ... (221 characters truncated) ... and Maggie face many new obstacles together and fight to work through them but will one that should be a good thing be too much for Maggie to handle?")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13115995
In insert_book_data, IntegrityError Exception for book_id:  8712343
In insert_book_data, IntegrityError Exception for book_id:  6660747
In insert_book_data, IntegrityError Exception for book_id:  112751
In insert_book_data, IntegrityError Exception for book_id:  1429082
In insert_book_data, IntegrityError Exception for book_id:  8288246
In insert_book_data, IntegrityError Exception for book_id:  285212
In insert_book_data, IntegrityError Exception for book_id:  17731926
In insert_book_data, IntegrityError Exception for book_id:  3992020
In insert_book_data, IntegrityError Exception for book_id:  24473763
In insert_book_data, IntegrityError Exception for book_id:  15767586
In insert_book_data, IntegrityError Exception for book_id:  24585267
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('7200351', '0312546564', 'No Mercy (Dark-Hunter #18, Were-Hunter, #5)', 343.0, 4.28, '20706', '828', None, '<div>\n  <div>Live fast, fight hard and if you have to die then take as many of your enemies with you as you can. That is the Amazon credo and it was ... (532 characters truncated) ... t in order to win, they will have to break the most cardinal of all rules and pray it doesn’t unravel the universe as we know it.<br /></div>\n</div>')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  22053410
In insert_book_data, IntegrityError Exception for book_id:  9548964
In insert_book_data, IntegrityError Exception for book_id:  20759641
In insert_book_data, IntegrityError Exception for book_id:  15755296
In insert_book_data, IntegrityError Exception for book_id:  155421
In insert_book_data, IntegrityError Exception for book_id:  27002
In insert_book_data, IntegrityError Exception for book_id:  25109947
In insert_book_data, IntegrityError Exception for book_id:  10778410
In insert_book_data, IntegrityError Exception for book_id:  536982
In insert_book_data, IntegrityError Exception for book_id:  68496
In insert_book_data, IntegrityError Exception for book_id:  11286
In insert_book_data, IntegrityError Exception for book_id:  239239
In insert_book_data, IntegrityError Exception for book_id:  10048874
In insert_book_data, IntegrityError Exception for book_id:  61942
In insert_book_data, IntegrityError Exception for book_id:  12458287
In insert_book_data, IntegrityError Exception for book_id:  30258320
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('6356190', '1880418738', 'The Little Sisters of Eluria (The Dark Tower, #0.5)', 312.0, 4.23, '16325', '177', 'Donald M. Grant Publisher, Inc.', 'This 4,000 copy Limited Artist Edition is numbered and is signed by Michael Whelan. It is issued in a foil stamped slipcase. Published in a larger fo ... (759 characters truncated) ... panded version as well as the novella THE LITTLE SISTERS OF ELURIA which chronicles an earlier adventure of Roland\'s as he persued the Man in Black.')] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  16113606
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('101869', '0441013651', 'The Atrocity Archives (Laundry Files, #1)', 345.0, 3.93, '14769', '1223', 'Ace', "NEVER VOLUNTEER FOR ACTIVE DUTY ...Bob Howard is a low-level techie working for a super-secret government agency. While his colleagues are out saving ... (245 characters truncated) ...  world. Only one thing is certain: it will take more than a full system reboot to sort this mess out ...This is the first novel in the Laundry Files.")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  7864587
In insert_book_data, IntegrityError Exception for book_id:  9065265
In insert_book_data, IntegrityError Exception for book_id:  822
In insert_book_data, IntegrityError Exception for book_id:  22381326
In insert_book_data, IntegrityError Exception for book_id:  12063467
In insert_book_data, IntegrityError Exception for book_id:  13513205
In insert_book_data, IntegrityError Exception for book_id:  22852698
In insert_book_data, IntegrityError Exception for book_id:  531197
In insert_book_data, IntegrityError Exception for book_id:  7715664
In insert_book_data, IntegrityError Exception for book_id:  9738483
In insert_book_data, IntegrityError Exception for book_id:  52318
In insert_book_data, IntegrityError Exception for book_id:  24292310
In insert_book_data, IntegrityError Exception for book_id:  28960100
In insert_book_data, IntegrityError Exception for book_id:  11443325
In insert_book_data, IntegrityError Exception for book_id:  13411245
In insert_book_data, IntegrityError Exception for book_id:  456028
In insert_book_data, IntegrityError Exception for book_id:  31549513
In insert_book_data, IntegrityError Exception for book_id:  22062202
In insert_book_data, IntegrityError Exception for book_id:  17182421
In insert_book_data, IntegrityError Exception for book_id:  10335701
In insert_book_data, IntegrityError Exception for book_id:  15792316
In insert_book_data, IntegrityError Exception for book_id:  295801
In insert_book_data, IntegrityError Exception for book_id:  6506307
In insert_book_data, IntegrityError Exception for book_id:  17167572
In insert_book_data, IntegrityError Exception for book_id:  23229220
In insert_book_data, IntegrityError Exception for book_id:  13138736
In insert_book_data, IntegrityError Exception for book_id:  13246736

In insert_book_data, IntegrityError Exception for book_id:  8447255
In insert_book_data, IntegrityError Exception for book_id:  13539191
In insert_book_data, IntegrityError Exception for book_id:  2204464
In insert_book_data, IntegrityError Exception for book_id:  13138736
In insert_book_data, IntegrityError Exception for book_id:  43917
In insert_book_data, IntegrityError Exception for book_id:  13246736
In insert_book_data, IntegrityError Exception for book_id:  30123388
In insert_book_data, IntegrityError Exception for book_id:  23346358
Exception:  (sqlite3.IntegrityError) UNIQUE constraint failed: books.book_id [SQL: 'INSERT INTO books (book_id, isbn, title, total_pages, average_rating, ratings_count, reviews_count, publisher, book_description) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: ('1051620', '1841496049', 'The Innocent Mage (Kingmaker, Kingbreaker, #1)', 642.0, 3.65, '16605', '746', 'Orbit', "Enter the kingdom of Lur, where to use magic unlawfully means death. The Doranen have ruled Lur with magic since arriving as refugees centuries ago.  ... (640 characters truncated) ... c until this day arrives. Unbeknownst to Asher, he has been watched closely. As the Final Days approach, his life takes a new and unexpected turn ...")] (Background on this error at: http://sqlalche.me/e/gkpj)
In insert_book_data, IntegrityError Exception for book_id:  13658
In insert_book_data, IntegrityError Exception for book_id:  555500
In insert_book_data, IntegrityError Exception for book_id:  157055
In insert_book_data, IntegrityError Exception for book_id:  6369113
In insert_book_data, IntegrityError Exception for book_id:  6609748
In insert_book_data, IntegrityError Exception for book_id:  651260
In insert_book_data, IntegrityError Exception for book_id:  23012877
In insert_book_data, IntegrityError Exception for book_id:  7205214
In insert_book_data, IntegrityError Exception for book_id:  6345760
In insert_book_data, IntegrityError Exception for book_id:  21060
In insert_book_data, IntegrityError Exception for book_id:  47619
Records inserted into Books table=  9576
insert_author_data :Start inserting data into authors table
Records inserted into authors table=  9576

## Step 4: Close Database Connection

In [32]:
conn.close()